Repository apereo/cas, pull requests merged in 2018-09, with the labels that each got.

#3504 Make TerminateSessionAction easily overridable
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/config/CasSupportActionsConfiguration.java
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/flow/logout/TerminateSessionAction.java
Labels: Logout & SLO, Spring Boot

#3503 Make TerminateSessionAction easily overridable
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/config/CasSupportActionsConfiguration.java
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/flow/TerminateSessionAction.java
Labels: Logout & SLO, Spring Boot

#3505 Make TerminateSessionAction easily overridable
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/config/CasSupportActionsConfiguration.java
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/flow/logout/TerminateSessionAction.java
Labels: Logout & SLO, Spring Boot

#3509 Update authentication when custom bypass used
  core/cas-server-core-authentication-mfa/src/main/java/org/apereo/cas/authentication/DefaultMultifactorAuthenticationProviderBypass.java
  core/cas-server-core-authentication-mfa/src/main/java/org/apereo/cas/authentication/GroovyMultifactorAuthenticationProviderBypass.java
  core/cas-server-core-authentication-mfa/src/main/java/org/apereo/cas/authentication/RestMultifactorAuthenticationProviderBypass.java
Labels: MFA Bypass, Pending: Port to master branch

#3507 Shibcas Decode entity from request parameter
  support/cas-server-support-shibboleth/build.gradle
  support/cas-server-support-shibboleth/src/main/java/org/apereo/cas/config/ExternalShibbolethIdPAuthenticationServiceSelectionStrategyConfiguration.java
  support/cas-server-support-shibboleth/src/main/java/org/apereo/cas/support/saml/ShibbolethIdPEntityIdAuthenticationServiceSelectionStrategy.java
Labels: MFA, Shibboleth

#3498 Streamline Flow execution for multiple Duo providers
  api/cas-server-core-api-authentication/src/main/java/org/apereo/cas/authentication/MultiInstanceMfaAuthenticationHandler.java
  api/cas-server-core-api-authentication/src/main/java/org/apereo/cas/authentication/MultiInstanceMfaCredential.java
  api/cas-server-core-api-webflow/src/main/java/org/apereo/cas/web/flow/CasWebflowConstants.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/ByCredentialTypeAuthenticationHandlerResolver.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/PolicyBasedAuthenticationManager.java
  core/cas-server-core-authentication-mfa/src/main/java/org/apereo/cas/authentication/DefaultMultifactorAuthenticationContextValidator.java
  core/cas-server-core-authentication-mfa/src/main/java/org/apereo/cas/authentication/MultifactorAuthenticationUtils.java
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/configurer/AbstractCasMultifactorWebflowConfigurer.java
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/resolver/impl/AbstractCasWebflowEventResolver.java
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/config/CasSupportActionsConfiguration.java
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/flow/login/mfa/MfaInitializeAction.java
  support/cas-server-support-duo-core-mfa/src/main/java/org/apereo/cas/adaptors/duo/authn/DuoCredential.java
  support/cas-server-support-duo-core/src/main/java/org/apereo/cas/adaptors/duo/authn/DuoAuthenticationHandler.java
  support/cas-server-support-duo-core/src/main/java/org/apereo/cas/adaptors/duo/web/flow/action/DetermineDuoUserAccountAction.java
  support/cas-server-support-duo-core/src/main/java/org/apereo/cas/adaptors/duo/web/flow/action/PrepareDuoWebLoginFormAction.java
  support/cas-server-support-duo-core/src/main/java/org/apereo/cas/adaptors/duo/web/flow/config/DuoMultifactorWebflowConfigurer.java
  support/cas-server-support-duo/src/main/java/org/apereo/cas/adaptors/duo/config/DuoSecurityAuthenticationEventExecutionPlanConfiguration.java
  support/cas-server-support-shibboleth/src/main/java/org/apereo/cas/support/saml/ShibbolethIdPEntityIdAuthenticationServiceSelectionStrategy.java
Labels: MFA, MFA Duo Security, Spring Webflow

#3524 Fix logo header overlap in IE 11
  webapp/resources/static/sass/cas.scss
Labels: User Interface & Themes

#3523 Fix logo header overlap in IE 11
  webapp/resources/static/sass/cas.scss
Labels: User Interface & Themes

#3464 Clean audit
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/audit/AuditRestProperties.java
  core/cas-server-core-audit/build.gradle
  core/cas-server-core-audit/src/test/java/org/apereo/cas/audit/spi/BaseAuditConfigurationTests.java
  support/cas-server-support-audit-couchbase/build.gradle
  support/cas-server-support-audit-couchbase/src/test/java/org/apereo/cas/audit/CouchbaseAuditTrailManagerTests.java
  support/cas-server-support-audit-jdbc/build.gradle
  support/cas-server-support-audit-jdbc/src/test/java/org/apereo/cas/audit/CasSupportJdbcAuditConfigurationTests.java
  support/cas-server-support-audit-jdbc/src/test/java/org/apereo/cas/audit/CasSupportMicrosoftSqlServerJdbcAuditConfigurationTests.java
  support/cas-server-support-audit-jdbc/src/test/java/org/apereo/cas/audit/CasSupportMySQLJdbcAuditConfigurationTests.java
  support/cas-server-support-audit-jdbc/src/test/java/org/apereo/cas/audit/CasSupportPostgresJdbcAuditConfigurationTests.java
  support/cas-server-support-audit-jdbc/src/test/resources/auditmssql.properties
  support/cas-server-support-audit-jdbc/src/test/resources/auditmysql.properties
  support/cas-server-support-audit-jdbc/src/test/resources/auditpostgres.properties
  support/cas-server-support-audit-mongo/build.gradle
  support/cas-server-support-audit-mongo/src/test/java/org/apereo/cas/audit/MongoDbAuditTrailManagerTests.java
  support/cas-server-support-audit-rest/build.gradle
  support/cas-server-support-audit-rest/src/main/java/org/apereo/cas/audit/RestAuditTrailManager.java
  support/cas-server-support-audit-rest/src/main/java/org/apereo/cas/config/CasSupportRestAuditConfiguration.java
  support/cas-server-support-audit-rest/src/test/java/org/apereo/cas/audit/RestAuditTrailManagerTests.java
Labels: Refactoring & Code CleanUp

#3536 clean up event tests
  core/cas-server-core-events/src/test/java/org/apereo/cas/support/events/AbstractCasEventRepositoryTests.java
  support/cas-server-support-events-influxdb/build.gradle
  support/cas-server-support-events-influxdb/src/test/java/org/apereo/cas/support/events/dao/InfluxDbCasEventRepositoryTests.java
  support/cas-server-support-events-jpa/src/test/java/org/apereo/cas/support/events/jpa/JpaCasEventRepositoryTests.java
  support/cas-server-support-events-jpa/src/test/resources/services/.donotdelete
  support/cas-server-support-events-memory/build.gradle
  support/cas-server-support-events-memory/src/test/java/org/apereo/cas/support/events/dao/InMemoryCasEventRepositoryTests.java
  support/cas-server-support-events-memory/src/test/resources/services/.donotdelete
  support/cas-server-support-events-mongo/src/test/java/org/apereo/cas/support/events/mongo/MongoDbCasEventRepositoryTests.java
Labels: Refactoring & Code CleanUp

#3521 Fix mfa initialize
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/configurer/AbstractCasMultifactorWebflowConfigurer.java
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/flow/login/mfa/MfaInitializeAction.java
  support/cas-server-support-duo-core/src/main/java/org/apereo/cas/adaptors/duo/web/flow/action/DetermineDuoUserAccountAction.java
  support/cas-server-support-duo-core/src/main/java/org/apereo/cas/adaptors/duo/web/flow/action/PrepareDuoWebLoginFormAction.java
Labels: MFA

#3519 Delegated authentication should happen only once
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/web/flow/DelegatedClientAuthenticationAction.java
  support/cas-server-support-pac4j-core-clients/src/test/java/org/apereo/cas/support/pac4j/web/flow/DelegatedClientAuthenticationActionTests.java
  support/cas-server-support-pac4j-core/src/main/java/org/apereo/cas/authentication/principal/ClientCredential.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/Pac4jWebflowConfigurer.java
Labels: Delegated Authentication Pac4J

#3538 Delegated authentication should happen only once
  support/cas-server-support-pac4j-core/src/main/java/org/apereo/cas/authentication/principal/ClientCredential.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedAuthenticationWebflowConfigurer.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
  support/cas-server-support-pac4j-webflow/src/test/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationActionTests.java
Labels: Delegated Authentication Pac4J

#3539 Delegated authentication should happen only once
  support/cas-server-support-pac4j-core/src/main/java/org/apereo/cas/authentication/principal/ClientCredential.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedAuthenticationWebflowConfigurer.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
  support/cas-server-support-pac4j-webflow/src/test/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationActionTests.java
Labels: Delegated Authentication Pac4J

#3475 Clean consent
  style/checkstyle-suppressions.xml
  support/cas-server-support-consent-core/src/main/java/org/apereo/cas/consent/BaseConsentRepository.java
  support/cas-server-support-consent-core/src/main/java/org/apereo/cas/consent/GroovyConsentRepository.java
  support/cas-server-support-consent-core/src/test/java/org/apereo/cas/consent/BaseConsentRepositoryTests.java
  support/cas-server-support-consent-core/src/test/java/org/apereo/cas/consent/GroovyConsentRepositoryTests.java
  support/cas-server-support-consent-core/src/test/java/org/apereo/cas/consent/InMemoryConsentRepositoryTests.java
  support/cas-server-support-consent-core/src/test/java/org/apereo/cas/consent/JsonConsentRepositoryTests.java
  support/cas-server-support-consent-core/src/test/resources/ConsentRepository.json
  support/cas-server-support-consent-jdbc/build.gradle
  support/cas-server-support-consent-jdbc/src/test/java/org/apereo/cas/consent/JpaConsentRepositoryTests.java
  support/cas-server-support-consent-ldap/build.gradle
  support/cas-server-support-consent-ldap/src/test/java/org/apereo/cas/consent/BaseLdapConsentRepositoryTests.java
  support/cas-server-support-consent-ldap/src/test/java/org/apereo/cas/consent/LdapContinuousIntegrationConsentRepositoryTests.java
  support/cas-server-support-consent-ldap/src/test/java/org/apereo/cas/consent/LdapEmbeddedConsentRepositoryTests.java
  support/cas-server-support-consent-ldap/src/test/resources/ldapconsent.properties
  support/cas-server-support-consent-ldap/src/test/resources/ldapconsentci.properties
  support/cas-server-support-consent-ldap/src/test/resources/ldif/ldap-consent.ldif
  support/cas-server-support-consent-mongo/build.gradle
  support/cas-server-support-consent-mongo/src/test/java/org/apereo/cas/consent/MongoDbConsentRepositoryTests.java
  support/cas-server-support-consent-rest/build.gradle
  support/cas-server-support-consent-rest/src/main/java/org/apereo/cas/consent/RestConsentRepository.java
  support/cas-server-support-consent-rest/src/test/java/org/apereo/cas/consent/RestConsentRepositoryTests.java
Labels: Refactoring & Code CleanUp

#3469 Clean aup
  support/cas-server-support-aup-core/build.gradle
  support/cas-server-support-aup-core/src/test/java/org/apereo/cas/aup/BaseAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-core/src/test/java/org/apereo/cas/aup/DefaultAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-jdbc/build.gradle
  support/cas-server-support-aup-jdbc/src/test/java/org/apereo/cas/aup/JdbcAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-jdbc/src/test/resources/jdbc-aup.properties
  support/cas-server-support-aup-ldap/build.gradle
  support/cas-server-support-aup-ldap/src/test/java/org/apereo/cas/aup/LdapAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-ldap/src/test/resources/ldap-aup.properties
  support/cas-server-support-aup-ldap/src/test/resources/ldif/ldap-aup.ldif
  support/cas-server-support-aup-mongo/build.gradle
  support/cas-server-support-aup-mongo/src/test/java/org/apereo/cas/aup/MongoDbAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-mongo/src/test/resources/log4j2.xml
Labels: Refactoring & Code CleanUp

#3551 remove cache info that always changes in CI
  .travis.yml
Labels: Gradle Build & Release

#3532 CouchDb audit
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/audit/AuditCouchDbProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/audit/AuditProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  docs/cas-server-documentation/installation/Audits.md
  settings.gradle
  support/cas-server-support-audit-couchdb/build.gradle
  support/cas-server-support-audit-couchdb/src/main/java/org/apereo/cas/audit/CouchDbAuditTrailManager.java
  support/cas-server-support-audit-couchdb/src/main/java/org/apereo/cas/config/CasSupportCouchDbAuditConfiguration.java
  support/cas-server-support-audit-couchdb/src/main/java/org/apereo/cas/couchdb/audit/AuditActionContextCouchDbRepository.java
  support/cas-server-support-audit-couchdb/src/main/java/org/apereo/cas/couchdb/audit/CouchDbAuditActionContext.java
  support/cas-server-support-audit-couchdb/src/main/resources/META-INF/spring.factories
  support/cas-server-support-audit-couchdb/src/main/resources/org/apereo/cas/couchdb/audit/CouchDbAuditActionContext_by_throttle_params.js
  support/cas-server-support-audit-couchdb/src/test/java/org/apereo/cas/audit/CouchDbAuditTrailManagerTests.java
Labels: Audits & Logging, CouchDb

#3534 CouchDb trusted
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/TrustedDevicesMultifactorProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  docs/cas-server-documentation/mfa/Multifactor-TrustedDevice-Authentication.md
  settings.gradle
  support/cas-server-support-couchdb-core/src/main/resources/CAS_delete_record.js
  support/cas-server-support-trusted-mfa-couchdb/build.gradle
  support/cas-server-support-trusted-mfa-couchdb/src/main/java/org/apereo/cas/config/CouchDbMultifactorAuthenticationTrustConfiguration.java
  support/cas-server-support-trusted-mfa-couchdb/src/main/java/org/apereo/cas/couchdb/trusted/CouchDbMultifactorAuthenticationTrustRecord.java
  support/cas-server-support-trusted-mfa-couchdb/src/main/java/org/apereo/cas/couchdb/trusted/MultifactorAuthenticationTrustRecordCouchDbRepository.java
  support/cas-server-support-trusted-mfa-couchdb/src/main/java/org/apereo/cas/trusted/authentication/storage/CouchDbMultifactorAuthenticationTrustStorage.java
  support/cas-server-support-trusted-mfa-couchdb/src/main/resources/META-INF/spring.factories
  support/cas-server-support-trusted-mfa-couchdb/src/main/resources/org/apereo/cas/couchdb/trusted/CouchDbMultifactorAuthenticationTrustRecord_delete.js
  support/cas-server-support-trusted-mfa-couchdb/src/main/resources/org/apereo/cas/couchdb/trusted/CouchDbMultifactorAuthenticationTrustRecord_update.js
  support/cas-server-support-trusted-mfa-couchdb/src/test/java/org/apereo/cas/trusted/authentication/storage/CouchDbMultifactorAuthenticationTrustStorageTests.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/authentication/api/MultifactorAuthenticationTrustRecord.java
  support/cas-server-support-trusted-mfa/src/test/java/org/apereo/cas/trusted/AbstractMultifactorAuthenticationTrustStorageTests.java
Labels: CouchDb, MFA Trusted Devices

#3525 CouchDb YubiKey
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/YubiKeyMultifactorProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  docs/cas-server-documentation/mfa/YubiKey-Authentication.md
  settings.gradle
  support/cas-server-support-yubikey-core/src/test/java/org/apereo/cas/adaptors/yubikey/BaseYubiKeyAccountRegistryTests.java
  support/cas-server-support-yubikey-couchdb/build.gradle
  support/cas-server-support-yubikey-couchdb/src/main/java/org/apereo/cas/adaptors/yubikey/dao/CouchDbYubiKeyAccountRegistry.java
  support/cas-server-support-yubikey-couchdb/src/main/java/org/apereo/cas/config/CouchDbYubiKeyConfiguration.java
  support/cas-server-support-yubikey-couchdb/src/main/java/org/apereo/cas/couchdb/yubikey/CouchDbYubiKeyAccount.java
  support/cas-server-support-yubikey-couchdb/src/main/java/org/apereo/cas/couchdb/yubikey/YubiKeyAccountCouchDbRepository.java
  support/cas-server-support-yubikey-couchdb/src/main/resources/META-INF/spring.factories
  support/cas-server-support-yubikey-couchdb/src/test/java/org/apereo/cas/adaptors/yubikey/dao/CouchDbYubiKeyAccountRegistryTests.java
Labels: CouchDb, MFA YubiKey

#3526 CouchDb surrogate
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/surrogate/SurrogateAuthenticationProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  docs/cas-server-documentation/installation/Surrogate-Authentication.md
  settings.gradle
  support/cas-server-support-surrogate-authentication-couchdb/build.gradle
  support/cas-server-support-surrogate-authentication-couchdb/src/main/java/org/apereo/cas/authentication/surrogate/SurrogateCouchDbAuthenticationService.java
  support/cas-server-support-surrogate-authentication-couchdb/src/main/java/org/apereo/cas/authentication/surrogate/SurrogateCouchDbProfileAuthenticationService.java
  support/cas-server-support-surrogate-authentication-couchdb/src/main/java/org/apereo/cas/config/SurrogateCouchDbAuthenticationServiceConfiguration.java
  support/cas-server-support-surrogate-authentication-couchdb/src/main/java/org/apereo/cas/couchdb/surrogate/CouchDbSurrogateAuthorization.java
  support/cas-server-support-surrogate-authentication-couchdb/src/main/java/org/apereo/cas/couchdb/surrogate/SurrogateAuthorizationCouchDbRepository.java
  support/cas-server-support-surrogate-authentication-couchdb/src/main/resources/META-INF/spring.factories
  support/cas-server-support-surrogate-authentication-couchdb/src/test/java/org/apereo/cas/authentication/surrogate/SurrogateCouchDbAuthenticationTests.java
  support/cas-server-support-surrogate-authentication-couchdb/src/test/java/org/apereo/cas/authentication/surrogate/SurrogateCouchDbProfileAuthenticationServiceTests.java
  support/cas-server-support-surrogate-authentication-couchdb/src/test/resources/log4j2.xml
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/config/SurrogateAuthenticationConfiguration.java
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/authentication/surrogate/BaseSurrogateAuthenticationServiceTests.java
Labels: CouchDb, Surrogate Authentication

#3529 CouchDb events
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/events/EventsProperties.java
  api/cas-server-core-api-events/src/main/java/org/apereo/cas/support/events/dao/CasEvent.java
  core/cas-server-core-events/src/main/java/org/apereo/cas/support/events/dao/AbstractCasEventRepository.java
  core/cas-server-core-events/src/main/java/org/apereo/cas/support/events/listener/DefaultCasEventListener.java
  core/cas-server-core-events/src/test/java/org/apereo/cas/support/events/AbstractCasEventRepositoryTests.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  docs/cas-server-documentation/installation/Configuring-Authentication-Events.md
  settings.gradle
  support/cas-server-support-electrofence/src/main/java/org/apereo/cas/impl/calcs/DateTimeAuthenticationRequestRiskCalculator.java
  support/cas-server-support-electrofence/src/test/java/org/apereo/cas/impl/mock/MockTicketGrantingTicketCreatedEventProducer.java
  support/cas-server-support-events-couchdb/build.gradle
  support/cas-server-support-events-couchdb/src/main/java/org/apereo/cas/config/CouchDbEventsConfiguration.java
  support/cas-server-support-events-couchdb/src/main/java/org/apereo/cas/couchdb/events/CouchDbCasEvent.java
  support/cas-server-support-events-couchdb/src/main/java/org/apereo/cas/couchdb/events/EventCouchDbRepository.java
  support/cas-server-support-events-couchdb/src/main/java/org/apereo/cas/support/events/CouchDbCasEventRepository.java
  support/cas-server-support-events-couchdb/src/main/resources/META-INF/spring.factories
  support/cas-server-support-events-couchdb/src/test/java/org/apereo/cas/support/events/couchdb/CouchDbCasEventRepositoryTests.java
  support/cas-server-support-events-influxdb/src/main/java/org/apereo/cas/support/events/dao/InfluxDbCasEventRepository.java
Labels: Authentication Events, CouchDb

#3531 CouchDb authentication
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/authentication/AuthenticationProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/couchdb/authentication/CouchDbAuthenticationProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  docs/cas-server-documentation/installation/CouchDb-Authentication.md
  docs/cas-server-documentation/installation/Pac4j-Authentication.md
  gradle/dependencies.gradle
  settings.gradle
  support/cas-server-support-couchdb-authentication/build.gradle
  support/cas-server-support-couchdb-authentication/src/main/java/org/apereo/cas/authentication/CouchDbAuthenticationHandler.java
  support/cas-server-support-couchdb-authentication/src/main/java/org/apereo/cas/config/CouchDbAuthenticationConfiguration.java
  support/cas-server-support-couchdb-authentication/src/main/resources/META-INF/spring.factories
  support/cas-server-support-couchdb-authentication/src/test/java/org/apereo/cas/authentication/CouchDbAuthenticationHandlerTests.java
Labels: Authentication, CouchDb

#3553 Mfa trust cleaner fix for 5.3.x
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/authentication/storage/MultifactorAuthenticationTrustStorageCleaner.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/config/MultifactorAuthnTrustConfiguration.java
Labels: MFA Trusted Devices

#3544 the mfaTrustStorageCleaner can't be lazy
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/authentication/storage/MultifactorAuthenticationTrustStorageCleaner.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/config/MultifactorAuthnTrustConfiguration.java
Labels: MFA Trusted Devices, Needs Backport

#3528 CouchDb gauth
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/GoogleAuthenticatorMultifactorProperties.java
  docs/cas-server-documentation/mfa/GoogleAuthenticator-Authentication.md
  settings.gradle
  support/cas-server-support-gauth-core/src/main/java/org/apereo/cas/adaptors/gauth/repository/credentials/BaseGoogleAuthenticatorCredentialRepository.java
  support/cas-server-support-gauth-core/src/test/java/org/apereo/cas/adaptors/gauth/BaseOneTimeTokenCredentialRepositoryTests.java
  support/cas-server-support-gauth-core/src/test/java/org/apereo/cas/adaptors/gauth/BaseOneTimeTokenRepositoryTests.java
  support/cas-server-support-gauth-couchdb/build.gradle
  support/cas-server-support-gauth-couchdb/src/main/java/org/apereo/cas/adaptors/gauth/CouchDbGoogleAuthenticatorTokenCredentialRepository.java
  support/cas-server-support-gauth-couchdb/src/main/java/org/apereo/cas/adaptors/gauth/GoogleAuthenticatorCouchDbTokenRepository.java
  support/cas-server-support-gauth-couchdb/src/main/java/org/apereo/cas/config/GoogleAuthenticatorCouchDbConfiguration.java
  support/cas-server-support-gauth-couchdb/src/main/java/org/apereo/cas/couchdb/gauth/CouchDbOneTimeToken.java
  support/cas-server-support-gauth-couchdb/src/main/java/org/apereo/cas/couchdb/gauth/CouchDbOneTimeTokenAccount.java
  support/cas-server-support-gauth-couchdb/src/main/java/org/apereo/cas/couchdb/gauth/OneTimeTokenAccountCouchDbRepository.java
  support/cas-server-support-gauth-couchdb/src/main/java/org/apereo/cas/couchdb/gauth/OneTimeTokenCouchDbRepository.java
  support/cas-server-support-gauth-couchdb/src/main/resources/META-INF/spring.factories
  support/cas-server-support-gauth-couchdb/src/main/resources/org/apereo/cas/couchdb/gauth/CouchDbOneTimeTokenAccount_delete.js
  support/cas-server-support-gauth-couchdb/src/test/java/org/apereo/cas/adaptors/gauth/CouchDbGoogleAuthenticatorTokenCredentialRepositoryTests.java
  support/cas-server-support-gauth-couchdb/src/test/java/org/apereo/cas/adaptors/gauth/GoogleAuthenticatorCouchDbTokenRepositoryTests.java
  support/cas-server-support-gauth-couchdb/src/test/resources/log4j2.xml
Labels: CouchDb, MFA Google Authenticator

#3527 CouchDb saml
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/saml/idp/metadata/CouchDbSamlMetadataProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/saml/idp/metadata/SamlIdPMetadataProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  docs/cas-server-documentation/installation/Configuring-SAML2-DynamicMetadata.md
  settings.gradle
  support/cas-server-support-saml-idp-core/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/SamlIdPMetadataDocument.java
  support/cas-server-support-saml-idp-core/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/SamlMetadataDocument.java
  support/cas-server-support-saml-idp-metadata-couchdb/build.gradle
  support/cas-server-support-saml-idp-metadata-couchdb/src/main/java/org/apereo/cas/config/CouchDbSamlIdPFactoryConfiguration.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/main/java/org/apereo/cas/config/CouchDbSamlIdPMetadataConfiguration.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/main/java/org/apereo/cas/config/SamlIdPCouchDbMetadataConfiguration.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/main/java/org/apereo/cas/couchdb/saml/CouchDbSamlIdPMetadataDocument.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/main/java/org/apereo/cas/couchdb/saml/CouchDbSamlMetadataDocument.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/main/java/org/apereo/cas/couchdb/saml/SamlIdPMetadataCouchDbRepository.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/main/java/org/apereo/cas/couchdb/saml/SamlMetadataDocumentCouchDbRepository.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/main/java/org/apereo/cas/support/saml/idp/metadata/CouchDbSamlIdPMetadataCipherExecutor.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/main/java/org/apereo/cas/support/saml/idp/metadata/CouchDbSamlIdPMetadataGenerator.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/main/java/org/apereo/cas/support/saml/idp/metadata/CouchDbSamlIdPMetadataLocator.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/main/java/org/apereo/cas/support/saml/metadata/resolver/CouchDbSamlRegisteredServiceMetadataResolver.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/main/resources/META-INF/spring.factories
  support/cas-server-support-saml-idp-metadata-couchdb/src/test/java/org/apereo/cas/support/saml/idp/metadata/CouchDbSamlIdPMetadataGeneratorTests.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/test/java/org/apereo/cas/support/saml/metadata/resolver/CouchDbSamlRegisteredServiceMetadataResolverTests.java
  support/cas-server-support-saml-idp-metadata-couchdb/src/test/resources/samlsp-metadata.xml
Labels: CouchDb, SAML Core

#3530 CouchDB Consent
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/consent/ConsentProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  docs/cas-server-documentation/integration/Attribute-Release-Consent.md
  settings.gradle
  support/cas-server-support-consent-core/src/test/java/org/apereo/cas/consent/BaseConsentRepositoryTests.java
  support/cas-server-support-consent-couchdb/build.gradle
  support/cas-server-support-consent-couchdb/src/main/java/org/apereo/cas/config/CasConsentCouchDbConfiguration.java
  support/cas-server-support-consent-couchdb/src/main/java/org/apereo/cas/consent/CouchDbConsentRepository.java
  support/cas-server-support-consent-couchdb/src/main/java/org/apereo/cas/couchdb/consent/ConsentDecisionCouchDbRepository.java
  support/cas-server-support-consent-couchdb/src/main/java/org/apereo/cas/couchdb/consent/CouchDbConsentDecision.java
  support/cas-server-support-consent-couchdb/src/main/resources/META-INF/spring.factories
  support/cas-server-support-consent-couchdb/src/test/java/org/apereo/cas/consent/CouchDbConsentRepositoryTests.java
  support/cas-server-support-consent-couchdb/src/test/resources/log4j2.xml
  support/cas-server-support-consent-ldap/src/test/java/org/apereo/cas/consent/BaseLdapConsentRepositoryTests.java
  support/cas-server-support-couchdb-core/build.gradle
Labels: Attribute Consent, CouchDb

#3554 ScriptEnginePersonAttributeDao gets engineName based on file extension
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/authentication/ScriptedPrincipalAttributesProperties.java
  docs/cas-server-documentation/installation/Configuration-Properties.md
  gradle.properties
  support/cas-server-support-person-directory/src/main/java/org/apereo/cas/config/CasPersonDirectoryConfiguration.java
Labels: Apache Groovy, Attribute Resolution, Pending: Port Forward

#3558 update dependencies on 5.3.x
  gradle.properties
Labels: Dependencies & Modules

#3557 ScriptEnginePersonAttributeDao gets engineName based on file extension
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/authentication/ScriptedPrincipalAttributesProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  gradle.properties
  support/cas-server-support-person-directory/src/main/java/org/apereo/cas/config/CasPersonDirectoryConfiguration.java
Labels: Apache Groovy, Attribute Resolution, Dependencies & Modules

#3549 CouchDb throttle support
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  docs/cas-server-documentation/installation/Configuring-Authentication-Throttling.md
  settings.gradle
  support/cas-server-support-throttle-couchdb/build.gradle
  support/cas-server-support-throttle-couchdb/src/main/java/org/apereo/cas/config/CasCouchDbThrottlingConfiguration.java
  support/cas-server-support-throttle-couchdb/src/main/java/org/apereo/cas/web/support/CouchDbThrottledSubmissionHandlerInterceptorAdapter.java
  support/cas-server-support-throttle-couchdb/src/main/resources/META-INF/spring.factories
  support/cas-server-support-throttle-couchdb/src/test/java/org/apereo/cas/web/support/config/CouchDbThrottledSubmissionHandlerInterceptorAdapterTests.java
  support/cas-server-support-throttle/src/test/java/org/apereo/cas/web/support/BaseThrottledSubmissionHandlerInterceptorAdapterTests.java
Labels: Authentication Throttling, CouchDb

#3564 Broken link fix
  docs/cas-server-documentation/configuration/Configuration-Properties-Common.md
Labels: Documentation

#3555 Changed HazelcastHealthIndicator to use MemoryStats
  support/cas-server-support-hazelcast-monitor/src/main/java/org/apereo/cas/monitor/HazelcastHealthIndicator.java
Labels: Hazelcast, Monitoring & Dashboards, Pending: Port Forward

#3565 Hz throttle port
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  settings.gradle
  support/cas-server-support-hazelcast-monitor/build.gradle
  support/cas-server-support-hazelcast-monitor/src/main/java/org/apereo/cas/monitor/HazelcastHealthIndicator.java
  support/cas-server-support-hazelcast-monitor/src/main/java/org/apereo/cas/monitor/config/HazelcastMonitorConfiguration.java
  support/cas-server-support-hazelcast-monitor/src/test/java/org/apereo/cas/monitor/HazelcastHealthIndicatorTests.java
  support/cas-server-support-hazelcast-ticket-registry/build.gradle
  support/cas-server-support-hazelcast-ticket-registry/src/main/java/org/apereo/cas/config/HazelcastTicketRegistryConfiguration.java
  support/cas-server-support-hazelcast-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/DefaultHazelcastInstanceConfigurationTests.java
  support/cas-server-support-hazelcast-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/HazelcastTicketRegistryTests.java
  support/cas-server-support-hazelcast/build.gradle
  support/cas-server-support-hazelcast/src/main/java/org/apereo/cas/config/CasHazelcastConfiguration.java
  support/cas-server-support-hazelcast/src/main/resources/META-INF/spring.factories
  support/cas-server-support-service-registry-stream-hazelcast/src/main/java/org/apereo/cas/config/CasServicesStreamingHazelcastConfiguration.java
  support/cas-server-support-throttle-hazelcast/build.gradle
  support/cas-server-support-throttle-hazelcast/src/main/java/org/apereo/cas/web/support/config/CasHazelcastThrottlingConfiguration.java
  support/cas-server-support-throttle-hazelcast/src/main/resources/META-INF/spring.factories
  support/cas-server-support-throttle-hazelcast/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-throttle-hazelcast/src/test/resources/inmemory.properties
  support/cas-server-support-throttle-hazelcast/src/test/resources/inmemoryuser.properties
  support/cas-server-support-throttle-hazelcast/src/test/resources/log4j2.xml
  support/cas-server-support-throttle-hazelcast/src/test/resources/services/.donotdelete
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/config/CasThrottlingConfiguration.java
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/web/support/AbstractInMemoryThrottledSubmissionHandlerInterceptorAdapter.java
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/web/support/InMemoryThrottledSubmissionByIpAddressAndUsernameHandlerInterceptorAdapter.java
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/web/support/InMemoryThrottledSubmissionByIpAddressHandlerInterceptorAdapter.java
Labels: Authentication Throttling, Hazelcast
