Repository apereo/cas, pull requests merged in 2018-07, with the labels that each got.

#3392 add checkstyle suppression for lombok.val
  style/checkstyle-rules.xml
  style/checkstyle-suppressions.xml
  support/cas-server-support-couchdb-service-registry/src/main/java/org/apereo/cas/services/CouchDbServiceRegistry.java
Labels: Refactoring & Code CleanUp

#3402 Use ReturnAttributes.ALL_USER instead of ReturnAttributes.NONE.
  support/cas-server-support-gua/src/main/java/org/apereo/cas/gua/impl/LdapUserGraphicalAuthenticationRepository.java
Labels: GUA, Improvement

#3387 Before creating a mongo index, first delete any index with the same key but different options
  support/cas-server-support-mongo-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/MongoDbTicketRegistry.java
Labels: MongoDb, Tickets & Registries

#3384 Testing tweaks
  ci/tests/cassandra/run-tests-cassandra.sh
  ci/tests/cosmosdb/run-tests-cosmosdb.sh
  ci/tests/couchbase/run-tests-couchbase.sh
  ci/tests/couchdb/run-tests-couchdb.sh
  ci/tests/dynamodb/run-tests-dynamodb.sh
  ci/tests/filesystem/run-tests-filesystem.sh
  ci/tests/ignite/run-tests-ignite.sh
  ci/tests/influxdb/run-tests-influxdb.sh
  ci/tests/ldap/run-tests-ldap.sh
  ci/tests/mail/run-tests-mail.sh
  ci/tests/memcached/run-tests-memcached.sh
  ci/tests/mongodb/run-tests-mongodb.sh
  ci/tests/mssqlserver/run-tests-mssqlserver.sh
  ci/tests/mysql/run-tests-mysql.sh
  ci/tests/postgres/run-tests-postgres.sh
  ci/tests/redis/run-tests-redis.sh
  gradle/tests.gradle
Labels: Build/Release/Packaging, Improvement

#3414 Backporting some parts from f7ab0ca to 5.3.x
  core/cas-server-core-audit-api/src/main/java/org/apereo/cas/audit/spi/ChainingAuditPrincipalIdProvider.java
  core/cas-server-core-audit/src/main/java/org/apereo/cas/audit/spi/config/CasCoreAuditConfiguration.java
Labels: Audits & Logging, Bug

#3426 Minor webflow fixes to wsfed delegated authn
  support/cas-server-support-wsfederation-webflow/src/main/java/org/apereo/cas/web/flow/WsFederationResponseValidator.java
  support/cas-server-support-wsfederation-webflow/src/main/java/org/apereo/cas/web/flow/WsFederationWebflowConfigurer.java
  support/cas-server-support-wsfederation/src/main/java/org/apereo/cas/support/wsfederation/WsFederationConfiguration.java
Labels: Bug, Delegated Authentication WS-FED, Spring Webflow

#3423 Fixed ldapSpnegoClientAction parameter
  support/cas-server-support-spnego-webflow/src/main/java/org/apereo/cas/web/flow/client/LdapSpnegoKnownClientSystemsFilterAction.java
  support/cas-server-support-spnego-webflow/src/main/java/org/apereo/cas/web/flow/config/SpnegoWebflowActionsConfiguration.java
  support/cas-server-support-spnego-webflow/src/test/resources/spnego-ldap-ci.properties
  support/cas-server-support-spnego-webflow/src/test/resources/spnego-ldap.properties
Labels: Bug, Documentation, SPNEGO

#3427 Fixed ldapSpnegoClientAction parameter
  support/cas-server-support-spnego-webflow/src/main/java/org/apereo/cas/web/flow/client/LdapSpnegoKnownClientSystemsFilterAction.java
  support/cas-server-support-spnego-webflow/src/main/java/org/apereo/cas/web/flow/config/SpnegoWebflowActionsConfiguration.java
  support/cas-server-support-spnego-webflow/src/test/resources/spnego-ldap-ci.properties
  support/cas-server-support-spnego-webflow/src/test/resources/spnego-ldap.properties
Labels: LDAP & Active Directory, SPNEGO

#3430 Update SpnegoNegotiateCredentialsAction.java
  support/cas-server-support-spnego-webflow/src/main/java/org/apereo/cas/web/flow/SpnegoNegotiateCredentialsAction.java
Labels: Configuration, SPNEGO

#3433 Fixed issue with TicketRegistryCleaner schedule
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasCoreTicketsSchedulingConfiguration.java
Labels: Tickets & Registries

#3432 Fixed issue with TicketRegistryCleaner schedule
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasCoreTicketsSchedulingConfiguration.java
Labels: Tickets & Registries

#3431 Fixed issue with TicketRegistryCleaner schedule
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasCoreTicketsSchedulingConfiguration.java
Labels: Tickets & Registries

#3434 Fix possible NPE in configuration when no db props are provided
  support/cas-server-support-geolocation-maxmind/src/main/java/org/apereo/cas/support/geo/config/CasGeoLocationConfiguration.java
Labels: Configuration, GeoLocation

#3412 WIP - Upgrade to Gradle 4.9
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: Dependencies & Modules

#3444 Allow missing mobile phone in surrogation for SMS notification
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/authentication/event/SurrogateAuthenticationEventListener.java
Labels: Email & SMS Notifications
