Repository apereo/cas, pull requests merged in 2018-12, with the labels that each got.

#3677 Fix password reset flow
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowConfigurer.java
Labels: Password Management

#3675 Fix mfa u2f : Templates of view and duplicated attributes
  support/cas-server-support-u2f/src/main/java/org/apereo/cas/adaptors/u2f/U2FAuthenticationHandler.java
  webapp/resources/templates/casU2fLoginView.html
  webapp/resources/templates/casU2fRegistrationView.html
Labels: MFA, MFA FIDO U2F, Pending, Pending: Port Forward

#3682 [6.x] Fix potential non-threadsafe use of Cipher
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/cipher/BaseBinaryCipherExecutor.java
Labels: Performance & Load Tests, Signing & Encryption

#3683 Fix replacements in additional spring metadata
  api/cas-server-core-api-configuration-model/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  api/cas-server-core-api-configuration-model/src/test/java/org/apereo/cas/configuration/AdditionalMetadataVerificationTests.java
Labels: Configuration Metadata

#3691 Allows spring config to be used to customize ehcache replication config.
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/ehcache/EhcacheProperties.java
  docs/cas-server-documentation/installation/Configuration-Properties.md
  gradle/tasks.gradle
  support/cas-server-support-ehcache-ticket-registry/src/main/java/org/apereo/cas/config/EhcacheTicketRegistryConfiguration.java
Labels: EhCache, Pending: Port Forward

#3690 better crypto exception handling
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/EncodingUtils.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/cipher/BaseBinaryCipherExecutor.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/crypto/DecryptionException.java
Labels: Pending: Port Forward, Signing & Encryption

#3689 better crypto exception handling
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/EncodingUtils.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/cipher/AbstractCipherExecutor.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/cipher/BaseBinaryCipherExecutor.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/crypto/DecryptionException.java
  support/cas-server-support-token-core/src/test/java/org/apereo/cas/token/JWTTokenTicketBuilderWithoutEncryptionTests.java
Labels: Signing & Encryption

#3692 Remove error messages handled by the @Size annotation on the fields.
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/credential/UsernamePasswordCredential.java
  webapp/resources/templates/casAuthyLoginView.html
  webapp/resources/templates/casAzureAuthenticatorLoginView.html
  webapp/resources/templates/casDuoLoginView.html
  webapp/resources/templates/casGoogleAuthenticatorLoginView.html
  webapp/resources/templates/casRadiusLoginView.html
  webapp/resources/templates/casSwivelLoginView.html
  webapp/resources/templates/casYubiKeyLoginView.html
  webapp/resources/templates/fragments/loginform.html
Labels: Internationalization, User Interface & Themes

#3695 Minor typo fix in attributes merger configuration
  support/cas-server-support-person-directory/src/main/java/org/apereo/cas/config/CasPersonDirectoryConfiguration.java
Labels: Configuration

#3696 #3695 for 5.3.x
  support/cas-server-support-person-directory/src/main/java/org/apereo/cas/config/CasPersonDirectoryConfiguration.java
Labels: Pending: Port Forward

#3699 Fix RestEndpointInterruptInquirer and add SAML test to suite
  support/cas-server-support-interrupt-core/src/test/java/org/apereo/cas/interrupt/RestEndpointInterruptInquirerTests.java
  support/cas-server-support-saml/src/test/java/org/apereo/cas/AllTestsSuite.java
Labels: Interrupt Notifications, REST Protocol & Integrations, SAML Core, Unit/Integration Tests

#3687 Allow system properties to be set for use in ehcache xml config.
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/ehcache/EhcacheProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-ehcache-ticket-registry/src/main/java/org/apereo/cas/config/EhcacheTicketRegistryConfiguration.java
Labels: Configuration, Configuration Metadata, EhCache

#3698 add missing test, fix failure in couchdb
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/AbstractServiceRegistryTests.java
  support/cas-server-support-couchdb-service-registry/src/main/java/org/apereo/cas/services/CouchDbServiceRegistry.java
Labels: CouchDb, Services & Registries, Unit/Integration Tests

#3703 dependency checker slowness
  build.gradle
Labels: Dependencies & Modules, Gradle Build & Release

#3704 update Gulp to v4
  webapp/gulpfile.js
  webapp/package-lock.json
  webapp/package.json
Labels: Gradle Build & Release, User Interface & Themes

#3710 Small UL list fix on change password page
  webapp/resources/static/js/passwordMeter.js
Labels: User Interface & Themes

#3709 pac4j: Consider typedIdUsed when a custom principalAttributeId is specified
  support/cas-server-support-pac4j-authentication/src/main/java/org/apereo/cas/integration/pac4j/authentication/handler/support/AbstractPac4jAuthenticationHandler.java
Labels: Delegated Authentication Pac4J, Pending: Port Forward

#3714 pac4j: Consider typedIdUsed when a custom principalAttributeId is specified (port forward)
  support/cas-server-support-pac4j-authentication/src/main/java/org/apereo/cas/integration/pac4j/authentication/handler/support/AbstractPac4jAuthenticationHandler.java
Labels: Delegated Authentication Pac4J

#3716 German translations for welcome screen, password management and AUP (port forward)
  webapp/resources/messages_de.properties
Labels: Acceptable Usage Policy, Internationalization, Password Management, User Interface & Themes

#3715 German translations for welcome screen, password management and AUP
  webapp/resources/messages_de.properties
Labels: Acceptable Usage Policy, Internationalization, Password Management, Pending: Port Forward, User Interface & Themes

#3712 Reducing Redis heap memory overhead when running ticket registry cleaner
  api/cas-server-core-api-ticket/src/main/java/org/apereo/cas/ticket/registry/TicketRegistry.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/policy/UniquePrincipalAuthenticationPolicy.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/registry/AbstractTicketRegistry.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/registry/DefaultTicketRegistryCleaner.java
  core/cas-server-core/src/main/java/org/apereo/cas/AbstractCentralAuthenticationService.java
  core/cas-server-core/src/test/java/org/apereo/cas/DefaultCentralAuthenticationServiceMockitoTests.java
  support/cas-server-support-couchdb-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/CouchDbTicketRegistry.java
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/RedisTicketRegistry.java
Labels: Pending: Port Forward, Performance & Load Tests, Redis, Tickets & Registries

#3713 Reducing Redis heap memory overhead when running ticket registry cleaner
  api/cas-server-core-api-ticket/src/main/java/org/apereo/cas/ticket/registry/TicketRegistry.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/policy/UniquePrincipalAuthenticationPolicy.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/registry/AbstractTicketRegistry.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/registry/DefaultTicketRegistryCleaner.java
  core/cas-server-core/src/main/java/org/apereo/cas/AbstractCentralAuthenticationService.java
  core/cas-server-core/src/test/java/org/apereo/cas/DefaultCentralAuthenticationServiceMockitoTests.java
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/RedisTicketRegistry.java
Labels: Performance & Load Tests, Redis, Tickets & Registries

#3718 update documentation
  docs/cas-server-documentation/configuration/Configuration-Properties-Common.md
Labels: Documentation

#3685 Allow CAS to authenticate itself at the REST password management endpoints
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pm/PasswordManagementProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-pm-rest/src/main/java/org/apereo/cas/config/pm/RestPasswordManagementConfiguration.java
Labels: Password Management, REST Protocol & Integrations

#3686 Allow REST-Authentication endpoints to send warnings for the AuthenticationResult
  docs/cas-server-documentation/installation/Rest-Authentication.md
  support/cas-server-support-rest-authentication/src/main/java/org/apereo/cas/adaptors/rest/RestAuthenticationHandler.java
Labels: Authentication, REST Protocol & Integrations

#3720 fix broken links in documentation
  docs/cas-server-documentation/configuration/Configuration-Properties-Common.md
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  docs/cas-server-documentation/installation/Configuring-LongTerm-Authentication.md
  docs/cas-server-documentation/installation/Configuring-Proxy-Authentication.md
  docs/cas-server-documentation/installation/Configuring-RiskBased-Authentication.md
  docs/cas-server-documentation/installation/Configuring-SSO-Session-Cookie.md
  docs/cas-server-documentation/installation/Logout-Single-Signout.md
  docs/cas-server-documentation/installation/OAuth-OpenId-Authentication.md
  docs/cas-server-documentation/installation/OIDC-Authentication.md
  docs/cas-server-documentation/installation/Passwordless-Authentication.md
  docs/cas-server-documentation/installation/Surrogate-Authentication.md
  docs/cas-server-documentation/installation/Ticket-Registry-Replication-Encryption.md
  docs/cas-server-documentation/installation/Troubleshooting-Guide.md
  docs/cas-server-documentation/mfa/Configuring-Adaptive-Authentication.md
  docs/cas-server-documentation/password_management/Password-Management.md
  docs/cas-server-documentation/services/Configuring-Service-Expiration-Policy.md
  docs/cas-server-documentation/services/JPA-Service-Management.md
  docs/cas-server-documentation/services/Service-Management.md
  docs/cas-server-documentation/ticketing/Configuring-Ticketing-Components.md
  docs/cas-server-documentation/webflow/Webflow-Customization-Extensions.md
Labels: Documentation
