Repository apereo/cas, pull requests merged in 2018-08, with the labels that each got.

#3149 use @ElementCollections
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/AbstractRegisteredService.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/DefaultRegisteredServiceContact.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/DefaultRegisteredServiceProperty.java
Labels: JDBC & Hibernate

#3451 Remove search page
  _includes/navbar.html
  _layouts/search.html
  search.html
  search.json
  stylesheets/tipusearch.scss
Labels: Documentation, Refactoring & Code CleanUp

#3453 OneTime seed is not decoded before applied to verify tokens
  support/cas-server-support-gauth-core/src/test/java/org/apereo/cas/adaptors/gauth/repository/credentials/InMemoryGoogleAuthenticatorTokenCredentialRepositoryTests.java
  support/cas-server-support-otp-mfa/src/main/java/org/apereo/cas/otp/repository/credentials/BaseOneTimeTokenCredentialRepository.java
Labels: MFA Google Authenticator

#3452 Changing PAC4J indirect clients to use path-based client names instea…
  gradle.properties
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DelegatedClientFactory.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/DelegatedClientNavigationController.java
Labels: Delegated Authentication Pac4J

#3449 Fixing support for delegated authn to azure and path based callbacks with pac4j
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pac4j/Pac4jBaseClientProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pac4j/Pac4jOidcClientProperties.java
  docs/cas-server-documentation/installation/Configuration-Properties.md
  gradle.properties
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DelegatedClientFactory.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/DelegatedClientNavigationController.java
Labels: Delegated Authentication Pac4J

#3454 Add @Lob to columns with length equals 10_000
  support/cas-server-support-saml-idp-ticket/src/main/java/org/apereo/cas/ticket/artifact/SamlArtifactTicketImpl.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/authentication/api/MultifactorAuthenticationTrustRecord.java
Labels: JDBC & Hibernate & JPA

#3415 clean up throttling
  core/cas-server-core-webflow/build.gradle
  settings.gradle
  support/cas-server-support-oauth-webflow/build.gradle
  support/cas-server-support-oauth/build.gradle
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/AbstractOAuth20Tests.java
  support/cas-server-support-oidc/build.gradle
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/AbstractOidcTests.java
  support/cas-server-support-rest/build.gradle
  support/cas-server-support-throttle-core/build.gradle
  support/cas-server-support-throttle-jdbc/build.gradle
  support/cas-server-support-throttle-jdbc/src/main/java/org/apereo/cas/config/CasJdbcThrottlingConfiguration.java
  support/cas-server-support-throttle-jdbc/src/test/java/org/apereo/cas/web/support/JdbcThrottledSubmissionHandlerInterceptorAdapterTests.java
  support/cas-server-support-throttle-jdbc/src/test/resources/casthrottle.properties
  support/cas-server-support-throttle-mongo/build.gradle
  support/cas-server-support-throttle-mongo/src/main/java/org/apereo/cas/config/CasMongoDbThrottlingConfiguration.java
  support/cas-server-support-throttle-mongo/src/main/resources/META-INF/spring.factories
  support/cas-server-support-throttle-mongo/src/test/resources/services/.donotdelete
  support/cas-server-support-throttle/build.gradle
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/config/CasThrottlingConfiguration.java
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/web/support/AbstractInMemoryThrottledSubmissionHandlerInterceptorAdapter.java
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/web/support/AbstractInspektrAuditHandlerInterceptorAdapter.java
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/web/support/AbstractThrottledSubmissionHandlerInterceptorAdapter.java
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/web/support/AuthenticationThrottlingExecutionPlan.java
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/web/support/AuthenticationThrottlingExecutionPlanConfigurer.java
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/web/support/DefaultAuthenticationThrottlingExecutionPlan.java
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/web/support/InMemoryThrottledSubmissionByIpAddressAndUsernameHandlerInterceptorAdapter.java
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/web/support/InMemoryThrottledSubmissionByIpAddressHandlerInterceptorAdapter.java
  support/cas-server-support-throttle/src/main/java/org/apereo/cas/web/support/InMemoryThrottledSubmissionCleaner.java
  support/cas-server-support-throttle/src/test/java/org/apereo/cas/web/support/AbstractInMemoryThrottledSubmissionHandlerInterceptorAdapterTests.java
  support/cas-server-support-throttle/src/test/java/org/apereo/cas/web/support/BaseThrottledSubmissionHandlerInterceptorAdapterTests.java
  support/cas-server-support-throttle/src/test/java/org/apereo/cas/web/support/InMemoryThrottledSubmissionByIpAddressAndUsernameHandlerInterceptorAdapterTests.java
  support/cas-server-support-throttle/src/test/java/org/apereo/cas/web/support/InMemoryThrottledSubmissionByIpAddressHandlerInterceptorAdapterTests.java
  support/cas-server-support-throttle/src/test/resources/inmemory.properties
  support/cas-server-support-throttle/src/test/resources/inmemoryuser.properties
Labels: Authentication Throttling, Refactoring & Code CleanUp

#3457 REST X509 Authentication: support TLS client authentication
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/rest/RestProperties.java
  api/cas-server-core-api-web/src/main/java/org/apereo/cas/web/extractcert/X509CertificateExtractor.java
  core/cas-server-core-rest/src/main/java/org/apereo/cas/rest/factory/ChainingRestHttpRequestCredentialFactory.java
  core/cas-server-core-rest/src/main/java/org/apereo/cas/rest/factory/RestHttpRequestCredentialFactory.java
  core/cas-server-core-rest/src/main/java/org/apereo/cas/rest/factory/UsernamePasswordRestHttpRequestCredentialFactory.java
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/extractcert/RequestHeaderX509CertificateExtractor.java
  docs/cas-server-documentation/installation/Configuration-Properties.md
  docs/cas-server-documentation/protocol/REST-Protocol.md
  support/cas-server-support-gauth-core-mfa/src/main/java/org/apereo/cas/adaptors/gauth/rest/GoogleAuthenticatorRestHttpRequestCredentialFactory.java
  support/cas-server-support-gauth-core-mfa/src/test/java/org/apereo/cas/adaptors/gauth/rest/GoogleAuthenticatorRestHttpRequestCredentialFactoryTests.java
  support/cas-server-support-rest-x509/build.gradle
  support/cas-server-support-rest-x509/src/main/java/org/apereo/cas/support/x509/rest/X509RestHttpRequestHeaderCredentialFactory.java
  support/cas-server-support-rest-x509/src/main/java/org/apereo/cas/support/x509/rest/X509RestMultipartBodyCredentialFactory.java
  support/cas-server-support-rest-x509/src/main/java/org/apereo/cas/support/x509/rest/config/X509RestConfiguration.java
  support/cas-server-support-rest-x509/src/test/java/org/apereo/cas/support/x509/rest/X509RestHttpRequestHeaderCredentialFactoryTests.java
  support/cas-server-support-rest-x509/src/test/java/org/apereo/cas/support/x509/rest/X509RestMultipartBodyCredentialFactoryTests.java
  support/cas-server-support-rest/src/main/java/org/apereo/cas/support/rest/resources/TicketGrantingTicketResource.java
  support/cas-server-support-rest/src/main/java/org/apereo/cas/support/rest/resources/UserAuthenticationResource.java
  support/cas-server-support-yubikey-core-mfa/src/main/java/org/apereo/cas/adaptors/yubikey/YubiKeyRestHttpRequestCredentialFactory.java
  support/cas-server-support-yubikey-core-mfa/src/test/java/org/apereo/cas/adaptors/yubikey/YubiKeyRestHttpRequestCredentialFactoryTests.java
Labels: REST Protocol, X.509

#3436 Show expired service message v6.0
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/services/UnauthorizedServiceException.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/RegisteredServiceAccessStrategyUtils.java
  core/cas-server-core-services-registry/build.gradle
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/AbstractServicesManager.java
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/flow/login/InitialFlowSetupAction.java
  webapp/resources/messages.properties
Labels: Service Expiration Policy

#3467 Reorganize the attribute release policy for authn-level attributes
  api/cas-server-core-api-authentication/src/main/java/org/apereo/cas/authentication/AuthenticationAttributeReleasePolicy.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/authentication/AuthenticationAttributeReleaseProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/authentication/AuthenticationProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/MultifactorAuthenticationProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthAccessTokenProperties.java
  api/cas-server-core-api-validation/build.gradle
  api/cas-server-core-api-validation/src/main/java/org/apereo/cas/validation/AuthenticationAttributeReleasePolicy.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/CoreAuthenticationUtils.java
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/authentication/DefaultAuthenticationAttributeReleasePolicy.java
  core/cas-server-core-authentication/src/main/java/org/apereo/cas/config/CasCoreAuthenticationConfiguration.java
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/services/web/view/AbstractCasView.java
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/services/web/view/AbstractDelegatingCasView.java
  docs/cas-server-documentation/installation/Configuration-Properties.md
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20CasAuthenticationBuilder.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20UsernamePasswordAuthenticator.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/profile/DefaultOAuth20UserProfileDataCreator.java
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/profile/OidcProfileScopeToAttributesFilter.java
  support/cas-server-support-saml/src/main/java/org/apereo/cas/config/SamlConfiguration.java
  support/cas-server-support-saml/src/main/java/org/apereo/cas/support/saml/web/view/AbstractSaml10ResponseView.java
  support/cas-server-support-saml/src/main/java/org/apereo/cas/support/saml/web/view/Saml10FailureResponseView.java
  support/cas-server-support-saml/src/main/java/org/apereo/cas/support/saml/web/view/Saml10SuccessResponseView.java
  support/cas-server-support-saml/src/test/java/org/apereo/cas/support/saml/web/view/Saml10FailureResponseViewTests.java
  support/cas-server-support-saml/src/test/java/org/apereo/cas/support/saml/web/view/Saml10SuccessResponseViewTests.java
  support/cas-server-support-validation/src/main/java/org/apereo/cas/web/config/CasValidationConfiguration.java
  support/cas-server-support-validation/src/main/java/org/apereo/cas/web/view/Cas10ResponseView.java
  support/cas-server-support-validation/src/main/java/org/apereo/cas/web/view/Cas20ResponseView.java
  support/cas-server-support-validation/src/main/java/org/apereo/cas/web/view/Cas30ResponseView.java
  support/cas-server-support-validation/src/main/java/org/apereo/cas/web/view/json/Cas30JsonResponseView.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/Cas10ResponseViewTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/Cas20ResponseViewTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/Cas30JsonResponseViewTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/Cas30ResponseViewTests.java
Labels: Attribute Release, Refactoring & Code CleanUp

#3466 5.3.x x509 rest backport
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/rest/RestProperties.java
  api/cas-server-core-api-web/src/main/java/org/apereo/cas/web/extractcert/X509CertificateExtractor.java
  core/cas-server-core-rest/src/main/java/org/apereo/cas/rest/factory/ChainingRestHttpRequestCredentialFactory.java
  core/cas-server-core-rest/src/main/java/org/apereo/cas/rest/factory/RestHttpRequestCredentialFactory.java
  core/cas-server-core-rest/src/main/java/org/apereo/cas/rest/factory/UsernamePasswordRestHttpRequestCredentialFactory.java
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/extractcert/RequestHeaderX509CertificateExtractor.java
  docs/cas-server-documentation/installation/Configuration-Properties.md
  docs/cas-server-documentation/protocol/REST-Protocol.md
  support/cas-server-support-gauth-core-mfa/src/main/java/org/apereo/cas/adaptors/gauth/rest/GoogleAuthenticatorRestHttpRequestCredentialFactory.java
  support/cas-server-support-gauth-core-mfa/src/test/java/org/apereo/cas/adaptors/gauth/rest/GoogleAuthenticatorRestHttpRequestCredentialFactoryTests.java
  support/cas-server-support-rest-x509/build.gradle
  support/cas-server-support-rest-x509/src/main/java/org/apereo/cas/support/x509/rest/X509RestHttpRequestHeaderCredentialFactory.java
  support/cas-server-support-rest-x509/src/main/java/org/apereo/cas/support/x509/rest/X509RestMultipartBodyCredentialFactory.java
  support/cas-server-support-rest-x509/src/main/java/org/apereo/cas/support/x509/rest/config/X509RestConfiguration.java
  support/cas-server-support-rest-x509/src/test/java/org/apereo/cas/support/x509/rest/X509RestHttpRequestHeaderCredentialFactoryTests.java
  support/cas-server-support-rest-x509/src/test/java/org/apereo/cas/support/x509/rest/X509RestMultipartBodyCredentialFactoryTests.java
  support/cas-server-support-rest/src/main/java/org/apereo/cas/support/rest/resources/TicketGrantingTicketResource.java
  support/cas-server-support-rest/src/main/java/org/apereo/cas/support/rest/resources/UserAuthenticationResource.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509CertificateCredential.java
  support/cas-server-support-yubikey-core-mfa/src/main/java/org/apereo/cas/adaptors/yubikey/YubiKeyRestHttpRequestCredentialFactory.java
  support/cas-server-support-yubikey-core-mfa/src/test/java/org/apereo/cas/adaptors/yubikey/YubiKeyRestHttpRequestCredentialFactoryTests.java
Labels: REST Protocol, X.509

#3448 Reconfigure mongo tests
  ci/tests/mongodb/run-mongodb-server.sh
  ci/tests/mongodb/run-tests-mongodb.sh
  support/cas-server-support-audit-mongo/src/test/java/org/apereo/cas/audit/MongoDbAuditTrailManagerTests.java
  support/cas-server-support-audit-mongo/src/test/resources/mongoaudit.properties
  support/cas-server-support-aup-mongo/src/test/java/org/apereo/cas/aup/MongoDbAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-mongo/src/test/resources/mongo-aup.properties
  support/cas-server-support-consent-mongo/src/test/java/org/apereo/cas/consent/MongoDbConsentRepositoryTests.java
  support/cas-server-support-consent-mongo/src/test/resources/mongo-consent.properties
  support/cas-server-support-events-mongo/src/test/java/org/apereo/cas/support/events/mongo/MongoDbCasEventRepositoryTests.java
  support/cas-server-support-events-mongo/src/test/resources/mongoevents.properties
  support/cas-server-support-events-mongo/src/test/resources/services/.donotdelete
  support/cas-server-support-gauth-mongo/src/test/java/org/apereo/cas/adaptors/gauth/GoogleAuthenticatorMongoDbTokenRepositoryTests.java
  support/cas-server-support-gauth-mongo/src/test/java/org/apereo/cas/adaptors/gauth/MongoDbGoogleAuthenticatorTokenCredentialRepositoryTests.java
  support/cas-server-support-gauth-mongo/src/test/resources/mongogauth.properties
  support/cas-server-support-gauth-mongo/src/test/resources/services/.donotdelete
  support/cas-server-support-mongo-monitor/src/main/java/org/apereo/cas/monitor/config/MongoDbMonitoringConfiguration.java
  support/cas-server-support-mongo-monitor/src/test/java/org/apereo/cas/monitor/MongoDbHealthIndicatorTests.java
  support/cas-server-support-mongo-monitor/src/test/resources/mongomonitor.properties
  support/cas-server-support-mongo-service-registry/src/test/java/org/apereo/cas/services/MongoDbServiceRegistryCloudTests.java
  support/cas-server-support-mongo-service-registry/src/test/resources/mongoservices.properties
  support/cas-server-support-mongo-service-registry/src/test/resources/services/.donotdelete
  support/cas-server-support-mongo-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/MongoDbTicketRegistryTests.java
  support/cas-server-support-mongo-ticket-registry/src/test/resources/mongoregistry.properties
  support/cas-server-support-mongo/src/test/java/org/apereo/cas/authentication/MongoDbAuthenticationHandlerTests.java
  support/cas-server-support-mongo/src/test/resources/mongo.properties
  support/cas-server-support-mongo/src/test/resources/services/.donotdelete
  support/cas-server-support-saml-idp-metadata-mongo/src/test/java/org/apereo/cas/support/saml/idp/metadata/MongoDbSamlIdPMetadataGeneratorTests.java
  support/cas-server-support-saml-idp-metadata-mongo/src/test/java/org/apereo/cas/support/saml/metadata/resolver/MongoDbSamlRegisteredServiceMetadataResolverTests.java
  support/cas-server-support-saml-idp-metadata-mongo/src/test/resources/samlidp-mongo.properties
  support/cas-server-support-saml-idp-metadata-mongo/src/test/resources/samlsp-mongo.properties
  support/cas-server-support-throttle-mongo/build.gradle
  support/cas-server-support-throttle-mongo/src/test/java/org/apereo/cas/web/support/MongoDbThrottledSubmissionHandlerInterceptorAdapterTests.java
  support/cas-server-support-trusted-mfa-mongo/src/test/java/org/apereo/cas/trusted/authentication/storage/MongoDbMultifactorAuthenticationTrustStorageTests.java
  support/cas-server-support-trusted-mfa-mongo/src/test/resources/trustedmongo.properties
  support/cas-server-support-u2f-mongo/src/test/java/org/apereo/cas/adaptors/u2f/storage/U2FMongoDbDeviceRepositoryTests.java
  support/cas-server-support-u2f-mongo/src/test/resources/mongou2f.properties
  support/cas-server-support-yubikey-mongo/src/test/java/org/apereo/cas/adaptors/yubikey/dao/MongoDbYubiKeyAccountRegistryTests.java
  support/cas-server-support-yubikey-mongo/src/test/resources/yubikey-mongo.properties
Labels: Refactoring & Code CleanUp

#3472 Removing dead code from oauth /authorize endpoint request validators
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuthConfiguration.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20ClientCredentialsGrantTypeAuthorizationRequestValidator.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20PasswordGrantTypeAuthorizationRequestValidator.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20RefreshTokenGrantTypeAuthorizationRequestValidator.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/OAuthTestSuite.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20ClientCredentialsGrantTypeAuthorizationRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20PasswordGrantTypeAuthorizationRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20RefreshTokenGrantTypeAuthorizationRequestValidatorTests.java
Labels: OAuth2 Protocol

#3476 doc: fix typo in theme_name variable
  docs/cas-server-documentation/installation/User-Interface-Customization-Themes.md
Labels: Proposal Declined

#3482 Ensure the OPEN failure mode is handled when provider is down
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/DuoSecurityMultifactorProperties.java
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/services/RegisteredServiceMultifactorPolicy.java
  core/cas-server-core-authentication-mfa/src/main/java/org/apereo/cas/authentication/AbstractMultifactorAuthenticationProvider.java
  core/cas-server-core-authentication-mfa/src/main/java/org/apereo/cas/authentication/DefaultMultifactorAuthenticationContextValidator.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/DefaultRegisteredServiceMultifactorPolicy.java
  support/cas-server-support-duo-core/src/main/java/org/apereo/cas/adaptors/duo/authn/BaseDuoSecurityAuthenticationService.java
  support/cas-server-support-validation/src/main/java/org/apereo/cas/web/AbstractServiceValidateController.java
Labels: MFA, MFA Duo Security

#3477 Master: Adding the ability to change the name of samlArtifactsCache and samlAttributeQueryCache
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/saml/idp/SamlIdPProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/saml/idp/SamlIdPTicketProperties.java
  docs/cas-server-documentation/installation/Configuration-Properties.md
  support/cas-server-support-saml-idp/src/main/java/org/apereo/cas/config/SamlIdPTicketCatalogConfiguration.java
Labels: Configuration, SAML2 Protocol

#3445 Respecting service supportedGrantTypes for 5.3.x
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/RegisteredServiceTestUtils.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuthConfiguration.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/util/OAuth20Utils.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20ClientCredentialsGrantTypeAuthorizationRequestValidator.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20PasswordGrantTypeAuthorizationRequestValidator.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20RefreshTokenGrantTypeAuthorizationRequestValidator.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/validator/token/BaseOAuth20TokenRequestValidator.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/validator/token/OAuth20AuthorizationCodeGrantTypeTokenRequestValidator.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/validator/token/OAuth20PasswordGrantTypeTokenRequestValidator.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/validator/token/OAuth20RefreshTokenGrantTypeTokenRequestValidator.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/OAuthTestSuite.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20AuthorizationCodeResponseTypeAuthorizationRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20ClientCredentialsGrantTypeAuthorizationRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20PasswordGrantTypeAuthorizationRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20RefreshTokenGrantTypeAuthorizationRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/token/OAuth20AuthorizationCodeGrantTypeTokenRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/token/OAuth20ClientCredentialsGrantTypeTokenRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/token/OAuth20PasswordGrantTypeTokenRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/token/OAuth20RefreshTokenGrantTypeTokenRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/token/RequestValidatorTestUtils.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/AbstractOAuth20Tests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/OAuth20AccessTokenControllerNoGrantTypeTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/OAuth20AccessTokenControllerTests.java
Labels: OAuth2 Protocol

#3497 header should be returned instead of remoteUser
  support/cas-server-support-trusted/src/main/java/org/apereo/cas/adaptors/trusted/web/flow/PrincipalFromRequestHeaderNonInteractiveCredentialsAction.java
Labels: Authentication

#3494 Update depedencyCheck stuff
  build.gradle
  ci/analyze-dependencies.sh
  style/dependency-check-suppressions.xml
Labels: Gradle Build & Release

#3493 Duo bypass
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/services/MultifactorAuthenticationProvider.java
  api/cas-server-core-api-webflow/src/main/java/org/apereo/cas/web/flow/CasWebflowConstants.java
  core/cas-server-core-authentication-mfa/src/main/java/org/apereo/cas/authentication/AbstractMultifactorAuthenticationProvider.java
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/configurer/AbstractCasMultifactorWebflowConfigurer.java
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/configurer/DefaultLoginWebflowConfigurer.java
  support/cas-server-support-duo-core-mfa/src/main/java/org/apereo/cas/adaptors/duo/DuoUserAccountAuthStatus.java
  support/cas-server-support-duo-core-mfa/src/main/java/org/apereo/cas/adaptors/duo/authn/DefaultDuoMultifactorAuthenticationProvider.java
  support/cas-server-support-duo-core/src/main/java/org/apereo/cas/adaptors/duo/authn/BaseDuoSecurityAuthenticationService.java
  support/cas-server-support-duo-core/src/main/java/org/apereo/cas/adaptors/duo/web/flow/action/DetermineDuoUserAccountAction.java
  support/cas-server-support-duo-core/src/main/java/org/apereo/cas/adaptors/duo/web/flow/config/DuoMultifactorWebflowConfigurer.java
  webapp/resources/messages.properties
  webapp/resources/templates/mfaDeniedView.html
  webapp/resources/templates/mfaUnavailableView.html
  webapp/resources/webflow/login/login-webflow.xml
Labels: MFA, MFA Bypass, MFA Duo Security

#3478 X509 Rest Authentication fixes.
  core/cas-server-core-rest/src/main/java/org/apereo/cas/rest/factory/UsernamePasswordRestHttpRequestCredentialFactory.java
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/extractcert/X509CertificateExtractorConfiguration.java
  support/cas-server-support-gauth-core-mfa/src/main/java/org/apereo/cas/adaptors/gauth/rest/GoogleAuthenticatorRestHttpRequestCredentialFactory.java
  support/cas-server-support-rest-x509/src/main/java/org/apereo/cas/support/x509/rest/X509RestMultipartBodyCredentialFactory.java
  support/cas-server-support-rest-x509/src/main/java/org/apereo/cas/support/x509/rest/config/X509RestConfiguration.java
  support/cas-server-support-rest/src/main/java/org/apereo/cas/config/CasRestConfiguration.java
  support/cas-server-support-rest/src/main/java/org/apereo/cas/support/rest/resources/TicketGrantingTicketResource.java
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/flow/X509CertificateCredentialsRequestHeaderAction.java
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/flow/config/X509AuthenticationWebflowConfiguration.java
  support/cas-server-support-x509-webflow/src/test/java/org/apereo/cas/adaptors/x509/web/flow/X509CertificateCredentialsRequestHeaderActionTests.java
  support/cas-server-support-yubikey-core-mfa/src/main/java/org/apereo/cas/adaptors/yubikey/YubiKeyRestHttpRequestCredentialFactory.java
Labels: REST Protocol, X.509

#3480 Fixes 500 error which was being returned to client in the case where …
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/web/controllers/OidcIntrospectionEndpointController.java
Labels: OpenID Connect Protocol

#3485 Avoid ClassCastException in OneTimeTokenAccount
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/OneTimeTokenAccount.java
  core/cas-server-core-authentication-api/src/test/java/org/apereo/cas/authentication/OneTimeTokenAccountTests.java
Labels: MFA, MFA Google Authenticator
