Repository apereo/cas, pull requests merged in 2018-02, with the labels that each got.

#3202 fix : remove all actions present in "ActionList", before only first element is removed
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/web/flow/configurer/AbstractCasWebflowConfigurer.java
Labels: Bug, Spring Webflow

#3203 Implement service access auditing
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/services/RegisteredServiceAccessStrategy.java
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/services/RegisteredServiceAccessStrategyEnforcer.java
  core/cas-server-core-audit/src/main/java/org/apereo/cas/audit/spi/ServiceAccessEnforcementAuditResourceResolver.java
  core/cas-server-core-audit/src/main/java/org/apereo/cas/audit/spi/config/CasCoreAuditConfiguration.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/DefaultRegisteredServiceAccessStrategy.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/GroovyRegisteredServiceAccessStrategy.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/RegisteredServiceAccessStrategyUtils.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/support/DefaultRegisteredServiceAccessStrategyEnforcer.java
  core/cas-server-core-services/src/main/java/org/apereo/cas/config/CasCoreServicesConfiguration.java
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/resolver/impl/InitialAuthenticationAttemptWebflowEventResolver.java
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/web/flow/config/CasCoreWebflowConfiguration.java
Labels: Audits & Logging, New Feature, Services & Registries

#3152 Add ability to extract certificate from HTTP header
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/x509/X509Properties.java
  docs/cas-server-documentation/installation/Configuration-Properties.md
  docs/cas-server-documentation/installation/X509-Authentication.md
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/extractcert/RequestHeaderX509CertificateExtractor.java
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/extractcert/X509CertificateExtractor.java
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/flow/X509CertificateCredentialsNonInteractiveAction.java
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/flow/X509CertificateCredentialsRequestHeaderAction.java
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/flow/config/X509AuthenticationWebflowConfiguration.java
  support/cas-server-support-x509-webflow/src/test/java/org/apereo/cas/adaptors/x509/web/extractcert/X509CertificateExtractorTests.java
Labels: New Feature, X.509

#3210 fix TGC generation
  core/cas-server-core-cookie-api/src/main/java/org/apereo/cas/web/support/CookieRetrievingCookieGenerator.java
Labels: Bug, SSO & Cookies

#3211 we shouldn't prevent MFA principal and authentication attribute trigg…
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/resolver/impl/mfa/AuthenticationAttributeMultifactorAuthenticationPolicyEventResolver.java
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/resolver/impl/mfa/PrincipalAttributeMultifactorAuthenticationPolicyEventResolver.java
Labels: Improvement, MFA

#3204 support more RADIUS servers in client config
  docs/cas-server-documentation/installation/Configuration-Properties-Common.md
  gradle/dependencies.gradle
  support/cas-server-support-radius/build.gradle
  support/cas-server-support-radius/src/main/java/org/apereo/cas/config/RadiusConfiguration.java
  support/cas-server-support-radius/src/test/java/org/apereo/cas/config/RadiusConfigurationTests.java
  support/cas-server-support-radius/src/test/resources/radius2.properties
Labels: Authentication, Improvement, RADIUS

#3212 Prevent overflow in MongoDbTicketRegistry.getExpireAt
  support/cas-server-support-mongo-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/MongoDbTicketRegistry.java
Labels: Bug, Ticket Expiration Policy

#3215 Provides missing configuration to specify SAML2.0 AttributeConsumingServiceIndex
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pac4j/Pac4jSamlProperties.java
  docs/cas-server-documentation/installation/Configuration-Properties.md
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DelegatedClientFactory.java
Labels: Delegated Authentication Pac4J, Improvement

#3220 Convert Tomcat config from overriding the factory bean to providing a customizer
  webapp/cas-server-webapp-tomcat/src/main/java/org/apereo/cas/config/CasEmbeddedContainerTomcatConfiguration.java
Labels: Apache Tomcat, Improvement, Spring Boot

#3225 SSO Sessions Monitoring Page update
  webapp/resources/static/sass/ssosessions.scss
  webapp/resources/templates/monitoring/viewSsoSessions.html
Labels: Bug, User Interface & Themes

#3223 Support MFA Global Authentication Attribute Trigger in validation TriggerSelectionStrategy
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/authentication/MultifactorTriggerSelectionStrategy.java
  core/cas-server-core-services-authentication/src/main/java/org/apereo/cas/authentication/DefaultMultifactorTriggerSelectionStrategy.java
  core/cas-server-core-services/src/main/java/org/apereo/cas/config/CasCoreServicesConfiguration.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/authentication/DefaultMultifactorTriggerSelectionStrategyTests.java
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/resolver/impl/mfa/PrincipalAttributeMultifactorAuthenticationPolicyEventResolver.java
  support/cas-server-support-validation/src/main/java/org/apereo/cas/web/AbstractServiceValidateController.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/Cas20ResponseViewTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/Cas30ResponseViewTests.java
Labels: Improvement, MFA, Ticket Validation
