Repository apereo/cas, pull requests merged in 2018-04, with the labels that each got.

#3261 Don't initialize DefaultLoginWebflowConfigurer twice
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/web/flow/config/CasWebflowContextConfiguration.java
Labels: Bug, Spring Webflow

#3266 fix an NPE being thrown when the specified service doesn't match a Registered Service
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/services/web/support/RegisteredServiceResponseHeadersEnforcementFilter.java
Labels: Bug, Services & Registries

#3278 Changes to support OAuth1RequestToken deserialisation for SessionStoreCookie
  support/cas-server-support-pac4j-core/src/main/java/org/apereo/cas/web/pac4j/DelegatedSessionCookieManager.java
  support/cas-server-support-pac4j-core/src/main/java/org/apereo/cas/web/pac4j/SessionStoreCookieSerializer.java
  support/cas-server-support-pac4j-webflow/src/test/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationActionTests.java
  support/cas-server-support-pac4j/src/main/java/org/apereo/cas/support/pac4j/config/Pac4jDelegatedAuthenticationConfiguration.java
Labels: Bug, Delegated Authentication Pac4J

#3281 the v2 serviceValidate controller should use the proxy20Handler
  support/cas-server-support-validation/src/main/java/org/apereo/cas/web/config/CasValidationConfiguration.java
Labels: Bug, Ticket Validation

#3280 the v2 serviceValidate controller should use the proxy20Handler
  support/cas-server-support-validation/src/main/java/org/apereo/cas/web/config/CasValidationConfiguration.java
Labels: Bug, Ticket Validation

#3284 Make ErrorViewResolver static to avoid instantiation of all @Autowired beans
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/config/DelegatedAuthenticationWebflowConfiguration.java
Labels: Delegated Authentication Pac4J, Spring Boot
