Repository apereo/cas, pull requests merged in 2018-03, with the labels that each got.

#3231 fix the JPA MFA Trust Storage class and add tests
  support/cas-server-support-trusted-mfa-jdbc/build.gradle
  support/cas-server-support-trusted-mfa-jdbc/src/main/java/org/apereo/cas/trusted/authentication/storage/JpaMultifactorAuthenticationTrustStorage.java
  support/cas-server-support-trusted-mfa-jdbc/src/test/java/org/apereo/cas/trusted/authentication/storage/JpaMultifactorAuthenticationTrustStorageTests.java
  support/cas-server-support-trusted-mfa-jdbc/src/test/resources/log4j2.xml
Labels: Bug, JDBC & Hibernate, MFA, MFA Trusted Devices

#3232 remove duplicate MFA trusted devices status controller
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/config/MultifactorAuthnTrustConfiguration.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/MultifactorAuthenticationTrustController.java
Labels: Improvement, MFA Trusted Devices, Monitoring & Dashboards

#3230 Fix u2f expiration of devices
  support/cas-server-support-u2f/src/main/java/org/apereo/cas/adaptors/u2f/storage/BaseResourceU2FDeviceRepository.java
  support/cas-server-support-u2f/src/main/java/org/apereo/cas/config/U2FConfiguration.java
Labels: Bug, MFA FIDO U2F

#3234 Audit surrogate authentication eligibility verification
  api/cas-server-core-api-audit/src/main/java/org/apereo/cas/audit/AuditableExecution.java
  api/cas-server-core-api-audit/src/main/java/org/apereo/cas/audit/BaseAuditableExecution.java
  core/cas-server-core-audit/src/main/java/org/apereo/cas/audit/spi/ServiceAccessEnforcementAuditResourceResolver.java
  core/cas-server-core-audit/src/main/java/org/apereo/cas/audit/spi/ThreadLocalPrincipalResolver.java
  core/cas-server-core-audit/src/test/java/org/apereo/cas/audit/spi/ThreadLocalPrincipalResolverTests.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/AuthenticationCredentialsThreadLocalBinder.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/PolicyBasedAuthenticationManager.java
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/AuthenticationCredentialsThreadLocalBinderClearingFilter.java
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/WebUtils.java
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/DefaultSingleSignOnParticipationStrategy.java
  core/cas-server-core/src/main/java/org/apereo/cas/DefaultCentralAuthenticationService.java
  docs/cas-server-documentation/installation/Audits.md
  support/cas-server-support-surrogate-authentication-jdbc/src/main/java/org/apereo/cas/config/SurrogateJdbcAuthenticationConfiguration.java
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/authentication/SurrogateAuthenticationPostProcessor.java
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/authentication/audit/SurrogateAuthenticationEligibilityAuditableExecution.java
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/authentication/audit/SurrogateEligibilityVerificationAuditResourceResolver.java
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/config/SurrogateAuthenticationAuditConfiguration.java
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/config/SurrogateAuthenticationConfiguration.java
  support/cas-server-support-surrogate-authentication/src/main/resources/META-INF/spring.factories
  support/cas-server-support-surrogate-webflow/src/main/java/org/apereo/cas/web/flow/SurrogateWebflowEventResolver.java
  support/cas-server-support-surrogate-webflow/src/main/java/org/apereo/cas/web/flow/action/SurrogateAuthorizationAction.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/MultifactorAuthenticationSetTrustAction.java
  webapp/cas-server-webapp-config/src/main/java/org/apereo/cas/config/CasFiltersConfiguration.java
Labels: Audits & Logging, New Feature, Surrogate Authentication

#3235 Avoid serializing objects that shouldn't be part of oidc well-known endpoint
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/discovery/OidcServerDiscoverySettings.java
Labels: Bug, OpenID Connect Protocol

#3233 Make the current geography based MFA trusted device fingerprinting extensible
  docs/cas-server-documentation/installation/Multifactor-TrustedDevice-Authentication.md
  support/cas-server-support-trusted-mfa-jdbc/src/test/java/org/apereo/cas/trusted/authentication/storage/JpaMultifactorAuthenticationTrustStorageTests.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/authentication/api/MultifactorAuthenticationTrustRecord.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/config/MultifactorAuthnTrustConfiguration.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/util/MultifactorAuthenticationTrustUtils.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/DeviceFingerprintStrategy.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/GeographyDeviceFingerprintStrategy.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/MultifactorAuthenticationSetTrustAction.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/MultifactorAuthenticationVerifyTrustAction.java
Labels: Improvement, MFA Trusted Devices

#3238 Yubikey Account public id encryption
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/YubiKeyMultifactorProperties.java
  docs/cas-server-documentation/installation/Configuration-Properties.md
  support/cas-server-support-yubikey-core-mfa/src/main/java/org/apereo/cas/adaptors/yubikey/YubikeyAccountCipherExecutor.java
  support/cas-server-support-yubikey-core/src/main/java/org/apereo/cas/adaptors/yubikey/registry/BaseYubiKeyAccountRegistry.java
  support/cas-server-support-yubikey-jpa/src/main/java/org/apereo/cas/adaptors/yubikey/dao/JpaYubiKeyAccountRegistry.java
  support/cas-server-support-yubikey-jpa/src/main/java/org/apereo/cas/config/JpaYubiKeyConfiguration.java
  support/cas-server-support-yubikey-jpa/src/test/java/org/apereo/cas/adaptors/yubikey/dao/JpaYubiKeyAccountRegistryTests.java
  support/cas-server-support-yubikey-mongo/src/main/java/org/apereo/cas/adaptors/yubikey/dao/MongoDbYubiKeyAccountRegistry.java
  support/cas-server-support-yubikey-mongo/src/main/java/org/apereo/cas/config/MongoDbYubiKeyConfiguration.java
  support/cas-server-support-yubikey/src/main/java/org/apereo/cas/config/YubiKeyConfiguration.java
Labels: MFA YubiKey, New Feature, Signing & Encryption

#3240 Modernize NoOp CipherExecutor factory API
  api/cas-server-core-api-util/src/main/java/org/apereo/cas/CipherExecutor.java
  api/cas-server-core-api-util/src/main/java/org/apereo/cas/NoOpCipherExecutor.java
  core/cas-server-core-authentication/src/main/java/org/apereo/cas/config/CasCoreAuthenticationMetadataConfiguration.java
  core/cas-server-core-cookie/src/main/java/org/apereo/cas/web/config/CasCookieConfiguration.java
  core/cas-server-core-services-authentication/src/main/java/org/apereo/cas/authentication/support/DefaultCasProtocolAttributeEncoder.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/registry/DefaultTicketRegistry.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/util/CoreTicketUtils.java
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasCoreTicketsConfiguration.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/registry/AbstractTicketRegistryTests.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/registry/DefaultTicketRegistryTests.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/cipher/NoOpCipherExecutor.java
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/web/flow/config/CasCoreWebflowConfiguration.java
  core/cas-server-core/src/test/java/org/apereo/cas/DefaultCasAttributeEncoderTests.java
  support/cas-server-support-consent-core/src/main/java/org/apereo/cas/config/CasConsentCoreConfiguration.java
  support/cas-server-support-consent-jdbc/src/test/java/org/apereo/cas/consent/JpaConsentRepositoryTests.java
  support/cas-server-support-consent-ldap/src/test/java/org/apereo/cas/consent/BaseLdapConsentRepositoryTests.java
  support/cas-server-support-consent-rest/src/test/java/org/apereo/cas/consent/RestConsentRepositoryTests.java
  support/cas-server-support-gauth-core/src/test/java/org/apereo/cas/adaptors/gauth/repository/credentials/JsonGoogleAuthenticatorTokenCredentialRepositoryTests.java
  support/cas-server-support-gauth/src/main/java/org/apereo/cas/config/support/authentication/GoogleAuthenticatorAuthenticationEventExecutionPlanConfiguration.java
  support/cas-server-support-jms-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/JmsTicketRegistry.java
  support/cas-server-support-pac4j/src/main/java/org/apereo/cas/support/pac4j/config/Pac4jDelegatedAuthenticationConfiguration.java
  support/cas-server-support-pm/src/main/java/org/apereo/cas/pm/config/PasswordManagementConfiguration.java
  support/cas-server-support-saml/src/test/java/org/apereo/cas/support/saml/web/view/Saml10SuccessResponseViewTests.java
  support/cas-server-support-token-core/src/main/java/org/apereo/cas/config/TokenCoreConfiguration.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/config/MultifactorAuthnTrustConfiguration.java
  support/cas-server-support-u2f/src/main/java/org/apereo/cas/config/U2FConfiguration.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/Cas30ResponseViewTests.java
  support/cas-server-support-yubikey-jpa/src/test/java/org/apereo/cas/adaptors/yubikey/dao/JpaYubiKeyAccountRegistryTests.java
  support/cas-server-support-yubikey/src/main/java/org/apereo/cas/config/YubiKeyConfiguration.java
Labels: Architecture & APIs, Jürgenizm & Refactoring

#3243 simplify a couple methods in AuthenticationTransaction
  api/cas-server-core-api-authentication/src/main/java/org/apereo/cas/authentication/AuthenticationTransaction.java
Labels: Jürgenizm & Refactoring

#3242 Add AuthenticationHandlerResolver for google authenticator
  support/cas-server-support-gauth/src/main/java/org/apereo/cas/config/support/authentication/GoogleAuthenticatorAuthenticationEventExecutionPlanConfiguration.java
Labels: Authentication, Bug, MFA Google Authenticator

#3245 We should check all credentials within an AuthenticationTransaction when checking for type
  api/cas-server-core-api-authentication/src/main/java/org/apereo/cas/authentication/AuthenticationTransaction.java
  api/cas-server-core-api-authentication/src/test/java/org/apereo/cas/authentication/AuthenticationTransactionTests.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/ByCredentialTypeAuthenticationHandlerResolver.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/metadata/AuthenticationCredentialTypeMetaDataPopulator.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/metadata/CacheCredentialsMetaDataPopulator.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/metadata/RememberMeAuthenticationMetaDataPopulator.java
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/ClientAuthenticationMetaDataPopulator.java
  support/cas-server-support-rest-services/src/test/java/org/apereo/cas/support/rest/RegisteredServiceResourceTests.java
  support/cas-server-support-saml/src/main/java/org/apereo/cas/support/saml/authentication/SamlAuthenticationMetaDataPopulator.java
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/authentication/SurrogateAuthenticationMetaDataPopulator.java
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/authentication/SurrogateAuthenticationPostProcessor.java
Labels: Authentication, Bug, MFA

#3248 Rename factory method
  api/cas-server-core-api-authentication/src/main/java/org/apereo/cas/authentication/AuthenticationTransaction.java
  api/cas-server-core-api-authentication/src/test/java/org/apereo/cas/authentication/AuthenticationTransactionTests.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/DefaultAuthenticationSystemSupport.java
  core/cas-server-core-authentication-api/src/test/java/org/apereo/cas/authentication/AuthenticationCredentialTypeMetaDataPopulatorTests.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/authentication/CacheCredentialsMetaDataPopulatorTests.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/authentication/PolicyBasedAuthenticationManagerTests.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/authentication/principal/RememberMeAuthenticationMetaDataPopulatorTests.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/RegisteredServiceAuthenticationHandlerResolverTests.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/RandomUtils.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20CasAuthenticationBuilder.java
  support/cas-server-support-saml/src/test/java/org/apereo/cas/support/saml/authentication/SamlAuthenticationMetaDataPopulatorTests.java
  support/cas-server-support-throttle-jdbc/src/test/java/org/apereo/cas/web/support/JdbcThrottledSubmissionHandlerInterceptorAdapterTests.java
Labels: Architecture & APIs, Jürgenizm & Refactoring

#3252 Move anonymous TomcatEmbeddedServletContainerFactory to separate class
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/web/tomcat/CasEmbeddedApacheTomcatClusteringProperties.java
  webapp/cas-server-webapp-tomcat/src/main/java/org/apereo/cas/config/CasEmbeddedContainerTomcatConfiguration.java
  webapp/cas-server-webapp-tomcat/src/main/java/org/apereo/cas/config/CasTomcatEmbeddedServletContainerFactory.java
Labels: Apache Tomcat, Jürgenizm & Refactoring, Spring Boot

#3246 DynamoDb naming tables and prevent table creation on startup (5.2.x)
  core/cas-server-core-configuration/src/main/java/org/apereo/cas/configuration/model/support/dynamodb/AbstractDynamoDbProperties.java
  core/cas-server-core-configuration/src/main/java/org/apereo/cas/configuration/model/support/dynamodb/DynamoDbTicketRegistryProperties.java
  docs/cas-server-documentation/installation/Configuration-Properties.md
  support/cas-server-support-dynamodb-service-registry/src/main/java/org/apereo/cas/services/DynamoDbServiceRegistryFacilitator.java
  support/cas-server-support-dynamodb-ticket-registry/src/main/java/org/apereo/cas/config/DynamoDbTicketRegistryTicketCatalogConfiguration.java
  support/cas-server-support-dynamodb-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/DynamoDbTicketRegistryFacilitator.java
Labels: AWS DynamoDb, Configuration, Improvement

#3250 Add support for using a cookie to track MFA trusted devices
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/TrustedDevicesMultifactorProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/trusteddevice/BaseDeviceFingerprintComponentProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/trusteddevice/DeviceFingerprintProperties.java
  core/cas-server-core-cookie-api/src/main/java/org/apereo/cas/web/support/DefaultCasCookieValueManager.java
  core/cas-server-core-cookie-api/src/main/java/org/apereo/cas/web/support/EncryptedCookieValueManager.java
  core/cas-server-core-cookie-api/src/test/java/org/apereo/cas/web/support/DefaultCasCookieValueManagerTests.java
  docs/cas-server-documentation/installation/Configuration-Properties-Common.md
  docs/cas-server-documentation/installation/Configuration-Properties.md
  docs/cas-server-documentation/installation/Multifactor-TrustedDevice-Authentication.md
  support/cas-server-support-trusted-mfa/build.gradle
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/BeanNames.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/config/MultifactorAuthnTrustConfiguration.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/config/MultifactorAuthnTrustedDeviceFingerprintConfiguration.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/util/cipher/CookieDeviceFingerprintComponentCipherExecutor.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/ClientIpDeviceFingerprintComponentExtractor.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/CookieDeviceFingerprintComponentExtractor.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/DefaultDeviceFingerprintStrategy.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/DeviceFingerprintComponentExtractor.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/DeviceFingerprintStrategy.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/GeographyDeviceFingerprintStrategy.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/MultifactorAuthenticationSetTrustAction.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/MultifactorAuthenticationVerifyTrustAction.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/flow/UserAgentDeviceFingerprintComponentExtractor.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/web/support/TrustedDeviceCookieRetrievingCookieGenerator.java
  support/cas-server-support-trusted-mfa/src/main/resources/META-INF/spring.factories
Labels: Improvement, MFA Trusted Devices

#3258 Checkstyle fixes
  core/cas-server-core-cookie-api/src/test/java/org/apereo/cas/web/support/DefaultCasCookieValueManagerTests.java
Labels: Refactoring & Code CleanUp
