Repository apereo/cas, pull requests merged in 2018-05, with the labels that each got.

#3288 Conditional delegated authn beans
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/config/DelegatedAuthenticationWebflowConfiguration.java
Labels: Configuration, Delegated Authentication Pac4J

#3287 Fix u2f device registrations
  support/cas-server-support-u2f/src/main/java/org/apereo/cas/adaptors/u2f/storage/BaseResourceU2FDeviceRepository.java
Labels: Bug, MFA Trusted Devices

#3292 Avoid forced session creation in TerminateSessionAction
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/flow/logout/TerminateSessionAction.java
Labels: Bug, Delegated Authentication Pac4J, Logout & SLO

#3267 Ability to provide custom resource naming to Service Registry
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/resource/AbstractResourceBasedServiceRegistry.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/resource/DefaultRegisteredServiceResourceNamingStrategy.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/resource/RegisteredServiceResourceNamingStrategy.java
  core/cas-server-core-services/src/main/java/org/apereo/cas/config/CasCoreServicesConfiguration.java
  support/cas-server-support-grouper/src/test/java/org/apereo/cas/grouper/services/GrouperRegisteredServiceAccessStrategyRegistryTests.java
  support/cas-server-support-json-service-registry/src/main/java/org/apereo/cas/config/JsonServiceRegistryConfiguration.java
  support/cas-server-support-json-service-registry/src/main/java/org/apereo/cas/services/JsonServiceRegistry.java
  support/cas-server-support-json-service-registry/src/test/java/org/apereo/cas/services/JsonServiceRegistryTests.java
  support/cas-server-support-oauth-services/src/test/java/org/apereo/cas/support/oauth/services/OAuthRegisteredServiceTests.java
  support/cas-server-support-oidc-services/src/test/java/org/apereo/cas/services/OidcRegisteredServiceTests.java
  support/cas-server-support-saml-idp/src/test/java/org/apereo/cas/support/saml/SamlRegisteredServiceTests.java
  support/cas-server-support-yaml-service-registry/src/main/java/org/apereo/cas/services/YamlServiceRegistry.java
  support/cas-server-support-yaml-service-registry/src/main/java/org/apereo/cas/services/config/YamlServiceRegistryConfiguration.java
  support/cas-server-support-yaml-service-registry/src/test/java/org/apereo/cas/services/YamlServiceRegistryTests.java
Labels: Improvement, Services & Registries

#3306 Fix OIDC token revocation to better respect RFC 7009 (5.2.x)
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/web/controllers/OidcRevocationEndpointController.java
Labels: Improvement, OpenID Connect Protocol

#3307 Clean up for delegated auth redirects
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/DefaultAuthenticationServiceSelectionPlan.java
  core/cas-server-core-services-authentication/src/main/java/org/apereo/cas/authentication/principal/AbstractServiceFactory.java
  core/cas-server-core-services-authentication/src/main/java/org/apereo/cas/authentication/principal/WebApplicationServiceFactory.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/authentication/principal/WebApplicationServiceFactoryTests.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
  support/cas-server-support-pac4j-webflow/src/test/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationActionTests.java
Labels: Delegated Authentication Pac4J, Improvement

#3309 Allow delegated auth transaction to transition to the handle authentication failure state
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedAuthenticationWebflowConfigurer.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Delegated Authentication Pac4J, Improvement, Spring Webflow

#3311 Why the semi-colon?
  docs/cas-server-documentation/installation/Configuration-Properties.md
Labels: Documentation, Improvement

#3312 Allow delegated auth transaction to transition to the handle authentication failure state (5.2.x)
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/web/flow/DelegatedClientAuthenticationAction.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/Pac4jWebflowConfigurer.java
Labels: Delegated Authentication Pac4J, Improvement, Spring Webflow

#3327 WIP Replace CAS properties in SWF scope with Thymeleaf static variables
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/executor/CasFlowExecutionListener.java
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/web/flow/config/CasWebflowContextConfiguration.java
  support/cas-server-support-themes/src/main/java/org/apereo/cas/services/web/CasPropertiesThymeleafViewResolverConfigurer.java
  support/cas-server-support-themes/src/main/java/org/apereo/cas/services/web/CasThymeleafViewResolverConfigurer.java
  support/cas-server-support-themes/src/main/java/org/apereo/cas/services/web/config/CasThemesConfiguration.java
  webapp/cas-server-webapp-config/src/test/java/org/apereo/cas/BaseCasWebflowSessionContextConfigurationTests.java
  webapp/cas-server-webapp-config/src/test/resources/application.yml
  webapp/cas-server-webapp-config/src/test/resources/expected/end.html
  webapp/cas-server-webapp-config/src/test/resources/templates/end.html
Labels: Improvement, User Interface & Themes

#3330 Fix external groovy script reference for mapped attributes release po…
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/ReturnMappedAttributeReleasePolicy.java
Labels: Attribute Release, Bug

#3332 truncate trusted device record dates to seconds
  support/cas-server-support-trusted-mfa-jdbc/src/test/java/org/apereo/cas/trusted/authentication/storage/JpaMultifactorAuthenticationTrustStorageTests.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/authentication/api/MultifactorAuthenticationTrustRecord.java
Labels: Bug, JDBC & Hibernate, MFA Trusted Devices

#3333 suppress some dependency check hits
  gradle.properties
  gradle/dependencies.gradle
  style/dependency-check-suppressions.xml
Labels: Build/Release/Packaging, Dependencies & Modules, Improvement

#3274 CouchDb Service and Ticket registry support
  .travis.yml
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/services/ServiceRegistryProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/ticket/registry/TicketRegistryProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/couchdb/AbstractCouchDbProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/couchdb/CouchDbServiceRegistryProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/couchdb/CouchDbTicketRegistryProperties.java
  ci/run-couchdb-server.sh
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/registry/EncodedTicket.java
  docs/cas-server-documentation/installation/CouchDB-Ticket-Registry.md
  docs/cas-server-documentation/installation/CouchDb-Service-Management.md
  gradle.properties
  gradle/dependencies.gradle
  settings.gradle
  support/cas-server-support-couchdb-core/build.gradle
  support/cas-server-support-couchdb-core/src/main/java/org/apereo/cas/couchdb/core/CouchDbConnectorFactory.java
  support/cas-server-support-couchdb-service-registry/build.gradle
  support/cas-server-support-couchdb-service-registry/src/main/java/org/apereo/cas/config/CouchDbServiceRegistryConfiguration.java
  support/cas-server-support-couchdb-service-registry/src/main/java/org/apereo/cas/couchdb/services/RegisteredServiceDocument.java
  support/cas-server-support-couchdb-service-registry/src/main/java/org/apereo/cas/couchdb/services/RegisteredServiceRepository.java
  support/cas-server-support-couchdb-service-registry/src/main/java/org/apereo/cas/services/CouchDbServiceRegistry.java
  support/cas-server-support-couchdb-service-registry/src/main/resources/META-INF/spring.factories
  support/cas-server-support-couchdb-service-registry/src/test/java/org/apereo/cas/services/CouchDbServiceRegistryTests.java
  support/cas-server-support-couchdb-ticket-registry/build.gradle
  support/cas-server-support-couchdb-ticket-registry/src/main/java/org/apereo/cas/config/CouchDbTicketRegistryConfiguration.java
  support/cas-server-support-couchdb-ticket-registry/src/main/java/org/apereo/cas/couchdb/tickets/TicketDocument.java
  support/cas-server-support-couchdb-ticket-registry/src/main/java/org/apereo/cas/couchdb/tickets/TicketRepository.java
  support/cas-server-support-couchdb-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/CouchDbTicketRegistry.java
  support/cas-server-support-couchdb-ticket-registry/src/main/resources/META-INF/spring.factories
  support/cas-server-support-couchdb-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/CouchDbTicketRegistryTests.java
Labels: CouchDb, New Feature, Services & Registries, Tickets & Registries

#3339 Fix double encode of ticket id when deleting an expired ticket.
  support/cas-server-support-mongo-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/MongoDbTicketRegistry.java
Labels: Bug, MongoDb, Tickets & Registries
