Repository apereo/cas, pull requests merged in 2019-02, with the labels that each got.

#3792 Open the DefaultLoginWebflowConfigurer
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/configurer/DefaultLoginWebflowConfigurer.java
Labels: Pending: Port Forward, Spring Webflow

#3794 Open the DefaultLoginWebflowConfigurer
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/configurer/DefaultLoginWebflowConfigurer.java
Labels: Spring Webflow

#3793 Open the DefaultLoginWebflowConfigurer
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/configurer/DefaultLoginWebflowConfigurer.java
Labels: Pending: Port Forward, Spring Webflow

#3788 migrate core/cas-server-core-web to junit5 WIP
  core/cas-server-core-rest/build.gradle
  core/cas-server-core-rest/src/test/java/org/apereo/cas/rest/audit/RestResponseEntityAuditResourceResolverTests.java
  core/cas-server-core-web-api/build.gradle
  core/cas-server-core-web-api/src/test/java/org/apereo/cas/AllTestsSuite.java
  core/cas-server-core-web-api/src/test/java/org/apereo/cas/web/view/ChainingTemplateViewResolverTests.java
  core/cas-server-core-web-api/src/test/java/org/apereo/cas/web/view/RestfulUrlTemplateResolverTests.java
  core/cas-server-core-web/build.gradle
  core/cas-server-core-web/src/test/java/org/apereo/cas/AllTestsSuite.java
  core/cas-server-core-web/src/test/java/org/apereo/cas/web/RegisteredServiceResponseHeadersEnforcementFilterTests.java
  core/cas-server-core-web/src/test/java/org/apereo/cas/web/SimpleUrlValidatorFactoryBeanTests.java
  core/cas-server-core-webflow-api/build.gradle
  core/cas-server-core-webflow-api/src/test/java/org/apereo/cas/AllTestsSuite.java
  core/cas-server-core-webflow-api/src/test/java/org/apereo/cas/web/flow/decorator/GroovyLoginWebflowDecoratorTests.java
  core/cas-server-core-webflow-api/src/test/java/org/apereo/cas/web/flow/decorator/RestfulLoginWebflowDecoratorTests.java
  core/cas-server-core-webflow-mfa/build.gradle
  core/cas-server-core-webflow-mfa/src/test/java/org/apereo/cas/AdaptiveMultifactorAuthenticationPolicyEventResolverTests.java
  core/cas-server-core-webflow-mfa/src/test/java/org/apereo/cas/AllMultifactorAuthenticationWebflowTests.java
  core/cas-server-core-webflow-mfa/src/test/java/org/apereo/cas/AllTestsSuite.java
  core/cas-server-core-webflow-mfa/src/test/java/org/apereo/cas/AuthenticationAttributeMultifactorAuthenticationPolicyEventResolverTests.java
  core/cas-server-core-webflow-mfa/src/test/java/org/apereo/cas/BaseCasWebflowMultifactorAuthenticationTests.java
  core/cas-server-core-webflow-mfa/src/test/java/org/apereo/cas/GroovyScriptMultifactorAuthenticationPolicyEventResolverTests.java
  core/cas-server-core-webflow-mfa/src/test/java/org/apereo/cas/MultifactorAuthenticationTests.java
  core/cas-server-core-webflow-mfa/src/test/java/org/apereo/cas/RequestHeaderMultifactorAuthenticationPolicyEventResolverTests.java
  core/cas-server-core-webflow-mfa/src/test/java/org/apereo/cas/RequestParameterMultifactorAuthenticationPolicyEventResolverTests.java
  core/cas-server-core-webflow-mfa/src/test/java/org/apereo/cas/RequestSessionAttributeMultifactorAuthenticationPolicyEventResolverTests.java
  core/cas-server-core-webflow-mfa/src/test/java/org/apereo/cas/TimedMultifactorAuthenticationPolicyEventResolverTests.java
  core/cas-server-core-webflow/build.gradle
  core/cas-server-core-webflow/src/test/java/org/apereo/cas/AllTestsSuite.java
  core/cas-server-core-webflow/src/test/java/org/apereo/cas/web/flow/actions/AuthenticationExceptionHandlerActionTests.java
  core/cas-server-core-webflow/src/test/java/org/apereo/cas/web/flow/actions/CasDefaultFlowUrlHandlerTests.java
  core/cas-server-core-webflow/src/test/java/org/apereo/cas/web/flow/actions/InjectResponseHeadersActionTests.java
  core/cas-server-core-webflow/src/test/java/org/apereo/cas/web/flow/actions/RedirectToServiceActionTests.java
Labels: Unit/Integration Tests

#3780 CAS configuration: Switch default LDAP provider class to UnboundIDProvider
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/ldap/AbstractLdapProperties.java
Labels: Configuration, LDAP & Active Directory, Pending: Document Property

#3797 Fix password management
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowConfigurer.java
Labels: Password Management, Pending: Port Forward

#3798 Fix password management
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowConfigurer.java
Labels: Password Management, Pending: Port Forward

#3799 Fix password management
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowConfigurer.java
Labels: Password Management

#3786 core/cas-server-core-monitor to junit5 WIP
  core/cas-server-core-monitor/build.gradle
  core/cas-server-core-monitor/src/test/java/org/apereo/cas/AllTestsSuite.java
  core/cas-server-core-monitor/src/test/java/org/apereo/cas/monitor/CacheHealthIndicatorTests.java
  core/cas-server-core-monitor/src/test/java/org/apereo/cas/monitor/MemoryHealthIndicatorTests.java
  core/cas-server-core-monitor/src/test/java/org/apereo/cas/monitor/PoolHealthIndicatorTests.java
  core/cas-server-core-monitor/src/test/java/org/apereo/cas/monitor/SessionHealthIndicatorTests.java
  core/cas-server-core-rest/src/test/java/org/apereo/cas/rest/audit/RestResponseEntityAuditResourceResolverTests.java
Labels: Unit/Integration Tests

#3802 junit5 migrations: support/cas-server-support-actions WIP
  support/cas-server-support-actions/build.gradle
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/AllTestsSuite.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/AuthenticationViaFormActionTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/CreateTicketGrantingTicketActionTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/FlowExecutionExceptionResolverTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/FrontChannelLogoutActionTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/GenerateServiceTicketActionTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/GenericSuccessViewActionTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/InitialFlowSetupActionCookieTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/InitialFlowSetupActionSsoTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/InitialFlowSetupActionTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/LogoutActionTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/SendTicketGrantingTicketActionSsoTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/SendTicketGrantingTicketActionTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/ServiceAuthorizationCheckTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/ServiceWarningActionTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/SetServiceUnauthorizedRedirectUrlActionTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/TerminateSessionActionTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/TerminateSessionConfirmingActionTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/TicketGrantingTicketCheckActionTests.java
Labels: Unit/Integration Tests

#3804 junit5 migrations: support/cas-server-support-configuration WIP
  support/cas-server-support-configuration-cloud-aws-s3/build.gradle
  support/cas-server-support-configuration-cloud-aws-s3/src/test/java/org/apereo/cas/AmazonS3BucketsCloudConfigBootstrapConfigurationTests.java
  support/cas-server-support-configuration-cloud-jdbc/build.gradle
  support/cas-server-support-configuration-cloud-jdbc/src/test/java/org/apereo/cas/JdbcCloudConfigBootstrapConfigurationTests.java
  support/cas-server-support-configuration-cloud-mongo/build.gradle
  support/cas-server-support-configuration-cloud-mongo/src/test/java/org/apereo/cas/MongoDbCloudConfigBootstrapConfigurationTests.java
Labels: Configuration, Unit/Integration Tests

#3805 junit5 migrations: support/cas-server-support-consent WIP
  support/cas-server-support-consent-core/build.gradle
  support/cas-server-support-consent-core/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-consent-core/src/test/java/org/apereo/cas/consent/BaseConsentRepositoryTests.java
  support/cas-server-support-consent-core/src/test/java/org/apereo/cas/consent/DefaultConsentDecisionBuilderTests.java
  support/cas-server-support-consent-core/src/test/java/org/apereo/cas/consent/DefaultConsentEngineTests.java
  support/cas-server-support-consent-couchdb/build.gradle
  support/cas-server-support-consent-couchdb/src/test/java/org/apereo/cas/consent/CouchDbConsentRepositoryTests.java
  support/cas-server-support-consent-jdbc/build.gradle
  support/cas-server-support-consent-ldap/build.gradle
  support/cas-server-support-consent-ldap/src/test/java/org/apereo/cas/consent/AllLdapConsentTestsSuite.java
  support/cas-server-support-consent-ldap/src/test/java/org/apereo/cas/consent/BaseLdapConsentRepositoryTests.java
  support/cas-server-support-consent-ldap/src/test/java/org/apereo/cas/consent/LdapContinuousIntegrationConsentRepositoryTests.java
  support/cas-server-support-consent-ldap/src/test/java/org/apereo/cas/consent/LdapEmbeddedConsentRepositoryTests.java
  support/cas-server-support-consent-mongo/build.gradle
  support/cas-server-support-consent-mongo/src/test/java/org/apereo/cas/consent/MongoDbConsentRepositoryTests.java
  support/cas-server-support-consent-rest/build.gradle
  support/cas-server-support-consent-rest/src/test/java/org/apereo/cas/consent/RestConsentRepositoryTests.java
  support/cas-server-support-consent-webflow/build.gradle
  support/cas-server-support-consent-webflow/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-consent-webflow/src/test/java/org/apereo/cas/web/flow/BaseConsentActionTests.java
  support/cas-server-support-consent-webflow/src/test/java/org/apereo/cas/web/flow/CheckConsentRequiredActionTests.java
  support/cas-server-support-consent-webflow/src/test/java/org/apereo/cas/web/flow/ConfirmConsentActionTests.java
Labels: Attribute Consent, Unit/Integration Tests

#3806 junit5 migrations: support/cas-server-support-*-monitor WIP
  support/cas-server-support-ehcache-monitor/build.gradle
  support/cas-server-support-ehcache-monitor/src/test/java/org/apereo/cas/monitor/EhCacheHealthIndicatorTests.java
  support/cas-server-support-hazelcast-monitor/build.gradle
  support/cas-server-support-hazelcast-monitor/src/test/java/org/apereo/cas/monitor/HazelcastHealthIndicatorTests.java
  support/cas-server-support-ldap-monitor/build.gradle
  support/cas-server-support-ldap-monitor/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-ldap-monitor/src/test/java/org/apereo/cas/monitor/PooledConnectionFactoryHealthIndicatorTests.java
  support/cas-server-support-memcached-monitor/build.gradle
  support/cas-server-support-memcached-monitor/src/test/java/org/apereo/cas/monitor/MemcachedHealthIndicatorTests.java
  support/cas-server-support-mongo-monitor/build.gradle
  support/cas-server-support-mongo-monitor/src/test/java/org/apereo/cas/monitor/MongoDbHealthIndicatorTests.java
Labels: Unit/Integration Tests

#3790 core/cas-server-core-util to junit5 WIP
  core/cas-server-core-util-api/build.gradle
  core/cas-server-core-util/build.gradle
  core/cas-server-core-util/src/test/java/org/apereo/cas/AllUtilityTestsSuite.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/CollectionUtilsTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/CompressionUtilsTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/DateTimeUtilsTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/EncodingUtilsTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/RandomUtilsTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/RegexUtilsTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/ResourceUtilsTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/ScriptingUtilsTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/cipher/BinaryCipherExecutorTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/cipher/DefaultTicketCipherExecutorTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/cipher/JsonWebKeySetStringCipherExecutorTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/cipher/ProtocolTicketCipherExecutorTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/cipher/RsaKeyPairCipherExecutorTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/cipher/TicketGrantingCookieCipherExecutorTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/cipher/WebflowConversationStateCipherExecutorTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/gen/Base64RandomStringGeneratorTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/gen/ChainingPrincipalNameTransformerTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/gen/DefaultLongNumericGeneratorTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/gen/DefaultRandomStringGeneratorTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/gen/HexRandomStringGeneratorTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/http/HttpMessageTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/http/SimpleHttpClientTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/io/CommunicationsManagerTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/io/GroovySmsSenderTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/io/RestfulSmsSenderTests.java
  core/cas-server-core-validation-api/build.gradle
  core/cas-server-core-validation/build.gradle
  core/cas-server-core-validation/src/test/java/org/apereo/cas/AllTestsSuite.java
  core/cas-server-core-validation/src/test/java/org/apereo/cas/validation/Cas10ProtocolValidationSpecificationTests.java
  core/cas-server-core-validation/src/test/java/org/apereo/cas/validation/Cas20ProtocolValidationSpecificationTests.java
  core/cas-server-core-validation/src/test/java/org/apereo/cas/validation/Cas20WithoutProxyingValidationSpecificationTests.java
  core/cas-server-core-validation/src/test/java/org/apereo/cas/validation/ImmutableAssertionTests.java
  style/import-control-junit5.xml
Labels: Unit/Integration Tests

#3808 remove gradle 5 from cache
  .travis.yml
Labels: Dependencies & Modules, Gradle Build & Release

#3801 junit5 migration: support/cas-server-support-aup*
  support/cas-server-support-aup-core/build.gradle
  support/cas-server-support-aup-couchdb/build.gradle
  support/cas-server-support-aup-couchdb/src/test/java/org/apereo/cas/aup/CouchDbAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-jdbc/build.gradle
  support/cas-server-support-aup-jdbc/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-aup-jdbc/src/test/java/org/apereo/cas/aup/BaseJdbcAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-jdbc/src/test/java/org/apereo/cas/aup/JdbcAcceptableUsagePolicyRepositoryAdvancedTests.java
  support/cas-server-support-aup-jdbc/src/test/java/org/apereo/cas/aup/JdbcAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-ldap/build.gradle
  support/cas-server-support-aup-ldap/src/test/java/org/apereo/cas/aup/LdapAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-mongo/build.gradle
  support/cas-server-support-aup-mongo/src/test/java/org/apereo/cas/aup/MongoDbAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-rest/build.gradle
  support/cas-server-support-aup-rest/src/test/java/org/apereo/cas/aup/RestAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-webflow/build.gradle
  support/cas-server-support-aup-webflow/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-aup-webflow/src/test/java/org/apereo/cas/aup/BaseAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-webflow/src/test/java/org/apereo/cas/aup/DefaultAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-aup-webflow/src/test/java/org/apereo/cas/web/flow/AcceptableUsagePolicySubmitActionTests.java
  support/cas-server-support-aup-webflow/src/test/java/org/apereo/cas/web/flow/AcceptableUsagePolicyVerifyActionTests.java
  support/cas-server-support-aup-webflow/src/test/java/org/apereo/cas/web/flow/BaseAcceptableUsagePolicyActionTests.java
  support/cas-server-support-authy-core/build.gradle
  support/cas-server-support-authy-core/src/test/java/org/apereo/cas/adaptors/authy/AuthyClientInstanceTests.java
  support/cas-server-support-authy/build.gradle
  support/cas-server-support-aws-cognito-authentication/build.gradle
  support/cas-server-support-aws-cognito-authentication/src/test/java/org/apereo/cas/authentication/AmazonCognitoAuthenticationAuthenticationHandlerTests.java
  support/cas-server-support-aws/build.gradle
  support/cas-server-support-aws/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-aws/src/test/java/org/apereo/cas/aws/AmazonEnvironmentAwareClientBuilderTests.java
  support/cas-server-support-aws/src/test/java/org/apereo/cas/aws/ChainingAWSCredentialsProviderTests.java
Labels: Acceptable Usage Policy, Unit/Integration Tests

#3811 SAML2 - Log warning when can't find SignatureSigningParameters
  ci/html-proofer-docs.rb
  ci/html-proofer-docs.sh
  support/cas-server-support-aup-couchdb/src/main/java/org/apereo/cas/aup/CouchDbAcceptableUsagePolicyRepository.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/builders/enc/SamlIdPObjectSigner.java
Labels: SAML Core, SAML2 Protocol

#3809 SAML2 - Fix problem of MetadataHealthIndicator always reporting "DOWN"
  support/cas-server-support-saml-idp-metadata/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/SamlRegisteredServiceMetadataHealthIndicator.java
Labels: SAML Core, SAML2 Protocol

#3807 junit5 migrations: support/cas-server-support-gauth WIP
  support/cas-server-support-gauth-core-mfa/build.gradle
  support/cas-server-support-gauth-core-mfa/src/test/java/org/apereo/cas/gauth/rest/GoogleAuthenticatorRestHttpRequestCredentialFactoryTests.java
  support/cas-server-support-gauth-core/build.gradle
  support/cas-server-support-gauth-core/src/test/java/org/apereo/cas/CredentialRepositoryTestsSuite.java
  support/cas-server-support-gauth-core/src/test/java/org/apereo/cas/gauth/GoogleAuthenticatorAuthenticationHandlerTests.java
  support/cas-server-support-gauth-core/src/test/java/org/apereo/cas/gauth/credential/BaseOneTimeTokenCredentialRepositoryTests.java
  support/cas-server-support-gauth-core/src/test/java/org/apereo/cas/gauth/credential/RestGoogleAuthenticatorTokenCredentialRepositoryTests.java
  support/cas-server-support-gauth-core/src/test/java/org/apereo/cas/gauth/token/BaseOneTimeTokenRepositoryTests.java
  support/cas-server-support-gauth-couchdb/build.gradle
  support/cas-server-support-gauth-couchdb/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-gauth-couchdb/src/test/java/org/apereo/cas/gauth/credential/CouchDbGoogleAuthenticatorTokenCredentialRepositoryTests.java
  support/cas-server-support-gauth-couchdb/src/test/java/org/apereo/cas/gauth/token/GoogleAuthenticatorCouchDbTokenRepositoryTests.java
  support/cas-server-support-gauth-jpa/build.gradle
  support/cas-server-support-gauth-jpa/src/test/java/org/apereo/cas/GoogleAuthenticatorJpaTestsSuite.java
  support/cas-server-support-gauth-jpa/src/test/java/org/apereo/cas/gauth/credential/JpaGoogleAuthenticatorTokenCredentialRepositoryTests.java
  support/cas-server-support-gauth-jpa/src/test/java/org/apereo/cas/gauth/credential/MariaDbJpaGoogleAuthenticatorTokenCredentialRepositoryTests.java
  support/cas-server-support-gauth-jpa/src/test/java/org/apereo/cas/gauth/token/MariaDbGoogleAuthenticatorJpaTokenRepositoryTests.java
  support/cas-server-support-gauth-mongo/build.gradle
  support/cas-server-support-gauth-mongo/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-gauth-mongo/src/test/java/org/apereo/cas/gauth/credential/MongoDbGoogleAuthenticatorTokenCredentialRepositoryTests.java
  support/cas-server-support-gauth-mongo/src/test/java/org/apereo/cas/gauth/token/GoogleAuthenticatorMongoDbTokenRepositoryTests.java
  support/cas-server-support-gauth/build.gradle
  support/cas-server-support-otp-mfa/build.gradle
  support/cas-server-support-otp-mfa/src/test/java/org/apereo/cas/otp/repository/token/BaseOneTimeTokenRepositoryTests.java
Labels: MFA Google Authenticator, Unit/Integration Tests

#3782 Fix incorrect CasProfile caching between different OAuth 2.0 services
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuthConfiguration.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/profile/ClientIdAwareProfileManager.java
Labels: OAuth2 Protocol, Pending: Port Forward

#3813 Fix ECP to use usernameattributeprovider from service as principal id…
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/AbstractSamlProfileHandlerController.java
Labels: Attribute Release, Attribute Resolution, Pending: Port Forward, SAML2 ECP

#3796 junit5 migrations: core/cas-server-core-events
  api/cas-server-core-api-configuration-model/build.gradle
  core/cas-server-core-events-configuration-cloud-bus/build.gradle
  core/cas-server-core-events-configuration/build.gradle
  core/cas-server-core-events/build.gradle
  core/cas-server-core-events/src/test/java/org/apereo/cas/support/events/AbstractCasEventRepositoryTests.java
  core/cas-server-core-events/src/test/java/org/apereo/cas/support/events/DefaultCasEventListenerTests.java
  gradle/tests.gradle
  support/cas-server-support-events-couchdb/build.gradle
  support/cas-server-support-events-couchdb/src/test/java/org/apereo/cas/support/events/couchdb/CouchDbCasEventRepositoryTests.java
  support/cas-server-support-events-influxdb/build.gradle
  support/cas-server-support-events-influxdb/src/test/java/org/apereo/cas/support/events/dao/InfluxDbCasEventRepositoryTests.java
  support/cas-server-support-events-jpa/build.gradle
  support/cas-server-support-events-memory/build.gradle
  support/cas-server-support-events-mongo/build.gradle
  support/cas-server-support-events-mongo/src/test/java/org/apereo/cas/support/events/mongo/MongoDbCasEventRepositoryTests.java
Labels: Authentication Events, Unit/Integration Tests

#3814 junit5 migrations: support/cas-server-support-pac4j
  support/cas-server-support-pac4j-core-clients/build.gradle
  support/cas-server-support-pac4j-core-clients/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-pac4j-core-clients/src/test/java/org/apereo/cas/support/pac4j/authentication/DelegatedClientFactoryTests.java
  support/cas-server-support-pac4j-core-clients/src/test/java/org/apereo/cas/support/pac4j/authentication/handler/support/ClientAuthenticationHandlerTests.java
  support/cas-server-support-pac4j-core/build.gradle
  support/cas-server-support-pac4j-core/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-pac4j-core/src/test/java/org/apereo/cas/audit/DelegatedAuthenticationAuditResourceResolverTests.java
  support/cas-server-support-pac4j-core/src/test/java/org/apereo/cas/authentication/principal/provision/GroovyDelegatedClientUserProfileProvisionerTests.java
  support/cas-server-support-pac4j-core/src/test/java/org/apereo/cas/authentication/principal/provision/RestfulDelegatedClientUserProfileProvisionerTests.java
  support/cas-server-support-pac4j-core/src/test/java/org/apereo/cas/validation/DelegatedAuthenticationServiceTicketValidationAuthorizerTests.java
  support/cas-server-support-pac4j-core/src/test/java/org/apereo/cas/web/pac4j/DelegatedSessionCookieCipherExecutorTests.java
  support/cas-server-support-pac4j-webflow/build.gradle
  support/cas-server-support-pac4j-webflow/src/test/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationActionTests.java
  support/cas-server-support-pac4j-webflow/src/test/java/org/apereo/cas/web/flow/DelegatedClientTestsSuite.java
  support/cas-server-support-pac4j/build.gradle
  support/cas-server-support-pac4j/src/test/java/org/apereo/cas/support/pac4j/config/Pac4jJacksonTests.java
Labels: Delegated Authentication Pac4J, Unit/Integration Tests

#3815 junit5 migrations: support/cas-server-support-pm
  support/cas-server-support-pm-jdbc/build.gradle
  support/cas-server-support-pm-jdbc/src/test/java/org/apereo/cas/pm/jdbc/JdbcPasswordManagementServiceTests.java
  support/cas-server-support-pm-ldap/build.gradle
  support/cas-server-support-pm-ldap/src/test/java/org/apereo/cas/pm/LdapPasswordManagementServiceTests.java
  support/cas-server-support-pm-rest/build.gradle
  support/cas-server-support-pm-rest/src/test/java/org/apereo/cas/pm/rest/RestPasswordManagementServiceTests.java
  support/cas-server-support-pm-webflow/build.gradle
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/BasePasswordManagementActionTests.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/HandlePasswordExpirationWarningMessagesActionTests.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/InitPasswordResetActionTests.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/SendPasswordResetInstructionsActionTests.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/VerifyPasswordResetRequestActionTests.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/VerifySecurityQuestionsActionTests.java
  support/cas-server-support-pm/build.gradle
  support/cas-server-support-pm/src/test/java/org/apereo/cas/pm/impl/JsonResourcePasswordManagementServiceTests.java
Labels: Unit/Integration Tests

#3819 junit5 migrations: support/cas-server-support-x509
  support/cas-server-support-x509-core/build.gradle
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/handler/support/AbstractCRLRevocationCheckerTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/handler/support/BaseCRLRevocationCheckerTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/handler/support/CRLDistributionPointRevocationCheckerTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/handler/support/ResourceCRLRevocationCheckerTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/handler/support/ThresholdExpiredCRLRevocationPolicyTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/handler/support/X509CredentialsAuthenticationHandlerTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509CertificateCredentialTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509CommonNameEDIPIPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SerialNumberAndIssuerDNPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SerialNumberPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectAlternativeNameUPNPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectDNPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectPrincipalResolverTests.java
  support/cas-server-support-x509-webflow/build.gradle
  support/cas-server-support-x509-webflow/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-x509-webflow/src/test/java/org/apereo/cas/adaptors/x509/web/extractcert/X509CertificateExtractorTests.java
  support/cas-server-support-x509-webflow/src/test/java/org/apereo/cas/adaptors/x509/web/flow/X509CertificateCredentialsNonInteractiveActionTests.java
  support/cas-server-support-x509-webflow/src/test/java/org/apereo/cas/adaptors/x509/web/flow/X509CertificateCredentialsRequestHeaderActionTests.java
  support/cas-server-support-x509/build.gradle
  support/cas-server-support-x509/src/test/java/org/apereo/cas/adaptors/x509/authentication/ldap/LdaptiveResourceCRLFetcherTests.java
Labels: Unit/Integration Tests, X.509

#3820 6.0.x - nonnull annotation cleanup
  ci/html-proofer-docs.rb
  ci/html-proofer-docs.sh
  support/cas-server-support-aup-core/src/main/java/org/apereo/cas/aup/AbstractPrincipalAttributeAcceptableUsagePolicyRepository.java
  support/cas-server-support-aup-couchdb/src/main/java/org/apereo/cas/aup/CouchDbAcceptableUsagePolicyRepository.java
  support/cas-server-support-aup-jdbc/src/main/java/org/apereo/cas/aup/JdbcAcceptableUsagePolicyRepository.java
  support/cas-server-support-gauth-core/src/main/java/org/apereo/cas/gauth/GoogleAuthenticatorAuthenticationHandler.java
  support/cas-server-support-pac4j-authentication/src/main/java/org/apereo/cas/integration/pac4j/authentication/handler/support/AbstractWrapperAuthenticationHandler.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/builders/enc/SamlIdPObjectSigner.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/builders/enc/validate/SamlObjectSignatureValidator.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/builders/response/soap/SamlProfileSamlSoap11ResponseBuilder.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/builders/subject/SamlProfileSamlSubjectBuilder.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/sso/SSOSamlProfileCallbackHandlerController.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/sso/request/DefaultSSOSamlHttpRequestExtractor.java
  support/cas-server-support-simple-mfa/src/main/java/org/apereo/cas/mfa/simple/CasSimpleMultifactorAuthenticationHandler.java
  support/cas-server-support-yubikey-core/src/main/java/org/apereo/cas/adaptors/yubikey/web/flow/YubiKeyAccountCheckRegistrationAction.java
Labels: Refactoring & Code CleanUp, SAML2 Protocol

#3821 junit5 migrations: support/cas-server-support-surrogate-*
  support/cas-server-support-surrogate-api/build.gradle
  support/cas-server-support-surrogate-api/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-surrogate-api/src/test/java/org/apereo/cas/services/GroovySurrogateRegisteredServiceAccessStrategyTests.java
  support/cas-server-support-surrogate-api/src/test/java/org/apereo/cas/services/SurrogateRegisteredServiceAccessStrategyTests.java
  support/cas-server-support-surrogate-authentication-couchdb/build.gradle
  support/cas-server-support-surrogate-authentication-couchdb/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-surrogate-authentication-couchdb/src/test/java/org/apereo/cas/authentication/surrogate/SurrogateCouchDbAuthenticationTests.java
  support/cas-server-support-surrogate-authentication-couchdb/src/test/java/org/apereo/cas/authentication/surrogate/SurrogateCouchDbProfileAuthenticationServiceTests.java
  support/cas-server-support-surrogate-authentication-jdbc/build.gradle
  support/cas-server-support-surrogate-authentication-jdbc/src/test/java/org/apereo/cas/authentication/surrogate/SurrogateJdbcAuthenticationServiceTests.java
  support/cas-server-support-surrogate-authentication-ldap/build.gradle
  support/cas-server-support-surrogate-authentication-ldap/src/test/java/org/apereo/cas/authentication/surrogate/SurrogateLdapAuthenticationServiceTests.java
  support/cas-server-support-surrogate-authentication-rest/build.gradle
  support/cas-server-support-surrogate-authentication-rest/src/test/java/org/apereo/cas/authentication/surrogate/SurrogateRestAuthenticationServiceTests.java
  support/cas-server-support-surrogate-authentication/build.gradle
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/authentication/SurrogateAuthenticationMetaDataPopulatorTests.java
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/authentication/SurrogateAuthenticationPostProcessorTests.java
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/authentication/SurrogatePrincipalElectionStrategyTests.java
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/authentication/SurrogatePrincipalResolverTests.java
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/authentication/audit/SurrogateAuditPrincipalIdProviderTests.java
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/authentication/surrogate/BaseSurrogateAuthenticationServiceTests.java
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/authentication/surrogate/JsonResourceSurrogateAuthenticationServiceTests.java
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/ticket/support/SurrogateSessionExpirationPolicyJsonSerializerTests.java
  support/cas-server-support-surrogate-webflow/build.gradle
  support/cas-server-support-surrogate-webflow/src/test/java/org/apereo/cas/web/flow/action/BaseSurrogateInitialAuthenticationActionTests.java
  support/cas-server-support-surrogate-webflow/src/test/java/org/apereo/cas/web/flow/action/LoadSurrogatesListActionTests.java
  support/cas-server-support-surrogate-webflow/src/test/java/org/apereo/cas/web/flow/action/SurrogateAuthorizationActionTests.java
  support/cas-server-support-surrogate-webflow/src/test/java/org/apereo/cas/web/flow/action/SurrogateInitialAuthenticationActionTests.java
  support/cas-server-support-surrogate-webflow/src/test/java/org/apereo/cas/web/flow/action/SurrogateSelectionActionTests.java
  support/cas-server-support-surrogate-webflow/src/test/java/org/apereo/cas/web/flow/action/SurrogateTestsSuite.java
Labels: Surrogate Authentication, Unit/Integration Tests

#3825 fix missing jar from (class not found on startup but shell still worked)
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/builders/enc/SamlIdPObjectSigner.java
  support/cas-server-support-shell/build.gradle
Labels: Command-line Shell

#3824 junit5 migrations: support/cas-server-support-{u2f,yubikey}
  support/cas-server-support-u2f-couchdb/build.gradle
  support/cas-server-support-u2f-couchdb/src/test/java/org/apereo/cas/adaptors/u2f/storage/U2FCouchDbDeviceRepositoryTests.java
  support/cas-server-support-u2f-jpa/build.gradle
  support/cas-server-support-u2f-jpa/src/test/java/org/apereo/cas/adaptors/u2f/storage/U2FJpaDeviceRepositoryTests.java
  support/cas-server-support-u2f-mongo/build.gradle
  support/cas-server-support-u2f-mongo/src/test/java/org/apereo/cas/adaptors/u2f/storage/U2FMongoDbDeviceRepositoryTests.java
  support/cas-server-support-u2f/build.gradle
  support/cas-server-support-u2f/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-u2f/src/test/java/org/apereo/cas/adaptors/u2f/U2FAuthenticationHandlerTests.java
  support/cas-server-support-u2f/src/test/java/org/apereo/cas/adaptors/u2f/storage/AbstractU2FDeviceRepositoryTests.java
  support/cas-server-support-u2f/src/test/java/org/apereo/cas/adaptors/u2f/storage/U2FGroovyResourceDeviceRepositoryTests.java
  support/cas-server-support-u2f/src/test/java/org/apereo/cas/adaptors/u2f/storage/U2FInMemoryDeviceRepositoryTests.java
  support/cas-server-support-u2f/src/test/java/org/apereo/cas/adaptors/u2f/storage/U2FJsonResourceDeviceRepositoryTests.java
  support/cas-server-support-u2f/src/test/java/org/apereo/cas/adaptors/u2f/storage/U2FRestResourceDeviceRepositoryTests.java
  support/cas-server-support-yubikey-core-mfa/build.gradle
  support/cas-server-support-yubikey-core-mfa/src/test/java/org/apereo/cas/adaptors/yubikey/YubiKeyRestHttpRequestCredentialFactoryTests.java
  support/cas-server-support-yubikey-core/build.gradle
  support/cas-server-support-yubikey-core/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-yubikey-core/src/test/java/org/apereo/cas/adaptors/yubikey/AcceptAllYubiKeyAccountValidatorTests.java
  support/cas-server-support-yubikey-core/src/test/java/org/apereo/cas/adaptors/yubikey/BaseYubiKeyAccountRegistryTests.java
  support/cas-server-support-yubikey-core/src/test/java/org/apereo/cas/adaptors/yubikey/DefaultYubiKeyAccountValidatorTests.java
  support/cas-server-support-yubikey-core/src/test/java/org/apereo/cas/adaptors/yubikey/DenyAllYubiKeyAccountValidatorTests.java
  support/cas-server-support-yubikey-core/src/test/java/org/apereo/cas/adaptors/yubikey/web/flow/YubiKeyAccountCheckRegistrationActionTests.java
  support/cas-server-support-yubikey-core/src/test/java/org/apereo/cas/adaptors/yubikey/web/flow/YubiKeyAccountSaveRegistrationActionTests.java
  support/cas-server-support-yubikey-couchdb/build.gradle
  support/cas-server-support-yubikey-couchdb/src/test/java/org/apereo/cas/adaptors/yubikey/dao/CouchDbYubiKeyAccountRegistryTests.java
  support/cas-server-support-yubikey-jpa/build.gradle
  support/cas-server-support-yubikey-jpa/src/test/java/org/apereo/cas/adaptors/yubikey/dao/JpaYubiKeyAccountRegistryTests.java
  support/cas-server-support-yubikey-mongo/build.gradle
  support/cas-server-support-yubikey-mongo/src/test/java/org/apereo/cas/adaptors/yubikey/dao/MongoDbYubiKeyAccountRegistryTests.java
  support/cas-server-support-yubikey/build.gradle
  support/cas-server-support-yubikey/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-yubikey/src/test/java/org/apereo/cas/adaptors/yubikey/JsonYubiKeyAccountRegistryTests.java
  support/cas-server-support-yubikey/src/test/java/org/apereo/cas/adaptors/yubikey/YubiKeyAuthenticationHandlerTests.java
  support/cas-server-support-yubikey/src/test/java/org/apereo/cas/adaptors/yubikey/YubiKeyConfigurationTests.java
Labels: MFA FIDO U2F, MFA YubiKey, Unit/Integration Tests

#3822 junit5 migrations: support/cas-server-support-{themes,throttle,trusted,token}
  support/cas-server-support-themes/build.gradle
  support/cas-server-support-themes/src/test/java/org/apereo/cas/services/web/ServiceThemeResolverTests.java
  support/cas-server-support-throttle-couchdb/build.gradle
  support/cas-server-support-throttle-couchdb/src/test/java/org/apereo/cas/web/support/CouchDbThrottledSubmissionHandlerInterceptorAdapterTests.java
  support/cas-server-support-throttle-hazelcast/build.gradle
  support/cas-server-support-throttle-hazelcast/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-throttle-hazelcast/src/test/resources/inmemory.properties
  support/cas-server-support-throttle-hazelcast/src/test/resources/inmemoryuser.properties
  support/cas-server-support-throttle-hazelcast/src/test/resources/services/.donotdelete
  support/cas-server-support-throttle-jdbc/build.gradle
  support/cas-server-support-throttle-jdbc/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-throttle-mongo/build.gradle
  support/cas-server-support-throttle-mongo/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-throttle-mongo/src/test/java/org/apereo/cas/web/support/MongoDbThrottledSubmissionHandlerInterceptorAdapterTests.java
  support/cas-server-support-throttle/build.gradle
  support/cas-server-support-throttle/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-throttle/src/test/java/org/apereo/cas/web/support/BaseThrottledSubmissionHandlerInterceptorAdapterTests.java
  support/cas-server-support-throttle/src/test/resources/services/.donotdelete
  support/cas-server-support-token-authentication/build.gradle
  support/cas-server-support-token-authentication/src/test/java/org/apereo/cas/token/authentication/TokenAuthenticationHandlerTests.java
  support/cas-server-support-token-core/build.gradle
  support/cas-server-support-token-core/src/test/java/org/apereo/cas/token/AllTokenTicketTestsSuite.java
  support/cas-server-support-token-core/src/test/java/org/apereo/cas/token/BaseJWTTokenTicketBuilderTests.java
  support/cas-server-support-token-core/src/test/java/org/apereo/cas/token/JWTTokenTicketBuilderTests.java
  support/cas-server-support-token-core/src/test/java/org/apereo/cas/token/JWTTokenTicketBuilderWithoutCryptoTests.java
  support/cas-server-support-token-core/src/test/java/org/apereo/cas/token/JWTTokenTicketBuilderWithoutEncryptionTests.java
  support/cas-server-support-token-core/src/test/java/org/apereo/cas/token/cipher/TokenTicketCipherExecutorTests.java
  support/cas-server-support-token-tickets/build.gradle
  support/cas-server-support-token-tickets/src/test/java/org/apereo/cas/token/authentication/principal/TokenWebApplicationServiceResponseBuilderTests.java
  support/cas-server-support-token-webflow/build.gradle
  support/cas-server-support-token-webflow/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-token-webflow/src/test/java/org/apereo/cas/web/DefaultTokenRequestExtractorTests.java
  support/cas-server-support-token-webflow/src/test/java/org/apereo/cas/web/flow/TokenAuthenticationActionTests.java
  support/cas-server-support-trusted-mfa-couchdb/build.gradle
  support/cas-server-support-trusted-mfa-couchdb/src/test/java/org/apereo/cas/trusted/authentication/storage/CouchDbMultifactorAuthenticationTrustStorageTests.java
  support/cas-server-support-trusted-mfa-jdbc/build.gradle
  support/cas-server-support-trusted-mfa-jdbc/src/test/java/org/apereo/cas/trusted/authentication/storage/JpaMultifactorAuthenticationTrustStorageTests.java
  support/cas-server-support-trusted-mfa-mongo/build.gradle
  support/cas-server-support-trusted-mfa-mongo/src/test/java/org/apereo/cas/trusted/authentication/storage/MongoDbMultifactorAuthenticationTrustStorageTests.java
  support/cas-server-support-trusted-mfa-rest/build.gradle
  support/cas-server-support-trusted-mfa-rest/src/test/java/org/apereo/cas/trusted/authentication/storage/RestMultifactorAuthenticationTrustStorageTests.java
  support/cas-server-support-trusted-mfa/build.gradle
  support/cas-server-support-trusted-mfa/src/test/java/org/apereo/cas/trusted/AbstractMultifactorAuthenticationTrustStorageTests.java
  support/cas-server-support-trusted-mfa/src/test/java/org/apereo/cas/trusted/TrustedDevicesMultifactorTestsSuite.java
  support/cas-server-support-trusted-mfa/src/test/java/org/apereo/cas/trusted/authentication/storage/JsonMultifactorAuthenticationTrustStorageTests.java
  support/cas-server-support-trusted-mfa/src/test/java/org/apereo/cas/trusted/authentication/storage/MultifactorAuthenticationTrustStorageCleanerTests.java
  support/cas-server-support-trusted-mfa/src/test/java/org/apereo/cas/trusted/authentication/storage/MultifactorAuthenticationTrustedSuite.java
  support/cas-server-support-trusted-mfa/src/test/java/org/apereo/cas/trusted/authentication/storage/fingerprint/ClientIpDeviceFingerprintComponentExtractorTests.java
  support/cas-server-support-trusted-mfa/src/test/java/org/apereo/cas/trusted/authentication/storage/fingerprint/DefaultDeviceFingerprintStrategyTests.java
  support/cas-server-support-trusted-mfa/src/test/java/org/apereo/cas/trusted/authentication/storage/fingerprint/UserAgentDeviceFingerprintComponentExtractorTests.java
  support/cas-server-support-trusted-mfa/src/test/java/org/apereo/cas/trusted/web/flow/MultifactorAuthenticationVerifyTrustActionTests.java
  support/cas-server-support-trusted/build.gradle
  support/cas-server-support-trusted/src/test/java/org/apereo/cas/AllTrustedTestsSuite.java
  support/cas-server-support-trusted/src/test/java/org/apereo/cas/adaptors/trusted/authentication/handler/support/PrincipalBearingCredentialsAuthenticationHandlerTests.java
  support/cas-server-support-trusted/src/test/java/org/apereo/cas/adaptors/trusted/authentication/principal/PrincipalBearingCredentialsTests.java
  support/cas-server-support-trusted/src/test/java/org/apereo/cas/adaptors/trusted/authentication/principal/PrincipalBearingCredentialsToPrincipalResolverTests.java
  support/cas-server-support-trusted/src/test/java/org/apereo/cas/adaptors/trusted/web/flow/PrincipalFromRemoteRequestHeaderNonInteractiveCredentialsActionTests.java
  support/cas-server-support-trusted/src/test/java/org/apereo/cas/adaptors/trusted/web/flow/PrincipalFromRequestHeaderNonInteractiveCredentialsActionTests.java
  support/cas-server-support-trusted/src/test/java/org/apereo/cas/adaptors/trusted/web/flow/PrincipalFromRequestRemoteUserNonInteractiveCredentialsActionTests.java
  support/cas-server-support-trusted/src/test/java/org/apereo/cas/adaptors/trusted/web/flow/PrincipalFromRequestUserPrincipalNonInteractiveCredentialsActionTests.java
Labels: Unit/Integration Tests

#3775 core/cas-server-core junit migration
  core/cas-server-core-webflow-mfa-api/build.gradle
  core/cas-server-core/build.gradle
  core/cas-server-core/src/test/java/org/apereo/cas/AbstractCentralAuthenticationServiceTests.java
  core/cas-server-core/src/test/java/org/apereo/cas/AllCoreTestsSuite.java
  core/cas-server-core/src/test/java/org/apereo/cas/BaseCasCoreTests.java
  core/cas-server-core/src/test/java/org/apereo/cas/DefaultCasAttributeEncoderTests.java
  core/cas-server-core/src/test/java/org/apereo/cas/DefaultCentralAuthenticationServiceMockitoTests.java
  core/cas-server-core/src/test/java/org/apereo/cas/DefaultCentralAuthenticationServiceTests.java
  core/cas-server-core/src/test/java/org/apereo/cas/DefaultPrincipalAttributesRepositoryTests.java
  core/cas-server-core/src/test/resources/core.properties
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/InitialFlowSetupActionSsoTests.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/InitialFlowSetupActionTests.java
  support/cas-server-support-actions/src/test/resources/services/.donotdelete
  support/cas-server-support-validation/build.gradle
  support/cas-server-support-validation/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/AbstractServiceValidateControllerTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/ProxyControllerTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/Cas10ResponseViewTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/Cas20ResponseViewTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/Cas30ResponseViewTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/attributes/AttributeValuesPerLineProtocolAttributesRendererTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/attributes/DefaultCas30ProtocolAttributesRendererTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/attributes/InlinedCas30ProtocolAttributesRendererTests.java
Labels: Unit/Integration Tests

#3826 Validate filename during delete, similar to how validated for new files.
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/resource/AbstractResourceBasedServiceRegistry.java
Labels: Services & Registries

#3832 Test for ignoring tmp files during delete from resource based registry
  core/cas-server-core-services-registry/src/test/java/org/apereo/cas/services/resource/DeleteResourceBasedRegisteredServiceWatcherTests.java
Labels: Unit/Integration Tests

#3828 fix redis sentinal property
  docs/cas-server-documentation/installation/Configuration-Properties-Common.md
Labels: Configuration, Configuration Metadata, Pending: Port Forward, Redis

#3831 Exclude el-api 2.2 dependency that conflicts with 3.0 from tomcat 9
  gradle/dependencies.gradle
Labels: Apache Tomcat, Dependencies & Modules, Gradle Build & Release

#3833 Fix method isActivated in PrincipalAttributeMultifactorAuthenticationTrigger
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/trigger/PrincipalAttributeMultifactorAuthenticationTrigger.java
Labels: Attribute Release, Attribute Resolution, Authentication

#3823 Remove creation of lambda interrupt inquirer
  support/cas-server-support-interrupt-core/src/main/java/org/apereo/cas/config/CasInterruptConfiguration.java
Labels: Interrupt Notifications, Pending: Port Forward

#3837 Upgrade to pac4j v3.6.0
  gradle.properties
Labels: Delegated Authentication Pac4J, Dependencies & Modules

#3830 Fix couchbase
  style/dependency-check-suppressions.xml
  support/cas-server-support-couchbase-core/src/main/java/org/apereo/cas/couchbase/core/CouchbaseException.java
  support/cas-server-support-couchbase-service-registry/src/main/java/org/apereo/cas/services/CouchbaseServiceRegistry.java
Labels: Couchbase, Pending: Port Forward

#3835 Upgrade to pac4j v3.6.0
  gradle.properties
  support/cas-server-support-pac4j-core-clients/src/test/java/org/apereo/cas/support/pac4j/authentication/DelegatedClientFactoryTests.java
Labels: Delegated Authentication Pac4J, Dependencies & Modules, Pending: Port Forward

#3836 Upgrade to pac4j v3.6.0
  gradle.properties
  support/cas-server-support-pac4j-core-clients/src/test/java/org/apereo/cas/support/pac4j/authentication/DelegatedClientFactoryTests.java
Labels: Delegated Authentication Pac4J, Dependencies & Modules, Pending: Port Forward

#3838 Update to pac4j v3.6.1
  gradle.properties
Labels: Delegated Authentication Pac4J

#3839 Fix Nexmo support 4.0.x
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/sms/NexmoProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-passwordless/src/main/java/org/apereo/cas/web/flow/DisplayBeforePasswordlessAuthenticationAction.java
  support/cas-server-support-sms-nexmo/src/main/java/org/apereo/cas/support/sms/NexmoSmsSender.java
Labels: Email & SMS Notifications, Pending: Document Property, Pending: Port Forward

#3841 Update Monitoring-Statistics.md
  docs/cas-server-documentation/monitoring/Monitoring-Statistics.md
Labels: Analytics & Statistics, Monitoring

#3843 Allow boolean attributes to be matched when using principal attribute…
  core/cas-server-core-services-authentication/src/main/java/org/apereo/cas/authentication/DefaultMultifactorTriggerSelectionStrategy.java
Labels: Attribute Release, Attribute Resolution, Pending: Port Forward

#3844 Port forward of: mfa_allow_boolean_match_for_principal_attribute_valu…
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/MultifactorAuthenticationUtils.java
Labels: Attribute Release, Attribute Resolution, MFA

#3842 Flatten OAuth access token scopes
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/response/OAuth20DefaultAccessTokenResponseGenerator.java
Labels: OAuth2 Protocol

#3846 Delete passwordless token after authentication
  support/cas-server-support-passwordless/src/main/java/org/apereo/cas/web/flow/AcceptPasswordlessAuthenticationAction.java
Labels: Authentication, Pending: Port Forward
