Repository apereo/cas, pull requests merged in 2019-11, with the labels that each got.

#4392 Docs: Change example expiration date so it don't fail by default
  docs/cas-server-documentation/installation/Whitelist-Authentication.md
Labels: Documentation

#4380 Groovy MFA Trigger: The first args parameter will be service instead of registeredService
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/trigger/GroovyScriptMultifactorAuthenticationTrigger.java
Labels: Apache Groovy, MFA, Services & Registries

#4395 renovatebot(deps): update dependency com.netflix.nebula:gradle-lint-plugin to v16
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4397 actuator tests and default property fixes
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/monitor/LdapMonitorProperties.java
  ci/tests/webapp/validate-embedded-webapp.sh
  core/cas-server-core-monitor/src/main/java/org/apereo/cas/monitor/SystemMonitorHealthIndicator.java
  core/cas-server-core-services-authentication/src/test/java/org/apereo/cas/authentication/WebApplicationServiceResponseBuilderTests.java
  webapp/cas-server-webapp-resources/src/main/resources/application.properties
  webapp/cas-server-webapp-resources/src/main/resources/log4j2.xml
Labels: Configuration, Configuration Metadata, Remember: Document Property, Unit/Integration Tests

#4398 backport health actuator fixes
  ci/tests/webapp/validate-embedded-webapp.sh
  webapp/cas-server-webapp-resources/src/main/resources/application.properties
Labels: Remember: Port Forward

#4405 backport Groovy MFA Trigger (#4380)
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/trigger/GroovyScriptMultifactorAuthenticationTrigger.java
Labels: Apache Groovy, MFA, Remember: Port Forward

#4406 Added ETag check to MDQ Resolver
  support/cas-server-support-saml-core-api/src/main/java/org/apereo/cas/support/saml/SamlUtils.java
  support/cas-server-support-saml-idp-metadata/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/cache/SamlRegisteredServiceCacheKey.java
  support/cas-server-support-saml-idp-metadata/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/cache/resolver/MetadataQueryProtocolMetadataResolver.java
  support/cas-server-support-saml-idp-metadata/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/cache/resolver/UrlResourceMetadataResolver.java
Labels: SAML2 Protocol

#4402 renovatebot(deps): update dependency net.bull.javamelody:javamelody-spring-boot-starter to v1.80.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4399 renovatebot(deps): update dependency com.netflix.nebula:gradle-lint-plugin to v16.0.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4400 renovatebot(deps): update dependency com.nimbusds:oauth2-oidc-sdk to v6.18
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol, OpenID Connect Protocol

#4409 Updating Json Authentication Documentation Example to make it work
  docs/cas-server-documentation/installation/Whitelist-Authentication.md
Labels: Authentication, Documentation, User Interface & Themes

#4412 backport errorprone fix
  support/cas-server-support-saml-idp-metadata/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/cache/resolver/MetadataQueryProtocolMetadataResolver.java
Labels: Remember: Port Forward

#4411 [6.1.x] Updating Json Authentication Documentation Example to make it…
  docs/cas-server-documentation/installation/Whitelist-Authentication.md
Labels: Authentication, Documentation, Remember: Port Forward, User Interface & Themes

#4413 Fix typo of Rest Attribute `username.` back to `username`.
  docs/cas-server-documentation/configuration/Configuration-Properties.md
Labels: Attribute Release, Attribute Resolution, REST Protocol & Integration

#4425 updated SAML JMeter test script to reflect needed changes to work
  etc/loadtests/jmeter/CAS_SAML2.jmx
Labels: Performance & Load Tests, SAML Core, Unit/Integration Tests

#4414 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.15.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4421 renovatebot(deps): update micrometer to v1.3.1
  gradle.properties
Labels: Analytics & Statistics, Bot, Dependencies & Modules, Gradle Build & Release, Statistics & Metrics

#4416 renovatebot(deps): update dependency com.nimbusds:nimbus-jose-jwt to v8.2.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JWS & JWT AuthN & Tickets

#4423 renovatebot(deps): update spring integration to v5.2.1.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4424 renovatebot(deps): update springsecurity to v5.2.1.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4415 renovatebot(deps): update dependency com.netflix.nebula:gradle-lint-plugin to v16.0.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4422 renovatebot(deps): update spring data to v2.2.1.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4417 renovatebot(deps): update dependency com.yubico:u2flib-server-core to v0.19.8
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, MFA FIDO U2F

#4419 renovatebot(deps): update dependency org.springframework.kafka:spring-kafka to v2.3.3.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4420 renovatebot(deps): update dependency org.springframework.ws:spring-ws-security to v3.0.8.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4432 renovatebot(deps): update dependency gradle to v6
  gradle/wrapper/gradle-wrapper.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4407 Allow setting private signing key in SAML Service
  etc/loadtests/jmeter/CAS_SAML2.jmx
  gradle.properties
Labels: SAML Core

#4429 renovatebot(deps): update dependency com.github.oshi:oshi-core to v4.2.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4430 renovatebot(deps): update dependency net.bytebuddy:byte-buddy to v1.10.3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4431 renovatebot(deps): update spring cloud to v2.2.0.rc2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Spring Cloud

#4434 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.15.5
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4435 renovatebot(deps): update dependency org.owasp:dependency-check-gradle to v5.2.3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4428 x509 - Extract SAN UPN as an attribute or fallback principal
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/AbstractX509PrincipalResolver.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectAlternativeNameUPNPrincipalResolver.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509UPNExtractorUtils.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectAlternativeNameRFC822EmailPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/resources/log4j2.xml
Labels: Attribute Release, Attribute Resolution, X.509

#4441 renovatebot(deps): update dependency com.textmagic.sdk:textmagic-java-sdk to v2.0.968
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4442 renovatebot(deps): update dependency org.owasp:dependency-check-gradle to v5.2.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4440 Fix not thread safe access to authentications iterator
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/DefaultAuthenticationResultBuilder.java
Labels: Authentication

#4443 Remave Async from TGT creation event
  core/cas-server-core-events-api/src/main/java/org/apereo/cas/support/events/listener/DefaultCasEventListener.java
Labels: Remember: Port Forward

#4445 Fix UnmodifiableComponentException during SAML2 SLO
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/slo/SLOSamlPostProfileHandlerController.java
Labels: Logout & SLO, SAML Core, SAML2 Protocol

#4444 Use PrincipalAttributeRepository defined in OidcRegisteredService
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/services/OidcServiceRegistryListener.java
Labels: Attribute Release, Attribute Resolution, OpenID Connect Protocol

#4427 Delegated authentication: fix the DistributedJ2ESessionStore
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/CasConfigurationProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/replication/SessionReplicationProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-acceptto-mfa/src/main/java/org/apereo/cas/config/AccepttoMultifactorAuthenticationConfiguration.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
  support/cas-server-support-pac4j-api/src/main/java/org/apereo/cas/integration/pac4j/DistributedJ2ESessionStore.java
  support/cas-server-support-pac4j-api/src/test/java/org/apereo/cas/integration/pac4j/DistributedJ2ESessionStoreTests.java
  support/cas-server-support-pac4j/src/main/java/org/apereo/cas/support/pac4j/config/support/authentication/Pac4jAuthenticationEventExecutionPlanConfiguration.java
Labels: Authentication, Delegated Authentication Pac4J

#4426 Delegated authentication: fix the DistributedJ2ESessionStore
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/CasConfigurationProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/replication/SessionReplicationProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-acceptto-mfa/src/main/java/org/apereo/cas/config/AccepttoMultifactorAuthenticationConfiguration.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
  support/cas-server-support-pac4j-api/src/main/java/org/apereo/cas/integration/pac4j/DistributedJ2ESessionStore.java
  support/cas-server-support-pac4j-api/src/test/java/org/apereo/cas/integration/pac4j/DistributedJ2ESessionStoreTests.java
  support/cas-server-support-pac4j/src/main/java/org/apereo/cas/support/pac4j/config/support/authentication/Pac4jAuthenticationEventExecutionPlanConfiguration.java
Labels: Authentication, Delegated Authentication Pac4J, Remember: Port Forward

#4450 renovatebot(deps): update dependency org.sonarsource.scanner.gradle:sonarqube-gradle-plugin to v2.8.0.1969
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4448 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.45.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4449 renovatebot(deps): update dependency org.apache.shiro:shiro-core to v1.4.2
  gradle.properties
Labels: Apache Shiro, Bot, Dependencies & Modules, Gradle Build & Release

#4446 renovatebot(deps): update dependency com.github.oshi:oshi-core to v4.2.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4447 renovatebot(deps): update dependency com.netflix.eureka:eureka-client to v1.9.14
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Spring Cloud Eureka Discovery

#4436 Fix cache actuator for ehcache registry by initializing spring cache manager
  support/cas-server-support-ehcache-ticket-registry/src/main/java/org/apereo/cas/config/EhcacheTicketRegistryConfiguration.java
  support/cas-server-support-ehcache-ticket-registry/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-ehcache-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/CachesEndpointTests.java
  support/cas-server-support-ehcache-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/EhCacheTicketRegistryTests.java
Labels: EhCache, Monitoring

#4452 backport x509 additional x509subjectUPN attribute to 6.1.x branch
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/AbstractX509PrincipalResolver.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectAlternativeNameUPNPrincipalResolver.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509UPNExtractorUtils.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectAlternativeNameRFC822EmailPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/resources/log4j2.xml
Labels: Attribute Release, Attribute Resolution, Remember: Port Forward, X.509

#4453 Backport CachesEndpoint actuator fix
  support/cas-server-support-ehcache-ticket-registry/src/main/java/org/apereo/cas/config/EhcacheTicketRegistryConfiguration.java
  support/cas-server-support-ehcache-ticket-registry/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-ehcache-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/CachesEndpointTests.java
  support/cas-server-support-ehcache-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/EhCacheTicketRegistryTests.java
Labels: Monitoring, Remember: Port Forward

#4451 Fix possible NPE
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/DefaultRegisteredServiceAccessStrategy.java
Labels: Refactoring & Code CleanUp, Remember: Port Forward

#4454 renovatebot(deps): update swagger to v1.6.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4455 Open up the HttpUtils component
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/HttpUtils.java
Labels: Remember: Port Forward

#4461 renovatebot(deps): update dependency com.nimbusds:oauth2-oidc-sdk to v6.18.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol, OpenID Connect Protocol

#4460 renovatebot(deps): update dependency com.github.vladimir-bukhtoyarov:bucket4j-core to v4.5.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4463 renovatebot(deps): update spring data to v2.2.2.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4462 renovatebot(deps): update dependency gradle to v6.0.1
  gradle/wrapper/gradle-wrapper.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4464 renovatebot(deps): update dependency com.microsoft.azure:azure-documentdb to v2.4.5
  gradle.properties
Labels: Bot, CosmosDb, Dependencies & Modules, Gradle Build & Release

#4468 Updated Python Locust load test scripts
  etc/loadtests/locust/README.rst
  etc/loadtests/locust/cas5/bothLocust.py
  etc/loadtests/locust/cas5/casLocust.py
  etc/loadtests/locust/cas5/credentials.csv
  etc/loadtests/locust/cas5/old_locustfile.py
  etc/loadtests/locust/cas5/samlLocust.py
  etc/loadtests/locust/requirements.txt
  etc/loadtests/locustfiles.tgz
Labels: Unit/Integration Tests

#4483 renovatebot(deps): update dependency click to v7
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4485 renovatebot(deps): update dependency itsdangerous to v1
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4486 renovatebot(deps): update dependency setuptools to v42
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4477 renovatebot(deps): update dependency pip to v19.3.1
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4480 renovatebot(deps): update dependency urllib3 to v1.25.7
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4474 renovatebot(deps): update dependency markupsafe to v1.1.1
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4484 renovatebot(deps): update dependency flask to v1
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4478 renovatebot(deps): update dependency pyzmq to v18.1.1
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4481 renovatebot(deps): update dependency werkzeug to v0.16.0
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4472 renovatebot(deps): update dependency flask to v0.12.4
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4473 renovatebot(deps): update dependency jinja2 to v2.10.1 [security]
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4476 renovatebot(deps): update dependency org.apache.activemq:activemq-pool to v5.15.11
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4489 renovatebot(deps): update dependency flask to v1.1.1
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4490 renovatebot(deps): update dependency jinja2 to v2.10.3
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4491 renovatebot(deps): update dependency org.apache.cxf.fediz:fediz-core to v1.4.6
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4471 renovatebot(deps): update dependency com.unboundid:unboundid-ldapsdk to v4.0.13
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, LDAP & Active Directory

#4482 renovatebot(deps): update spring cloud to v2.2.0.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Spring Cloud
