Repository apereo/cas, pull requests merged in 2019-04, with the labels that each got.

#3874 Pac4j: Fix SAML IdP initiated logout
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Delegated Authentication Pac4J, Logout & SLO, SAML Core

#3871 Pac4j: Fix SAML IdP initiated logout
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Delegated Authentication Pac4J, Logout & SLO, Remember: Port Forward, SAML Core

#3875 UI Thymeleaf: Use linebreak instead of empty paragraph
  webapp/resources/templates/fragments/loginsidebar.html
Labels: User Interface & Themes

#3872 Add x509 principal resolver that uses rfc822 field in subject alt name field
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/x509/Rfc822EmailPrincipalResolverProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/x509/X509Properties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/AbstractX509PrincipalResolver.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectAlternativeNameRFC822EmailPrincipalResolver.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectAlternativeNameUPNPrincipalResolver.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectAlternativeNameRFC822EmailPrincipalResolverTests.java
  support/cas-server-support-x509/src/main/java/org/apereo/cas/adaptors/x509/config/X509AuthenticationConfiguration.java
Labels: X.509

#3878 Redis-related test failures
  .travis.yml
  ci/tests/redis/run-tests-redis.sh
  support/cas-server-support-redis-service-registry/build.gradle
  support/cas-server-support-redis-service-registry/src/test/java/org/apereo/cas/adaptors/redis/services/BaseRedisSentinelServiceRegistryTests.java
  support/cas-server-support-redis-service-registry/src/test/resources/log4j2.xml
Labels: Redis, Unit/Integration Tests

#3880 Make properties available for JPA
  support/cas-server-support-jpa-ticket-registry/src/main/java/org/apereo/cas/config/JpaTicketRegistryConfiguration.java
Labels: Configuration, Configuration Metadata, JDBC & Hibernate & JPA

#3879 Make properties available for JPA
  support/cas-server-support-jpa-ticket-registry/src/main/java/org/apereo/cas/config/JpaTicketRegistryConfiguration.java
Labels: Configuration, Configuration Metadata, JDBC & Hibernate & JPA, Remember: Port Forward

#3883 Backport fix for discovery profile endpoint
  support/cas-server-support-discovery-profile/src/main/java/org/apereo/cas/discovery/CasServerDiscoveryProfileEndpoint.java
Labels: Remember: Port Forward

#3882 Change SSO Sessions Report to use @DeleteOperation
  support/cas-server-support-reports-core/src/main/java/org/apereo/cas/web/report/SingleSignOnSessionsEndpoint.java
Labels: Monitoring, SSO & Cookies, Session Management

#3885 Fix missing hyphen before suffix in ticket id generation code
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/util/DefaultUniqueTicketIdGenerator.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/util/DefaultUniqueTicketIdGeneratorTests.java
Labels: Tickets & Registries

#3889 Limit the Redis TTL to Integer.MAX_VALUE
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/RedisTicketRegistry.java
Labels: Redis, Tickets & Registries

#3888 Limit the Redis TTL to Integer.MAX_VALUE
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/RedisTicketRegistry.java
Labels: Redis, Remember: Port Forward, Tickets & Registries

#3890 Turn the OAUTH scope parameter into a string
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/response/OAuth20DefaultAccessTokenResponseGenerator.java
Labels: OAuth2 Protocol, Remember: Port Forward

#3893 Provide getters to the LdapAuthenticationHandler
  support/cas-server-support-ldap/src/main/java/org/apereo/cas/authentication/LdapAuthenticationHandler.java
Labels: Authentication, LDAP & Active Directory

#3892 Provide getters to the LdapAuthenticationHandler
  support/cas-server-support-ldap/src/main/java/org/apereo/cas/authentication/LdapAuthenticationHandler.java
Labels: Authentication, LDAP & Active Directory, Remember: Port Forward

#3894 fix: jquery dist path changed
  core/cas-server-core-web/src/main/resources/cas_common_messages.properties
Labels: User Interface & Themes

#3896 encode TicketId in TicketRedisKey
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/RedisTicketRegistry.java
Labels: Redis, Tickets & Registries

#3881 Addressing ID_Token issue in /oidc/accessToken?grant_type=password&cl…
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/token/OidcIdTokenGeneratorService.java
Labels: OpenID Connect Protocol, Remember: Port Forward

#3898 Skip delegation when SSO session present (5.3.x branch)
  api/cas-server-core-api-webflow/src/main/java/org/apereo/cas/web/flow/CasWebflowConstants.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedAuthenticationWebflowConfigurer.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Delegated Authentication Pac4J, Remember: Port Forward, SSO & Cookies

#3899 Skip delegation when SSO session present (6.0.x branch)
  api/cas-server-core-api-webflow/src/main/java/org/apereo/cas/web/flow/CasWebflowConstants.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedAuthenticationWebflowConfigurer.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Delegated Authentication Pac4J, SSO & Cookies

#3902 Backport of fix for OIDC JwtId
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/token/OidcIdTokenGeneratorService.java
Labels: JWT AuthN & Tickets, OpenID Connect Protocol, Remember: Port Forward

#3891 Removes a Service Domain if all services are removed
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/DomainServicesManager.java
Labels: Remember: Port Forward, Services & Registries
