Repository apereo/cas, pull requests merged in 2019-12, with the labels that each got.

#4500 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.15.6
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4501 renovatebot(deps): update dependency setuptools to v42.0.2
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4492 renovatebot(deps): update dependency com.github.vladimir-bukhtoyarov:bucket4j-core to v4.6.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4493 renovatebot(deps): update dependency com.nimbusds:oauth2-oidc-sdk to v6.18.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol, OpenID Connect Protocol

#4499 renovatebot(deps): update aspectj to v1.9.5
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4498 renovatebot(deps): update mockito to v3.2.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Unit/Integration Tests

#4504 Limit stack traces
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/resolver/impl/DefaultCasDelegatingWebflowEventResolver.java
Labels: Remember: Port Forward

#4502 Jpa: Simple MFA configuration should change TransientSessionTicket to TransientSessionTicketImpl
  support/cas-server-support-simple-mfa/src/main/java/org/apereo/cas/config/CasSimpleMultifactorAuthenticationTicketCatalogConfiguration.java
Labels: Configuration, JDBC & Hibernate & JPA, MFA

#4509 renovatebot(deps): update dependency org.webjars:bootstrap to v4.4.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4510 renovatebot(deps): update micrometer to v1.3.2
  gradle.properties
Labels: Analytics & Statistics, Bot, Dependencies & Modules, Gradle Build & Release, Statistics & Metrics

#4511 renovatebot(deps): update spring data to v2.2.3.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4507 update jradius dependency to use version from maven central
  .github/renovate.json
  gradle.properties
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release, RADIUS

#4516 Add annotation processing for logging so that log4j file is created
  support/cas-server-support-logging-config-cloudwatch/build.gradle
  support/cas-server-support-logging-config-splunk/build.gradle
Labels: Audits & Logging

#4515 update jradius dependency to use version from maven central (#4507)
  .github/renovate.json
  gradle.properties
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release, RADIUS, Remember: Port Forward

#4525 Add the allSignatureValidationDisabled property
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pac4j/saml/Pac4jSamlClientProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DelegatedClientFactory.java
Labels: Configuration, Configuration Metadata, Delegated Authentication Pac4J

#4526 Add the allSignatureValidationDisabled property
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pac4j/saml/Pac4jSamlClientProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DelegatedClientFactory.java
Labels: Configuration, Configuration Metadata, Delegated Authentication Pac4J, Remember: Port Forward

#4524 Open up a little the DelegatedClientAuthenticationAction
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Authentication, Delegated Authentication Pac4J, Refactoring & Code CleanUp, Remember: Port Forward

#4523 Open up a little the DelegatedClientAuthenticationAction
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Authentication, Delegated Authentication Pac4J, Refactoring & Code CleanUp

#4531 Fix oauth2 profile endpoint mediatype when HTTP verb is GET
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20UserProfileEndpointController.java
Labels: OAuth2 Protocol, Remember: Port Forward

#4530 Fix oauth2 profile endpoint mediatype when HTTP verb is GET
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20UserProfileEndpointController.java
Labels: OAuth2 Protocol

#4533 oauth2 pkce code_challenge_method should be optional
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20ProofKeyCodeExchangeAuthenticator.java
Labels: OAuth2 Protocol, OpenID Connect Protocol, Remember: Port Forward

#4532 oauth2 pkce code_challenge_method should be optional
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20ProofKeyCodeExchangeAuthenticator.java
Labels: OAuth2 Protocol, OpenID Connect Protocol

#4518 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.46.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4520 renovatebot(deps): update dependency org.influxdb:influxdb-java to v2.17
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, User Interface & Themes

#4521 renovatebot(deps): update dependency org.springframework.kafka:spring-kafka to v2.3.4.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4522 renovatebot(deps): update spring integration to v5.2.2.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4517 renovatebot(deps): update dependency com.nimbusds:oauth2-oidc-sdk to v6.21
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol, OpenID Connect Protocol

#4535 renovatebot(deps): update dependency com.microsoft.azure:azure-keyvault-secrets-spring-boot-starter to v2.2.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Spring Cloud Vault

#4536 renovatebot(deps): update dependency com.squareup.retrofit2:retrofit to v2.7.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4538 renovatebot(deps): update dependency org.springframework.retry:spring-retry to v1.2.5.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4539 renovatebot(deps): update dependency org.springframework.security:spring-security-rsa to v1.0.9.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4534 renovatebot(deps): update dependency com.google.maps:google-maps-services to v0.10.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Services & Registries

#4537 renovatebot(deps): update dependency org.apache.commons:commons-pool2 to v2.8.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4540 renovatebot(deps): update dependency com.squareup.okio:okio to v2.4.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4542 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.47.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4544 renovatebot(deps): update dependency com.unboundid:unboundid-ldapsdk to v4.0.14
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, LDAP & Active Directory

#4545 renovatebot(deps): update dependency locustio to v0.13.3
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4546 renovatebot(deps): update dependency org.apache.directory.fortress:fortress-core to v2.0.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4547 renovatebot(deps): update dependency org.webjars:font-awesome to v5.12.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4543 renovatebot(deps): update dependency com.nimbusds:nimbus-jose-jwt to v8.3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JWS & JWT AuthN & Tickets

#4541 renovatebot(deps): update dependency net.bytebuddy:byte-buddy to v1.10.5
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4555 Fix table formatting for SAML SPs
  docs/cas-server-documentation/configuration/Configuration-Properties.md
Labels: SAML Core, SAML2 SP

#4554 Use `shouldRenewRefreshToken` flag to set builder.generateRefreshToken
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/ext/AccessTokenRefreshTokenGrantRequestExtractor.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/OAuth20RefreshTokenTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20AccessTokenEndpointControllerTests.java
Labels: OAuth2 Protocol

#4551 Fix the authentication delegation to a CAS server
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/DelegatedClientWebflowManager.java
Labels: Authentication, Delegated Authentication Pac4J

#4550 Fix the authentication delegation to a CAS server
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/DelegatedClientWebflowManager.java
Labels: Authentication, Delegated Authentication Pac4J, Remember: Port Forward

#4557 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.15.7
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4558 renovatebot(deps): update dependency com.nexmo:client to v5.2.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4559 renovatebot(deps): update dependency com.nimbusds:oauth2-oidc-sdk to v6.21.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol, OpenID Connect Protocol

#4560 renovatebot(deps): update dependency com.textmagic.sdk:textmagic-java-sdk to v2.0.1067
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4561 renovatebot(deps): update dependency locustio to v0.13.5
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4562 renovatebot(deps): update mockito to v3.2.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Unit/Integration Tests

#4552 mfa trusted poc on gauth
  support/cas-server-support-gauth/build.gradle
  support/cas-server-support-gauth/src/main/java/org/apereo/cas/config/GoogleAuthenticatorConfiguration.java
  support/cas-server-support-radius-mfa/src/main/java/org/apereo/cas/config/RadiusMultifactorConfiguration.java
  support/cas-server-support-radius/build.gradle
  support/cas-server-support-simple-mfa/build.gradle
  support/cas-server-support-simple-mfa/src/main/java/org/apereo/cas/config/CasSimpleMultifactorAuthenticationConfiguration.java
  support/cas-server-support-swivel/build.gradle
  support/cas-server-support-swivel/src/main/java/org/apereo/cas/config/SwivelConfiguration.java
  support/cas-server-support-yubikey/build.gradle
  support/cas-server-support-yubikey/src/main/java/org/apereo/cas/config/YubiKeyConfiguration.java
Labels: MFA, MFA Google Authenticator, MFA Trusted Devices

#4570 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.47.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4568 renovatebot(deps): update dependency com.nimbusds:nimbus-jose-jwt to v8.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JWS & JWT AuthN & Tickets

#4569 renovatebot(deps): update dependency com.squareup.okio:okio to v2.4.3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4571 renovatebot(deps): update dependency net.bytebuddy:byte-buddy to v1.10.6
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4566 renovatebot(deps): update dependency com.maxmind.geoip2:geoip2 to v2.13.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4567 renovatebot(deps): update dependency com.netflix.eureka:eureka-client to v1.9.15
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Spring Cloud Eureka Discovery

#4572 renovatebot(deps): update spring cloud to v2.2.1.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Spring Cloud

#4573 renovatebot(deps): update amazonsdk to v1.11.698
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4576 Update GeoTracking-Authentication-Requests.md
  docs/cas-server-documentation/installation/GeoTracking-Authentication-Requests.md
Labels: Authentication, Remember: Port Forward

#4564 Delegated authentication: fix again the DistributedJ2ESessionStore
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/replication/SessionReplicationProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-acceptto-mfa/src/main/java/org/apereo/cas/config/AccepttoMultifactorAuthenticationConfiguration.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
  support/cas-server-support-pac4j-api/src/main/java/org/apereo/cas/integration/pac4j/DistributedJ2ESessionStore.java
  support/cas-server-support-pac4j-api/src/test/java/org/apereo/cas/integration/pac4j/DistributedJ2ESessionStoreTests.java
  support/cas-server-support-pac4j/src/main/java/org/apereo/cas/support/pac4j/config/support/authentication/Pac4jAuthenticationEventExecutionPlanConfiguration.java
Labels: Authentication, Delegated Authentication Pac4J, Remember: Port Forward

#4563 Delegated authentication: fix again the DistributedJ2ESessionStore
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/replication/SessionReplicationProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-acceptto-mfa/src/main/java/org/apereo/cas/config/AccepttoMultifactorAuthenticationConfiguration.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
  support/cas-server-support-pac4j-api/src/main/java/org/apereo/cas/integration/pac4j/DistributedJ2ESessionStore.java
  support/cas-server-support-pac4j-api/src/test/java/org/apereo/cas/integration/pac4j/DistributedJ2ESessionStoreTests.java
  support/cas-server-support-pac4j/src/main/java/org/apereo/cas/support/pac4j/config/support/authentication/Pac4jAuthenticationEventExecutionPlanConfiguration.java
Labels: Authentication, Delegated Authentication Pac4J

#4574 OIDC - Allow client basic auth to be used in password grant flow
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20UsernamePasswordAuthenticator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/util/OAuth20Utils.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/validator/token/OAuth20PasswordGrantTypeTokenRequestValidator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/ext/AccessTokenPasswordGrantRequestExtractor.java
Labels: OpenID Connect Protocol

#4578 renovatebot(deps): update groovy
  gradle.properties
Labels: Apache Groovy, Bot, Dependencies & Modules, Gradle Build & Release

#4577 renovatebot(deps): update dependency org.springframework.kafka:spring-kafka to v2.4.0.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4579 Discovery Profile only returns installed options - 6.1.x
  support/cas-server-support-discovery-profile/build.gradle
  support/cas-server-support-discovery-profile/src/main/java/org/apereo/cas/config/CasDiscoveryProfileConfiguration.java
  support/cas-server-support-discovery-profile/src/main/java/org/apereo/cas/discovery/CasServerProfile.java
  support/cas-server-support-discovery-profile/src/main/java/org/apereo/cas/discovery/CasServerProfileRegistrar.java
  support/cas-server-support-discovery-profile/src/test/java/org/apereo/cas/discovery/CasServerProfileRegistrarTests.java
Labels: Configuration Discovery, Remember: Port Forward

#4580 Discovery: Changes disoveryProfile endpoint to only return installed options
  support/cas-server-support-discovery-profile/build.gradle
  support/cas-server-support-discovery-profile/src/main/java/org/apereo/cas/config/CasDiscoveryProfileConfiguration.java
  support/cas-server-support-discovery-profile/src/main/java/org/apereo/cas/discovery/CasServerProfile.java
  support/cas-server-support-discovery-profile/src/main/java/org/apereo/cas/discovery/CasServerProfileRegistrar.java
  support/cas-server-support-discovery-profile/src/test/java/org/apereo/cas/discovery/CasServerProfileRegistrarTests.java
Labels: Configuration Discovery

#4582 OAuth2 PKCE code_challenge must be a SHA2 digest
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/DigestUtils.java
Labels: OAuth2 Protocol, OpenID Connect Protocol, Remember: Port Forward

#4581 OAuth2 PKCE code_challenge must be a SHA2 digest
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/DigestUtils.java
Labels: OAuth2 Protocol, OpenID Connect Protocol

#4583 renovatebot(deps): update dependency net.bull.javamelody:javamelody-spring-boot-starter to v1.81.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4586 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.15.8
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4585 remove ehcache monitor enabled property that doesn't exist in config
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/ehcache/Ehcache3Properties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-ehcache-monitor/src/main/java/org/apereo/cas/monitor/config/EhCacheMonitorConfiguration.java
Labels: Configuration, Configuration Metadata, EhCache

#4587 Oauth 2 introspection expires at fix
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20IntrospectionEndpointController.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/web/controllers/OidcIntrospectionEndpointControllerTests.java
Labels: OAuth2 Protocol, OpenID Connect Protocol
