Repository apereo/cas, pull requests merged in 2019-05, with the labels that each got.

#3905 Added missing class registrations for kryo + memcached
  support/cas-server-support-memcached-core/src/main/java/org/apereo/cas/memcached/kryo/CloseableKryoFactory.java
Labels: Memcached, Remember: Port Forward

#3906 avoid calling load from service manager during bean creation
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/AbstractServicesManager.java
  webapp/resources/log4j2.xml
Labels: OpenID Connect Protocol, Spring Boot

#3904 Define the changeThemeInterceptor on the login webflow if it exists
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/web/flow/config/CasWebflowContextConfiguration.java
Labels: Spring Webflow

#3903 Define the changeThemeInterceptor on the login webflow if it exists
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/web/flow/config/CasWebflowContextConfiguration.java
Labels: Remember: Port Forward, Spring Webflow

#3911 Fix probable typo in Yubikey JPA doc
  docs/cas-server-documentation/configuration/Configuration-Properties.md
Labels: JDBC & Hibernate & JPA, MFA YubiKey

#3912 Revert "fix: jquery dist path changed"
  core/cas-server-core-web/src/main/resources/cas_common_messages.properties
Labels: User Interface & Themes

#3910 Fix logo header overlap in IE 11
  webapp/resources/static/themes/apereo/css/cas.css
Labels: User Interface & Themes

#3909 Fix logo header overlap in IE 11
  webapp/resources/static/themes/apereo/css/cas.css
Labels: Remember: Port Forward, User Interface & Themes

#3907 add back decryption check to cas shell encrypt function
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/support/CasConfigurationJasyptCipherExecutor.java
  core/cas-server-core-configuration/src/test/java/org/apereo/cas/configuration/support/CasConfigurationJasyptCipherExecutorTests.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/AbstractServicesManager.java
Labels: Command-line Shell, Signing & Encryption

#3913 Themes; refactor and open up a little the RegisteredServiceThemeResolver
  support/cas-server-support-themes/src/main/java/org/apereo/cas/services/web/RegisteredServiceThemeResolver.java
Labels: Refactoring & Code CleanUp, Remember: Port Forward, User Interface & Themes

#3914 Themes; refactor and open up a little the RegisteredServiceThemeResolver
  support/cas-server-support-themes/src/main/java/org/apereo/cas/services/web/RegisteredServiceThemeResolver.java
Labels: Refactoring & Code CleanUp, User Interface & Themes

#3915 add equals method to chaining attribute release policy
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/ChainingAttributeReleasePolicy.java
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/DenyAllAttributeReleasePolicy.java
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/GroovyScriptAttributeReleasePolicy.java
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/ScriptedRegisteredServiceAttributeReleasePolicy.java
  support/cas-server-support-ws-idp-api/src/main/java/org/apereo/cas/ws/idp/services/WSFederationClaimsReleasePolicy.java
Labels: Attribute Release, Attribute Resolution

#3895 WIP Duplicate code cleanup
  api/cas-server-core-api-util/src/main/java/org/apereo/cas/util/serialization/StringSerializer.java
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasTicketCatalogConfigurationValuesProvider.java
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/TicketDefinitionBuilderSupport.java
  support/cas-server-support-dynamodb-ticket-registry/src/main/java/org/apereo/cas/config/DynamoDbTicketRegistryTicketCatalogConfiguration.java
  support/cas-server-support-ehcache-ticket-registry/src/main/java/org/apereo/cas/config/EhcacheTicketRegistryTicketCatalogConfiguration.java
  support/cas-server-support-hazelcast-ticket-registry/src/main/java/org/apereo/cas/config/HazelcastTicketRegistryTicketCatalogConfiguration.java
  support/cas-server-support-ignite-ticket-registry/src/main/java/org/apereo/cas/config/IgniteTicketRegistryTicketCatalogConfiguration.java
  support/cas-server-support-mongo-ticket-registry/src/main/java/org/apereo/cas/config/MongoDbTicketRegistryTicketCatalogConfiguration.java
Labels: Pending: Work in Progress, Refactoring & Code CleanUp

#3916 OIDC: change to scope name saved for custom scope
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/support/JpaBeans.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/profile/OidcProfileScopeToAttributesFilter.java
  support/cas-server-support-oidc-core/src/main/java/org/apereo/cas/oidc/OidcConstants.java
  support/cas-server-support-oidc-core/src/main/java/org/apereo/cas/oidc/claims/BaseOidcScopeAttributeReleasePolicy.java
  support/cas-server-support-oidc-core/src/main/java/org/apereo/cas/oidc/claims/OidcCustomScopeAttributeReleasePolicy.java
Labels: OpenID Connect Protocol

#3917 Ease theme overriding
  support/cas-server-support-themes/src/main/java/org/apereo/cas/services/web/ThemeBasedViewResolver.java
  support/cas-server-support-themes/src/main/java/org/apereo/cas/services/web/config/CasThemesConfiguration.java
Labels: User Interface & Themes

#3918 Ease theme overriding
  support/cas-server-support-themes/src/main/java/org/apereo/cas/services/web/ThemeBasedViewResolver.java
  support/cas-server-support-themes/src/main/java/org/apereo/cas/services/web/config/CasThemesConfiguration.java
Labels: Remember: Port Forward, User Interface & Themes

#3922 exclude duplicate version of jquery webjar with different directory structure
  gradle/dependencies.gradle
Labels: Dependencies & Modules, User Interface & Themes

#3919 Fix password check for Couchbase when using BCrypt
  support/cas-server-support-couchbase-authentication/src/main/java/org/apereo/cas/authentication/CouchbaseAuthenticationHandler.java
  support/cas-server-support-couchbase-authentication/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-couchbase-authentication/src/test/java/org/apereo/cas/authentication/CouchbaseAuthenticationHandlerIntegrationTests.java
  support/cas-server-support-couchbase-authentication/src/test/java/org/apereo/cas/authentication/CouchbaseAuthenticationHandlerTests.java
Labels: Couchbase, Password Encoding, Remember: Port Forward

#3920 Fix password check for Couchbase when using BCrypt
  support/cas-server-support-couchbase-authentication/src/main/java/org/apereo/cas/authentication/CouchbaseAuthenticationHandler.java
  support/cas-server-support-couchbase-authentication/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-couchbase-authentication/src/test/java/org/apereo/cas/authentication/CouchbaseAuthenticationHandlerIntegrationTests.java
  support/cas-server-support-couchbase-authentication/src/test/java/org/apereo/cas/authentication/CouchbaseAuthenticationHandlerTests.java
Labels: Couchbase, Password Encoding

#3921 REST Authentication: enable to configure the charset used to encode the credentials
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/rest/RestAuthenticationProperties.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/HttpUtils.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-rest-authentication/src/main/java/org/apereo/cas/adaptors/rest/RestAuthenticationApi.java
  support/cas-server-support-rest-authentication/src/main/java/org/apereo/cas/config/CasRestAuthenticationConfiguration.java
Labels: Authentication, REST Protocol & Integrations

#3938 Update dependency org.apache.cxf:cxf-rt-ws-policy to v3.3.2
  gradle.properties
Labels: Dependencies & Modules, Gradle Build & Release

#3923 Update AmazonSDK to v1.11.551
  gradle.properties
Labels: Dependencies & Modules, Gradle Build & Release

#3924 Update Swagger to v1.5.22
  gradle.properties
Labels: Dependencies & Modules, Gradle Build & Release

#3926 Update dependency com.nimbusds:oauth2-oidc-sdk to v6.12
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol, OpenID Connect Protocol

#3946 Update dependency org.webjars:font-awesome to v5.8.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3940 Update dependency org.apache.zookeeper:zookeeper to v3.4.14
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3927 Update dependency javax.xml.bind:jaxb-api to v2.3.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3945 Update dependency org.webjars.bower:bootstrap-select to v1.13.7
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3943 Update dependency org.mongodb:mongo-java-driver to v3.10.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3942 Update dependency org.hibernate:hibernate-validator to v6.0.16.Final
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JDBC & Hibernate & JPA

#3947 Update spring data to v2.1.8.RELEASE
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3956 renovatebot(deps): update ribbon to v2.7.3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3954 renovatebot(deps): update amazonsdk to v1.11.552
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3958 add French message for requiredServicePattern
  webapp/resources/messages_fr.properties
Labels: Internationalization

#3960 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol, OpenID Connect Protocol

#3962 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3964 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3959 [skip ci]
  gradle.properties
Labels: Bot, Gradle Build & Release

#3961 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#3968 enable duoSecurityPrincipalMultifactorAuthenticationProviderBypass
  support/cas-server-support-duo/src/main/java/org/apereo/cas/adaptors/duo/config/DuoSecurityMultifactorProviderBypassConfiguration.java
Labels: Authentication, MFA Duo Security

#3969 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3970 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3971 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3974 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3973 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3980 Update PasswordManagementWebflowUtils.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowUtils.java
Labels: Password Management, Spring Webflow

#3982 Pac4j delegation: Add missing setAcceptedSkew
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DelegatedClientFactory.java
Labels: Delegated Authentication Pac4J, Remember: Port Forward

#3981 [skip ci]
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/DelegatedClientWebflowManager.java
Labels: Delegated Authentication Pac4J

#3983 Pac4j delegation: Add missing setAcceptedSkew
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DelegatedClientFactory.java
Labels: Delegated Authentication Pac4J

#3994 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Unit/Integration Tests

#3992 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3990 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JWT AuthN & Tickets

#3989 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#3987 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3988 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3991 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, MFA FIDO U2F

#3993 renovatebot(deps): update dependency org.jasypt:jasypt to v1.9.3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3986 chore: upgrade pac4j and apply unicity fix on pac4j SAML certificates
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pac4j/saml/Pac4jSamlClientProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  gradle.properties
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DelegatedClientFactory.java
Labels: Delegated Authentication Pac4J, Dependencies & Modules, Remember: Document Property, SAML Core, X.509

#3997 [skip ci]
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3975 Fix NPE from null attribute values
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/principal/resolvers/PersonDirectoryPrincipalResolver.java
  core/cas-server-core-authentication-api/src/test/java/org/apereo/cas/authentication/AllAuthenticationTestsSuite.java
  core/cas-server-core-authentication-api/src/test/java/org/apereo/cas/authentication/principal/resolvers/PersonDirectoryPrincipalResolverTests.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/AllTestsSuite.java
Labels: Attribute Release, Attribute Resolution

#3976 Fix NPE from null attribute values backport for 6.0.x
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/principal/resolvers/PersonDirectoryPrincipalResolver.java
  core/cas-server-core-authentication-api/src/test/java/org/apereo/cas/authentication/AllAuthenticationTestsSuite.java
  core/cas-server-core-authentication-api/src/test/java/org/apereo/cas/authentication/principal/resolvers/PersonDirectoryPrincipalResolverTests.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/AllTestsSuite.java
Labels: Attribute Release, Attribute Resolution, Remember: Port Forward

#3977 Fix NPE from null attribute values backport for 5.3.x
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/principal/resolvers/PersonDirectoryPrincipalResolver.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/authentication/principal/PersonDirectoryPrincipalResolverTests.java
Labels: Attribute Release, Attribute Resolution, Remember: Port Forward

#3972 renovatebot(deps): update dependency com.squareup.okhttp3:okhttp to v3.14.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#3978 Refactor evaluating MFA FailureMode
  api/cas-server-core-api-mfa/src/main/java/org/apereo/cas/authentication/MultifactorAuthenticationFailureModeEvaluator.java
  api/cas-server-core-api-mfa/src/main/java/org/apereo/cas/authentication/MultifactorAuthenticationProvider.java
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/AbstractMultifactorAuthenticationProvider.java
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/DefaultMultifactorAuthenticationContextValidator.java
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/DefaultMultifactorAuthenticationFailureModeEvaluator.java
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/DefaultRequestedAuthenticationContextValidator.java
  core/cas-server-core-authentication-mfa-api/src/test/java/org/apereo/cas/authentication/MultifactorAuthenticationTestsSuite.java
  core/cas-server-core-authentication-mfa-api/src/test/java/org/apereo/cas/authentication/mfa/DefaultMultifactorAuthenticationContextValidatorTests.java
  core/cas-server-core-authentication-mfa-api/src/test/java/org/apereo/cas/authentication/mfa/DefaultRequestedAuthenticationContextValidatorTests.java
  core/cas-server-core-authentication-mfa-api/src/test/java/org/apereo/cas/authentication/mfa/MultifactorAuthenticationTestUtils.java
  core/cas-server-core-authentication-mfa-api/src/test/java/org/apereo/cas/authentication/mfa/TestUnavailableMultifactorAuthenticationProvider.java
  core/cas-server-core-authentication-mfa/src/main/java/org/apereo/cas/config/CasCoreMultifactorAuthenticationConfiguration.java
  core/cas-server-core-webflow-mfa-api/src/main/java/org/apereo/cas/web/flow/actions/MultifactorAuthenticationFailureAction.java
  support/cas-server-support-authy/src/main/java/org/apereo/cas/adaptors/authy/config/support/authentication/AuthyAuthenticationEventExecutionPlanConfiguration.java
  support/cas-server-support-duo-core/src/main/java/org/apereo/cas/adaptors/duo/authn/DuoProviderFactory.java
  support/cas-server-support-duo/src/main/java/org/apereo/cas/adaptors/duo/config/DuoSecurityAuthenticationEventExecutionPlanConfiguration.java
  support/cas-server-support-gauth/src/main/java/org/apereo/cas/config/support/authentication/GoogleAuthenticatorAuthenticationEventExecutionPlanConfiguration.java
  support/cas-server-support-radius-mfa/src/main/java/org/apereo/cas/config/support/authentication/RadiusTokenAuthenticationEventExecutionPlanConfiguration.java
  support/cas-server-support-simple-mfa/src/main/java/org/apereo/cas/config/CasSimpleMultifactorAuthenticationEventExecutionPlanConfiguration.java
  support/cas-server-support-swivel/src/main/java/org/apereo/cas/config/SwivelAuthenticationEventExecutionPlanConfiguration.java
  support/cas-server-support-u2f/src/main/java/org/apereo/cas/config/support/authentication/U2FAuthenticationEventExecutionPlanConfiguration.java
  support/cas-server-support-yubikey/src/main/java/org/apereo/cas/config/support/authentication/YubiKeyAuthenticationEventExecutionPlanConfiguration.java
Labels: MFA, Refactoring & Code CleanUp, Remember: Port Forward
