Repository apereo/cas, pull requests merged in 2019-09, with the labels that each got.

#4219 OIDC JpaServiceRegistry Leak Detection Error
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/ChainingAttributeReleasePolicy.java
Labels: JDBC & Hibernate & JPA, OpenID Connect Protocol, OpenID Protocol

#4241 renovatebot(deps): update amazonsdk to v1.11.623
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4242 renovatebot(deps): update dependency com.github.ben-manes:gradle-versions-plugin to v0.24.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4245 Service Registry: Fix regex for service YAML file names
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/resource/RegisteredServiceResourceNamingStrategy.java
Labels: Services & Registries

#4243 renovatebot(deps): update dependency org.apache.activemq:activemq-broker to v5.15.10
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4247 Fixes the shell command "validate-service" for YAML
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/services/ValidateRegisteredServiceCommand.java
Labels: Command-line Shell

#4246 renovatebot(deps): update dependency org.apache.commons:commons-text to v1.8
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4248 renovatebot(deps): update amazonsdk to v1.11.625
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4253 fix for race condition in OAuth20CallbackAuthorizeEndpointController
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20CallbackAuthorizeEndpointController.java
Labels: OAuth2 Protocol

#4254 Redirecting to original redirect_uri in the original request when prompt is none.
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/OidcCallbackAuthorizeViewResolver.java
Labels: OAuth2 Protocol

#4252 renovatebot(deps): update dependency com.netflix.nebula:gradle-lint-plugin to v13
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4251 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.42.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4249 renovatebot(deps): update dependency com.netflix.eureka:eureka-client to v1.9.13
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Spring Cloud Eureka Discovery

#4250 renovatebot(deps): update dependency com.squareup.okhttp3:okhttp to v4.1.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4257 Fix the OAuth+JPA support with @Transactional
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/OAuth20DefaultTokenGenerator.java
Labels: JDBC & Hibernate & JPA, OAuth2 Protocol, Remember: Port Forward

#4258 store custom scopes by name instead of "custom"
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/profile/OidcProfileScopeToAttributesFilter.java
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/config/OidcConfiguration.java
Labels: OAuth2 Protocol, OpenID Connect Protocol

#4238 Fix issues related to OAuth Resource owner password grant flow
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20ClientIdClientSecretAuthenticator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20UsernamePasswordAuthenticator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/profile/DefaultOAuth20UserProfileDataCreator.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/authenticator/BaseOAuth20AuthenticatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/authenticator/OAuth20ClientIdClientSecretAuthenticatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/authenticator/OAuth20UsernamePasswordAuthenticatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/OAuth20AccessTokenControllerTests.java
Labels: OAuth2 Protocol

#4265 OidcScopeAttributeReleasePolicy: fix release of custom claims
  support/cas-server-support-oidc-core/src/main/java/org/apereo/cas/oidc/claims/BaseOidcScopeAttributeReleasePolicy.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/claims/mapping/DefaultOidcAttributeToScopeClaimMapperTests.java
Labels: Attribute Release, Attribute Resolution, OpenID Connect Protocol, OpenID Protocol

#4266 Bug with tryAll in AtLeastOneCredentialValidatedAuthenticationPolicy
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/policy/AtLeastOneCredentialValidatedAuthenticationPolicy.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/authentication/PolicyBasedAuthenticationManagerTests.java
Labels: Authentication

#4269 renovatebot(deps): update amazonsdk to v1.11.636
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4270 renovatebot(deps): update apacheignite to v2.7.6
  gradle.properties
Labels: Apache Ignite, Bot, Dependencies & Modules, Gradle Build & Release

#4271 renovatebot(deps): update dependency com.netflix.nebula:gradle-lint-plugin to v14.2.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4281 Fixing Tests
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasCoreTicketIdGeneratorsConfiguration.java
Labels: Unit/Integration Tests

#4287 renovatebot(deps): update dependency org.owasp:dependency-check-gradle to v5.2.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4285 renovatebot(deps): update dependency com.netflix.nebula:gradle-lint-plugin to v14.2.3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4279 renovatebot(deps): update shibbolethidp to v3.4.5
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Shibboleth

#4274 renovatebot(deps): update dependency joda-time:joda-time to v2.10.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4278 renovatebot(deps): update opensaml to v3.4.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, SAML Core

#4275 renovatebot(deps): update dependency net.shibboleth.utilities:java-support to v7.5.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Shibboleth

#4282 avoid bean cycle in ldap monitor config class
  core/cas-server-core-authentication-mfa/build.gradle
  core/cas-server-core-authentication-mfa/src/test/java/org/apereo/cas/authentication/DefaultMultifactorAuthenticationProviderResolverTests.java
  core/cas-server-core-tickets/build.gradle
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/DefaultTicketCatalogTests.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/TicketSerializersTests.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/factory/BaseTicketFactoryTests.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/registry/BaseTicketRegistryTests.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/serialization/DefaultTicketStringSerializationManagerTests.java
  core/cas-server-core/src/test/java/org/apereo/cas/BaseCasCoreTests.java
  support/cas-server-support-discovery-profile/src/test/java/org/apereo/cas/discovery/CasServerProfileRegistrarTests.java
  support/cas-server-support-ldap-monitor/src/main/java/org/apereo/cas/monitor/config/LdapMonitorConfiguration.java
Labels: LDAP & Active Directory, Spring Boot

#4273 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.43.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4295 renovatebot(deps): update dependency com.google.maps:google-maps-services to v0.10.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Services & Registries

#4296 renovatebot(deps): update dependency com.microsoft.azure:azure-documentdb to v2.4.2
  gradle.properties
Labels: Bot, CosmosDb, Dependencies & Modules, Gradle Build & Release

#4297 renovatebot(deps): update dependency com.netflix.nebula:gradle-lint-plugin to v14.2.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4283 renovatebot(deps): update amazonsdk to v1.11.641
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release
