Repository apereo/cas, pull requests merged in 2019-10, with the labels that each got.

#4301 renovatebot(deps): update spring data to v2.2.0.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4284 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.14.159265359
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4262 Validate for client_secret when provided in PKCE flow
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20ClientIdClientSecretAuthenticator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20ProofKeyCodeExchangeAuthenticator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20UsernamePasswordAuthenticator.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuthConfiguration.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/authenticator/OAuth20ClientIdClientSecretAuthenticatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/authenticator/OAuth20ProofKeyCodeExchangeAuthenticatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/AbstractOAuth20Tests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20AccessTokenControllerTests.java
Labels: OAuth2 Protocol, OpenID Connect Protocol, OpenID Protocol

#4302 Fix issue where Groovy scripts on the classpath cannot be loaded
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/ResourceUtils.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/scripting/ScriptingUtils.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/ScriptingUtilsTests.java
  core/cas-server-core-util/src/test/resources/ScriptingUtilsTestGroovyScript.groovy
Labels: Apache Groovy

#4267 Oidc filtering attributes
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/profile/OidcProfileScopeToAttributesFilter.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/profile/OidcProfileScopeToAttributesFilterTests.java
Labels: Attribute Release, Attribute Resolution, OpenID Connect Protocol, OpenID Protocol

#4286 renovatebot(deps): update dependency com.squareup.retrofit2:retrofit to v2.6.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4300 renovatebot(deps): update dependency org.webjars:font-awesome to v5.11.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4299 renovatebot(deps): update dependency org.webjars:bootstrap-select to v1.13.11
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4272 renovatebot(deps): update dependency com.squareup.okhttp3:okhttp to v4.2.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4277 renovatebot(deps): update dependency org.glassfish.jersey.security:oauth2-client to v2.29.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol

#4290 Don't make any proxy callback when the PGT is released
  core/cas-server-core/src/test/java/org/apereo/cas/config/CasRegisteredServicesTestConfiguration.java
  docs/cas-server-documentation/installation/Configuring-Proxy-Authentication.md
  support/cas-server-support-validation-core/src/main/java/org/apereo/cas/web/AbstractServiceValidateController.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/AbstractServiceValidateControllerTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/Cas20ResponseViewTests.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/view/Cas30ResponseViewTests.java
Labels: CAS Protocol, Proxy Authentication

#4255 Added missing class registrations for kryo + memcached
  support/cas-server-support-memcached-core/src/main/java/org/apereo/cas/memcached/kryo/CloseableKryoFactory.java
  support/cas-server-support-saml-googleapps/src/main/java/org/apereo/cas/support/saml/config/SamlGoogleAppsComponentSerializationConfiguration.java
  support/cas-server-support-saml-googleapps/src/main/resources/META-INF/spring.factories
Labels: Memcached, Remember: Port Forward

#4306 exclude old ehcache-core dependency
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release

#4264 add more tests for attribute mapping
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/claims/OidcCustomScopeAttributeReleasePolicyTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/claims/mapping/OidcDefaultAttributeToScopeClaimMapperTests.java
Labels: Attribute Release, Attribute Resolution, Unit/Integration Tests

#4307 Check for empty oauth code challenge
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20ClientIdClientSecretAuthenticator.java
Labels: OAuth2 Protocol

#4304 6.0.x backport: Fix issue where Groovy scripts on the classpath cannot be loaded
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/ResourceUtils.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/scripting/ScriptingUtils.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/ScriptingUtilsTests.java
  core/cas-server-core-util/src/test/resources/ScriptingUtilsTestGroovyScript.groovy
Labels: Apache Groovy, Remember: Port Forward

#4309 renovatebot(deps): update dependency com.google.code.gson:gson to v2.8.6
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4315 renovatebot(deps): update dependency org.javassist:javassist to v3.26.0-ga
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4316 renovatebot(deps): update dependency org.messaginghub:pooled-jms to v1.1.0
  gradle/dependencies.gradle
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4314 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.43.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4313 renovatebot(deps): update dependency com.squareup.okio:okio to v2.4.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4310 renovatebot(deps): update dependency com.hazelcast:hazelcast-kubernetes to v1.5.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4308 renovatebot(deps): update amazonsdk
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4312 renovatebot(deps): update dependency com.squareup.okhttp3:okhttp to v4.2.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4317 renovatebot(deps): update dependency org.sonarsource.scanner.gradle:sonarqube-gradle-plugin to v2.8
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4318 renovatebot(deps): update dependency org.springframework.kafka:spring-kafka to v2.3.0.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4319 renovatebot(deps): update dependency org.webjars:datatables to v1.10.20
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4321 renovatebot(deps): update mockito to v3.1.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Unit/Integration Tests

#4322 renovatebot(deps): update shibbolethidp to v3.4.6
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Shibboleth

#4323 renovatebot(deps): update spring cloud to v2.2.0.m3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4324 renovatebot(deps): update spring integration to v5.2.0.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4311 renovatebot(deps): update dependency com.netflix.nebula:gradle-lint-plugin to v14.2.5
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4320 renovatebot(deps): update micrometer to v1.3.0
  gradle.properties
Labels: Analytics & Statistics, Bot, Dependencies & Modules, Gradle Build & Release, Statistics & Metrics

#4325 renovatebot(deps): update amazonsdk
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4326 renovatebot(deps): update dependency com.nimbusds:nimbus-jose-jwt to v7.9
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JWS & JWT AuthN & Tickets

#4328 renovatebot(deps): update amazonsdk to v1.11.646
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4329 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.15.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4327 renovatebot(deps): update dependency org.objenesis:objenesis to v3.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4330 renovatebot(deps): update dependency com.squareup.okhttp3:okhttp to v4.2.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4331 renovatebot(deps): update dependency org.jasig.cas.client:cas-client-core to v3.6.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4335 renovatebot(deps): update dependency com.unboundid.product.scim2:scim2-sdk-client to v2.3.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4334 renovatebot(deps): update dependency com.github.ben-manes:gradle-versions-plugin to v0.26.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4338 renovatebot(deps): update dependency org.apereo.service.persondir:person-directory-impl to v1.8.15
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4340 renovatebot(deps): update dependency com.authy:authy-java to v1.5.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, MFA Authy

#4341 renovatebot(deps): update dependency com.nimbusds:oauth2-oidc-sdk to v6.16
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol, OpenID Connect Protocol

#4342 renovatebot(deps): update dependency com.hazelcast:hazelcast-aws to v3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4343 renovatebot(deps): update dependency com.hazelcast:hazelcast-kubernetes to v2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4344 make some service registries conditional on required properties
  support/cas-server-support-git-service-registry/src/main/java/org/apereo/cas/config/GitServiceRegistryConfiguration.java
  support/cas-server-support-ldap-service-registry/src/main/java/org/apereo/cas/adaptors/ldap/services/config/LdapServiceRegistryConfiguration.java
Labels: Configuration, Configuration Metadata

#4339 renovatebot(deps): update bouncycastle to v1.64
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4336 renovatebot(deps): update dependency com.unboundid:unboundid-ldapsdk to v4.0.12
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, LDAP & Active Directory

#4337 renovatebot(deps): update dependency com.yubico:u2flib-server-core to v0.19.7
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, MFA FIDO U2F

#4345 renovatebot(deps): update dependency com.nimbusds:oauth2-oidc-sdk to v6.16.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol, OpenID Connect Protocol

#4346 renovatebot(deps): update swagger to v1.5.24
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4347 minor spotbug changes and suppress false positive tomcat CVE
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/PolicyBasedAuthenticationManager.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/handler/support/jaas/AccountsPreDefinedLoginModule.java
  style/dependency-check-suppressions.xml
Labels: Apache Tomcat, Refactoring & Code CleanUp

#4348 renovatebot(deps): update amazonsdk to v1.11.651
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4349 Configuration metadata: prevent NPE if source.getType() is null
  core/cas-server-core-configuration-metadata-repository/src/main/java/org/springframework/boot/configurationmetadata/CasConfigurationMetadataRepositoryJsonBuilder.java
Labels: Refactoring & Code CleanUp, Remember: Port Forward

#4350 Configuration metadata: prevent NPE if source.getType() is null
  core/cas-server-core-configuration-metadata-repository/src/main/java/org/springframework/boot/configurationmetadata/CasConfigurationMetadataRepositoryJsonBuilder.java
Labels: Refactoring & Code CleanUp

#4351 spotbugs changes
  core/cas-server-core-cookie-api/src/main/java/org/apereo/cas/web/support/mgmr/DefaultCasCookieValueManager.java
  core/cas-server-core-logging-api/src/main/java/org/apereo/cas/logging/CasAppender.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/RegisteredServicesEventListener.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/support/RegisteredServiceMutantRegexAttributeFilter.java
  core/cas-server-core-services-authentication/src/main/java/org/apereo/cas/authentication/support/AbstractProtocolAttributeEncoder.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/CompressionUtils.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/scripting/GroovyShellScript.java
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/WebUtils.java
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/filters/RequestParameterPolicyEnforcementFilter.java
  style/dependency-check-suppressions.xml
  support/cas-server-support-acceptto-mfa/src/main/java/org/apereo/cas/mfa/accepto/AccepttoMultifactorAuthenticationHandler.java
  support/cas-server-support-acceptto-mfa/src/main/java/org/apereo/cas/mfa/accepto/web/flow/AccepttoMultifactorValidateUserDeviceRegistrationAction.java
  support/cas-server-support-acceptto-mfa/src/main/java/org/apereo/cas/mfa/accepto/web/flow/qr/AccepttoQRCodeValidateWebSocketChannelAction.java
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/flow/login/InitialFlowSetupAction.java
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/flow/login/ServiceWarningAction.java
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/flow/logout/TerminateSessionAction.java
  support/cas-server-support-interrupt-webflow/src/main/java/org/apereo/cas/interrupt/webflow/actions/FinalizeInterruptFlowAction.java
  support/cas-server-support-jms-ticket-registry/src/main/java/org/apereo/cas/config/JmsTicketRegistryConfiguration.java
  support/cas-server-support-ldap/src/main/java/org/apereo/cas/config/LdapAuthenticationConfiguration.java
  support/cas-server-support-logging-config-splunk/src/main/java/org/apereo/cas/logging/SplunkAppender.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/services/OAuth20AuthenticationServiceSelectionStrategy.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/util/OAuth20Utils.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/OidcSecurityInterceptor.java
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DelegatedClientFactory.java
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/handler/support/DelegatedClientAuthenticationHandler.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/SendPasswordResetInstructionsAction.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/builders/subject/SamlProfileSamlSubjectBuilder.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/sso/SSOSamlPostProfileHandlerEndpoint.java
  support/cas-server-support-saml-mdui/src/main/java/org/apereo/cas/support/saml/mdui/web/flow/SamlMetadataUIParserAction.java
  support/cas-server-support-saml/src/main/java/org/apereo/cas/support/saml/authentication/SamlResponseBuilder.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/saml/GenerateSamlIdPMetadataCommand.java
  support/cas-server-support-simple-mfa-core/src/main/java/org/apereo/cas/mfa/simple/web/flow/CasSimpleSendTokenAction.java
  support/cas-server-support-surrogate-webflow/src/main/java/org/apereo/cas/web/flow/action/SurrogateAuthorizationAction.java
  support/cas-server-support-surrogate-webflow/src/main/java/org/apereo/cas/web/flow/action/SurrogateSelectionAction.java
  support/cas-server-support-throttle-bucket4j/src/main/java/org/apereo/cas/web/Bucket4jThrottledRequestExecutor.java
  support/cas-server-support-token-authentication/src/main/java/org/apereo/cas/token/authentication/TokenAuthenticationHandler.java
  support/cas-server-support-token-core-api/src/main/java/org/apereo/cas/token/JwtTokenCipherSigningPublicKeyEndpoint.java
  support/cas-server-support-ws-idp-api/src/main/java/org/apereo/cas/ws/idp/services/WSFederationClaimsReleasePolicy.java
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/flow/X509CertificateCredentialsRequestHeaderAction.java
  webapp/cas-server-webapp-config/src/main/java/org/apereo/cas/web/security/CasWebSecurityConfigurerAdapter.java
Labels: Refactoring & Code CleanUp

#4352 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.15.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4353 renovatebot(deps): update dependency org.apache.zookeeper:zookeeper to v3.5.6
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4355 renovatebot(deps): update dependency com.nimbusds:nimbus-jose-jwt to v8
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JWS & JWT AuthN & Tickets

#4354 renovatebot(deps): update dependency org.springframework.kafka:spring-kafka to v2.3.1.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4356 renovatebot(deps): update dependency com.github.ben-manes:gradle-versions-plugin to v0.27.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4359 renovatebot(deps): update dependency com.github.oshi:oshi-core to v4.1.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4360 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.44.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4357 Change required to fix PM webflow functionality
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowConfigurer.java
Labels: Password Management, Spring Webflow

#4364 Link to Acceptto MFA documentations
  docs/cas-server-documentation/index.md
Labels: Acceptto MFA, Documentation, MFA

#4362 renovatebot(deps): update springboot to v2.2.0.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4365 renovatebot(deps): update dependency com.h3xstream.findsecbugs:findsecbugs-plugin to v1.10.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4367 renovatebot(deps): update dependency com.nimbusds:nimbus-jose-jwt to v8.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JWS & JWT AuthN & Tickets

#4368 renovatebot(deps): update dependency gradle to v5.6.3
  gradle/wrapper/gradle-wrapper.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4366 renovatebot(deps): update dependency com.nexmo:client to v5.2.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4358 Password management: remove duplicate code
  ci/tests/ldap/run-ad-server.sh
  support/cas-server-support-pm-ldap/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-pm-ldap/src/test/java/org/apereo/cas/pm/ADPasswordManagementServiceTests.java
  support/cas-server-support-pm-ldap/src/test/resources/log4j2.xml
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowConfigurer.java
Labels: Password Management, Refactoring & Code CleanUp

#4370 password management: add support for Active Directory "change password" vs "reset password"
  ci/tests/ldap/reset-ad-server.sh
  ci/tests/ldap/run-ad-server.sh
  support/cas-server-support-ldap-core/src/main/java/org/apereo/cas/util/LdapUtils.java
  support/cas-server-support-pm-ldap/src/main/java/org/apereo/cas/pm/LdapPasswordManagementService.java
  support/cas-server-support-pm-ldap/src/test/java/org/apereo/cas/pm/ADPasswordManagementServiceTests.java
Labels: LDAP & Active Directory, Password Management

#4373 [Doc] Provide description for Pac4jAzure `tenant` properties
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pac4j/oidc/Pac4jAzureOidcClientProperties.java
Labels: Configuration, Configuration Metadata, Delegated Authentication Pac4J, Documentation, Remember: Document Property

#4376 Password Management : Update zxcvbn webjars lib (4.3.0 --> 4.4.2)
  gradle.properties
  gradle/dependencies.gradle
Labels: Password Management

#4374 Password Management : display feedback warning and suggestions as warning alerts when user change his password
  webapp/cas-server-webapp-resources/src/main/resources/static/js/passwordMeter.js
  webapp/cas-server-webapp-resources/src/main/resources/templates/fragments/pwdupdateform.html
Labels: Password Management

#4378 move password management links into a thymeleaf fragment
  webapp/cas-server-webapp-resources/src/main/resources/templates/fragments/loginform.html
  webapp/cas-server-webapp-resources/src/main/resources/templates/fragments/pmlinks.html
Labels: Password Management

#4377 add Active Directory test for password policy warnings due to password expiration
  ci/tests/ldap/run-ad-server.sh
  core/cas-server-core-web/src/main/resources/cas_common_messages.properties
  docs/cas-server-documentation/ux/User-Interface-Customization-CSSJS.md
  support/cas-server-support-ldap/src/test/java/org/apereo/cas/AllLdapTestsSuite.java
  support/cas-server-support-ldap/src/test/java/org/apereo/cas/authentication/ActiveDirectoryJndiSamAccountNameLdapAuthenticationHandlerTests.java
  support/cas-server-support-ldap/src/test/java/org/apereo/cas/authentication/ActiveDirectoryJndiUPNLdapAuthenticationHandlerTests.java
  support/cas-server-support-ldap/src/test/java/org/apereo/cas/authentication/ActiveDirectoryLdapAuthenticationHandlerPasswordPolicyTests.java
Labels: LDAP & Active Directory, Password Policy, Unit/Integration Tests

#4379 add test to check for bad webjar links, fix two links
  core/cas-server-core-web/build.gradle
  core/cas-server-core-web/src/main/resources/cas_common_messages.properties
  core/cas-server-core-web/src/test/java/org/apereo/cas/AllTestsSuite.java
  core/cas-server-core-web/src/test/java/org/apereo/cas/web/WebjarValidationTests.java
  core/cas-server-core-web/src/test/resources/log4j2.xml
Labels: Unit/Integration Tests

#4382 update quartz dependency for CVE-2019-13990
  gradle.properties
Labels: Dependencies & Modules, Gradle Build & Release, Refactoring & Code CleanUp

#4381 Update docs for JBoss, EAP and Wildfly to detail jdk.unsupported
  docs/cas-server-documentation/installation/Configuring-Servlet-Container.md
Labels: Documentation, Gradle Build & Release

#4384 update quartz dependency for CVE-2019-13990 (#4382)
  gradle.properties
Labels: Dependencies & Modules, Gradle Build & Release, Refactoring & Code CleanUp, Remember: Port Forward

#4385 update signalfx dependency
  gradle.properties
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release

#4386 renovatebot(deps): update apachecassandra to v3.8.0
  gradle.properties
Labels: Apache Cassandra, Bot, Dependencies & Modules, Gradle Build & Release

#4387 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.15.3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4388 renovatebot(deps): update dependency com.h3xstream.findsecbugs:findsecbugs-plugin to v1.10.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4390 renovatebot(deps): update dependency com.textmagic.sdk:textmagic-java-sdk to v2.0.818
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4391 renovatebot(deps): update dependency org.jruby:jruby-complete to v9.2.9.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4389 renovatebot(deps): update dependency com.sun.istack:istack-commons-runtime to v3.0.10
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4393 update signalfx dependency (#4385)
  gradle.properties
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release, Remember: Port Forward

#4394 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.45.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release
