Repository apereo/cas, pull requests merged in 2019-07, with the labels that each got.

#4067 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.40.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4066 renovatebot(deps): update amazonsdk to v1.11.584
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4079 Open up a little the authentication delegation
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Authentication, Delegated Authentication Pac4J

#4078 Open up a little the authentication delegation
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Authentication, Delegated Authentication Pac4J, Remember: Port Forward

#4070 renovatebot(deps): update dependency com.squareup.okhttp3:okhttp to v4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4068 renovatebot(deps): update dependency org.glassfish.jersey.inject:jersey-hk2 to v2.29
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4071 ServiceRegistryInitializer: Doing a regex match on service id leads to false positives
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/ServiceRegistryInitializer.java
Labels: Services & Registries

#4075 Implement MongoDbServiceRegistry queries as mongo queries
  support/cas-server-support-mongo-service-registry/src/main/java/org/apereo/cas/services/MongoDbServiceRegistry.java
Labels: MongoDb, Services & Registries

#4073 Doing a regex match on service id leads to false positives (6.0.x)
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/ServiceRegistryInitializer.java
Labels: Remember: Port Forward

#4074 Doing a regex match on service id leads to false positives (5.3.x)
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/ServiceRegistryInitializer.java
Labels: Remember: Port Forward, Services & Registries

#4076 Implement MongoDbServiceRegistry queries as mongo queries 6.0.x
  support/cas-server-support-mongo-service-registry/src/main/java/org/apereo/cas/services/MongoDbServiceRegistry.java
Labels: MongoDb, Remember: Port Forward

#4080 Override the Spring Boot mongo driver version
  gradle.properties
  gradle/overrides.gradle
Labels: Dependencies & Modules, MongoDb, Remember: Port Forward

#4077 Implement MongoDbServiceRegistry queries as mongo queries 5.3.x
  support/cas-server-support-mongo-service-registry/src/main/java/org/apereo/cas/services/MongoDbServiceRegistry.java
Labels: MongoDb, Remember: Port Forward

#4084 Fix TicketCatalog.find(Class) (6.0.x)
  api/cas-server-core-api-ticket/src/main/java/org/apereo/cas/ticket/TicketCatalog.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/DefaultTicketCatalog.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/registry/BaseTicketRegistryTests.java
Labels: Remember: Port Forward, Tickets & Registries

#4083 Fix TicketCatalog.find(Class) (5.3.x)
  api/cas-server-core-api-ticket/src/main/java/org/apereo/cas/ticket/TicketCatalog.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/DefaultTicketCatalog.java
  core/cas-server-core-tickets/src/test/groovy/org/apereo/cas/config/AbstractTicketRegistryTicketCatalogConfigTests.groovy
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/registry/BaseTicketRegistryTests.java
Labels: Remember: Port Forward, Tickets & Registries

#4072 Remove unused ServiceRegistry.findServiceById(String) method
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/services/ServiceRegistry.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/ChainingServiceRegistry.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/InMemoryServiceRegistry.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/resource/AbstractResourceBasedServiceRegistry.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/AbstractServiceRegistryTests.java
  support/cas-server-support-cassandra-service-registry/src/main/java/org/apereo/cas/adaptors/cassandra/services/CassandraServiceRegistry.java
  support/cas-server-support-cosmosdb-service-registry/src/main/java/org/apereo/cas/services/CosmosDbServiceRegistry.java
  support/cas-server-support-couchbase-service-registry/src/main/java/org/apereo/cas/services/CouchbaseServiceRegistry.java
  support/cas-server-support-couchdb-service-registry/src/main/java/org/apereo/cas/services/CouchDbServiceRegistry.java
  support/cas-server-support-dynamodb-service-registry/src/main/java/org/apereo/cas/services/DynamoDbServiceRegistry.java
  support/cas-server-support-git-service-registry/src/main/java/org/apereo/cas/services/GitServiceRegistry.java
  support/cas-server-support-jpa-service-registry/src/main/java/org/apereo/cas/services/JpaServiceRegistry.java
  support/cas-server-support-ldap-service-registry/src/main/java/org/apereo/cas/adaptors/ldap/services/LdapServiceRegistry.java
  support/cas-server-support-mongo-service-registry/src/main/java/org/apereo/cas/services/MongoDbServiceRegistry.java
  support/cas-server-support-redis-service-registry/src/main/java/org/apereo/cas/adaptors/redis/services/RedisServiceRegistry.java
  support/cas-server-support-rest-service-registry/src/main/java/org/apereo/cas/services/RestfulServiceRegistry.java
Labels: Architecture & APIs, Refactoring & Code CleanUp, Services & Registries

#4085 Fix TicketCatalog.find(Class)
  api/cas-server-core-api-ticket/src/main/java/org/apereo/cas/ticket/TicketCatalog.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/DefaultTicketCatalog.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/registry/BaseTicketRegistryTests.java
Labels: Tickets & Registries

#4093 Fix password change error message stickiness
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/PasswordChangeAction.java
Labels: Password Management

#4094 Fix password change error message stickiness
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/PasswordChangeAction.java
Labels: Password Management, Remember: Port Forward

#4098 Fix NPE on MFA
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/MultifactorAuthenticationUtils.java
Labels: MFA, Refactoring & Code CleanUp, Remember: Port Forward

#4097 Fix NPE on MFA
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/MultifactorAuthenticationUtils.java
Labels: MFA, Refactoring & Code CleanUp

#4091 renovatebot(deps): update junit
  gradle.properties
Labels: Bot, Gradle Build & Release, Unit/Integration Tests

#4092 renovatebot(deps): update micrometer to v1.2.0
  gradle.properties
Labels: Analytics & Statistics, Bot, Dependencies & Modules, Gradle Build & Release, Statistics & Metrics

#4095 renovatebot(deps): update dependency org.apache.commons:commons-text to v1.7
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4090 renovatebot(deps): update dependency net.bull.javamelody:javamelody-spring-boot-starter to v1.78.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4089 renovatebot(deps): update dependency com.nimbusds:nimbus-jose-jwt to v7.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JWT AuthN & Tickets

#4099 renovatebot(deps): update dependency joda-time:joda-time to v2.10.3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4100 renovatebot(deps): update groovy
  gradle.properties
Labels: Apache Groovy, Bot, Gradle Build & Release

#4102 Update spring version to use snapshot
  gradle/overrides.gradle
Labels: Dependencies & Modules, Gradle Build & Release

#4103 Update person-directory version to latest SNAPSHOT
  gradle.properties
Labels: Dependencies & Modules, Gradle Build & Release

#4106 renovatebot(deps): update mockito to v3 (major)
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Unit/Integration Tests

#4105 renovatebot(deps): update dependency net.bytebuddy:byte-buddy to v1.9.14
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4110 update log4j2 version to match spring-boot
  gradle/overrides.gradle
Labels: Audits & Logging, Dependencies & Modules

#4111 Update spring-boot to 2.2.0-BUILD-SNAPSHOT
  build.gradle
  gradle.properties
Labels: Gradle Build & Release

#4107 renovatebot(deps): update dependency com.datastax.cassandra:cassandra-driver-core to v3.7.2
  gradle.properties
Labels: Apache Cassandra, Bot, Dependencies & Modules, Gradle Build & Release

#4109 renovatebot(deps): update dependency org.apache.commons:commons-collections4 to v4.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4088 renovatebot(deps): update amazonsdk to v1.11.589
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4114 Port forward CookieRetrievingCookieGeneratorTests fixes
  core/cas-server-core-cookie-api/src/test/java/org/apereo/cas/web/support/CookieRetrievingCookieGeneratorTests.java
Labels: Unit/Integration Tests

#4113 Fix remember me cookie unit test
  core/cas-server-core-cookie-api/src/main/java/org/apereo/cas/web/support/CookieRetrievingCookieGenerator.java
  core/cas-server-core-cookie-api/src/test/java/org/apereo/cas/web/support/CookieRetrievingCookieGeneratorTests.java
Labels: Remember: Port Forward, Unit/Integration Tests

#4112 Allow multivalue attributes in CookieRetrievingCookieGenerator
  core/cas-server-core-cookie-api/build.gradle
  core/cas-server-core-cookie-api/src/main/java/org/apereo/cas/web/support/CookieRetrievingCookieGenerator.java
  core/cas-server-core-cookie-api/src/test/java/org/apereo/cas/web/support/CookieRetrievingCookieGeneratorTests.java
Labels: Attribute Release, Attribute Resolution, Remember: Port Forward

#4122 fix link in docs
  docs/cas-server-documentation/configuration/Configuration-Properties.md
Labels: Documentation

#4121 Support FileUrlResource for OIDC JWK
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/jwks/OidcJsonWebKeystoreGeneratorService.java
Labels: OpenID Connect Protocol, Remember: Port Forward

#4127 Add method to override http client keep alive strategy
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/http/SimpleHttpClientFactoryBean.java
Labels: Remember: Port Forward

#4124 Add TST support to BaseTicketSerializers 6.0.x
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/BaseTicketSerializers.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/TicketSerializersTests.java
Labels: Delegated Authentication Pac4J, Remember: Port Forward, Tickets & Registries

#4117 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.40.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release, Pending

#4126 Add method to override http client keep alive strategy
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/http/SimpleHttpClientFactoryBean.java
Labels: Refactoring & Code CleanUp

#4115 renovatebot(deps): update amazonsdk to v1.11.590
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Pending

#4116 renovatebot(deps): update dependency com.squareup.okhttp3:okhttp to v4.0.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Pending

#4118 renovatebot(deps): update dependency gradle to v5.5.1
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4130 renovatebot(deps): update dependency com.microsoft.azure:azure-documentdb to v2.4.1
  gradle.properties
Labels: Bot, CosmosDb, Dependencies & Modules, Gradle Build & Release

#4132 renovatebot(deps): update dependency com.nimbusds:oauth2-oidc-sdk to v6.14
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol, OpenID Connect Protocol

#4129 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.14.7
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4131 renovatebot(deps): update dependency com.nimbusds:nimbus-jose-jwt to v7.5.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JWT AuthN & Tickets

#4133 SAML condition clock skew allowance applies 'before' as well as 'after'
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/builders/conditions/SamlProfileSamlConditionsBuilder.java
Labels: SAML Core

#4134 Doc fix: syntax error in setting java.util.logging.ConsoleHandler.level
  docs/cas-server-documentation/installation/Configuring-Servlet-Container.md
Labels: Audits & Logging, Documentation

#4104 [OpenID Connect (OIDC)] fix prompt=login login api query parameter
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/util/OidcAuthorizationRequestSupport.java
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/web/OidcCallbackAuthorizeViewResolver.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/util/OidcAuthorizationRequestSupportTests.java
Labels: OpenID Connect Protocol, Remember: Port Forward

#4135 Fix JpaTicketRegistry logging
  support/cas-server-support-jpa-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/JpaTicketRegistry.java
Labels: Audits & Logging, JDBC & Hibernate & JPA, Remember: Port Forward

#4136 Fix missing clean-up of Auth Codes when using JPA+OAuth2.0/OIDC
  support/cas-server-support-jpa-ticket-registry/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-jpa-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/OauthJpaTicketRegistryTests.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/ticket/code/OAuthCodeImpl.java
Labels: JDBC & Hibernate & JPA, OAuth2 Protocol, OpenID Connect Protocol

#4141 renovatebot(deps): update junit
  gradle.properties
Labels: Bot, Gradle Build & Release, Unit/Integration Tests

#4138 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.14.8
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4139 renovatebot(deps): update dependency commons-codec:commons-codec to v1.13
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4140 renovatebot(deps): update dependency net.bytebuddy:byte-buddy to v1.9.15
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4128 renovatebot(deps): update amazonsdk to v1.11.597
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Pending
