Repository apereo/cas, pull requests merged in 2019-08, with the labels that each got.

#4137 Adds a SystemHealthIndicator to Monitors
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/monitor/MonitorProperties.java
  api/cas-server-core-api-ticket/src/main/java/org/apereo/cas/ticket/ExpirationPolicyBuilder.java
  core/cas-server-core-monitor/src/main/java/org/apereo/cas/monitor/SystemMonitorHealthIndicator.java
  core/cas-server-core-monitor/src/main/java/org/apereo/cas/monitor/config/CasCoreMonitorConfiguration.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
Labels: Monitoring

#4146 Update Configuring-Ticketing-Components.md
  docs/cas-server-documentation/ticketing/Configuring-Ticketing-Components.md
Labels: Documentation

#4148 Update Configuration Docs
  docs/cas-server-documentation/configuration/Configuration-Discovery.md
  docs/cas-server-documentation/configuration/Configuration-Management-Reload.md
  docs/cas-server-documentation/configuration/Configuration-Metadata-Repository.md
  docs/cas-server-documentation/configuration/Configuration-Properties-Security.md
  docs/cas-server-documentation/configuration/Configuration-Server-Management.md
Labels: Documentation

#4145 Adds write operation to /releaseAttributes
  docs/cas-server-documentation/integration/Attribute-Release-Policies.md
  support/cas-server-support-reports-core/src/main/java/org/apereo/cas/web/report/CasReleaseAttributesReportEndpoint.java
Labels: Attribute Release, Attribute Resolution

#4149 update person-directory dependency to 1.8.14
  gradle.properties
Labels: Dependencies & Modules, Gradle Build & Release

#4150 refactor usage of pwd.example.org
  webapp/cas-server-webapp-resources/src/main/resources/messages.properties
  webapp/cas-server-webapp-resources/src/main/resources/messages_de.properties
  webapp/cas-server-webapp-resources/src/main/resources/messages_fr.properties
  webapp/cas-server-webapp-resources/src/main/resources/messages_pl.properties
  webapp/cas-server-webapp-resources/src/main/resources/messages_sk.properties
  webapp/cas-server-webapp-resources/src/main/resources/messages_vi.properties
  webapp/cas-server-webapp-resources/src/main/resources/templates/fragments/loginform.html
  webapp/cas-server-webapp-resources/src/main/resources/templates/fragments/pwdupdateform.html
Labels: Password Management, Refactoring & Code CleanUp, User Interface & Themes

#4147 Allow disabling HTTP headers on a per-service basis
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/services/web/support/RegisteredServiceResponseHeadersEnforcementFilter.java
  core/cas-server-core-web/src/test/java/org/apereo/cas/web/RegisteredServiceResponseHeadersEnforcementFilterTests.java
Labels: Services & Registries

#4162 renovatebot(deps): update dependency org.owasp:dependency-check-gradle to v5.2.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4160 renovatebot(deps): update dependency net.bytebuddy:byte-buddy to v1.10.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4157 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.41.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4154 renovatebot(deps): update dependency com.nimbusds:nimbus-jose-jwt to v7.7
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JWS & JWT AuthN & Tickets

#4151 renovatebot(deps): update amazonsdk to v1.11.603
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4153 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.14.9
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4144 Additional /auditLog methods for selecting log entries
  docs/cas-server-documentation/installation/Audits.md
  support/cas-server-support-reports-core/src/main/java/org/apereo/cas/web/report/AuditLogEndpoint.java
Labels: Audits & Logging

#4161 renovatebot(deps): update dependency org.apache.commons:commons-pool2 to v2.7.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4159 renovatebot(deps): update dependency net.bull.javamelody:javamelody-spring-boot-starter to v1.79.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4158 renovatebot(deps): update dependency com.unboundid.product.scim:scim-sdk to v1.8.22
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4152 renovatebot(deps): update apachewss4j to v2.2.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4166 Update docs
  docs/cas-server-documentation/ticketing/Configuring-Ticket-Expiration-Policy.md
  docs/cas-server-documentation/ticketing/Configuring-Ticketing-Components.md
  docs/cas-server-documentation/ticketing/Messaging-JMS-Ticket-Registry.md
  docs/cas-server-documentation/ux/User-Interface-Customization-CSSJS.md
Labels: Documentation

#4174 renovatebot(deps): update dependency org.owasp:dependency-check-gradle to v5.2.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4172 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.41.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4171 renovatebot(deps): update dependency com.google.maps:google-maps-services to v0.9.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Services & Registries

#4170 renovatebot(deps): update dependency com.github.ben-manes:gradle-versions-plugin to v0.22.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4165 renovatebot(deps): update dependency com.nexmo:client to v5
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4176 renovatebot(deps): update spring data to v2.2.0.rc2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4169 renovatebot(deps): update amazonsdk to v1.11.605
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4173 renovatebot(deps): update dependency com.unboundid.product.scim2:scim2-sdk-client to v2.3.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4180 renovatebot(deps): update dependency com.yubico:u2flib-server-core to v0.19.6
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, MFA FIDO U2F

#4184 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.14.10
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4183 renovatebot(deps): update dependency com.netflix.nebula:gradle-lint-plugin to v12
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4187 fix velocity property keys to avoid deprecation warnings
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/authentication/PrincipalAttributesProperties.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/CoreAuthenticationUtils.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  gradle/overrides.gradle
  style/dependency-check-suppressions.xml
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20CallbackAuthorizeEndpointController.java
  support/cas-server-support-saml-core/src/main/java/org/apereo/cas/config/CoreSamlConfiguration.java
  support/cas-server-support-saml-idp-metadata-aws-s3/src/test/java/org/apereo/cas/support/saml/idp/metadata/AmazonS3SamlIdPMetadataGeneratorTests.java
Labels: Configuration, Configuration Metadata, Remember: Document Property, Unit/Integration Tests

#4185 renovatebot(deps): update dependency org.webjars:font-awesome to v5.10.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4181 renovatebot(deps): update dependency net.bytebuddy:byte-buddy to v1.10.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4182 renovatebot(deps): update dependency com.github.oshi:oshi-core to v4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4168 Refactor: Determine last-modified-date for CASVersion correctly
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/CasVersion.java
Labels: Refactoring & Code CleanUp

#4199 renovatebot(deps): update dependency org.yaml:snakeyaml to v1.25
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4193 renovatebot(deps): update apachecxf to v3.3.3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4198 renovatebot(deps): update dependency org.jruby:jruby-complete to v9.2.8.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4195 renovatebot(deps): update dependency com.unboundid.product.scim2:scim2-sdk-client to v2.3.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4164 renovatebot(deps): update spring cloud to v2.2.0.m2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4175 renovatebot(deps): update dependency org.springframework.kafka:spring-kafka to v2.3.0.m4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4179 renovatebot(deps): update amazonsdk to v1.11.608
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4200 renovatebot(deps): update dependency com.vdurmont:semver4j to v3
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4196 renovatebot(deps): update dependency commons-beanutils:commons-beanutils to v1.9.4
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Spring Boot

#4155 renovatebot(deps): update dependency com.squareup.okio:okio to v2.3.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4156 renovatebot(deps): update dependency com.squareup.retrofit2:retrofit to v2.6.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4194 renovatebot(deps): update dependency com.squareup.okhttp3:okhttp to v4.1.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4192 travis ci - group spotbugs and dependencies into same stage
  .travis.yml
Labels: Dependencies & Modules, Gradle Build & Release

#4202 renovatebot(deps): update amazonsdk to v1.11.613
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4208 travis-ci - attempt fo fix condition
  .travis.yml
Labels: Gradle Build & Release

#4207 renovatebot(deps): update dependency com.nexmo:client to v5.1.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4206 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.14.11
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4209 renovatebot(deps): update dependency com.netflix.nebula:gradle-lint-plugin to v12.0.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4211 renovatebot(deps): update amazonsdk to v1.11.614
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4213 renovatebot(deps): update dependency com.microsoft.azure:azure-keyvault-secrets-spring-boot-starter to v2.1.7
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Spring Cloud Vault

#4214 renovatebot(deps): update amazonsdk to v1.11.615
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4186 Delegated authentication: Use service obtained by using argument extractors to set correct serv…
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/config/DelegatedAuthenticationWebflowConfiguration.java
  support/cas-server-support-pac4j-webflow/src/test/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationActionTests.java
Labels: Authentication, Delegated Authentication Pac4J

#4205 adding service url to password reset url
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/SendPasswordResetInstructionsAction.java
Labels: Password Management, Remember: Document Property, Remember: Port Forward

#4218 Update dependency exclusions
  gradle/dependencies.gradle
  style/dependency-check-suppressions.xml
Labels: Dependencies & Modules, Gradle Build & Release

#4220 renovatebot(deps): update amazonsdk to v1.11.618
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4221 renovatebot(deps): update dependency com.nimbusds:nimbus-jose-jwt to v7.8
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JWS & JWT AuthN & Tickets

#4224 update dependency exclusions
  .github/renovate.json
  core/cas-server-core-web/build.gradle
  gradle.properties
  gradle/dependencies.gradle
  gradle/webapp.gradle
Labels: Dependencies & Modules, Gradle Build & Release

#4225 OIDC missing response type validator
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuthConfiguration.java
Labels: OpenID Connect Protocol, OpenID Protocol

#4216 Fix jwt service token without encryption key
  support/cas-server-support-token-core/src/main/java/org/apereo/cas/token/cipher/RegisteredServiceTokenTicketCipherExecutor.java
  support/cas-server-support-token-core/src/test/java/org/apereo/cas/token/BaseJWTTokenTicketBuilderTests.java
  support/cas-server-support-token-core/src/test/java/org/apereo/cas/token/JWTTokenTicketBuilderWithoutEncryptionTests.java
Labels: JWS & JWT AuthN & Tickets, Remember: Port Forward, Signing & Encryption

#4231 renovatebot(deps): update amazonsdk to v1.11.620
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4232 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.14.12
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4229 OAuth 2.0 - renew refresh token option
  docs/cas-server-documentation/installation/OAuth-OpenId-Authentication.md
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/OAuth20DefaultTokenGenerator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/ext/AccessTokenRefreshTokenGrantRequestExtractor.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/ext/AccessTokenRequestDataHolder.java
  support/cas-server-support-oauth-services/src/main/java/org/apereo/cas/support/oauth/services/OAuthRegisteredService.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/AbstractOAuth20Tests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/OAuth20RefreshTokenTests.java
Labels: OAuth2 Protocol

#4227 OIDC: Redirect to Original url with error code as login required.
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/util/OidcAuthorizationRequestSupport.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/OidcCallbackAuthorizeViewResolver.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/util/OidcAuthorizationRequestSupportTests.java
Labels: OpenID Connect Protocol, OpenID Protocol

#4217 Filter attributes included in oidc id_token
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/token/OidcIdTokenGeneratorService.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/token/OidcIdTokenGeneratorServiceTests.java
Labels: Attribute Release, Attribute Resolution, OpenID Connect Protocol, OpenID Protocol

#4234 renovatebot(deps): update dependency com.squareup.okio:okio to v2.4.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4233 renovatebot(deps): update dependency com.netflix.nebula:gradle-lint-plugin to v12.1.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4236 renovatebot(deps): update amazonsdk to v1.11.621
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4235 renovatebot(deps): update dependency gradle to v5.6.1
  gradle/wrapper/gradle-wrapper.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4237 Fix issue in shell - generate-idp-metadata
  ci/tests/shell/cas-shell-script.sh
  ci/tests/shell/validate-shell.sh
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/cipher/GenerateCryptoKeysCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/cipher/StringableCipherExecutorCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/db/GenerateDdlCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/jasypt/JasyptDecryptPropertyCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/jasypt/JasyptEncryptPropertyCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/jasypt/JasyptListAlgorithmsCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/jasypt/JasyptListProvidersCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/properties/AddPropertiesToConfigurationCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/properties/FindPropertiesCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/saml/GenerateSamlIdPMetadataCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/services/AnonymousUsernameAttributeProviderCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/services/GenerateYamlRegisteredServiceCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/services/ValidateRegisteredServiceCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/util/GenerateJwtCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/util/ValidateEndpointCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/util/ValidateLdapConnectionCommand.java
Labels: Command-line Shell

#4239 renovatebot(deps): update amazonsdk to v1.11.622
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4240 renovatebot(deps): update dependency com.github.ben-manes:gradle-versions-plugin to v0.23.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release
