Repository apereo/cas, pull requests merged in 2020-09, with the labels that each got.

#4926 Backport : Fix Password Reset Request Verification
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/VerifyPasswordResetRequestAction.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/VerifyPasswordResetRequestActionTests.java
Labels: Password Management, Remember: Port Forward

#4938 Fix code comment typo in CasWebflowConstants
  api/cas-server-core-api-webflow/src/main/java/org/apereo/cas/web/flow/CasWebflowConstants.java
Labels: Remember: Needs Tests, Spring Webflow

#4943 Make ehcache3 disk pool persistent
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/ehcache/Ehcache3Properties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  docs/cas-server-documentation/ticketing/Ehcache-Ticket-Registry.md
  support/cas-server-support-ehcache3-ticket-registry/src/main/java/org/apereo/cas/config/Ehcache3TicketRegistryConfiguration.java
Labels: EhCache, Remember: Needs Tests, Remember: Port Forward

#4944 Fix session replication autoconfigure
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/replication/SessionReplicationProperties.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20AuthorizeEndpointController.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20ConfigurationContext.java
  support/cas-server-support-oauth-uma/src/main/java/org/apereo/cas/config/CasOAuthUmaConfiguration.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20AuthorizeEndpointControllerTests.java
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/config/OidcConfiguration.java
Labels: Delegated Authentication Pac4J, OAuth2 Protocol, OpenID Connect Protocol, Remember: Document Property

#4936 Service ticket as JWT without TGT and gateway=true
  support/cas-server-support-token-tickets/src/main/java/org/apereo/cas/token/authentication/principal/TokenWebApplicationServiceResponseBuilder.java
  support/cas-server-support-token-tickets/src/test/java/org/apereo/cas/token/authentication/principal/TokenWebApplicationServiceResponseBuilderTests.java
Labels: JWS & JWT AuthN & Tickets, Services & Registries

#4949 Add link for deprecated getRequiredHandlers()
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/services/RegisteredService.java
Labels: Documentation, Remember: Needs Tests

#4948 add support for overlay casmodules property
  docs/cas-server-documentation/developer/Build-Process.md
  gradle/webapp.gradle
Labels: Configuration, Configuration Metadata, Gradle Build & Release
