Repository apereo/cas, pull requests merged in 2020-12, with the labels that each got.

#4997 Documentation: Cookie maxAge should be max-age
  docs/cas-server-documentation/configuration/Configuration-Properties-Common.md
Labels: Documentation, Remember: Port Forward, SSO & Cookies

#4993 Doc : fix spring boot admin configurations example
  docs/cas-server-documentation/configuration/Configuration-Properties.md
Labels: Documentation, Spring Boot, Spring Boot Admin Server

#4996 Reduce length of the JDBC audit columns.
  core/cas-server-core-audit-api/src/main/java/org/apereo/cas/audit/spi/entity/AuditTrailEntity.java
Labels: Audits & Logging, JDBC & Hibernate & JPA, Remember: Needs Tests, Remember: Port Forward

#4994 [OIDC] Fix OIDC Prompt=login when user is unauthenticated
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/OidcCasClientRedirectActionBuilder.java
Labels: OpenID Connect Protocol, Remember: Needs Tests, Remember: Port Forward

#4998 Reduce length of the JDBC audit columns.
  core/cas-server-core-audit-api/src/main/java/org/apereo/cas/audit/spi/entity/AuditTrailEntity.java
Labels: Audits & Logging, JDBC & Hibernate & JPA, Remember: Needs Tests

#4999 Configuration: make sure invalid yaml is logged
  core/cas-server-core-configuration-api/src/main/java/org/apereo/cas/configuration/loader/YamlConfigurationPropertiesLoader.java
  core/cas-server-core-configuration/src/test/java/org/apereo/cas/configuration/support/DefaultCasConfigurationPropertiesSourceLocatorTests.java
  core/cas-server-core-configuration/src/test/resources/badyaml.yml
Labels: Audits & Logging, Configuration

#5003 [6.2.x] Fix Hazelcast Cluster shutdown when configuration is reloaded
  support/cas-server-support-hazelcast-ticket-registry/src/main/java/org/apereo/cas/config/HazelcastTicketRegistryConfiguration.java
Labels: Configuration, Hazelcast, Remember: Needs Tests, Remember: Port Forward

#5002 Fix Hazelcast Cluster shutdown when configuration is reloaded
  support/cas-server-support-hazelcast-ticket-registry/src/main/java/org/apereo/cas/config/HazelcastTicketRegistryConfiguration.java
Labels: Configuration, Hazelcast, Remember: Needs Tests

#5005 Set Event `trackConfigurationModifications` to `false` by default
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/events/EventsProperties.java
Labels: Remember: Document Property, Remember: Needs Tests

#4995 Configuration: allow http-client trust store type to be specified
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/authentication/HttpClientProperties.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/authentication/FileTrustStoreSslSocketFactoryTests.java
  core/cas-server-core-authentication/src/test/resources/truststore.p12
  core/cas-server-core-web/src/main/java/org/apereo/cas/config/CasCoreHttpConfiguration.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
Labels: Configuration

#5010 fix saml git idp metadata to be conditional
  support/cas-server-support-authy/src/main/java/org/apereo/cas/adaptors/authy/config/support/authentication/AuthyAuthenticationEventExecutionPlanConfiguration.java
  support/cas-server-support-saml-idp-metadata-git/src/main/java/org/apereo/cas/config/SamlIdPGitIdPMetadataConfiguration.java
  support/cas-server-support-saml-idp-metadata-git/src/main/java/org/apereo/cas/config/SamlIdPGitRegisteredServiceMetadataConfiguration.java
  webapp/cas-server-webapp-init/src/main/java/org/apereo/cas/web/CasWebApplication.java
Labels: Remember: Needs Tests, SAML Core, SAML2 Protocol

#5013 Fix profiles missing SESSION_CLIENT_ID throws NullPointerException
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/OAuth20ClientIdAwareProfileManager.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/OAuth20TestsSuite.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/profile/OAuth20ClientIdAwareProfileManagerTests.java
Labels: OAuth2 Protocol, OpenID Connect Protocol

#4975 WIP - add helm chart to initializr
  .gitattributes
  .github/workflows/initializr-build.yml
  app/src/main/java/org/apereo/cas/config/CasOverlayProjectGenerationConfiguration.java
  app/src/main/java/org/apereo/cas/overlay/contrib/helm/CasOverlayHelmContributor.java
  app/src/main/resources/application.yml
  app/src/main/resources/overlay/build.gradle
  app/src/main/resources/overlay/etc/cas/config/log4j2.xml
  app/src/main/resources/overlay/gradle.properties
  app/src/main/resources/overlay/gradle/exec/gradlew.bat
  app/src/main/resources/overlay/gradle/tasks.gradle
  app/src/main/resources/overlay/helmcharts/helm/README.md
  app/src/main/resources/overlay/helmcharts/helm/cas-server/.helmignore
  app/src/main/resources/overlay/helmcharts/helm/cas-server/Chart.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/README.md
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/NOTES.txt
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/_helpers.tpl
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/bootadmin/configmap.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/bootadmin/deployment.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/bootadmin/ingress.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/bootadmin/service.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/casconfig-configmap.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/ingress.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/role.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/rolebinding.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/script-configmap.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/service.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/serviceaccount.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/statefulset.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/tests/test-bootadmin.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/tests/test-cas-server.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/values.yaml
  app/src/main/resources/overlay/helmcharts/helm/create-cas-server-keystore-secret.sh
  app/src/main/resources/overlay/helmcharts/helm/create-ingress-tls.sh
  app/src/main/resources/overlay/helmcharts/helm/create-truststore.sh
  app/src/main/resources/overlay/helmcharts/helm/delete-cas-server.sh
  app/src/main/resources/overlay/helmcharts/helm/install-cas-server-example.sh
  app/src/main/resources/overlay/helmcharts/helm/install-cas-server.sh
  app/src/main/resources/overlay/helmcharts/helm/values-example1.yaml
  app/src/main/resources/overlay/jib/dockerjib.gradle
  app/src/main/resources/overlay/jib/entrypoint.sh
  ci/validate-helm.sh
  ci/validate.sh
  gradlew.bat
Labels: Installation & Deployment, Pending: Work in Progress

#5015 fix casModules docs
  docs/cas-server-documentation/developer/Build-Process.md
  docs/cas-server-documentation/developer/Test-Process.md
  gradle/webapp.gradle
Labels: Documentation, Gradle Build & Release

#5011 Kubernetes Helm deployment documentation
  docs/cas-server-documentation/installation/Kubernetes-Helm-Deployment.md
  docs/cas-server-documentation/installation/WAR-Overlay-Initializr.md
  docs/cas-server-documentation/sidebar.md
Labels: Documentation, Installation & Deployment

#5012 github CI - run tests on Windows and MacOS
  .gitattributes
  .github/workflows/cas-build.yml
  ci/init-build.sh
  ci/tests/activemq/run-activemq-server.sh
  ci/tests/kafka/run-kafka-server.sh
  ci/tests/ldap/run-ad-server.sh
  ci/tests/mariadb/run-mariadb-server.sh
  ci/tests/mssqlserver/run-mssql-server.sh
  ci/tests/mysql/run-mysql-server.sh
  ci/tests/oracle/run-oracle-server.sh
  ci/tests/postgres/run-postgres-server.sh
  ci/tests/radius/run-radius-server.sh
  ci/tests/redis/docker-compose.yml
  ci/tests/redis/run-redis-server.sh
  core/cas-server-core-authentication-api/src/test/java/org/apereo/cas/authentication/OneTimeTokenTests.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/authentication/handler/support/JaasAuthenticationHandlerSystemConfigurationTests.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/authentication/handler/support/JaasAuthenticationHandlerTests.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/authentication/handler/support/JaasAuthenticationHandlersConfigurationTests.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/resource/AbstractResourceBasedServiceRegistry.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/SocketUtils.java
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/AllUtilTestsSuite.java
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/util/MockWebServer.java
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/util/SocketUtilsTests.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/ScriptingUtilsTests.java
  gradle/tests.gradle
  support/cas-server-support-acme/src/test/java/org/apereo/cas/acme/BaseAcmeTests.java
  support/cas-server-support-gauth/src/test/java/org/apereo/cas/gauth/credential/JsonGoogleAuthenticatorTokenCredentialRepositoryTests.java
  support/cas-server-support-git-service-registry/src/test/java/org/apereo/cas/services/GitServiceRegistryTests.java
  support/cas-server-support-ignite-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/IgniteTicketRegistryTests.java
  support/cas-server-support-notifications-fcm/src/test/java/org/apereo/cas/notifications/GoogleFirebaseCloudMessagingNotificationSenderTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/jwks/OidcDefaultJsonWebKeystoreCacheLoaderTests.java
  support/cas-server-support-qr-authentication/src/test/java/org/apereo/cas/qr/validation/DefaultQRAuthenticationTokenValidatorServiceTests.java
  support/cas-server-support-radius-core/src/test/java/org/apereo/cas/adaptors/radius/BlockingRadiusServerTests.java
  support/cas-server-support-radius-core/src/test/java/org/apereo/cas/adaptors/radius/NonBlockingRadiusServerTests.java
  support/cas-server-support-radius-mfa/src/test/java/org/apereo/cas/adaptors/radius/authentication/RadiusTokenAuthenticationHandlerTests.java
  support/cas-server-support-radius/src/test/java/org/apereo/cas/adaptors/radius/authentication/handler/support/RadiusAuthenticationHandlerTests.java
  support/cas-server-support-reports/src/test/java/org/apereo/cas/web/report/LoggingConfigurationEndpointTests.java
  support/cas-server-support-saml-idp-metadata-git/src/test/java/org/apereo/cas/support/saml/idp/metadata/GitSamlIdPMetadataGeneratorTests.java
  support/cas-server-support-saml-idp-metadata-git/src/test/java/org/apereo/cas/support/saml/idp/metadata/GitSamlIdPMetadataLocatorTests.java
  support/cas-server-support-saml-idp-metadata-git/src/test/java/org/apereo/cas/support/saml/metadata/resolver/GitSamlRegisteredServiceMetadataResolverTests.java
  support/cas-server-support-saml-idp-metadata/src/test/java/org/apereo/cas/support/saml/services/idp/metadata/cache/resolver/GroovyResourceMetadataResolverTests.java
  support/cas-server-support-saml-idp/src/test/java/org/apereo/cas/support/saml/services/SamlRegisteredServiceTests.java
  support/cas-server-support-trusted-mfa/src/test/java/org/apereo/cas/trusted/authentication/storage/JsonMultifactorAuthenticationTrustStorageTests.java
  support/cas-server-support-u2f/build.gradle
  support/cas-server-support-u2f/src/test/java/org/apereo/cas/adaptors/u2f/storage/U2FJsonResourceDeviceRepositoryTests.java
  support/cas-server-support-u2f/src/test/java/org/apereo/cas/adaptors/u2f/storage/U2FRestResourceDeviceRepositoryTests.java
  support/cas-server-support-u2f/src/test/resources/U2FDeviceRepository.groovy
  support/cas-server-support-u2f/src/test/resources/log4j2-test.xml
  support/cas-server-support-webauthn/src/test/java/org/apereo/cas/webauthn/storage/JsonResourceWebAuthnCredentialRepositoryTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/handler/support/CRLDistributionPointRevocationCheckerTests.java
  support/cas-server-support-yubikey/src/test/java/org/apereo/cas/adaptors/yubikey/YubiKeyMultifactorWebflowConfigurerTests.java
  support/cas-server-support-yubikey/src/test/java/org/apereo/cas/adaptors/yubikey/registry/JsonYubiKeyAccountRegistryTests.java
  support/cas-server-support-yubikey/src/test/java/org/apereo/cas/adaptors/yubikey/registry/YubiKeyAccountRegistryEndpointTests.java
  testcas.sh
Labels: Unit/Integration Tests

#4984 [OAuth/OIDC] Support of the Authorization Requests Errors
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/OAuth20Constants.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/validator/authorization/BaseOAuth20AuthorizationRequestValidator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20AuthorizationCodeResponseTypeAuthorizationRequestValidator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20AuthorizeEndpointController.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20ConfigurationContext.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20InvalidAuthorizationResponseBuilder.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/OAuth20TestsSuite.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20AuthorizationCodeResponseTypeAuthorizationRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20IdTokenAndTokenResponseTypeAuthorizationRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20IdTokenResponseTypeAuthorizationRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20ProofKeyCodeExchangeResponseTypeAuthorizationRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/authorization/OAuth20TokenResponseTypeAuthorizationRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/OAuth20HandlerInterceptorAdapterTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20AuthorizeEndpointControllerTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20InvalidAuthorizationResponseBuilderTests.java
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/config/OidcConfiguration.java
Labels: Authorization & Access Strategy, OAuth2 Protocol, OpenID Connect Protocol

#5018 CAS Initializr - update CI for helm
  ci/validate-helm.sh
  ci/validate.sh
Labels: Installation & Deployment
