Repository apereo/cas, pull requests merged in 2020-03, with the labels that each got.

#4740 Surrogate authentication NPE fix for REST protocol
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/authentication/rest/SurrogateAuthenticationRestHttpRequestCredentialFactory.java
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/authentication/rest/SurrogateAuthenticationRestHttpRequestCredentialFactoryTests.java
Labels: Authentication, REST Protocol & Integration, Refactoring & Code CleanUp, Surrogate Authentication

#4739 Add support for tomcat cloud clustering member discovery
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/web/tomcat/CasEmbeddedApacheTomcatClusteringProperties.java
  build.gradle
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  webapp/cas-server-webapp-init-tomcat/src/main/java/org/apereo/cas/tomcat/CasTomcatServletWebServerFactory.java
Labels: Apache Tomcat, Configuration Discovery, Session Management

#4748 Italian messages: fix accents + some missing keys
  support/cas-server-support-thymeleaf/src/main/resources/messages_it.properties
Labels: Internationalization

#4744 Fix OIDC max_age
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/OidcSecurityInterceptor.java
Labels: OpenID Connect Protocol

#4746 Add client_secret_basic authentication support for refresh token request
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/validator/token/OAuth20RefreshTokenGrantTypeTokenRequestValidator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/ext/AccessTokenAuthorizationCodeGrantRequestExtractor.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/ext/AccessTokenRefreshTokenGrantRequestExtractor.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/token/OAuth20RefreshTokenGrantTypeTokenRequestValidatorTests.java
Labels: Authentication, OAuth2 Protocol, OpenID Connect Protocol

#4747 Backport: Add client_secret_basic authentication support for refresh token request
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/validator/token/OAuth20RefreshTokenGrantTypeTokenRequestValidator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/ext/AccessTokenAuthorizationCodeGrantRequestExtractor.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/ext/AccessTokenRefreshTokenGrantRequestExtractor.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/token/OAuth20RefreshTokenGrantTypeTokenRequestValidatorTests.java
Labels: Authentication, OAuth2 Protocol, OpenID Connect Protocol, Remember: Port Forward

#4749 Fix folder name
  support/cas-server-support-jpa-hibernate/src/main/resources/META-INF/spring.factories
Labels: JDBC & Hibernate & JPA

#4751 Consume bucket once when blocking property is enabled.
  support/cas-server-support-throttle-bucket4j/src/main/java/org/apereo/cas/web/Bucket4jThrottledRequestExecutor.java
Labels: Authentication Throttling, Configuration, Configuration Metadata

#4750 Discovery profile endpoint should return a json.
  support/cas-server-support-discovery-profile/src/main/java/org/apereo/cas/discovery/CasServerDiscoveryProfileEndpoint.java
Labels: Configuration Discovery

#4754 fix css so password policy requirement hide() will work
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/pwdupdateform.html
Labels: Password Policy, User Interface & Themes

#4757 Enable transaction on deleteTicket
  support/cas-server-support-jpa-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/JpaTicketRegistry.java
Labels: JDBC & Hibernate & JPA, Remember: Port Forward

#4553 Refactoring and configuration options for AWS Logging
  docs/cas-server-documentation/logging/Logging-Cloudwatch.md
  support/cas-server-support-logging-config-cloudwatch/src/main/java/org/apereo/cas/logging/CloudWatchAppender.java
  support/cas-server-support-logging-config-cloudwatch/src/test/groovy/org/apereo/cas/logging/CloudWatchAppenderOldTests.groovy
  support/cas-server-support-logging-config-cloudwatch/src/test/java/org/apereo/cas/logging/AllTestsSuite.java
  support/cas-server-support-logging-config-cloudwatch/src/test/java/org/apereo/cas/logging/CloudWatchAppenderSpecTests.java
Labels: Audits & Logging, Configuration, Refactoring & Code CleanUp

#4756 Enable transaction on deleteTicket
  support/cas-server-support-jpa-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/JpaTicketRegistry.java
Labels: JDBC & Hibernate & JPA

#4759 Extend the length of the JDBC audit columns
  core/cas-server-core-audit-api/src/main/java/org/apereo/cas/audit/spi/entity/AuditTrailEntity.java
Labels: Audits & Logging, JDBC & Hibernate & JPA

#4760 Extend the length of the JDBC audit columns
  core/cas-server-core-audit-api/src/main/java/org/apereo/cas/audit/spi/entity/AuditTrailEntity.java
Labels: Audits & Logging, JDBC & Hibernate & JPA, Remember: Port Forward

#4764 error calling oidc authorization with prompt=none
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/OidcCallbackAuthorizeViewResolver.java
Labels: Authorization & Access Strategy, OpenID Connect Protocol

#4763 OIDC/OAuth Revocation improvements part 1
  support/cas-server-support-dynamodb-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/DynamoDbTicketRegistryTests.java
  support/cas-server-support-oauth-api/src/main/java/org/apereo/cas/ticket/refreshtoken/OAuth20RefreshToken.java
  support/cas-server-support-oauth-api/src/main/java/org/apereo/cas/ticket/refreshtoken/OAuth20RefreshTokenFactory.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/OAuth20DefaultTokenGenerator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/ext/AccessTokenRequestDataHolder.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/ticket/refreshtoken/OAuth20DefaultRefreshToken.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/ticket/refreshtoken/OAuth20DefaultRefreshTokenFactory.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/AbstractOAuth20Tests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20AccessTokenEndpointControllerTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/ticket/BaseOAuth20ExpirationPolicyTests.java
Labels: OAuth2 Protocol, OpenID Connect Protocol

#4766 Correct SAML2 ACS handling
  support/cas-server-support-saml-idp-core/src/main/java/org/apereo/cas/support/saml/SamlIdPUtils.java
  support/cas-server-support-saml-idp/src/test/java/org/apereo/cas/support/saml/util/SamlIdPUtilsTests.java
Labels: SAML Core, SAML2 Protocol

#4772 Fix attribute resolution in Radius
  support/cas-server-support-radius/src/main/java/org/apereo/cas/config/RadiusConfiguration.java
Labels: Attribute Release, Attribute Resolution, RADIUS

#4769 Remove JWT generation in JWT authentication
  support/cas-server-support-token-authentication/build.gradle
  support/cas-server-support-token-webflow/build.gradle
Labels: Authentication, JWS & JWT AuthN & Tickets, Remember: Port Forward

#4768 Remove JWT generation in JWT authentication
  support/cas-server-support-token-authentication/build.gradle
  support/cas-server-support-token-webflow/build.gradle
Labels: Authentication, JWS & JWT AuthN & Tickets

#4773 Fix attribute resolution in Radius
  support/cas-server-support-radius/src/main/java/org/apereo/cas/config/RadiusConfiguration.java
Labels: Attribute Release, Attribute Resolution, RADIUS, Remember: Port Forward

#4770 Fix the JWT TokenAuthenticationHandler
  support/cas-server-support-token-authentication/src/main/java/org/apereo/cas/token/authentication/TokenAuthenticationHandler.java
Labels: Authentication, JWS & JWT AuthN & Tickets

#4774 Fix the JWT TokenAuthenticationHandler
  support/cas-server-support-token-authentication/src/main/java/org/apereo/cas/token/authentication/TokenAuthenticationHandler.java
Labels: Authentication, JWS & JWT AuthN & Tickets, Remember: Port Forward

#4785 Redis authentication throttling: Fix class casting error
  support/cas-server-support-throttle-redis/src/main/java/org/apereo/cas/web/support/RedisThrottledSubmissionHandlerInterceptorAdapter.java
Labels: Authentication, Authentication Throttling, Redis, Remember: Port Forward

#4787 Redis authentication throttling: Fix class casting error
  support/cas-server-support-throttle-redis/src/main/java/org/apereo/cas/web/support/RedisThrottledSubmissionHandlerInterceptorAdapter.java
Labels: Authentication, Authentication Throttling, Redis

#4789 [bugfix] Prevent infinite 302 when embedded jetty and behind LB (backport)
  webapp/cas-server-webapp-resources/src/main/resources/application.properties
Labels: Remember: Port Forward

#4771 OIDC/OAuth Revocation improvements part 2
  docs/cas-server-documentation/installation/OAuth-OpenId-Authentication.md
  support/cas-server-support-oauth-api/src/main/java/org/apereo/cas/ticket/OAuth20Token.java
  support/cas-server-support-oauth-api/src/main/java/org/apereo/cas/ticket/accesstoken/OAuth20AccessToken.java
  support/cas-server-support-oauth-api/src/main/java/org/apereo/cas/ticket/code/OAuth20Code.java
  support/cas-server-support-oauth-api/src/main/java/org/apereo/cas/ticket/refreshtoken/OAuth20RefreshToken.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/OAuth20Constants.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/util/OAuth20Utils.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/validator/token/OAuth20RevocationRequestValidator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/OAuth20HandlerInterceptorAdapter.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20RevocationEndpointController.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20ThrottleConfiguration.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/OAuth20TestsSuite.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/token/OAuth20RevocationRequestValidatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/AbstractOAuth20Tests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20RevocationEndpointControllerTests.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/OidcHandlerInterceptorAdapter.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/controllers/token/OidcRevocationEndpointController.java
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/config/OidcConfiguration.java
Labels: OAuth2 Protocol, OpenID Connect Protocol

#4767 OIDC SLO support
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oidc/OidcLogoutProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oidc/OidcProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-oidc-core-api/build.gradle
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/discovery/OidcServerDiscoverySettings.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/slo/OidcSingleLogoutMessageCreator.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/slo/OidcSingleLogoutServiceMessageHandler.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/token/OidcIdTokenGeneratorService.java
  support/cas-server-support-oidc-core/src/main/java/org/apereo/cas/oidc/OidcConstants.java
  support/cas-server-support-oidc/build.gradle
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/config/OidcConfiguration.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/OidcTestsSuite.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/AbstractOidcTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/slo/OidcSingleLogoutMessageCreatorTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/slo/OidcSingleLogoutServiceMessageHandlerTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/token/OidcIdTokenGeneratorServiceTests.java
Labels: Logout & SLO, OpenID Connect Protocol
