Repository apereo/cas, pull requests merged in 2020-05, with the labels that each got.

#4826 Shut down all ExecutorService
  core/cas-server-core-audit-api/src/main/java/org/apereo/cas/audit/spi/AbstractAuditTrailManager.java
  support/cas-server-support-events-couchdb/src/main/java/org/apereo/cas/support/events/CouchDbCasEventRepository.java
  support/cas-server-support-u2f-couchdb/src/main/java/org/apereo/cas/adaptors/u2f/storage/U2FCouchDbDeviceRepository.java
Labels: Refactoring & Code CleanUp

#4812 properly clean up resources at application shutdown
  support/cas-server-support-jdbc-drivers/src/main/java/org/apereo/cas/JdbcServletContextListener.java
  support/cas-server-support-jdbc-drivers/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-jdbc-drivers/src/test/java/org/apereo/cas/JdbcServletContextListenerTests.java
Labels: JDBC & Hibernate & JPA

#4846 Use tag for samba test container with version of ubuntu that works with java 11.0.2
  ci/tests/ldap/run-ad-server.sh
Labels: Dependencies & Modules, Remember: Port Forward, Unit/Integration Tests

#4847 Add a way to bypass unit test port available check
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/util/junit/EnabledIfPortOpenCondition.java
Labels: Unit/Integration Tests

#4849 Fix typo in german language file
  support/cas-server-support-thymeleaf/src/main/resources/messages_de.properties
Labels: Internationalization

#4848 pac4j update from 4.0.0-RC2 to 4.0.0 in release 6.1.6 breaks default behavior
  support/cas-server-support-oauth-uma/src/main/java/org/apereo/cas/config/CasOAuthUmaConfiguration.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20ThrottleConfiguration.java
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/config/OidcConfiguration.java
Labels: Delegated Authentication Pac4J, Pac4J, Remember: Port Forward

#4844 Fix ldap connection pool shut down - phase 1
  core/cas-server-core-monitor/src/main/java/org/apereo/cas/monitor/AbstractPoolHealthIndicator.java
  core/cas-server-core-monitor/src/test/java/org/apereo/cas/monitor/PoolHealthIndicatorTests.java
  support/cas-server-support-consent-ldap/src/main/java/org/apereo/cas/consent/LdapConsentRepository.java
  support/cas-server-support-ldap-monitor/src/main/java/org/apereo/cas/monitor/PooledLdapConnectionFactoryHealthIndicator.java
  support/cas-server-support-ldap-monitor/src/main/java/org/apereo/cas/monitor/config/LdapMonitorConfiguration.java
  support/cas-server-support-ldap-service-registry/src/main/java/org/apereo/cas/adaptors/ldap/services/LdapServiceRegistry.java
  support/cas-server-support-ldap/src/main/java/org/apereo/cas/authentication/LdapAuthenticationHandler.java
  support/cas-server-support-ldap/src/main/java/org/apereo/cas/authentication/LdapPasswordSynchronizationAuthenticationPostProcessor.java
  support/cas-server-support-ldap/src/main/java/org/apereo/cas/config/LdapAuthenticationConfiguration.java
  support/cas-server-support-ldap/src/main/java/org/apereo/cas/config/LdapPasswordSynchronizationConfiguration.java
  support/cas-server-support-spnego-webflow/src/main/java/org/apereo/cas/web/flow/client/LdapSpnegoKnownClientSystemsFilterAction.java
  support/cas-server-support-surrogate-authentication-ldap/src/main/java/org/apereo/cas/authentication/surrogate/SurrogateLdapAuthenticationService.java
Labels: LDAP & Active Directory

#4851 Delegating to CAS30 server (domain starts with login)
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DefaultDelegatedClientFactory.java
  support/cas-server-support-pac4j-core-clients/src/test/java/org/apereo/cas/support/pac4j/authentication/DefaultDelegatedClientFactoryTests.java
Labels: Delegated Authentication Pac4J

#4866 Upgrade ldaptive to v2.0.0-RC5.
  gradle.properties
  support/cas-server-support-gua/src/test/java/org/apereo/cas/gua/impl/LdapUserGraphicalAuthenticationRepositoryTests.java
  support/cas-server-support-ldap/src/test/java/org/apereo/cas/util/LdapTestUtils.java
Labels: Dependencies & Modules, LDAP & Active Directory

#4853 Fix ldap connection pool shut down - phase 2
  support/cas-server-support-aup-ldap/src/main/java/org/apereo/cas/aup/LdapAcceptableUsagePolicyRepository.java
  support/cas-server-support-aup-ldap/src/main/java/org/apereo/cas/config/CasAcceptableUsagePolicyLdapConfiguration.java
  support/cas-server-support-gua/src/main/java/org/apereo/cas/gua/config/GraphicalUserAuthenticationConfiguration.java
  support/cas-server-support-gua/src/main/java/org/apereo/cas/gua/impl/LdapUserGraphicalAuthenticationRepository.java
  support/cas-server-support-gua/src/test/java/org/apereo/cas/gua/impl/LdapUserGraphicalAuthenticationRepositoryTests.java
  support/cas-server-support-person-directory/src/main/java/org/apereo/cas/config/CasPersonDirectoryConfiguration.java
  support/cas-server-support-pm-ldap/src/main/java/org/apereo/cas/config/LdapPasswordManagementConfiguration.java
  support/cas-server-support-pm-ldap/src/main/java/org/apereo/cas/pm/LdapPasswordManagementService.java
  webapp/cas-server-webapp-config/src/main/java/org/apereo/cas/web/security/CasWebSecurityConfigurerAdapter.java
  webapp/cas-server-webapp-config/src/main/java/org/apereo/cas/web/security/authentication/MonitorEndpointLdapAuthenticationProvider.java
  webapp/cas-server-webapp-config/src/test/java/org/apereo/cas/web/security/authentication/MonitorEndpointLdapAuthenticationProviderGroupsBasedTests.java
  webapp/cas-server-webapp-config/src/test/java/org/apereo/cas/web/security/authentication/MonitorEndpointLdapAuthenticationProviderRolesBasedTests.java
Labels: LDAP & Active Directory

#4841 Fixing attribute release policy for WS-Federation services
  support/cas-server-support-ws-idp-api/src/main/java/org/apereo/cas/ws/idp/services/WSFederationClaimsReleasePolicy.java
  support/cas-server-support-ws-idp-api/src/test/java/org/apereo/cas/ws/idp/services/WSFederationClaimsReleasePolicyTests.java
Labels: Attribute Release, Attribute Resolution, Remember: Port Forward, Services & Registries

#4860 fix bean creation error for LDAP password sync
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/authentication/passwordsync/PasswordSynchronizationProperties.java
  ci/tests/ldap/reset-ad-server.sh
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-ldap/src/main/java/org/apereo/cas/config/LdapPasswordSynchronizationConfiguration.java
Labels: LDAP & Active Directory, Remember: Document Property, Remember: Needs Tests, Spring Boot

#4868 Remove static modifier from augmentSuccessViewModelObjects()
  support/cas-server-support-validation-core/src/main/java/org/apereo/cas/web/AbstractServiceValidateController.java
Labels: Refactoring & Code CleanUp, Remember: Needs Tests

#4835 Update unit tests for expiration policies
  api/cas-server-core-api-ticket/src/main/java/org/apereo/cas/ticket/ExpirationPolicy.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/AbstractTicket.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/expiration/AbstractCasExpirationPolicy.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/expiration/HardTimeoutExpirationPolicy.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/expiration/MultiTimeUseOrTimeoutExpirationPolicy.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/expiration/ThrottledUseAndTimeoutExpirationPolicy.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/expiration/TicketGrantingTicketExpirationPolicy.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/expiration/TimeoutExpirationPolicy.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/expiration/HardTimeoutExpirationPolicyTests.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/expiration/MultiTimeUseOrTimeoutExpirationPolicyTests.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/expiration/ThrottledUseAndTimeoutExpirationPolicyTests.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/expiration/TicketGrantingTicketExpirationPolicyTests.java
  core/cas-server-core/src/test/java/org/apereo/cas/DefaultCentralAuthenticationServiceTests.java
  support/cas-server-support-memcached-core/src/main/java/org/apereo/cas/memcached/kryo/CloseableKryoFactory.java
Labels: Ticket Expiration Policy, Unit/Integration Tests

#4840 REST authentication: Remove exception class name from failure message
  support/cas-server-support-rest-core/src/main/java/org/apereo/cas/support/rest/resources/RestResourceUtils.java
  support/cas-server-support-rest/src/test/java/org/apereo/cas/support/rest/AllTestsSuite.java
  support/cas-server-support-rest/src/test/java/org/apereo/cas/support/rest/RestResourceUtilsTests.java
  support/cas-server-support-rest/src/test/java/org/apereo/cas/support/rest/ServiceTicketResourceTests.java
  support/cas-server-support-rest/src/test/java/org/apereo/cas/support/rest/TicketGrantingTicketResourceTests.java
Labels: Authentication, REST Protocol & Integrations, Remember: Port Forward

#4869 fix bean creation error and fix saml metadata resolver
  support/cas-server-support-ldap-monitor/src/main/java/org/apereo/cas/monitor/config/LdapMonitorConfiguration.java
  support/cas-server-support-saml-idp-metadata/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/cache/resolver/JsonResourceMetadataResolver.java
  support/cas-server-support-saml-idp-metadata/src/test/java/org/apereo/cas/support/saml/services/idp/metadata/cache/resolver/JsonResourceMetadataResolverTests.java
Labels: SAML Core, SAML2 Protocol, Spring Boot

#4871 Delegated OAuth2: reponse_type is static
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pac4j/oauth/Pac4jOAuth20ClientProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DefaultDelegatedClientFactory.java
Labels: OAuth2 Protocol, Remember: Document Property, Remember: Needs Tests

#4837 OIDC state not send back to logout redirect
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/controllers/logout/OidcLogoutEndpointController.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/web/controllers/logout/OidcLogoutEndpointControllerTests.java
Labels: Logout & SLO, OpenID Connect Protocol, Remember: Port Forward
