Repository apereo/cas, pull requests merged in 2020-01, with the labels that each got.

#4589 renovatebot(deps): update dependency setuptools to v43
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4591 Fix the DistributedJ2ESessionStore when a TGT expires
  support/cas-server-support-pac4j-api/src/main/java/org/apereo/cas/integration/pac4j/DistributedJ2ESessionStore.java
Labels: Remember: Port Forward

#4593 Find the right service in the RegisteredServiceAuthenticationHandlerResolver
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/handler/RegisteredServiceAuthenticationHandlerResolver.java
  core/cas-server-core-authentication/src/main/java/org/apereo/cas/config/CasCoreAuthenticationSupportConfiguration.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/authentication/PolicyBasedAuthenticationManagerTests.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/RegisteredServiceAuthenticationHandlerResolverTests.java
Labels: Authentication

#4608 only load zxcvbn.js (password strength) on pages using it
  webapp/cas-server-webapp-resources/src/main/resources/templates/casExpiredPassView.html
  webapp/cas-server-webapp-resources/src/main/resources/templates/casMustChangePassView.html
  webapp/cas-server-webapp-resources/src/main/resources/templates/fragments/scripts.html
Labels: User Interface & Themes

#4607 renovatebot(deps): update dependency setuptools to v44
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4595 renovatebot(deps): update dependency com.github.javaparser:javaparser-core to v3.15.9
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4597 renovatebot(deps): update dependency com.github.vladimir-bukhtoyarov:bucket4j-core to v4.7.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4596 renovatebot(deps): update dependency com.github.oshi:oshi-core to v4.3.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4599 renovatebot(deps): update dependency com.nimbusds:oauth2-oidc-sdk to v6.22
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol, OpenID Connect Protocol

#4598 renovatebot(deps): update dependency com.netflix.eureka:eureka-client to v1.9.16
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Spring Cloud Eureka Discovery

#4601 renovatebot(deps): update dependency commons-codec:commons-codec to v1.14
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4603 renovatebot(deps): update dependency junit:junit to v4.13
  gradle/dependencies.gradle
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Unit/Integration Tests

#4600 renovatebot(deps): update dependency com.squareup.retrofit2:retrofit to v2.7.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4588 renovatebot(deps): update dependency com.squareup.okhttp3:okhttp to v4.3.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4610 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.47.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4609 Address various concurrency issues
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/principal/resolvers/PersonDirectoryPrincipalResolver.java
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/ChainingAttributeReleasePolicy.java
  support/cas-server-support-git-service-registry/src/main/java/org/apereo/cas/services/GitServiceRegistry.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/services/OidcServiceRegistryListener.java
Labels: Attribute Resolution, OpenID Connect Protocol, Services & Registries

#4611 renovatebot(deps): update dependency org.reflections:reflections to v0.9.12
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4613 Doc : fix MFA Groovy Trigger Example script
  docs/cas-server-documentation/mfa/Configuring-Multifactor-Authentication-Triggers.md
Labels: Apache Groovy, Documentation, MFA

#4602 renovatebot(deps): update dependency gevent to v1.5a3
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4612 renovatebot(deps): update jersey to v2.30
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4614 renovatebot(deps): update dependency com.nimbusds:oauth2-oidc-sdk to v6.23
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, OAuth2 Protocol, OpenID Connect Protocol

#4616 Doc : fix MFA Groovy Bypass Example script
  docs/cas-server-documentation/mfa/Configuring-Multifactor-Authentication-Bypass.md
Labels: Apache Groovy, Documentation, MFA, MFA Bypass

#4594 Find the right service in the RegisteredServiceAuthenticationHandlerResolver
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/handler/RegisteredServiceAuthenticationHandlerResolver.java
  core/cas-server-core-authentication/src/main/java/org/apereo/cas/config/CasCoreAuthenticationSupportConfiguration.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/authentication/PolicyBasedAuthenticationManagerTests.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/RegisteredServiceAuthenticationHandlerResolverTests.java
  support/cas-server-support-cassandra-authentication/build.gradle
  support/cas-server-support-cassandra-authentication/src/test/java/org/apereo/cas/authentication/DefaultCassandraRepositoryTests.java
  support/cas-server-support-couchdb-authentication/build.gradle
  support/cas-server-support-couchdb-authentication/src/test/java/org/apereo/cas/authentication/CouchDbAuthenticationHandlerTests.java
  support/cas-server-support-discovery-profile/build.gradle
  support/cas-server-support-discovery-profile/src/test/java/org/apereo/cas/discovery/CasServerProfileRegistrarTests.java
  support/cas-server-support-ldap/build.gradle
  support/cas-server-support-ldap/src/test/java/org/apereo/cas/authentication/BaseLdapAuthenticationHandlerTests.java
  support/cas-server-support-mongo/build.gradle
  support/cas-server-support-mongo/src/test/java/org/apereo/cas/authentication/MongoDbAuthenticationHandlerTests.java
  support/cas-server-support-pm-jdbc/build.gradle
  support/cas-server-support-pm-jdbc/src/test/java/org/apereo/cas/pm/jdbc/BaseJdbcPasswordManagementServiceTests.java
  support/cas-server-support-pm/build.gradle
  support/cas-server-support-pm/src/test/java/org/apereo/cas/pm/impl/JsonResourcePasswordManagementServiceTests.java
  support/cas-server-support-redis-authentication/src/test/java/org/apereo/cas/redis/RedisAuthenticationHandlerTests.java
  support/cas-server-support-rest-authentication/build.gradle
  support/cas-server-support-rest-authentication/src/test/java/org/apereo/cas/adaptors/rest/RestAuthenticationHandlerTests.java
  support/cas-server-support-saml-core/build.gradle
  support/cas-server-support-saml-core/src/test/java/org/apereo/cas/config/CoreSamlConfigurationTests.java
  support/cas-server-support-surrogate-authentication-jdbc/src/test/java/org/apereo/cas/authentication/surrogate/SurrogateJdbcAuthenticationServiceTests.java
  support/cas-server-support-surrogate-authentication/build.gradle
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/authentication/SurrogateAuthenticationPostProcessorTests.java
  support/cas-server-support-syncope-authentication/build.gradle
  support/cas-server-support-syncope-authentication/src/test/java/org/apereo/cas/syncope/authentication/SyncopeAuthenticationHandlerTests.java
  support/cas-server-support-token-authentication/build.gradle
  support/cas-server-support-token-authentication/src/test/java/org/apereo/cas/token/authentication/TokenAuthenticationHandlerTests.java
  support/cas-server-support-x509/build.gradle
  support/cas-server-support-x509/src/test/java/org/apereo/cas/adaptors/x509/authentication/ldap/LdaptiveResourceCRLFetcherTests.java
  support/cas-server-support-x509/src/test/java/org/apereo/cas/adaptors/x509/config/DefaultX509ConfigTests.java
Labels: Authentication, Remember: Port Forward

#4618 renovatebot(deps): update dependency com.splunk.logging:splunk-library-javalogging to v1.8.0
  gradle.properties
Labels: Audits & Logging, Bot, Dependencies & Modules, Gradle Build & Release

#4617 renovatebot(deps): update apachecxf to v3.3.5
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4621 renovatebot(deps): update dependency org.hibernate:hibernate-validator to v6.1.1.final
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JDBC & Hibernate & JPA

#4622 renovatebot(deps): update dependency org.owasp:dependency-check-gradle to v5.3.0
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4623 renovatebot(deps): update dependency org.springframework.kafka:spring-kafka to v2.4.1.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4624 renovatebot(deps): update dependency six to v1.14.0
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4628 renovatebot(deps): update springboot to v2.2.3.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4631 fix double logging of requests in access logs
  webapp/cas-server-webapp-init-tomcat/src/main/java/org/apereo/cas/tomcat/CasTomcatServletWebServerFactoryCustomizer.java
Labels: Audits & Logging

#4625 renovatebot(deps): update micrometer to v1.3.3
  gradle.properties
Labels: Analytics & Statistics, Bot, Dependencies & Modules, Gradle Build & Release, Statistics & Metrics

#4630 Hazelcast Monitor: Fixes integer overflow when calculating free heap percentage
  support/cas-server-support-hazelcast-monitor/src/main/java/org/apereo/cas/monitor/HazelcastHealthIndicator.java
  support/cas-server-support-hazelcast-monitor/src/test/java/org/apereo/cas/monitor/HazelcastHealthIndicatorTests.java
Labels: Hazelcast, Monitoring, Remember: Port Forward

#4626 renovatebot(deps): update spring data to v2.2.4.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4619 renovatebot(deps): update dependency io.netty:netty-handler to v4.1.45.final
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4627 renovatebot(deps): update spring integration to v5.2.3.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4629 renovatebot(deps): update dependency com.signalfx.public:signalfx-java to v1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4632 Avoid trying to process null (not found) saml service
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/flow/SamlIdPMetadataUIAction.java
Labels: SAML Core

#4633 renovatebot(deps): update dependency org.apache.httpcomponents:httpclient to v4.5.11
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4615 renovatebot(deps): update dependency setuptools to v45
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4634 renovatebot(deps): update dependency setuptools to v45.1.0
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4636 Eliminate snakeyaml conflict
  support/cas-server-support-okta-authentication/build.gradle
Labels: Authentication, Dependencies & Modules

#4637 renovatebot(deps): update dependency com.microsoft.azure:azure-keyvault-secrets-spring-boot-starter to v2.2.2
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Spring Cloud Vault

#4638 renovatebot(deps): update dependency net.bytebuddy:byte-buddy to v1.10.7
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4639 renovatebot(deps): update junit
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, Unit/Integration Tests

#4640 renovatebot(deps): update springboot to v2.2.4.release
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4641 renovatebot(deps): update dependency org.messaginghub:pooled-jms to v1.1.1
  gradle/dependencies.gradle
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4642 renovatebot(deps): update dependency pip to v20
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4645 renovatebot(deps): update dependency com.twilio.sdk:twilio to v7.47.3
  gradle.properties
Labels: Bot, Dependencies & Modules, Email & SMS Notifications, Gradle Build & Release

#4646 renovatebot(deps): update dependency org.apache.shiro:shiro-core to v1.5.0
  gradle.properties
Labels: Apache Shiro, Bot, Dependencies & Modules, Gradle Build & Release

#4647 renovatebot(deps): update dependency urllib3 to v1.25.8
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4648 renovatebot(deps): update dependency com.microsoft.azure:azure-documentdb to v2.4.6
  gradle.properties
Labels: Bot, CosmosDb, Dependencies & Modules, Gradle Build & Release

#4649 renovatebot(deps): update dependency com.nimbusds:nimbus-jose-jwt to v8.4.1
  gradle.properties
Labels: Bot, Dependencies & Modules, Gradle Build & Release, JWS & JWT AuthN & Tickets

#4650 renovatebot(deps): update dependency pip to v20.0.2
  etc/loadtests/locust/requirements.txt
Labels: Bot, Dependencies & Modules, Gradle Build & Release

#4643 Fix authn delegation behavior
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Authentication, Delegated Authentication Pac4J, Remember: Port Forward

#4644 Fix authn delegation behavior
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Authentication, Delegated Authentication Pac4J

#4655 Extract issuer dn from certificate as x509 attribute
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/x509/SubjectDnPrincipalResolverProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/x509/X509Properties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/AbstractX509PrincipalResolver.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectDNPrincipalResolver.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectDNPrincipalResolverTests.java
  support/cas-server-support-x509/src/main/java/org/apereo/cas/adaptors/x509/config/X509AuthenticationConfiguration.java
Labels: Attribute Release, Attribute Resolution, X.509

#4653 OAuth20TokenAuthorizationResponseBuilder returns state and nonce unch…
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20TokenAuthorizationResponseBuilder.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/OAuth20TestsSuite.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20TokenAuthorizationResponseBuilderTests.java
Labels: Authorization & Access Strategy, OAuth2 Protocol, Remember: Port Forward

#4654 OAuth20TokenAuthorizationResponseBuilder returns state and nonce unch…
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20TokenAuthorizationResponseBuilder.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/OAuth20TestsSuite.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20TokenAuthorizationResponseBuilderTests.java
Labels: Authorization & Access Strategy, OAuth2 Protocol

#4658 More debug trace instrumentation
  support/cas-server-support-saml-core-api/src/main/java/org/apereo/cas/support/saml/util/AbstractSaml20ObjectBuilder.java
  support/cas-server-support-saml-core-api/src/main/java/org/apereo/cas/support/saml/util/AbstractSamlObjectBuilder.java
Labels: Audits & Logging, Refactoring & Code CleanUp, SAML Core, SAML2 Protocol

#4662 Fix missing "warn" transition for spnego weblflow with "renew" query param
  support/cas-server-support-spnego-webflow/src/main/java/org/apereo/cas/web/flow/SpengoWebflowConfigurer.java
Labels: Remember: Port Forward, SPNEGO, Spring Webflow

#4661 Support outbound ports in Hazelcast config
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/hazelcast/HazelcastClusterProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties-Common.md
  support/cas-server-support-hazelcast-core/src/main/java/org/apereo/cas/hz/HazelcastConfigurationFactory.java
Labels: Hazelcast, Remember: Document Property

#4660 Support outbound ports in Hazelcast config
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/hazelcast/HazelcastClusterProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties-Common.md
  support/cas-server-support-hazelcast-core/src/main/java/org/apereo/cas/hz/HazelcastConfigurationFactory.java
Labels: Hazelcast, Remember: Document Property, Remember: Port Forward

#4663 Fix missing "warn" transition for spnego weblflow with "renew" query param
  support/cas-server-support-spnego-webflow/src/main/java/org/apereo/cas/web/flow/SpengoWebflowConfigurer.java
Labels: SPNEGO, Spring Webflow
