Repository apereo/cas, pull requests merged in 2020-08, with the labels that each got.

#4916 redirect from /oidc/authorize contains duplicate parameters (code and sometimes state)
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20AuthorizationCodeAuthorizationResponseBuilder.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20AuthorizeEndpointControllerTests.java
Labels: OpenID Connect Protocol

#4919 Update jmeter perf tests to not use cookies on serviceValidate calls
  core/cas-server-core-logout-api/src/main/java/org/apereo/cas/logout/DefaultLogoutExecutionPlan.java
  etc/loadtests/jmeter/CAS_CAS.jmx
Labels: Performance & Load Tests, Remember: Needs Tests, SSO & Cookies, Unit/Integration Tests

#4921 Changed design for casLoginMessageView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/casLoginMessageView.html
Labels: User Interface & Themes

#4920 Check for null client info from thread local to avoid NPE
  core/cas-server-core-cookie-api/src/main/java/org/apereo/cas/web/support/mgmr/DefaultCasCookieValueManager.java
  core/cas-server-core-cookie-api/src/test/java/org/apereo/cas/web/support/DefaultCasCookieValueManagerTests.java
Labels: Refactoring & Code CleanUp

#4923 Fix problem with SP metadata that defines multiple ACS endpoints
  support/cas-server-support-saml-idp-core/src/main/java/org/apereo/cas/support/saml/SamlIdPUtils.java
  support/cas-server-support-saml-idp-core/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/SamlRegisteredServiceServiceProviderMetadataFacade.java
  support/cas-server-support-saml-idp/src/test/java/org/apereo/cas/support/saml/services/idp/metadata/SamlRegisteredServiceServiceProviderMetadataFacadeTests.java
  support/cas-server-support-saml-idp/src/test/java/org/apereo/cas/support/saml/util/SamlIdPUtilsTests.java
Labels: SAML2 Protocol

#4924 Update tomcat clustering config
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  webapp/cas-server-webapp-init-tomcat/src/main/java/org/apereo/cas/tomcat/CasTomcatServletWebServerFactory.java
Labels: Apache Tomcat, Remember: Needs Tests

#4927 Support Delegated AuthN SAML configuration parameter: wantsResponsesSigned
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pac4j/saml/Pac4jSamlClientProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DefaultDelegatedClientFactory.java
Labels: Authentication, Configuration, Delegated Authentication Pac4J, Remember: Needs Tests, Remember: Port Forward, SAML Core

#4931 x509 documentation update
  docs/cas-server-documentation/configuration/Configuration-Properties.md
Labels: Documentation, X.509

#4933 Explicitly mention U2F token expiry in U2F docs
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  docs/cas-server-documentation/mfa/FIDO-U2F-Authentication.md
Labels: Documentation, MFA FIDO U2F

#4934 update kotlin version
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/util/MockWebServer.java
  gradle.properties
  gradle/dependencies.gradle
  support/cas-server-support-aup-webflow/src/test/java/org/apereo/cas/aup/DefaultAcceptableUsagePolicyRepositoryTests.java
  support/cas-server-support-azuread-authentication/build.gradle
  support/cas-server-support-events-influxdb/build.gradle
  support/cas-server-support-influxdb-core/build.gradle
  support/cas-server-support-metrics/build.gradle
  support/cas-server-support-openid/src/test/java/org/apereo/cas/support/openid/authentication/principal/OpenIdServiceTests.java
Labels: Dependencies & Modules
