Repository apereo/cas, pull requests merged in 2020-04, with the labels that each got.

#4795 RedisThrottledSubmissionHandlerInterceptorAdapter.java coding style fix
  support/cas-server-support-throttle-redis/src/main/java/org/apereo/cas/web/support/RedisThrottledSubmissionHandlerInterceptorAdapter.java
Labels: Redis, Remember: Port Forward

#4800 fix direct login /cas unauthorized service error with MFA trusted device enabled
  support/cas-server-support-trusted-mfa-core/src/main/java/org/apereo/cas/trusted/authentication/DefaultMultifactorAuthenticationTrustedDeviceBypassEvaluator.java
Labels: MFA, MFA Trusted Devices, Services & Registries

#4805 Modified the properties for CasEmbeddedContainerTomcatFiltersConfigur…
  webapp/cas-server-webapp-init-tomcat/src/main/java/org/apereo/cas/config/CasEmbeddedContainerTomcatFiltersConfiguration.java
Labels: Apache Tomcat, Configuration, Configuration Metadata

#4808 Fix default Mongo authn config
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mongo/MongoAuthenticationProperties.java
Labels: Authentication, MongoDb, Remember: Document Property

#4810 doc: TGT REST API returns 401 on incorrect credentials
  docs/cas-server-documentation/protocol/REST-Protocol.md
Labels: REST Protocol & Integration

#4798 Refresh token support for OAuth/OIDC public clients
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/Authenticators.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20ClientIdClientSecretAuthenticator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20RefreshTokenAuthenticator.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/OAuth20TestsSuite.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/authenticator/BaseOAuth20AuthenticatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/authenticator/OAuth20ClientIdClientSecretAuthenticatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/authenticator/OAuth20RefreshTokenAuthenticatorTests.java
Labels: OAuth2 Protocol, OpenID Connect Protocol

#4809 Fix default Mongo authn config
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mongo/MongoAuthenticationProperties.java
Labels: Authentication, MongoDb, Remember: Document Property, Remember: Port Forward

#4813 Open up a little the FileSystemSamlIdPMetadataGenerator
  support/cas-server-support-saml-idp-core/src/main/java/org/apereo/cas/support/saml/idp/metadata/generator/FileSystemSamlIdPMetadataGenerator.java
Labels: SAML Core

#4814 Open up a little the FileSystemSamlIdPMetadataGenerator
  support/cas-server-support-saml-idp-core/src/main/java/org/apereo/cas/support/saml/idp/metadata/generator/FileSystemSamlIdPMetadataGenerator.java
Labels: Remember: Port Forward, SAML Core

#4816 Upgrade ldaptive to v2.0.0-RC4
  gradle.properties
Labels: Dependencies & Modules, LDAP & Active Directory

#4824 Trusted mfa couchdb fix
  support/cas-server-support-trusted-mfa-couchdb/src/main/java/org/apereo/cas/config/CouchDbMultifactorAuthenticationTrustConfiguration.java
Labels: CouchDb, MFA

#4827 Fix event counting bug in DateTimeAuthenticationRequestRiskCalculator
  support/cas-server-support-electrofence/src/main/java/org/apereo/cas/impl/calcs/DateTimeAuthenticationRequestRiskCalculator.java
Labels: Authentication

#4829 exclude pull-parser from dependency
  build.gradle
Labels: Dependencies & Modules, Gradle Build & Release

#4825 log warning when cookie is invalidated
  core/cas-server-core-cookie-api/src/main/java/org/apereo/cas/web/support/InvalidCookieException.java
  core/cas-server-core-cookie-api/src/main/java/org/apereo/cas/web/support/gen/CookieRetrievingCookieGenerator.java
  core/cas-server-core-cookie-api/src/main/java/org/apereo/cas/web/support/mgmr/DefaultCasCookieValueManager.java
  core/cas-server-core-cookie-api/src/test/java/org/apereo/cas/web/support/DefaultCasCookieValueManagerTests.java
Labels: Audits & Logging, SSO & Cookies

#4822 improve ticket expiration policies - throttled timeout
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/expiration/ThrottledUseAndTimeoutExpirationPolicy.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/expiration/ThrottledUseAndTimeoutExpirationPolicyTests.java
Labels: Authentication Throttling, Ticket Expiration Policy

#4833 Fix openid and oauth doc
  docs/cas-server-documentation/installation/OAuth-OpenId-Authentication.md
  docs/cas-server-documentation/installation/OIDC-Authentication.md
Labels: Documentation, OAuth2 Protocol
