Repository apereo/cas, pull requests merged in 2020-06, with the labels that each got.

#4873 Allow more Captcha customisations
  support/cas-server-support-captcha/src/main/java/org/apereo/cas/web/flow/config/CasCaptchaConfiguration.java
Labels: Remember: Needs Tests, Remember: Port Forward, reCAPTCHA

#4839 Fixing oidc/oauth2 access token to get new expiration time
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/OAuth20DefaultTokenGenerator.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/AbstractOAuth20Tests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/response/accesstoken/OAuth20DefaultTokenGeneratorTests.java
Labels: OAuth2 Protocol, OpenID Connect Protocol, Remember: Port Forward

#4880 Improved IE11 support in UI
  core/cas-server-core-web/src/main/resources/cas_common_messages.properties
  gradle.properties
  gradle/dependencies.gradle
  support/cas-server-support-thymeleaf/src/main/resources/static/css/cas.css
  support/cas-server-support-thymeleaf/src/main/resources/static/js/cas.js
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/header.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/pmlinks.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/scripts.html
Labels: User Interface & Themes

#4875 fix cache control static resources pattern
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/filters/ResponseHeadersEnforcementFilter.java
Labels: Remember: Needs Tests

#4876 fix cache control static resources pattern
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/filters/ResponseHeadersEnforcementFilter.java
Labels: Remember: Needs Tests, Remember: Port Forward

#4881 update pac4j to 4.0.2
  gradle.properties
Labels: Delegated Authentication Pac4J, Pac4J

#4882 Update pac4j to 4.0.2
  gradle.properties
Labels: Delegated Authentication Pac4J, Pac4J, Remember: Port Forward

#4854 ServicesManager should use ServiceRegistry for find operations
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/services/ServiceRegistryProperties.java
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/services/ServiceRegistry.java
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/services/ServicesManager.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/AbstractServicesManager.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/ChainingServicesManager.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/DefaultServicesManager.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/domain/DefaultDomainAwareServicesManager.java
  core/cas-server-core-services/src/main/java/org/apereo/cas/config/CasCoreServicesConfiguration.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/authentication/principal/SimpleWebApplicationServiceImplTests.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/AbstractServiceRegistryTests.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/AbstractServicesManagerTests.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/ChainingServicesManagerTests.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/DefaultDomainAwareServicesManagerTests.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/DefaultServicesManagerByEnvironmentTests.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/DefaultServicesManagerTests.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/RegisteredServiceAuthenticationHandlerResolverTests.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/RegisteredServiceAuthenticationPolicyResolverTests.java
  core/cas-server-core-web/src/test/java/org/apereo/cas/web/RegisteredServiceResponseHeadersEnforcementFilterTests.java
  core/cas-server-core-webflow/src/test/java/org/apereo/cas/web/flow/authentication/RequiredAuthenticationHandlersSingleSignOnParticipationStrategyTests.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/LogoutActionTests.java
  support/cas-server-support-openid/src/test/java/org/apereo/cas/support/openid/authentication/principal/OpenIdServiceTests.java
  support/cas-server-support-saml-idp/src/test/java/org/apereo/cas/support/saml/services/SamlRegisteredServiceTests.java
  support/cas-server-support-saml/src/test/java/org/apereo/cas/support/saml/authentication/principal/SamlServiceTests.java
  support/cas-server-support-saml/src/test/java/org/apereo/cas/support/saml/web/view/Saml10SuccessResponseViewTests.java
Labels: Remember: Document Property, Services & Registries
