Repository apereo/cas, pull requests merged in 2020-11, with the labels that each got.

#4973 Reject invalid oauth/oidc Authentication Requests.
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/OAuth20HandlerInterceptorAdapter.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20ThrottleConfiguration.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/OAuth20HandlerInterceptorAdapterTests.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/OidcHandlerInterceptorAdapter.java
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/config/OidcConfiguration.java
Labels: Authentication, OAuth2 Protocol, OpenID Connect Protocol

#4972 Docs: Fix Links and Naming in Protocol Specification
  docs/cas-server-documentation/protocol/CAS-Protocol-Specification.md
Labels: Documentation

#4974 Authorization response don't need to contain the client_id.
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20AuthorizationCodeAuthorizationResponseBuilder.java
Labels: Authorization & Access Strategy, OAuth2 Protocol, OpenID Connect Protocol, Remember: Needs Tests

#4970 [backport] Password Management : Allow an authenticated user to reset his password.
  api/cas-server-core-api-webflow/src/main/java/org/apereo/cas/web/flow/CasWebflowConstants.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/config/PasswordManagementWebflowConfiguration.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementSingleSignOnParticipationStrategy.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowConfigurer.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/SendPasswordResetInstructionsAction.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/ValidatePasswordResetTokenAction.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/PasswordManagementSingleSignOnParticipationStrategyTests.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/BasePasswordManagementActionTests.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/ValidatePasswordResetTokenActionTests.java
Labels: Password Management, Remember: Port Forward

#4967 Password management: Allow an authenticated user to reset password
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/config/PasswordManagementWebflowConfiguration.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementSingleSignOnParticipationStrategy.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/PasswordManagementSingleSignOnParticipationStrategyTests.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/BasePasswordManagementActionTests.java
Labels: Password Management

#4978 add logging at warn level when response type not supported by service
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/util/OAuth20Utils.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/util/OAuth20UtilsTests.java
Labels: Audits & Logging, Services & Registries

#4981 Docs: Fix CAS 1.0 Validation Response Format
  docs/cas-server-documentation/protocol/CAS-Protocol-Specification.md
Labels: Documentation

#4979 Enabling Management Center scripting through property
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/hazelcast/BaseHazelcastProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties-Common.md
  support/cas-server-support-hazelcast-core/src/main/java/org/apereo/cas/hz/HazelcastConfigurationFactory.java
  support/cas-server-support-hazelcast-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/DefaultHazelcastInstanceConfigurationTests.java
Labels: Apache Groovy, Configuration, Configuration Metadata, Remember: Document Property, Remember: Port Forward

#4982 Enable Management Center scripting through property
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/hazelcast/BaseHazelcastProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties-Common.md
  support/cas-server-support-hazelcast-core/src/main/java/org/apereo/cas/hz/HazelcastConfigurationFactory.java
  support/cas-server-support-hazelcast-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/DefaultHazelcastInstanceConfigurationTests.java
Labels: Apache Groovy, Configuration, Configuration Metadata, Remember: Document Property

#4977 Fix problem with SP metadata that defines multiple ACS endpoints (#4923)
  support/cas-server-support-saml-idp-core/src/main/java/org/apereo/cas/support/saml/SamlIdPUtils.java
  support/cas-server-support-saml-idp-core/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/SamlRegisteredServiceServiceProviderMetadataFacade.java
  support/cas-server-support-saml-idp/src/test/java/org/apereo/cas/support/saml/services/idp/metadata/SamlRegisteredServiceServiceProviderMetadataFacadeTests.java
  support/cas-server-support-saml-idp/src/test/java/org/apereo/cas/support/saml/util/SamlIdPUtilsTests.java
Labels: Remember: Port Forward, SAML2 Protocol

#4951 restrict SAML service lookups to matching entityIDs
  support/cas-server-support-saml-idp-core/src/main/java/org/apereo/cas/support/saml/services/SamlIdPServicesManagerRegisteredServiceLocator.java
  support/cas-server-support-saml-idp/src/test/java/org/apereo/cas/support/saml/services/SamlIdPServicesManagerRegisteredServiceLocatorTests.java
Labels: REST Protocol & Integrations, SAML Core, Services & Registries

#4987 Add WebIdentityTokenCredentialsProvider support
  support/cas-server-support-aws/src/main/java/org/apereo/cas/aws/ChainingAWSCredentialsProvider.java
Labels: Remember: Needs Tests, Remember: Port Forward

#4986 Add WebIdentityTokenFileCredentialsProvider
  support/cas-server-support-aws/src/main/java/org/apereo/cas/aws/ChainingAWSCredentialsProvider.java
Labels: Remember: Needs Tests

#4991 docs: Correct the per-SP metadata overrides guide
  docs/cas-server-documentation/installation/Configuring-SAML2-Authentication.md
Labels: Documentation, Remember: Port Forward, SAML2 Protocol

#4983 Fix OAuth 2.0/OIDC Implicit Response
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20TokenAuthorizationResponseBuilder.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20TokenAuthorizationResponseBuilderTests.java
Labels: OAuth2 Protocol, OpenID Connect Protocol
