Repository apereo/cas, pull requests merged in 2021-11, with the labels that each got.

#5259 clean up common-logging implementations, picking spring-jcl
  gradle.properties
  gradle/dependencies.gradle
Labels: Audits & Logging, Dependencies & Modules, Gradle Build & Release, CI

#5260 backport commons-logging to spring-jcl change to 6.4
  gradle.properties
  gradle/dependencies.gradle
  gradle/overrides.gradle
Labels: Audits & Logging, Dependencies & Modules, Gradle Build & Release, Remember: Port Forward, CI

#5261 use released versions of loggers
  gradle.properties
Labels: Audits & Logging, CI

#5264 use released versions of loggers
  gradle.properties
  gradle/dependencies.gradle
Labels: Audits & Logging, Dependencies & Modules, Gradle Build & Release, CI

#5267 avoid xmlsec snapshot that is no longer available
  gradle.properties
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release, Remember: Port Forward, CI

#5265 Fix cache busting on login/logout webflows
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/web/flow/config/CasWebflowContextConfiguration.java
  core/cas-server-core-webflow/src/test/java/org/apereo/cas/web/flow/DefaultLoginWebflowConfigurerTests.java
  core/cas-server-core-webflow/src/test/java/org/apereo/cas/web/flow/DefaultLogoutWebflowConfigurerTests.java
Labels: Spring Webflow, Logout & SLO, CI

#5266 Fix cache busting on login/logout webflows
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/web/flow/config/CasWebflowContextConfiguration.java
  core/cas-server-core-webflow/src/test/java/org/apereo/cas/web/flow/DefaultLoginWebflowConfigurerTests.java
  core/cas-server-core-webflow/src/test/java/org/apereo/cas/web/flow/DefaultLogoutWebflowConfigurerTests.java
Labels: Spring Webflow, Logout & SLO, Remember: Port Forward, CI

#5273 Fix tests in 6.4.x
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/web/flow/config/CasWebflowContextConfiguration.java
Labels: Remember: Port Forward, Unit/Integration Tests, CI

#5272 allow disabling nexus plugin
  build.gradle
Labels: Gradle Build & Release, Remember: Port Forward, CI

#5274 Make storage names for OAuth ticket catalog objects configurable
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthAccessTokenProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthCodeProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthDeviceTokenProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthDeviceUserCodeProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthRefreshTokenProperties.java
  support/cas-server-support-dynamodb-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/DynamoDbTicketRegistryTests.java
  support/cas-server-support-oauth-core/src/main/java/org/apereo/cas/config/OAuth20ProtocolTicketCatalogConfiguration.java
Labels: OAuth2 Protocol, Tickets & Registries, Configuration

#5276 Make storage names for OAuth ticket catalog objects configurable
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthAccessTokenProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthCodeProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthDeviceTokenProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthDeviceUserCodeProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthRefreshTokenProperties.java
  support/cas-server-support-dynamodb-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/DynamoDbTicketRegistryTests.java
  support/cas-server-support-oauth-core/src/main/java/org/apereo/cas/config/OAuth20ProtocolTicketCatalogConfiguration.java
Labels: OAuth2 Protocol, Tickets & Registries, Configuration, Remember: Port Forward, CI

#5278 Fix the OIDC logout when the session is replicated
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/OAuth20TestsSuite.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/logout/OAuth20LogoutDontReplicateSessionTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/logout/OAuth20LogoutReplicateSessionTests.java
Labels: Logout & SLO, OpenID Connect Protocol, Remember: Port Forward, CI

#5281 Avoid stack overflow in x509 http header mode
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/attributes.groovy
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/cert.pem
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/init.sh
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/key.pem
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/script.js
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/script.json
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/services/Sample-1.json
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/attributes.groovy
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/cert.pem
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/create_cert.sh
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/init.sh
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/key.pem
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/script.js
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/script.json
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/services/Sample-1.json
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/WebUtils.java
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/flow/X509CertificateCredentialsNonInteractiveAction.java
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/flow/X509CertificateCredentialsRequestHeaderAction.java
  support/cas-server-support-x509-webflow/src/test/java/org/apereo/cas/adaptors/x509/web/flow/X509CertificateCredentialsNonInteractiveActionTests.java
  support/cas-server-support-x509-webflow/src/test/java/org/apereo/cas/adaptors/x509/web/flow/X509CertificateCredentialsRequestHeaderActionTests.java
Labels: X.509, Remember: Port Forward, CI

#5277 Fix the OIDC logout when the session is replicated
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/OAuth20TestsSuite.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/logout/OAuth20LogoutDontReplicateSessionTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/logout/OAuth20LogoutReplicateSessionTests.java
Labels: Logout & SLO, OpenID Connect Protocol, CI

#5282 avoid stackoverflow in x509 http header mode - port forward
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/attributes.groovy
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/cert.pem
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/init.sh
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/key.pem
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/script.js
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/script.json
  ci/tests/puppeteer/scenarios/x509-login-cert-in-header/services/Sample-1.json
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/attributes.groovy
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/cert.pem
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/create_cert.sh
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/init.sh
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/key.pem
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/script.js
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/script.json
  ci/tests/puppeteer/scenarios/x509-login-ldap-cert-in-header/services/Sample-1.json
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/WebUtils.java
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/flow/X509CertificateCredentialsNonInteractiveAction.java
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/flow/X509CertificateCredentialsRequestHeaderAction.java
  support/cas-server-support-x509-webflow/src/test/java/org/apereo/cas/adaptors/x509/web/flow/X509CertificateCredentialsNonInteractiveActionTests.java
  support/cas-server-support-x509-webflow/src/test/java/org/apereo/cas/adaptors/x509/web/flow/X509CertificateCredentialsRequestHeaderActionTests.java
Labels: X.509, CI

#5283 remove explicit destroy method from DisposableBean beans
  .github/workflows/test-ubuntu.yml
  core/cas-server-core-web/src/main/java/org/apereo/cas/config/CasCoreHttpConfiguration.java
  support/cas-server-support-service-registry-stream/src/main/java/org/apereo/cas/config/CasServicesStreamingConfiguration.java
Labels: Spring Boot, CI

#5284 Extract interfaces for async classes
  core/cas-server-core-events-api/src/main/java/org/apereo/cas/support/events/listener/DefaultCasAuthenticationEventListener.java
  core/cas-server-core-events-api/src/main/java/org/apereo/cas/support/events/listener/DefaultCasEventListener.java
  core/cas-server-core-events-api/src/main/java/org/apereo/cas/support/events/listener/DefaultLoggingCasEventListener.java
  core/cas-server-core-events-api/src/main/java/org/apereo/cas/support/events/listener/LoggingCasEventListener.java
  core/cas-server-core-events-configuration-cloud-bus/src/main/java/org/apereo/cas/config/CasCloudBusEventsConfigEnvironmentConfiguration.java
  core/cas-server-core-events-configuration-cloud-bus/src/main/java/org/apereo/cas/support/events/listener/CasCloudBusConfigurationEventListener.java
  core/cas-server-core-events-configuration-cloud-bus/src/main/java/org/apereo/cas/support/events/listener/DefaultCasCloudBusConfigurationEventListener.java
  core/cas-server-core-events-configuration-cloud-bus/src/test/java/org/apereo/cas/support/events/listener/CasCloudBusConfigurationEventListenerTests.java
  core/cas-server-core-events-configuration/src/main/java/org/apereo/cas/config/CasCoreEventsConfigEnvironmentConfiguration.java
  core/cas-server-core-events-configuration/src/main/java/org/apereo/cas/support/events/listener/CasConfigurationEventListener.java
  core/cas-server-core-events-configuration/src/main/java/org/apereo/cas/support/events/listener/DefaultCasConfigurationEventListener.java
  core/cas-server-core-events/src/main/java/org/apereo/cas/support/events/config/CasCoreEventsConfiguration.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/DefaultRegisteredServicesEventListener.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/RegisteredServicesEventListener.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/DefaultServiceRegistryInitializerEventListener.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/ServiceRegistryInitializerEventListener.java
  core/cas-server-core-services-registry/src/test/java/org/apereo/cas/services/DefaultServiceRegistryInitializerEventListenerTests.java
  core/cas-server-core-services/src/main/java/org/apereo/cas/config/CasCoreServicesConfiguration.java
  core/cas-server-core-services/src/main/java/org/apereo/cas/config/CasServiceRegistryInitializationConfiguration.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/RegisteredServicesEventListenerTests.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/jwks/OidcJsonWebKeyStoreListener.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/jwks/OidcJsonWebKeyStoreListenerImpl.java
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/config/OidcEndpointsConfiguration.java
  support/cas-server-support-service-registry-stream/src/main/java/org/apereo/cas/config/CasServicesStreamingConfiguration.java
  support/cas-server-support-service-registry-stream/src/main/java/org/apereo/cas/services/CasServicesRegistryStreamingEventListener.java
  support/cas-server-support-service-registry-stream/src/main/java/org/apereo/cas/services/DefaultCasServicesRegistryStreamingEventListener.java
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/authentication/event/DefaultSurrogateAuthenticationEventListener.java
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/authentication/event/SurrogateAuthenticationEventListener.java
  support/cas-server-support-surrogate-authentication/src/main/java/org/apereo/cas/config/SurrogateAuthenticationConfiguration.java
  support/cas-server-support-surrogate-authentication/src/test/java/org/apereo/cas/authentication/event/SurrogateAuthenticationEventListenerTests.java
Labels: Authentication Events, Spring Boot, CI

#5289 add SAML2 Response ID to audit message
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/audit/SamlResponseAuditResourceResolver.java
  support/cas-server-support-saml-idp-web/src/test/java/org/apereo/cas/support/saml/web/idp/audit/SamlResponseAuditResourceResolverTests.java
Labels: Audits & Logging, SAML2 Protocol, SAML Core, CI

#5290 Allow more customisations on OAuth/OIDC
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20AuthorizationCodeAuthorizationResponseBuilder.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/issuer/OidcDefaultIssuerService.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/jwks/OidcJsonWebKeyStoreListenerImpl.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/OidcAccessTokenResponseGenerator.java
Labels: OAuth2 Protocol, OpenID Connect Protocol, CI

#5291 Allow more customisations on OAuth/OIDC
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20AuthorizationCodeAuthorizationResponseBuilder.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/issuer/OidcDefaultIssuerService.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/OidcAccessTokenResponseGenerator.java
Labels: OAuth2 Protocol, OpenID Connect Protocol, Remember: Port Forward, CI

#5292 add SAML2 Response ID to audit message
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/audit/SamlResponseAuditResourceResolver.java
  support/cas-server-support-saml-idp-web/src/test/java/org/apereo/cas/support/saml/web/idp/audit/SamlResponseAuditResourceResolverTests.java
Labels: Audits & Logging, SAML2 Protocol, SAML Core, Remember: Port Forward

#5298 Add GAuth section
  support/cas-server-support-thymeleaf/src/main/resources/messages_it.properties
Labels: MFA Google Authenticator

#5297 Add GAuth section
  support/cas-server-support-thymeleaf/src/main/resources/messages_it.properties
Labels: MFA Google Authenticator, Remember: Port Forward

#5271 Fix CSRF in WebAuthn support
  support/cas-server-support-thymeleaf/src/main/resources/static/js/webauthn/webauthn.js
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/webAuthnLogin.html
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/web/flow/WebAuthnMultifactorWebflowConfigurer.java
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/web/flow/WebAuthnStartRegistrationAction.java
  support/cas-server-support-webauthn/src/main/java/org/apereo/cas/config/WebAuthnWebflowConfiguration.java
  support/cas-server-support-webauthn/src/test/java/org/apereo/cas/webauthn/web/flow/WebAuthnStartRegistrationActionTests.java
Labels: Authentication, CI

#5296 DynamoDB: Only set throughput for PROVISIONED billing mode
  ci/tests/dynamodb/run-dynamodb-server.sh
  support/cas-server-support-dynamodb-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/DynamoDbTicketRegistryFacilitator.java
  support/cas-server-support-dynamodb-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/DynamoDbTicketRegistryFacilitatorTests.java
Labels: AWS DynamoDb, Remember: Port Forward

#5303 DynamoDB: Only set throughput for PROVISIONED billing mode
  support/cas-server-support-dynamodb-core/src/main/java/org/apereo/cas/dynamodb/DynamoDbTableUtils.java
  support/cas-server-support-dynamodb-core/src/test/java/org/apereo/cas/dynamodb/DynamoDbTableUtilsTests.java
Labels: AWS DynamoDb

#5299 use minified versions of js/css
  core/cas-server-core-web/src/main/resources/cas_common_messages.properties
Labels: User Interface & Themes, CI

#5295 fix trusted-mfa-redis: correctly get multiple devices per user
  support/cas-server-support-trusted-mfa-redis/src/main/java/org/apereo/cas/trusted/authentication/storage/RedisMultifactorAuthenticationTrustStorage.java
  support/cas-server-support-trusted-mfa-redis/src/test/java/org/apereo/cas/trusted/authentication/storage/RedisMultifactorAuthenticationTrustStorageTests.java
Labels: MFA, Redis, CI

#5294 fix trusted-mfa-redis: correctly get multiple devices per user
  support/cas-server-support-trusted-mfa-redis/src/main/java/org/apereo/cas/trusted/authentication/storage/RedisMultifactorAuthenticationTrustStorage.java
  support/cas-server-support-trusted-mfa-redis/src/test/java/org/apereo/cas/trusted/authentication/storage/RedisMultifactorAuthenticationTrustStorageTests.java
Labels: MFA, Redis, Remember: Port Forward

#5304 Fix CSRF in WebAuthn support
  support/cas-server-support-thymeleaf/src/main/resources/static/js/webauthn/webauthn.js
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/webAuthnLogin.html
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/web/flow/WebAuthnMultifactorWebflowConfigurer.java
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/web/flow/WebAuthnStartRegistrationAction.java
  support/cas-server-support-webauthn/src/main/java/org/apereo/cas/config/WebAuthnWebflowConfiguration.java
  support/cas-server-support-webauthn/src/test/java/org/apereo/cas/webauthn/web/flow/WebAuthnStartRegistrationActionTests.java
Labels: Authentication, Remember: Port Forward, CI
