Repository apereo/cas, pull requests merged in 2021-02, with the labels that each got.

#5036 change default branchesToClone to all branches, update javadocs
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/git/services/BaseGitProperties.java
  docs/cas-server-documentation/release_notes/RC2.md
Labels: Documentation, Remember: Document Property, Remember: Needs Tests

#5034 Implement findServiceBy for service id
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/DefaultChainingServiceRegistry.java
Labels: Remember: Needs Tests, Remember: Port Forward, Services & Registries

#5037 Fix polish translations
  support/cas-server-support-thymeleaf/src/main/resources/messages_pl.properties
Labels: Internationalization, Remember: Port Forward

#5040 Fix polish translations
  support/cas-server-support-thymeleaf/src/main/resources/messages_pl.properties
Labels: Internationalization

#5038 documentation: add warning about password in MDC
  docs/cas-server-documentation/logging/Logging-MDC.md
  docs/cas-server-documentation/logging/Logging-SysLog.md
Labels: Documentation

#5045 Configure default headers for HTTP client
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/authentication/HttpClientProperties.java
  core/cas-server-core-web/src/main/java/org/apereo/cas/config/CasCoreHttpConfiguration.java
Labels: Remember: Document Property, Remember: Needs Tests

#5046 Configure default headers for HTTP client
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/authentication/HttpClientProperties.java
  core/cas-server-core-web/src/main/java/org/apereo/cas/config/CasCoreHttpConfiguration.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
Labels: Remember: Needs Tests, Remember: Port Forward

#5039 Accept simple MFA tokens without prefix
  support/cas-server-support-simple-mfa-core/src/main/java/org/apereo/cas/mfa/simple/CasSimpleMultifactorAuthenticationHandler.java
  support/cas-server-support-simple-mfa/src/test/java/org/apereo/cas/mfa/simple/CasSimpleMultifactorAuthenticationHandlerTests.java
Labels: MFA, Remember: Port Forward

#5041 Accept simple MFA tokens without prefix
  support/cas-server-support-simple-mfa-core/src/main/java/org/apereo/cas/mfa/simple/CasSimpleMultifactorAuthenticationHandler.java
  support/cas-server-support-simple-mfa/src/test/java/org/apereo/cas/mfa/simple/CasSimpleMultifactorAuthenticationHandlerTests.java
Labels: MFA

#5044 allow redis modules to be disabled via properties
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/redis/BaseRedisProperties.java
  support/cas-server-support-audit-redis/src/main/java/org/apereo/cas/config/CasSupportRedisAuditConfiguration.java
  support/cas-server-support-aup-redis/src/main/java/org/apereo/cas/config/CasAcceptableUsagePolicyRedisConfiguration.java
  support/cas-server-support-aup-redis/src/test/java/org/apereo/cas/RedisAcceptableUsageTestsSuite.java
  support/cas-server-support-aup-redis/src/test/java/org/apereo/cas/aup/ConditionalOnExpressionNegativeTests.java
  support/cas-server-support-consent-redis/src/main/java/org/apereo/cas/config/CasConsentRedisConfiguration.java
  support/cas-server-support-gauth-redis/src/main/java/org/apereo/cas/config/GoogleAuthenticatorRedisConfiguration.java
  support/cas-server-support-redis-authentication/src/main/java/org/apereo/cas/config/RedisAuthenticationConfiguration.java
  support/cas-server-support-redis-service-registry/src/main/java/org/apereo/cas/config/RedisServiceRegistryConfiguration.java
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/config/RedisTicketRegistryConfiguration.java
  support/cas-server-support-saml-idp-metadata-redis/src/main/java/org/apereo/cas/config/SamlIdPRedisIdPMetadataConfiguration.java
  support/cas-server-support-saml-idp-metadata-redis/src/main/java/org/apereo/cas/config/SamlIdPRedisRegisteredServiceMetadataConfiguration.java
  support/cas-server-support-saml-idp-metadata-redis/src/test/java/org/apereo/cas/RedisSamlTestsSuite.java
  support/cas-server-support-saml-idp-metadata-redis/src/test/java/org/apereo/cas/support/saml/ConditionalOnExpressionNegativeTests.java
  support/cas-server-support-saml-idp-metadata-redis/src/test/java/org/apereo/cas/support/saml/ConditionalOnExpressionPositiveTests.java
  support/cas-server-support-throttle-redis/src/main/java/org/apereo/cas/config/CasRedisThrottlingConfiguration.java
  support/cas-server-support-trusted-mfa-redis/src/main/java/org/apereo/cas/trusted/config/RedisMultifactorAuthenticationTrustConfiguration.java
  support/cas-server-support-u2f-redis/src/main/java/org/apereo/cas/config/U2FRedisConfiguration.java
  support/cas-server-support-webauthn-redis/src/main/java/org/apereo/cas/config/RedisWebAuthnConfiguration.java
  support/cas-server-support-yubikey-redis/src/main/java/org/apereo/cas/config/RedisYubiKeyConfiguration.java
Labels: Configuration, Configuration Metadata, Gradle Build & Release, Redis, Remember: Document Property

#5048 update signalfx version
  gradle.properties
Labels: Dependencies & Modules

#5042 Fix attributes released to InCommon and RefedsRS
  support/cas-server-support-saml-idp-core/src/main/java/org/apereo/cas/support/saml/services/InCommonRSAttributeReleasePolicy.java
Labels: Attribute Release, Attribute Resolution, Remember: Needs Tests, Remember: Port Forward

#5047 Fix OIDC introspection
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20IntrospectionEndpointController.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/AbstractOAuth20Tests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20IntrospectionEndpointControllerTests.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/controllers/introspection/OidcIntrospectionEndpointController.java
Labels: OAuth2 Protocol, OpenID Connect Protocol

#5049 Fix OAuth/OIDC support
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20IntrospectionEndpointController.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/AbstractOAuth20Tests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20IntrospectionEndpointControllerTests.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/controllers/introspection/OidcIntrospectionEndpointController.java
Labels: OAuth2 Protocol, OpenID Connect Protocol, Remember: Port Forward

#5033 Fix skip button in casMfaRegisterDeviceView
  support/cas-server-support-thymeleaf/src/main/resources/templates/casMfaRegisterDeviceView.html
  support/cas-server-support-trusted-mfa-core/src/main/java/org/apereo/cas/trusted/web/flow/AbstractMultifactorTrustedDeviceWebflowConfigurer.java
Labels: MFA, Remember: Needs Tests, Remember: Port Forward

#5031 Cannot resend token in casSimpleMfaLoginView
  support/cas-server-support-thymeleaf/src/main/resources/templates/casSimpleMfaLoginView.html
Labels: MFA, Proposal Declined, Remember: Port Forward

#5050 SAML Attribute Definition should support "urn"
  docs/cas-server-documentation/installation/Configuring-SAML2-Attribute-Release.md
  docs/cas-server-documentation/integration/Attribute-Definitions.md
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/builders/attr/SamlIdPAttributeDefinition.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/builders/attr/SamlProfileSamlAttributeStatementBuilder.java
  support/cas-server-support-saml-idp/src/test/java/org/apereo/cas/AllSamlIdPTestsSuite.java
  support/cas-server-support-saml-idp/src/test/java/org/apereo/cas/support/saml/web/idp/profile/builders/attr/SamlProfileSamlAttributeStatementBuilderTests.java
  support/cas-server-support-saml-idp/src/test/resources/basic-definitions.json
Labels: Attribute Release, Attribute Resolution, Remember: Port Forward, SAML Core

#5053 casinit helm chart - configure cas with tomcat kubernetes clustering
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/bootadmin/deployment.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/mgmt/deployment.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/templates/statefulset.yaml
  app/src/main/resources/overlay/helmcharts/helm/cas-server/values.yaml
Labels: Apache Tomcat, Installation & Deployment

#5052 setting the pac4j csrf cookie properties
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/web/LocaleCookieProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/analytics/GoogleAnalyticsCookieProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/cookie/CookieProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/cookie/PinnableCookieProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/cookie/TicketGrantingCookieProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/cookie/WarningCookieProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/trusteddevice/DeviceFingerprintProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/CsrfCookieProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/replication/CookieSessionReplicationProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/wsfed/WsFederationDelegatedCookieProperties.java
  core/cas-server-core-cookie-api/src/main/java/org/apereo/cas/web/support/mgmr/DefaultCasCookieValueManager.java
  docs/cas-server-documentation/authentication/OAuth-Authentication.md
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/OAuth20TestsSuite.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/CSRFCookieTests.java
Labels: Configuration, Configuration Metadata, Delegated Authentication Pac4J, Pac4J, Remember: Document Property, SSO & Cookies

#5056 back-port BeanDefinitionStoreFailureAnalyzer
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/spring/boot/BeanDefinitionStoreFailureAnalyzer.java
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/AllUtilTestsSuite.java
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/util/spring/boot/BeanDefinitionStoreFailureAnalyzerTests.java
  core/cas-server-core-util-api/src/test/resources/log4j2-test.xml
  core/cas-server-core-util/src/main/resources/META-INF/spring.factories
Labels: Remember: Port Forward, Spring Boot

#5057 exclude transitive dependencies from reflection-util
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release

#5059 exclude transitive dependencies from reflection-util (#5057)
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release, Remember: Port Forward

#5061 Update Configuring-SAML2-Attribute-Release.md
  docs/cas-server-documentation/installation/Configuring-SAML2-Attribute-Release.md
Labels: Attribute Release, Attribute Resolution, Remember: Port Forward, SAML Core, SAML2 Protocol

#5051 Resolve Attribute Definition requested by release policy
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/AbstractRegisteredServiceAttributeReleasePolicy.java
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/ReturnAllowedAttributeReleasePolicy.java
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/ReturnEncryptedAttributeReleasePolicy.java
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/ReturnMappedAttributeReleasePolicy.java
  core/cas-server-core-authentication-attributes/src/test/java/org/apereo/cas/services/RegisteredServiceAttributeReleasePolicyTests.java
  core/cas-server-core-authentication-attributes/src/test/java/org/apereo/cas/services/ReturnAllowedAttributeReleasePolicyTests.java
  core/cas-server-core-authentication-attributes/src/test/java/org/apereo/cas/services/ReturnMappedAttributeReleasePolicyTests.java
  support/cas-server-support-oidc-core/src/main/java/org/apereo/cas/oidc/claims/BaseOidcScopeAttributeReleasePolicy.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/claims/OidcAddressScopeAttributeReleasePolicyTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/claims/OidcCustomScopeAttributeReleasePolicyTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/claims/OidcEmailScopeAttributeReleasePolicyTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/claims/OidcPhoneScopeAttributeReleasePolicyTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/claims/OidcProfileScopeAttributeReleasePolicyTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/claims/mapping/OidcDefaultAttributeToScopeClaimMapperTests.java
  support/cas-server-support-ws-idp-api/src/main/java/org/apereo/cas/ws/idp/services/CustomNamespaceWSFederationClaimsReleasePolicy.java
  support/cas-server-support-ws-idp-api/src/main/java/org/apereo/cas/ws/idp/services/WSFederationClaimsReleasePolicy.java
Labels: Attribute Release, Attribute Resolution, Remember: Port Forward
