Repository apereo/cas, pull requests merged in 2021-01, with the labels that each got.

#5021 Update RestPasswordManagementService.java
  support/cas-server-support-pm-rest/src/main/java/org/apereo/cas/pm/rest/RestPasswordManagementService.java
Labels: Remember: Needs Tests

#5016 Support AES Jasypt algorithms
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/support/CasConfigurationJasyptCipherExecutor.java
  core/cas-server-core-configuration/src/test/java/org/apereo/cas/configuration/support/CasConfigurationJasyptCipherExecutorTests.java
Labels: Signing & Encryption

#5022 Amazon Cognito Authentication: fix adminGetUser
  support/cas-server-support-aws-cognito-authentication/src/main/java/org/apereo/cas/authentication/AmazonCognitoAuthenticationAuthenticationHandler.java
Labels: Authentication, Remember: Needs Tests, Remember: Port Forward

#5024 Open a little the TerminateSessionAction
  support/cas-server-support-actions/src/main/java/org/apereo/cas/web/flow/logout/TerminateSessionAction.java
Labels: Remember: Needs Tests, Remember: Port Forward

#5025 Turn off jasypt initialization vector by default
  .github/workflows/cas-build.yml
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/config/standalone/StandaloneConfigurationSecurityProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/web/tomcat/CasEmbeddedApacheTomcatBasicAuthenticationProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/support/CasConfigurationJasyptCipherExecutor.java
  ci/tests/shell/cas-shell-script.sh
  core/cas-server-core-configuration/src/test/java/org/apereo/cas/configuration/support/CasConfigurationJasyptCipherExecutorTests.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/jasypt/JasyptDecryptPropertyCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/jasypt/JasyptEncryptPropertyCommand.java
  support/cas-server-support-shell/src/main/java/org/apereo/cas/shell/commands/jasypt/JasyptTestAlgorithmsCommand.java
  support/cas-server-support-shell/src/test/java/org/apereo/cas/shell/commands/jasypt/JasyptDecryptPropertyCommandTests.java
  support/cas-server-support-shell/src/test/java/org/apereo/cas/shell/commands/jasypt/JasyptEncryptPropertyCommandTests.java
Labels: Configuration, Configuration Metadata, Remember: Document Property

#5027 avoid logging null messages if nested message available
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/LoggingUtils.java
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/util/LoggingUtilsTests.java
Labels: Audits & Logging

#5028 support cors allowed origin patterns
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/web/security/HttpCorsRequestProperties.java
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/services/RegisteredServiceProperty.java
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/services/web/support/RegisteredServiceCorsConfigurationSource.java
  core/cas-server-core-web/src/test/java/org/apereo/cas/web/RegisteredServiceCorsConfigurationSourceTests.java
  docs/cas-server-documentation/services/Configuring-Service-Http-Security-Headers.md
Labels: Remember: Document Property

#5030 Update Polish translation
  support/cas-server-support-thymeleaf/src/main/resources/messages_pl.properties
Labels: Internationalization, Remember: Port Forward

#5029 Fix labels in casConsentView
  support/cas-server-support-thymeleaf/src/main/resources/templates/casConsentView.html
Labels: Attribute Consent, Remember: Port Forward

#5032 capture better error message on startup for BeanDefinitionStoreException
  webapp/cas-server-webapp-init/src/main/java/org/apereo/cas/web/BeanDefinitionStoreFailureAnalyzer.java
  webapp/cas-server-webapp-init/src/main/resources/META-INF/spring.factories
  webapp/cas-server-webapp-init/src/test/java/org/apereo/cas/AllCasWebApplicationTestsSuite.java
  webapp/cas-server-webapp-init/src/test/java/org/apereo/cas/BeanDefinitionStoreFailureAnalyzerTests.java
Labels: Spring Boot
