Repository apereo/cas, pull requests merged in 2021-06, with the labels that each got.

#5155 add redis client connection options
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/redis/BaseRedisProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/redis/RedisClusterProperties.java
  support/cas-server-support-redis-core/src/main/java/org/apereo/cas/redis/core/RedisObjectFactory.java
  support/cas-server-support-redis-core/src/test/java/org/apereo/cas/redis/core/RedisObjectFactoryTests.java
Labels: CI, Configuration, Redis

#5159 Add getAllServicesOfType method to ServicesManager
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/services/ServicesManager.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/AbstractServicesManager.java
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/ChainingServicesManager.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/AbstractServicesManagerTests.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/util/OAuth20Utils.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/controllers/jwks/OidcJwksEndpointController.java
Labels: CI, Remember: Port Forward, Services & Registries

#5162 ssoSessions: add doc for DELETE endpoint
  docs/cas-server-documentation/authentication/Configuring-SSO.md
Labels: Documentation

#5169 Make easier to run scheduled jobs on single host
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/quartz/SchedulingProperties.java
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasCoreTicketsSchedulingConfiguration.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/spring/boot/ConditionalOnMatchingHostname.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/spring/boot/MatchingHostCondition.java
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/AllUtilTestsSuite.java
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/util/spring/boot/ConditionalOnMatchingHostnameTests.java
  support/cas-server-support-mongo-ticket-registry/src/main/java/org/apereo/cas/config/MongoDbTicketRegistryConfiguration.java
  support/cas-server-support-trusted-mfa/src/main/java/org/apereo/cas/trusted/config/MultifactorAuthnTrustConfiguration.java
Labels: CI, Configuration

#5173 [Documentation] Update camel case property to snake case property: strategyType
  docs/cas-server-documentation/configuration/Configuration-Properties-Common.md
Labels: Configuration, Configuration Metadata, Documentation, Remember: Port Forward

#5178 x509 puppeteer test with ldap attributes
  .gitattributes
  ci/tests/ldap/run-ad-server.sh
  ci/tests/puppeteer/scenarios/x509-login-ldap-attributes/cert.pem
  ci/tests/puppeteer/scenarios/x509-login-ldap-attributes/create_cert.sh
  ci/tests/puppeteer/scenarios/x509-login-ldap-attributes/key.pem
  ci/tests/puppeteer/scenarios/x509-login-ldap-attributes/script.js
  ci/tests/puppeteer/scenarios/x509-login-ldap-attributes/script.json
  ci/tests/puppeteer/scenarios/x509-login-ldap-attributes/truststore.jks
  ci/tests/puppeteer/scenarios/x509-login-ldap-attributes/truststore.p12
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509CertificateCredential.java
Labels: Attribute Release, Attribute Resolution, CI, LDAP & Active Directory, Remember: Needs Tests, Unit/Integration Tests, X.509

#5175 Fix isDefault support for SAML2 ACS
  support/cas-server-support-saml-idp-core/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/SamlRegisteredServiceServiceProviderMetadataFacade.java
  support/cas-server-support-saml-idp/src/test/java/org/apereo/cas/support/saml/services/idp/metadata/SamlRegisteredServiceServiceProviderMetadataFacadeTests.java
  support/cas-server-support-saml-idp/src/test/resources/metadata/testshib-providers.xml
Labels: CI, SAML Core, SAML2 Protocol

#5182 Refractor duplicate definition of singleLogoutServiceLogoutUrlBuilder as variable and function
  core/cas-server-core-logout/src/main/java/org/apereo/cas/logout/config/CasCoreLogoutConfiguration.java
Labels: CI, Logout & SLO, Remember: Needs Tests

#5180 Fix OIDC prompt=none support
  ci/tests/puppeteer/scenarios/oidc-authzcode-login-promptnone/script.js
  ci/tests/puppeteer/scenarios/oidc-authzcode-login-promptnone/script.json
  ci/tests/puppeteer/scenarios/oidc-authzcode-login-promptnone/services/Sample-1.json
  gradle.properties
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
Labels: CI, OpenID Connect Protocol, Remember: Needs Tests

#5185 OIDC: Fix the auth_time claim in ID tokens
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/token/OidcIdTokenGeneratorService.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/token/OidcIdTokenGeneratorServiceTests.java
Labels: CI, OpenID Connect Protocol

#5186 puppeteer build updates
  .github/workflows/puppeteer.yml
  ci/tests/ldap/run-ad-server.sh
  ci/tests/puppeteer/.npmrc
  ci/tests/puppeteer/cas.js
  ci/tests/puppeteer/run.sh
  gradle/tests.gradle
Labels: CI, Gradle Build & Release
