Repository apereo/cas, pull requests merged in 2021-12, with the labels that each got.

#5313 Open some CAS classes
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/ticket/accesstoken/OAuth20DefaultAccessTokenFactory.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
  support/cas-server-support-simple-mfa-core/src/main/java/org/apereo/cas/mfa/simple/web/flow/CasSimpleMultifactorSendTokenAction.java
Labels: CI

#5314 Open some CAS classes
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/ticket/accesstoken/OAuth20DefaultAccessTokenFactory.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
  support/cas-server-support-simple-mfa-core/src/main/java/org/apereo/cas/mfa/simple/web/flow/CasSimpleMultifactorSendTokenAction.java
Labels: Remember: Port Forward, CI

#5317 fix strapi puppeteer test
  ci/tests/puppeteer/scenarios/oidc-login-strapi/init.sh
Labels: Unit/Integration Tests, CI

#5320 Fix initialization issues of the pac4j clients
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DefaultDelegatedClientFactory.java
  support/cas-server-support-pac4j-core-clients/src/test/java/org/apereo/cas/support/pac4j/authentication/DefaultDelegatedClientFactoryTests.java
Labels: Delegated Authentication Pac4J, Pac4J, Remember: Port Forward, CI

#5318 Test the pac4j concurrency
  ci/tests/puppeteer/scenarios/pac4j-delegated-concurrency/script.js
  ci/tests/puppeteer/scenarios/pac4j-delegated-concurrency/script.json
  ci/tests/puppeteer/scenarios/pac4j-delegated-concurrency/test.js
Labels: Delegated Authentication Pac4J, Pac4J, Unit/Integration Tests, CI

#5319 Fix initialization issues of the pac4j clients
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/DefaultDelegatedClientFactory.java
Labels: Delegated Authentication Pac4J, Pac4J, CI

#5321 Fix the default URL in OAuth callback
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20CallbackAuthorizeEndpointController.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20CallbackAuthorizeEndpointControllerTests.java
Labels: OAuth2 Protocol, CI

#5322 Fix the default URL in OAuth callback
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20CallbackAuthorizeEndpointController.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20CallbackAuthorizeEndpointControllerTests.java
Labels: OAuth2 Protocol, Remember: Port Forward, CI

#5324 use node 14 for puppetteer tests for time being
  .github/workflows/puppeteer.yml
Labels: Unit/Integration Tests, CI

#5325 Upgrade to pac4j v5.2.0
  gradle.properties
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Delegated Authentication Pac4J, Pac4J, Gradle Build & Release, CI

#5311 fix: Exception evaluating SpringEL expression: "'screen.pac4j.authn.' + rootCauseException.class.simpleName"
  support/cas-server-support-thymeleaf/src/main/resources/templates/delegated-authn/casDelegatedAuthnStopWebflow.html
Labels: Authentication, Delegated Authentication Pac4J, Pac4J, User Interface & Themes

#5334 pac4j >= 5.1.4 requires nimbus oidc >= 9.14
  gradle.properties
Labels: Proposal Declined, See Security Policy

#5335 Fix PM LDAP user lookup when the user is missing mail or phone.
  support/cas-server-support-pm-ldap/src/main/java/org/apereo/cas/pm/LdapPasswordManagementService.java
  support/cas-server-support-pm-ldap/src/test/java/org/apereo/cas/pm/LdapPasswordManagementServiceTests.java
  support/cas-server-support-pm-ldap/src/test/resources/ldif/ldap-pm.ldif
Labels: LDAP & Active Directory, Password Management, Email & SMS Notifications, CI
