Repository apereo/cas, pull requests merged in 2021-07, with the labels that each got.

#5187 allow specific prinicipal resolvers to override person directory defaults
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/authentication/PersonDirectoryPrincipalResolverProperties.java
  ci/tests/puppeteer/scenarios/x509-login-ldap-attributes/attributes.groovy
  ci/tests/puppeteer/scenarios/x509-login-ldap-attributes/script.js
  ci/tests/puppeteer/scenarios/x509-login-ldap-attributes/script.json
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/CoreAuthenticationUtils.java
  core/cas-server-core-authentication/src/main/java/org/apereo/cas/config/CasCoreAuthenticationConfiguration.java
  core/cas-server-core-authentication/src/test/java/org/apereo/cas/authentication/CoreAuthenticationUtilsTests.java
Labels: CI, Configuration, Gradle Build & Release

#5188 OIDC: Fix the auth_time claim in ID tokens
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/token/OidcIdTokenGeneratorService.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/token/OidcIdTokenGeneratorServiceTests.java
Labels: CI, OpenID Connect Protocol, Remember: Port Forward

#5192 Fix the auth_time claim in the OIDC support
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/profile/OidcUserProfileDataCreator.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/profile/OidcUserProfileDataCreatorTests.java
Labels: CI, OpenID Connect Protocol, Remember: Port Forward

#5191 Fix the auth_time claim in the OIDC support
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/profile/OidcUserProfileDataCreator.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/profile/OidcUserProfileDataCreatorTests.java
Labels: CI, OpenID Connect Protocol

#5196 Username and password swapped in REST authentication
  support/cas-server-support-rest-authentication/src/main/java/org/apereo/cas/adaptors/rest/RestAuthenticationHandler.java
Labels: Authentication, REST Protocol & Integrations, Remember: Needs Tests

#5195 add puppeteer test with strapi oidc app
  .gitignore
  ci/tests/puppeteer/scenarios/external-app-strapi-oidc/init.sh
  ci/tests/puppeteer/scenarios/external-app-strapi-oidc/script.js
  ci/tests/puppeteer/scenarios/external-app-strapi-oidc/script.json
  ci/tests/puppeteer/scenarios/external-app-strapi-oidc/services/Strapi-1.json
  ci/tests/puppeteer/scenarios/external-app-strapi-oidc/strapi-custom/bootstrap.js
  ci/tests/puppeteer/scenarios/external-app-strapi-oidc/strapi-custom/server.js
Labels: CI, OpenID Connect Protocol, Unit/Integration Tests

#5197 Fix NullPointerException when X-CAS-PasswordExpirationDate header is not present for REST authentication.
  support/cas-server-support-rest-authentication/src/main/java/org/apereo/cas/adaptors/rest/RestAuthenticationHandler.java
Labels: Authentication, REST Protocol & Integrations, Remember: Needs Tests

#5198 make maven publish repo variables type neutral
  .github/workflows/publish.yml
  build.gradle
  gradle.properties
  gradle/springboot.gradle
  gradle/webapp.gradle
  release.sh
Labels: CI, Dependencies & Modules, Gradle Build & Release

#5202 oauth/oidc: token expiration policy attribute name
  docs/cas-server-documentation/installation/OAuth-OpenId-Authentication.md
Labels: Attribute Release, Attribute Resolution, OAuth2 Protocol, OpenID Connect Protocol, Remember: Port Forward, Ticket Expiration Policy

#5210 cz translation - fix for required fields
  support/cas-server-support-thymeleaf/src/main/resources/messages_cs.properties
Labels: Internationalization
