Repository apereo/cas, pull requests merged in 2021-03, with the labels that each got.

#5065 Allow to define a custom x509 certification extraction
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/flow/config/X509AuthenticationWebflowConfiguration.java
Labels: Remember: Needs Tests, X.509

#5066 Allow to define a custom x509 certification extraction
  support/cas-server-support-x509-webflow/src/main/java/org/apereo/cas/web/flow/config/X509AuthenticationWebflowConfiguration.java
Labels: Remember: Needs Tests, Remember: Port Forward, X.509

#5067 HttpClientBuilder use system properties for JVM proxy settings
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/HttpUtils.java
Labels: Configuration, Configuration Metadata, Remember: Needs Tests

#5068 Bugfix/javascript syntax error
  support/cas-server-support-thymeleaf/src/main/resources/static/js/cas.js
Labels: Apache Groovy, User Interface & Themes

#5060 Bug Fix: Wrong authentication checking in Google Authenticator
  support/cas-server-support-gauth-core/src/main/java/org/apereo/cas/gauth/credential/GoogleAuthenticatorOneTimeTokenCredentialValidator.java
Labels: Authentication, MFA Google Authenticator, Remember: Needs Tests, Remember: Port Forward

#5075 Add method to remove definition from AttributeDefinitionStore
  api/cas-server-core-api-services/src/main/java/org/apereo/cas/authentication/attribute/AttributeDefinitionStore.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/attribute/DefaultAttributeDefinitionStore.java
  support/cas-server-support-person-directory/src/test/java/org/apereo/cas/DefaultAttributeDefinitionStoreTests.java
Labels: Attribute Release, Attribute Resolution, Remember: Port Forward

#5076 Set timeouts for HttpUtils
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/HttpUtils.java
Labels: Remember: Needs Tests

#5077 Set timeouts for HttpUtils
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/HttpUtils.java
Labels: Remember: Needs Tests, Remember: Port Forward

#5078 Flexbox fix for IE11
  support/cas-server-support-thymeleaf/src/main/resources/static/css/cas.css
Labels: User Interface & Themes

#5080 Fix the default size of the encryption key for OAuth
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/util/EncryptionJwtCryptoProperties.java
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/oauth/OAuthProperties.java
Labels: OAuth2 Protocol, Remember: Document Property, Remember: Needs Tests, Signing & Encryption

#5079 Syncope Authentication: adding support for multiple relationships of …
  support/cas-server-support-syncope-authentication/src/main/java/org/apereo/cas/syncope/authentication/SyncopeAuthenticationHandler.java
Labels: Apache Syncope, Authentication, Remember: Needs Tests

#5071 x509 extract edipi as attribute, make attribute extractor a bean
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/x509/CnEdipiPrincipalResolverProperties.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/AbstractX509PrincipalResolver.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/DefaultX509AttributeExtractor.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/EDIPIX509AttributeExtractor.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509AttributeExtractor.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509CommonNameEDIPIPrincipalResolver.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509ExtractorUtils.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectAlternativeNameRFC822EmailPrincipalResolver.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectAlternativeNameUPNPrincipalResolver.java
  support/cas-server-support-x509-core/src/main/java/org/apereo/cas/adaptors/x509/authentication/principal/X509UPNExtractorUtils.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/DefaultX509AttributeExtractorTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/EDIPIX509AttributeExtractorTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509CommonNameEDIPIPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SerialNumberAndIssuerDNPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SerialNumberPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectAlternativeNameRFC822EmailPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectAlternativeNameUPNPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectDNPrincipalResolverTests.java
  support/cas-server-support-x509-core/src/test/java/org/apereo/cas/adaptors/x509/authentication/principal/X509SubjectPrincipalResolverTests.java
  support/cas-server-support-x509/src/main/java/org/apereo/cas/adaptors/x509/config/X509AuthenticationConfiguration.java
  support/cas-server-support-x509/src/test/java/org/apereo/cas/AllTestsSuite.java
  support/cas-server-support-x509/src/test/java/org/apereo/cas/adaptors/x509/config/EDIPIX509AttributeExtractorConfigTests.java
Labels: Attribute Release, Attribute Resolution, CI, Remember: Document Property, Spring Boot, X.509

#5084 DOC: Link to specific GitLab documentation page
  docs/cas-server-documentation/integration/Configuring-SAML-SP-Integrations.md
Labels: CI, Documentation, User Interface & Themes

#5085 Update initializr docs to point at project
  docs/cas-server-documentation/developer/Build-Process.md
  docs/cas-server-documentation/installation/WAR-Overlay-Initializr.md
Labels: CI, Documentation, Installation & Deployment

#5086 update documentation about CASCADE aggregation
  docs/cas-server-documentation/_includes/attribute-resolution-configuration.md
Labels: CI, Documentation

#5088 Allow the overriding of the client name retrieval in authn delegation
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Authentication, CI, Delegated Authentication Pac4J, Remember: Needs Tests

#5089 Allow the overriding of the client name retrieval in authn delegation
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/DelegatedClientAuthenticationAction.java
Labels: Authentication, CI, Delegated Authentication Pac4J, Remember: Needs Tests, Remember: Port Forward

#5093 Add the protocol property for Memcached
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/memcached/BaseMemcachedProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties-Common.md
  support/cas-server-support-memcached-core/src/main/java/org/apereo/cas/memcached/MemcachedPooledClientConnectionFactory.java
Labels: CI, Configuration, Configuration Metadata, Memcached, Remember: Needs Tests, Remember: Port Forward

#5092 Add the protocol property for Memcached
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/memcached/BaseMemcachedProperties.java
  support/cas-server-support-memcached-core/src/main/java/org/apereo/cas/memcached/MemcachedPooledClientConnectionFactory.java
Labels: CI, Configuration, Configuration Metadata, Memcached, Remember: Document Property, Remember: Needs Tests

#5087 Update log level for message in DenyAllAttributeReleasePolicy
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/DenyAllAttributeReleasePolicy.java
Labels: Attribute Release, Attribute Resolution, Audits & Logging, CI, Remember: Needs Tests, Services & Registries

#5082 Programmatic checking of transition validity in MFA flows
  core/cas-server-core-webflow-mfa-api/src/test/java/org/apereo/cas/web/flow/configurer/BaseMultifactorWebflowConfigurerTests.java
  support/cas-server-support-duo-core/src/main/java/org/apereo/cas/adaptors/duo/web/flow/DuoSecurityMultifactorWebflowConfigurer.java
  support/cas-server-support-gauth-core/src/main/java/org/apereo/cas/gauth/web/flow/GoogleAuthenticatorMultifactorWebflowConfigurer.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/config/InweboWebflowConfiguration.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/web/flow/InweboMultifactorWebflowConfigurer.java
  support/cas-server-support-inwebo-mfa/src/test/java/org/apereo/cas/support/inwebo/AllInweboTestsSuite.java
  support/cas-server-support-inwebo-mfa/src/test/java/org/apereo/cas/support/inwebo/web/flow/InweboMultifactorWebflowConfigurerTests.java
Labels: CI, MFA

#5090 allow log4j2.xml baseDir to be overridden by system property
  webapp/cas-server-webapp-resources/src/main/resources/log4j2.xml
Labels: Audits & Logging, CI, Configuration, Configuration Metadata

#5099 update javadoc for redis readFrom property
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/redis/BaseRedisProperties.java
  support/cas-server-support-redis-core/src/main/java/org/apereo/cas/redis/core/RedisObjectFactory.java
  support/cas-server-support-redis-core/src/test/java/org/apereo/cas/redis/core/RedisObjectFactoryTests.java
Labels: CI, Configuration, Configuration Metadata, Documentation, Redis

#5105 Avoid duplicate service in DomainManager when a service is edited
  core/cas-server-core-services-registry/src/main/java/org/apereo/cas/services/domain/DefaultDomainAwareServicesManager.java
Labels: CI, Remember: Needs Tests, Remember: Port Forward, Services & Registries

#5094 Replace retrieve method with search
  support/cas-server-support-scim/src/main/java/org/apereo/cas/scim/v2/ScimV2PrincipalProvisioner.java
Labels: CI, Remember: Needs Tests

#5107 Allow configuration of billing mode for dynamodb ticket tables
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/dynamodb/AbstractDynamoDbProperties.java
  support/cas-server-support-dynamodb-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/DynamoDbTicketRegistryFacilitator.java
  support/cas-server-support-dynamodb-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/BaseDynamoDbTicketRegistryFacilitatorTests.java
  support/cas-server-support-dynamodb-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/DynamoDbTicketRegistryFacilitatorTests.java
Labels: AWS DynamoDb, CI, Configuration

#5108 fix tests on windows
  support/cas-server-support-git-service-registry/src/test/java/org/apereo/cas/services/GitServiceRegistryTests.java
  support/cas-server-support-saml-idp-metadata-git/src/test/java/org/apereo/cas/support/saml/idp/metadata/GitSamlIdPMetadataGeneratorTests.java
  support/cas-server-support-saml-idp-metadata-git/src/test/java/org/apereo/cas/support/saml/idp/metadata/GitSamlIdPMetadataLocatorTests.java
  support/cas-server-support-saml-idp-metadata-git/src/test/java/org/apereo/cas/support/saml/metadata/resolver/GitSamlRegisteredServiceMetadataResolverTests.java
Labels: CI, Unit/Integration Tests

#5110 build(gradle): fixing when logs deletion happens for cleanLogs task
  gradle/tasks.gradle
Labels: Audits & Logging, Dependencies & Modules, Gradle Build & Release

#5100 Allow renaming Cognito user pool attribute names
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/cognito/AmazonCognitoAuthenticationProperties.java
  docs/cas-server-documentation/configuration/Configuration-Properties.md
  support/cas-server-support-aws-cognito-authentication/src/main/java/org/apereo/cas/authentication/AmazonCognitoAuthenticationAuthenticationHandler.java
  support/cas-server-support-aws-cognito-authentication/src/main/java/org/apereo/cas/config/AmazonCognitoAuthenticationConfiguration.java
  support/cas-server-support-aws-cognito-authentication/src/test/java/org/apereo/cas/authentication/AmazonCognitoAuthenticationAuthenticationHandlerTests.java
Labels: Attribute Release, Attribute Resolution, CI, Remember: Port Forward

#5111 fix: keep honoring language requested in "Accept-Language" header
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/CasLocaleChangeInterceptor.java
  core/cas-server-core-web/src/test/java/org/apereo/cas/web/support/CasLocaleChangeInterceptorTests.java
Labels: CI
