Repository apereo/cas, pull requests merged in 2022-11, with the labels that each got.

#5537 SamlAttributeConverter config option for pac4j
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pac4j/saml/Pac4jSamlClientProperties.java
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/clients/BaseDelegatedClientFactory.java
  support/cas-server-support-pac4j-webflow/src/test/java/org/apereo/cas/support/pac4j/clients/DefaultDelegatedClientFactoryTests.java
Labels: Configuration, Attribute Resolution, Attribute Release, Delegated Authentication Pac4J, Pac4J, SAML Core, CI

#5541 Fix Maven support
  build.gradle
Labels: Dependencies & Modules, Gradle Build & Release, CI

#5546 Open up a little the CAS server for customisations
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/resolver/impl/DefaultCasDelegatingWebflowEventResolver.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/ticket/accesstoken/OAuth20DefaultAccessTokenFactory.java
Labels: Remember: Port Forward, CI

#5545 Open up a little the CAS server for customisations
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/resolver/impl/DefaultCasDelegatingWebflowEventResolver.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/ticket/accesstoken/OAuth20DefaultAccessTokenFactory.java
Labels: CI

#5549 add more oidc chinese translation, and encoding to utf-8, make the property file human readable
  support/cas-server-support-thymeleaf/src/main/resources/messages_zh_CN.properties
Labels: OAuth2 Protocol, Configuration, Internationalization, OpenID Connect Protocol, Configuration Metadata

#5550 complete revision of the german translation
  support/cas-server-support-thymeleaf/src/main/resources/messages_de.properties
Labels: Internationalization

#5554 Open up JDBC support
  support/cas-server-support-jdbc-authentication/src/main/java/org/apereo/cas/adaptors/jdbc/JdbcAuthenticationUtils.java
  support/cas-server-support-jdbc-authentication/src/main/java/org/apereo/cas/adaptors/jdbc/QueryAndEncodeDatabaseAuthenticationHandler.java
  support/cas-server-support-jdbc/src/main/java/org/apereo/cas/adaptors/jdbc/config/CasJdbcAuthenticationConfiguration.java
Labels: JDBC & Hibernate & JPA, Remember: Port Forward, CI

#5553 Open up JDBC support
  support/cas-server-support-jdbc-authentication/src/main/java/org/apereo/cas/adaptors/jdbc/JdbcAuthenticationUtils.java
  support/cas-server-support-jdbc-authentication/src/main/java/org/apereo/cas/adaptors/jdbc/QueryAndEncodeDatabaseAuthenticationHandler.java
  support/cas-server-support-jdbc/src/main/java/org/apereo/cas/adaptors/jdbc/config/CasJdbcAuthenticationConfiguration.java
Labels: JDBC & Hibernate & JPA, CI

#5551 Make LoggingUtils configurable
  api/cas-server-core-api-util/src/main/java/org/apereo/cas/util/LogMessageSummarizer.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/DefaultLogMessageSummarizer.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/LoggingUtils.java
  core/cas-server-core-util-api/src/main/resources/META-INF/services/org.apereo.cas.util.LogMessageSummarizer
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/AllUtilTestsSuite.java
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/util/LoggingUtilsSummarizeTests.java
  core/cas-server-core-util-api/src/test/resources/log4j2-test.xml
Labels: Audits & Logging, Remember: Port Forward, CI

#5555 Make LoggingUtils configurable (#5551)
  api/cas-server-core-api-util/src/main/java/org/apereo/cas/util/LogMessageSummarizer.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/DefaultLogMessageSummarizer.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/LoggingUtils.java
  core/cas-server-core-util-api/src/main/resources/META-INF/services/org.apereo.cas.util.LogMessageSummarizer
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/AllUtilTestsSuite.java
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/util/LoggingUtilsSummarizeTests.java
  core/cas-server-core-util-api/src/test/resources/log4j2-test.xml
Labels: Audits & Logging, CI
