Repository apereo/cas, pull requests merged in 2022-04, with the labels that each got.

#5437 Fix OIDC UserInfo in JWT format
  ci/tests/puppeteer/scenarios/oidc-authzcode-profile-jwt-format/script.js
  ci/tests/puppeteer/scenarios/oidc-authzcode-profile-jwt-format/script.json
  ci/tests/puppeteer/scenarios/oidc-authzcode-profile-jwt-format/services/Sample-1.json
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/controllers/profile/OidcUserProfileEndpointController.java
Labels: JWS & JWT AuthN & Tickets, OpenID Connect Protocol, CI

#5438 Fix OIDC UserInfo in JWT format
  ci/tests/puppeteer/scenarios/oidc-authzcode-profile-jwt-format/script.js
  ci/tests/puppeteer/scenarios/oidc-authzcode-profile-jwt-format/script.json
  ci/tests/puppeteer/scenarios/oidc-authzcode-profile-jwt-format/services/Sample-1.json
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/controllers/profile/OidcUserProfileEndpointController.java
Labels: JWS & JWT AuthN & Tickets, OpenID Connect Protocol, Remember: Port Forward, CI

#5439 Fix createPGT for remote ticket registries
  core/cas-server-core/src/main/java/org/apereo/cas/DefaultCentralAuthenticationService.java
  support/cas-server-support-memcached-ticket-registry/build.gradle
  support/cas-server-support-memcached-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/MemcachedTicketRegistryTests.java
Labels: Proxy Authentication, CAS Protocol, Gradle Build & Release, CI

#5441 Fix createPGT for remote ticket registries
  core/cas-server-core/src/main/java/org/apereo/cas/DefaultCentralAuthenticationService.java
  support/cas-server-support-memcached-ticket-registry/build.gradle
  support/cas-server-support-memcached-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/MemcachedTicketRegistryTests.java
Labels: Proxy Authentication, CAS Protocol, Gradle Build & Release, Remember: Port Forward, CI

#5443 More i18n to gauth and mfa register device views
  support/cas-server-support-thymeleaf/src/main/resources/messages.properties
  support/cas-server-support-thymeleaf/src/main/resources/templates/gauth/casGoogleAuthenticatorRegistrationView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/mfa-trusted-devices/casMfaRegisterDeviceView.html
Labels: Proposal Declined, Internationalization, MFA, MFA Google Authenticator, User Interface & Themes, See Contributor Guidelines, Remember: Needs Tests

#5444 MFA Gauth: fix scratch_codes column type
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/OneTimeTokenAccount.java
Labels: MFA, MFA Google Authenticator, JDBC & Hibernate & JPA, CI

#5446 Fix CipherExecutor backward compatibility with CAS 6.3
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/cipher/BaseBinaryCipherExecutor.java
  core/cas-server-core-util/src/test/java/org/apereo/cas/util/cipher/DefaultTicketCipherExecutorTests.java
Labels: Signing & Encryption, Remember: Port Forward, CI

#5450 Fix SAML IdP initiated support when authn request is signed
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/SamlProfileHandlerConfigurationContext.java
  support/cas-server-support-saml-idp/src/main/java/org/apereo/cas/config/SamlIdPEndpointsConfiguration.java
Labels: Authentication, SAML Core, Remember: Port Forward, CI

#5449 Fix SAML IdP initiated support when authn request is signed
  ci/tests/puppeteer/scenarios/saml2-idp-login-idp-initiated-authnrequestsigned/init.sh
  ci/tests/puppeteer/scenarios/saml2-idp-login-idp-initiated-authnrequestsigned/ready.sh
  ci/tests/puppeteer/scenarios/saml2-idp-login-idp-initiated-authnrequestsigned/script.js
  ci/tests/puppeteer/scenarios/saml2-idp-login-idp-initiated-authnrequestsigned/script.json
  ci/tests/puppeteer/scenarios/saml2-idp-login-idp-initiated-authnrequestsigned/services/Sample-1.json
  ci/tests/saml2/authsources.php
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/SamlProfileHandlerConfigurationContext.java
  support/cas-server-support-saml-idp/src/main/java/org/apereo/cas/config/SamlIdPEndpointsConfiguration.java
Labels: Authentication, SAML Core, CI

#5455 Fixes an issue that prevented using Groovy scripts from classpath in authentication
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/policy/GroovyScriptAuthenticationPolicy.java
  core/cas-server-core-authentication-api/src/test/java/org/apereo/cas/authentication/policy/GroovyScriptAuthenticationPolicyTests.java
  core/cas-server-core-authentication-api/src/test/resources/GroovyAuthenticationPolicy.groovy
Labels: Authentication, Apache Groovy, Remember: Port Forward

#5456 Documentation: IntelliJ JVM options for JDK 11
  docs/cas-server-documentation/developer/Build-Process.md
Labels: Documentation, Gradle Build & Release
