Repository apereo/cas, pull requests merged in 2022-06, with the labels that each got.

#5471 Fix oauth 2.0 introspection response according to rfc7662
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/introspection/OAuth20IntrospectionAccessTokenResponse.java
Labels: OAuth2 Protocol, Proposal Declined, OpenID Connect Protocol, Remember: Port Forward, See Contributor Guidelines, Remember: Needs Tests

#5473 Fix mfa bypass evaluator params not sent to rest endpoint
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/bypass/RestMultifactorAuthenticationProviderBypassEvaluator.java
  core/cas-server-core-authentication-mfa-api/src/test/java/org/apereo/cas/authentication/RestMultifactorAuthenticationProviderBypassEvaluatorTests.java
  gradle/dependencies.gradle
Labels: REST Protocol & Integrations, MFA, Dependencies & Modules, MFA Bypass, Gradle Build & Release, CI

#5480 Fixing log statement to reflect the enclosing if clause
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/policy/AtLeastOneCredentialValidatedAuthenticationPolicy.java
Labels: Proposal Declined, Audits & Logging, See Contributor Guidelines, Remember: Needs Tests

#5479 Fix JsonResourceAuthenticationHandler to work with encoded passwords (6.5.x)
  support/cas-server-support-generic/src/main/java/org/apereo/cas/adaptors/generic/JsonResourceAuthenticationHandler.java
  support/cas-server-support-generic/src/test/java/org/apereo/cas/adaptors/generic/JsonResourceAuthenticationHandlerTests.java
  support/cas-server-support-generic/src/test/resources/sample-users.json
Labels: Authentication, Remember: Port Forward

#5478 Fix JsonResourceAuthenticationHandler to work with encoded passwords
  support/cas-server-support-generic/src/main/java/org/apereo/cas/adaptors/generic/JsonResourceAuthenticationHandler.java
  support/cas-server-support-generic/src/test/java/org/apereo/cas/adaptors/generic/JsonResourceAuthenticationHandlerTests.java
  support/cas-server-support-generic/src/test/resources/sample-users.json
Labels: Authentication, CI

#5483 Update Service-Management.md
  docs/cas-server-documentation/services/Service-Management.md
Labels: Services & Registries, Documentation
