Repository apereo/cas, pull requests merged in 2022-12, with the labels that each got.

#5556 Update to 6.6.4-SNAPSHOT
  gradle.properties
Labels: Dependencies & Modules, Gradle Build & Release, Remember: Port Forward, CI

#5558 Update OIDC-Authentication-Claims.md
  docs/cas-server-documentation/authentication/OIDC-Authentication-Claims.md
Labels: Authentication, Documentation, OpenID Connect Protocol, Remember: Port Forward

#5562 fix strapi puppeteer test
  ci/tests/puppeteer/scenarios/oidc-login-strapi/init.sh
Labels: Unit/Integration Tests, CI

#5561 fix so method name makes sense
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/DefaultLogMessageSummarizer.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/LoggingUtils.java
Labels: CI

#5560 fix so method name makes sense
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/DefaultLogMessageSummarizer.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/LoggingUtils.java
Labels: Remember: Port Forward, CI

#5568 Put sorted services in profile flow scope
  support/cas-server-support-actions-core/src/main/java/org/apereo/cas/web/flow/account/PrepareAccountProfileViewAction.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/account/PrepareAccountProfileViewActionTests.java
Labels: Services & Registries

#5566 Fix SPNEGO performance issues
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/spnego/SpnegoProperties.java
  support/cas-server-support-spnego/src/main/java/org/apereo/cas/config/SpnegoConfiguration.java
  support/cas-server-support-spnego/src/main/java/org/apereo/cas/support/spnego/authentication/handler/support/JcifsSpnegoAuthenticationHandler.java
  support/cas-server-support-spnego/src/test/java/org/apereo/cas/support/spnego/authentication/handler/support/JcifsSpnegoAuthenticationHandlerTests.java
Labels: SPNEGO, Configuration, Performance & Load Tests, Remember: Port Forward, CI

#5564 Fix SPNEGO performance issues
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/spnego/SpnegoProperties.java
  support/cas-server-support-spnego/src/main/java/org/apereo/cas/config/SpnegoConfiguration.java
  support/cas-server-support-spnego/src/main/java/org/apereo/cas/support/spnego/authentication/handler/support/JcifsSpnegoAuthenticationHandler.java
  support/cas-server-support-spnego/src/test/java/org/apereo/cas/support/spnego/authentication/handler/support/JcifsSpnegoAuthenticationHandlerTests.java
Labels: SPNEGO, Configuration, Performance & Load Tests, CI

#5573 Updated Account Profile page for Bootstrap
  support/cas-server-support-themes-collection/src/main/resources/templates/twbs/fragments/includes.html
  support/cas-server-support-themes-collection/src/main/resources/twbs.properties
  support/cas-server-support-thymeleaf/src/main/resources/templates/acct/casMyAccountProfile.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofileapplications.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofileattributes.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofileauditlog.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofileconsent.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofilemfadevices.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofilesessions.html
Labels: Proposal Declined, User Interface & Themes, See Contributor Guidelines, Remember: Needs Tests

#5574 Account signup - bootstrap
  support/cas-server-support-themes-collection/src/main/resources/static/themes/twbs/css/cas.css
  support/cas-server-support-thymeleaf/src/main/resources/templates/acct-mgmt/casAccountSignupView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/acct-mgmt/casAccountSignupViewComplete.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/acct-mgmt/casAccountSignupViewCompleted.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/acct-mgmt/casAccountSignupViewSentInfo.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/loginform.html
Labels: Proposal Declined, User Interface & Themes, See Contributor Guidelines, Remember: Needs Tests

#5576 don't log warnings in FunctionUtils.doAndHandle
  webapp/cas-server-webapp-config/src/main/java/org/apereo/cas/web/security/CasWebSecurityConfigurerAdapter.java
Labels: Audits & Logging, CI
