Repository apereo/cas, pull requests merged in 2022-03, with the labels that each got.

#5384 Configuration: change load order (system properties and environment variables first)
  core/cas-server-core-configuration-api/src/main/java/org/apereo/cas/configuration/DefaultCasConfigurationPropertiesSourceLocator.java
  core/cas-server-core-configuration/src/test/java/org/apereo/cas/configuration/support/DefaultCasConfigurationPropertiesSourceLocatorTests.java
  core/cas-server-core-configuration/src/test/resources/directory/application.yml
  docs/cas-server-documentation/configuration/Configuration-Management.md
Labels: Configuration, Configuration Metadata

#5386 remove TransactionManagementConfigurer b/c not needed
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasCoreTicketsConfiguration.java
Labels: JDBC & Hibernate & JPA, CI

#5391 Added translation for additional words and phrases in Czech.
  support/cas-server-support-thymeleaf/src/main/resources/messages_cs.properties
Labels: Internationalization

#5392 Catch JSON parsing exception when loading Git service repository
  support/cas-server-support-git-service-registry/src/main/java/org/apereo/cas/services/GitServiceRegistry.java
  support/cas-server-support-git-service-registry/src/test/java/org/apereo/cas/services/GitServiceRegistryTests.java
Labels: Services & Registries, Remember: Port Forward, CI

#5427 Exclude initToken and nextToken from SpnegoCredential JSON Serialization
  support/cas-server-support-spnego/src/main/java/org/apereo/cas/support/spnego/authentication/principal/SpnegoCredential.java
  support/cas-server-support-spnego/src/test/java/org/apereo/cas/support/spnego/authentication/principal/SpnegoCredentialsTests.java
Labels: SPNEGO, CI

#5429 Allow alternative identityProviderDiscoveryFeedControllers
  support/cas-server-support-saml-idp-discovery/src/main/java/org/apereo/cas/config/SamlIdentityProviderDiscoveryConfiguration.java
Labels: Proposal Declined, Configuration Discovery, Gradle Build & Release, See Contributor Guidelines, Remember: Needs Tests

#5432 Exclude initToken and nextToken from SpnegoCredential JSON Serialization
  support/cas-server-support-spnego/src/main/java/org/apereo/cas/support/spnego/authentication/principal/SpnegoCredential.java
  support/cas-server-support-spnego/src/test/java/org/apereo/cas/support/spnego/authentication/principal/SpnegoCredentialsTests.java
Labels: Remember: Port Forward
