Repository apereo/cas, pull requests merged in 2022-05, with the labels that each got.

#5460 Fix serialization configuration for Memcached
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasCoreTicketComponentSerializationConfiguration.java
Labels: Configuration, Memcached, CI

#5458 Fix bucket4j throttling support
  support/cas-server-support-throttle-bucket4j/src/main/java/org/apereo/cas/web/Bucket4jThrottledRequestExecutor.java
  support/cas-server-support-throttle-bucket4j/src/test/java/org/apereo/cas/web/BaseBucket4jThrottledRequestTests.java
Labels: Authentication Throttling, Remember: Port Forward, CI

#5457 sanitize oauth refresh tokens in log
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/serialization/MessageSanitizationUtils.java
  core/cas-server-core-util-api/src/test/java/org/apereo/cas/util/serialization/MessageSanitizationUtilsTests.java
Labels: OAuth2 Protocol, Audits & Logging, OpenID Connect Protocol

#5453 Fixes an issue that prevented using Groovy scripts from classpath in authentication
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/policy/GroovyScriptAuthenticationPolicy.java
  core/cas-server-core-authentication-api/src/test/java/org/apereo/cas/authentication/policy/GroovyScriptAuthenticationPolicyTests.java
  core/cas-server-core-authentication-api/src/test/resources/GroovyAuthenticationPolicy.groovy
Labels: Authentication, Apache Groovy, CI

#5461 Fix serialization configuration for Memcached
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasCoreTicketComponentSerializationConfiguration.java
Labels: Configuration, Memcached, Remember: Port Forward, CI

#5462 Fix the consistency of the JWT attributes for the OIDC user info
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/profile/OidcUserProfileViewRenderer.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/profile/OidcUserProfileViewRendererDefaultTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/profile/OidcUserProfileViewRendererFlatTests.java
Labels: Attribute Resolution, Attribute Release, JWS & JWT AuthN & Tickets, OpenID Connect Protocol, CI

#5463 Fix the consistency of the JWT attributes for the OIDC user info
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/profile/OidcUserProfileViewRenderer.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/profile/OidcUserProfileViewRendererDefaultTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/profile/OidcUserProfileViewRendererFlatTests.java
Labels: Attribute Resolution, Attribute Release, JWS & JWT AuthN & Tickets, OpenID Connect Protocol, Remember: Port Forward, CI

#5464 Fix null issuer for JWS/JWE on the OIDC user info endpoint
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/profile/OidcUserProfileViewRendererDefaultTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/profile/OidcUserProfileViewRendererFlatTests.java
Labels: JWS & JWT AuthN & Tickets, OpenID Connect Protocol, CI

#5467 Fix null issuer for JWS/JWE on the OIDC user info endpoint
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/profile/OidcUserProfileViewRenderer.java
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/config/OidcConfiguration.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/profile/OidcUserProfileViewRendererDefaultTests.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/profile/OidcUserProfileViewRendererFlatTests.java
Labels: JWS & JWT AuthN & Tickets, OpenID Connect Protocol, Remember: Port Forward, CI

#5470 Update Webflow-Customization-Sessions.md
  docs/cas-server-documentation/webflow/Webflow-Customization-Sessions.md
Labels: Documentation, Spring Webflow
