Repository apereo/cas, pull requests merged in 2022-10, with the labels that each got.

#5517 Add rebase option to git
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/git/services/BaseGitProperties.java
  support/cas-server-support-git-core/src/main/java/org/apereo/cas/git/DefaultGitRepository.java
  support/cas-server-support-git-core/src/main/java/org/apereo/cas/git/GitRepositoryBuilder.java
  support/cas-server-support-git-core/src/test/java/org/apereo/cas/git/GitRepositoryTests.java
Labels: Configuration, Remember: Port Forward, CI

#5518 Add rebase option to git
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/git/services/BaseGitProperties.java
  support/cas-server-support-git-core/src/main/java/org/apereo/cas/git/DefaultGitRepository.java
  support/cas-server-support-git-core/src/main/java/org/apereo/cas/git/GitRepositoryBuilder.java
  support/cas-server-support-git-core/src/test/java/org/apereo/cas/git/GitRepositoryTests.java
Labels: Configuration, CI

#5521 Use the HttpClient to fetch SAML metadata
  support/cas-server-support-saml-idp-metadata/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/cache/resolver/MetadataQueryProtocolMetadataResolver.java
  support/cas-server-support-saml-idp-metadata/src/main/java/org/apereo/cas/support/saml/services/idp/metadata/cache/resolver/UrlResourceMetadataResolver.java
  support/cas-server-support-saml-idp-metadata/src/test/java/org/apereo/cas/support/saml/services/idp/metadata/cache/SamlRegisteredServiceDefaultCachingMetadataResolverTests.java
  support/cas-server-support-saml-idp-metadata/src/test/java/org/apereo/cas/support/saml/services/idp/metadata/cache/resolver/MetadataQueryProtocolMetadataResolverTests.java
  support/cas-server-support-saml-idp-metadata/src/test/java/org/apereo/cas/support/saml/services/idp/metadata/cache/resolver/UrlResourceMetadataResolverTests.java
  support/cas-server-support-saml-idp/src/main/java/org/apereo/cas/config/SamlIdPMetadataConfiguration.java
Labels: SAML2 Protocol, SAML Core, CI

#5519 add sonarqube puppeteer test with k3d
  .github/workflows/test-ubuntu.yml
  .gitignore
  ci/tests/k3d/setup.sh
  ci/tests/puppeteer/run.sh
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/exit.sh
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/init.sh
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/script.js
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/script.json
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/services/Sonarqube-20221009.json
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/sonarqube-test-values.yaml
  docs/cas-server-documentation/authentication/OAuth-Authentication-Clients.md
  docs/cas-server-documentation/authentication/OIDC-Authentication-Clients.md
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/validator/DefaultOAuth20ClientSecretValidator.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/DefaultOAuth20ClientSecretValidatorTests.java
Labels: Documentation, User Interface & Themes, Unit/Integration Tests, CI

#5525 Add authentication attributes on resource password grant type
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20UsernamePasswordAuthenticator.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/authenticator/OAuth20UsernamePasswordAuthenticatorTests.java
Labels: Authentication, Attribute Resolution, Attribute Release, Remember: Port Forward, CI

#5524 Add authentication attributes on resource password grant type
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20UsernamePasswordAuthenticator.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/authenticator/OAuth20UsernamePasswordAuthenticatorTests.java
Labels: Authentication, Attribute Resolution, Attribute Release, CI

#5523 restore support for IP subnet authz on actuators
  webapp/cas-server-webapp-config/src/main/java/org/apereo/cas/web/security/CasWebSecurityConfigurerAdapter.java
  webapp/cas-server-webapp-config/src/test/java/org/apereo/cas/web/security/CasWebSecurityConfigurerAdapterWebTests.java
Labels: Monitoring, Authorization & Access Strategy, CI

#5526 backport - restore support for IP subnet authz on actuators (#5523)
  webapp/cas-server-webapp-config/src/main/java/org/apereo/cas/web/security/CasWebSecurityConfigurerAdapter.java
  webapp/cas-server-webapp-config/src/test/java/org/apereo/cas/web/security/CasWebSecurityConfigurerAdapterWebTests.java
Labels: Monitoring, Authorization & Access Strategy, Remember: Port Forward, CI

#5528 Correct event id for CasAuthenticationTransactionFailureEvent
  core/cas-server-core-events-api/src/main/java/org/apereo/cas/support/events/listener/CasAuthenticationAuthenticationEventListener.java
  core/cas-server-core-events/src/test/java/org/apereo/cas/support/events/CasAuthenticationEventListenerTests.java
Labels: Authentication, JDBC & Hibernate & JPA

#5530 url decoding client secret - backport
  .github/workflows/test-ubuntu.yml
  .gitignore
  ci/tests/k3d/setup.sh
  ci/tests/puppeteer/run.sh
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/exit.sh
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/init.sh
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/script.js
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/script.json
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/services/Sonarqube-20221009.json
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/sonarqube-test-values.yaml
  docs/cas-server-documentation/authentication/OAuth-Authentication-Clients.md
  docs/cas-server-documentation/authentication/OIDC-Authentication-Clients.md
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/validator/DefaultOAuth20ClientSecretValidator.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/validator/DefaultOAuth20ClientSecretValidatorTests.java
Labels: Documentation, User Interface & Themes, Remember: Port Forward, CI

#5529 Use authn attribute release policy for resource password grant type
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/authentication/AuthenticationAttributeReleaseProperties.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/authenticator/OAuth20UsernamePasswordAuthenticator.java
  support/cas-server-support-oauth/src/main/java/org/apereo/cas/config/CasOAuth20Configuration.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/authenticator/BaseOAuth20AuthenticatorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/authenticator/OAuth20UsernamePasswordAuthenticatorTests.java
Labels: Authentication, Configuration, Attribute Resolution, Attribute Release, Remember: Port Forward, CI

#5531 Update Inwebo MFA support
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/InweboMultifactorAuthenticationProperties.java
  ci/tests/puppeteer/scenarios/mfa-inwebo-ma/castest.p12
  ci/tests/puppeteer/scenarios/mfa-inwebo-ma/script.js
  ci/tests/puppeteer/scenarios/mfa-inwebo-ma/script.json
  ci/tests/puppeteer/scenarios/mfa-inwebo-va/castest.p12
  ci/tests/puppeteer/scenarios/mfa-inwebo-va/script.js
  ci/tests/puppeteer/scenarios/mfa-inwebo-va/script.json
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/service/InweboConsoleAdmin.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/service/InweboService.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/service/soap/generated/LoginQuery.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/service/soap/generated/LoginQueryResponse.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/service/soap/generated/LoginQueryResult.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/service/soap/generated/ObjectFactory.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/web/flow/InweboMultifactorWebflowConfigurer.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/web/flow/actions/InweboCheckUserAction.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/web/flow/actions/WebflowConstants.java
  support/cas-server-support-inwebo-mfa/src/test/java/org/apereo/cas/support/inwebo/service/InweboConsoleAdminTests.java
  support/cas-server-support-inwebo-mfa/src/test/java/org/apereo/cas/support/inwebo/service/InweboServiceTests.java
  support/cas-server-support-inwebo-mfa/src/test/java/org/apereo/cas/support/inwebo/web/flow/actions/InweboCheckUserActionTests.java
  support/cas-server-support-thymeleaf/src/main/resources/templates/inwebo/casInweboErrorView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/inwebo/casInweboMAAuthnView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/inwebo/casInweboSelectAuthnView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/inwebo/casInweboVAAuthnView.html
Labels: Configuration, MFA, User Interface & Themes, CI

#5533 Update Inwebo MFA support
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/InweboMultifactorAuthenticationProperties.java
  ci/tests/puppeteer/scenarios/mfa-inwebo-ma/castest.p12
  ci/tests/puppeteer/scenarios/mfa-inwebo-ma/script.js
  ci/tests/puppeteer/scenarios/mfa-inwebo-ma/script.json
  ci/tests/puppeteer/scenarios/mfa-inwebo-va/castest.p12
  ci/tests/puppeteer/scenarios/mfa-inwebo-va/script.js
  ci/tests/puppeteer/scenarios/mfa-inwebo-va/script.json
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/service/InweboConsoleAdmin.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/service/InweboService.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/service/soap/generated/LoginQuery.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/service/soap/generated/LoginQueryResponse.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/service/soap/generated/LoginQueryResult.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/service/soap/generated/ObjectFactory.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/web/flow/InweboMultifactorWebflowConfigurer.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/web/flow/actions/InweboCheckUserAction.java
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/web/flow/actions/WebflowConstants.java
  support/cas-server-support-inwebo-mfa/src/test/java/org/apereo/cas/support/inwebo/service/InweboConsoleAdminTests.java
  support/cas-server-support-inwebo-mfa/src/test/java/org/apereo/cas/support/inwebo/service/InweboServiceTests.java
  support/cas-server-support-inwebo-mfa/src/test/java/org/apereo/cas/support/inwebo/web/flow/actions/InweboCheckUserActionTests.java
  support/cas-server-support-thymeleaf/src/main/resources/templates/inwebo/casInweboErrorView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/inwebo/casInweboMAAuthnView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/inwebo/casInweboSelectAuthnView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/inwebo/casInweboVAAuthnView.html
Labels: Configuration, MFA, User Interface & Themes, Remember: Port Forward, CI
