Repository apereo/cas, pull requests merged in 2023-02, with the labels that each got.

#5605 Fix typo in RegexRegisteredService
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/RegexRegisteredService.java
Labels: Services & Registries, CI

#5606 Fix typo in TicketRegistry
  api/cas-server-core-api-ticket/src/main/java/org/apereo/cas/ticket/registry/TicketRegistry.java
Labels: Documentation, CI

#5608 make sure audience in jwt access token contains client id
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/response/OAuth20JwtAccessTokenEncoder.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/OAuth20TestsSuite.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/response/accesstoken/response/OAuth20JwtAccessTokenEncoderTests.java
Labels: OAuth2 Protocol, JWS & JWT AuthN & Tickets, OpenID Connect Protocol, Remember: Port Forward, CI

#5611 provides the possibility to map plan, vir, der attrs
  ci/tests/syncope/docker-compose.yml
  ci/tests/syncope/run-syncope-server.sh
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/util/InternalTicketValidator.java
  support/cas-server-support-syncope-authentication/src/main/java/org/apereo/cas/syncope/SyncopeUserTOConverterUtils.java
  support/cas-server-support-syncope-authentication/src/test/java/org/apereo/cas/syncope/authentication/SyncopePersonAttributeDaoTests.java
Labels: Gradle Build & Release, Remember: Port Forward
