Repository apereo/cas, pull requests merged in 2023-12, with the labels that each got.

#5889 Make DefaultDelegatedAuthenticationNavigationController overridable
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/config/DelegatedAuthenticationWebflowConfiguration.java
Labels: Authentication, Remember: Port Forward, CI, Auto Merge

#5888 Make DefaultDelegatedAuthenticationNavigationController overridable
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/config/DelegatedAuthenticationWebflowConfiguration.java
Labels: Authentication, CI, Auto Merge

#5890 update decode method to avoid warning stack trace
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/response/OAuth20JwtAccessTokenEncoder.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/token/OidcJwtAccessTokenEncoderTests.java
Labels: Audits & Logging, CI

#5904 Update Revved up by Develocity badge
  README.md
Labels: Documentation

#5906 Revert "Replace table by responsive design on casGoogleAuthenticaticatorRegis…"
  support/cas-server-support-thymeleaf/src/main/resources/messages.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_fr.properties
  support/cas-server-support-thymeleaf/src/main/resources/templates/gauth/casGoogleAuthenticatorRegistrationView.html
Labels: CI

#5912 Use try-with-resource for .getEntity().getContent()
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/adaptive/intel/BlackDotIPAddressIntelligenceService.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/adaptive/intel/RestfulIPAddressIntelligenceService.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/principal/RestfulPrincipalFactory.java
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/ReturnRestfulAttributeReleasePolicy.java
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/mfa/trigger/RestEndpointMultifactorAuthenticationTrigger.java
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/decorator/RestfulLoginWebflowDecorator.java
  support/cas-server-support-acceptto-mfa/src/main/java/org/apereo/cas/mfa/accepto/AccepttoApiUtils.java
  support/cas-server-support-acceptto-mfa/src/main/java/org/apereo/cas/mfa/accepto/AccepttoMultifactorAuthenticationHandler.java
  support/cas-server-support-acceptto-mfa/src/main/java/org/apereo/cas/mfa/accepto/web/flow/qr/AccepttoQRCodeValidateWebSocketChannelAction.java
  support/cas-server-support-account-mgmt-core/src/main/java/org/apereo/cas/acct/provision/RestfulAccountRegistrationProvisioner.java
  support/cas-server-support-audit-rest/src/main/java/org/apereo/cas/audit/RestAuditTrailManager.java
  support/cas-server-support-aup-rest/src/main/java/org/apereo/cas/aup/RestAcceptableUsagePolicyRepository.java
  support/cas-server-support-captcha-core/src/main/java/org/apereo/cas/web/BaseCaptchaValidator.java
  support/cas-server-support-configuration-cloud-rest/src/main/java/org/apereo/cas/config/RestfulPropertySourceLocator.java
  support/cas-server-support-consent-rest/src/main/java/org/apereo/cas/consent/RestfulConsentRepository.java
  support/cas-server-support-gauth-core/src/main/java/org/apereo/cas/gauth/credential/RestGoogleAuthenticatorTokenCredentialRepository.java
  support/cas-server-support-interrupt-core/src/main/java/org/apereo/cas/interrupt/RestEndpointInterruptInquirer.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/discovery/webfinger/userinfo/OidcRestfulWebFingerUserInfoRepository.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/jwks/generator/OidcRestfulJsonWebKeystoreGeneratorService.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/controllers/dynareg/OidcClientRegistrationRequestTranslator.java
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/clients/RestfulDelegatedClientFactory.java
  support/cas-server-support-passwordless/src/main/java/org/apereo/cas/impl/account/RestfulPasswordlessUserAccountStore.java
  support/cas-server-support-passwordless/src/main/java/org/apereo/cas/impl/token/RestfulPasswordlessTokenRepository.java
  support/cas-server-support-rest-authentication/src/main/java/org/apereo/cas/adaptors/rest/RestAuthenticationHandler.java
  support/cas-server-support-rest-service-registry/src/main/java/org/apereo/cas/services/RestfulServiceRegistry.java
  support/cas-server-support-saml-idp-metadata-rest/src/main/java/org/apereo/cas/support/saml/idp/metadata/RestfulSamlIdPMetadataLocator.java
  support/cas-server-support-saml-idp-metadata-rest/src/main/java/org/apereo/cas/support/saml/metadata/resolver/RestfulSamlRegisteredServiceMetadataResolver.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/slo/SamlIdPSingleLogoutServiceMessageHandler.java
  support/cas-server-support-saml-mdui-core/src/main/java/org/apereo/cas/support/saml/mdui/DynamicMetadataResolverAdapter.java
  support/cas-server-support-simple-mfa-core/src/main/java/org/apereo/cas/mfa/simple/validation/RestfulCasSimpleMultifactorAuthenticationService.java
  support/cas-server-support-surrogate-authentication-rest/src/main/java/org/apereo/cas/authentication/surrogate/SurrogateRestAuthenticationService.java
  support/cas-server-support-themes-core/src/main/java/org/apereo/cas/services/web/RegisteredServiceThemeResolver.java
  support/cas-server-support-thymeleaf/src/main/java/org/apereo/cas/web/view/RestfulUrlTemplateResolver.java
  support/cas-server-support-u2f-core/src/main/java/org/apereo/cas/adaptors/u2f/storage/U2FRestResourceDeviceRepository.java
  support/cas-server-support-webauthn-rest/src/main/java/org/apereo/cas/webauthn/RestfulWebAuthnCredentialRepository.java
  support/cas-server-support-yubikey-core/src/main/java/org/apereo/cas/adaptors/yubikey/registry/RestfulYubiKeyAccountRegistry.java
Labels: Remember: Port Forward, CI

#5911 Use try-with-resource for .getEntity().getContent()
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/adaptive/intel/BlackDotIPAddressIntelligenceService.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/adaptive/intel/RestfulIPAddressIntelligenceService.java
  core/cas-server-core-authentication-api/src/main/java/org/apereo/cas/authentication/principal/RestfulPrincipalFactory.java
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/ReturnRestfulAttributeReleasePolicy.java
  core/cas-server-core-authentication-mfa-api/src/main/java/org/apereo/cas/authentication/mfa/trigger/RestEndpointMultifactorAuthenticationTrigger.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/OpenFGARegisteredServiceAccessStrategy.java
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/OpenPolicyAgentRegisteredServiceAccessStrategy.java
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/decorator/RestfulLoginWebflowDecorator.java
  support/cas-server-support-account-mgmt-core/src/main/java/org/apereo/cas/acct/provision/RestfulAccountRegistrationProvisioner.java
  support/cas-server-support-audit-rest/src/main/java/org/apereo/cas/audit/RestAuditTrailManager.java
  support/cas-server-support-aup-rest/src/main/java/org/apereo/cas/aup/RestAcceptableUsagePolicyRepository.java
  support/cas-server-support-captcha-core/src/main/java/org/apereo/cas/web/BaseCaptchaValidator.java
  support/cas-server-support-configuration-cloud-rest/src/main/java/org/apereo/cas/config/RestfulPropertySourceLocator.java
  support/cas-server-support-consent-rest/src/main/java/org/apereo/cas/consent/RestfulConsentRepository.java
  support/cas-server-support-gauth-core/src/main/java/org/apereo/cas/gauth/credential/RestGoogleAuthenticatorTokenCredentialRepository.java
  support/cas-server-support-interrupt-core/src/main/java/org/apereo/cas/interrupt/RestEndpointInterruptInquirer.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/discovery/webfinger/userinfo/OidcRestfulWebFingerUserInfoRepository.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/jwks/generator/OidcRestfulJsonWebKeystoreGeneratorService.java
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/web/controllers/dynareg/OidcDefaultClientRegistrationRequestTranslator.java
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/clients/RestfulDelegatedIdentityProviderFactory.java
  support/cas-server-support-passwordless-api/src/main/java/org/apereo/cas/impl/account/RestfulPasswordlessUserAccountStore.java
  support/cas-server-support-passwordless-api/src/main/java/org/apereo/cas/impl/token/RestfulPasswordlessTokenRepository.java
  support/cas-server-support-rest-authentication/src/main/java/org/apereo/cas/adaptors/rest/RestAuthenticationHandler.java
  support/cas-server-support-rest-service-registry/src/main/java/org/apereo/cas/services/RestfulServiceRegistry.java
  support/cas-server-support-saml-idp-metadata-rest/src/main/java/org/apereo/cas/support/saml/idp/metadata/RestfulSamlIdPMetadataLocator.java
  support/cas-server-support-saml-idp-metadata-rest/src/main/java/org/apereo/cas/support/saml/metadata/resolver/RestfulSamlRegisteredServiceMetadataResolver.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/slo/SamlIdPSingleLogoutServiceMessageHandler.java
  support/cas-server-support-saml-mdui-core/src/main/java/org/apereo/cas/support/saml/mdui/DynamicMetadataResolverAdapter.java
  support/cas-server-support-simple-mfa-core/src/main/java/org/apereo/cas/mfa/simple/validation/RestfulCasSimpleMultifactorAuthenticationService.java
  support/cas-server-support-sms-smsmode/src/main/java/org/apereo/cas/support/sms/SmsModeSmsSender.java
  support/cas-server-support-surrogate-authentication-rest/src/main/java/org/apereo/cas/authentication/surrogate/SurrogateRestAuthenticationService.java
  support/cas-server-support-themes-core/src/main/java/org/apereo/cas/services/web/RegisteredServiceThemeResolver.java
  support/cas-server-support-thymeleaf-core/src/main/java/org/apereo/cas/web/view/RestfulUrlTemplateResolver.java
  support/cas-server-support-webauthn-rest/src/main/java/org/apereo/cas/webauthn/RestfulWebAuthnCredentialRepository.java
  support/cas-server-support-yubikey-core/src/main/java/org/apereo/cas/adaptors/yubikey/registry/RestfulYubiKeyAccountRegistry.java
Labels: CI

#5910 Replace table by responsive design on g auth + Puppeeter tests
  ci/tests/puppeteer/scenarios/mfa-gauth-register/script.js
  ci/tests/puppeteer/scenarios/shibboleth-idp-service-selection/script.js
  support/cas-server-support-thymeleaf/src/main/resources/messages.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_fr.properties
  support/cas-server-support-thymeleaf/src/main/resources/templates/gauth/casGoogleAuthenticatorRegistrationView.html
Labels: User Interface & Themes, Unit/Integration Tests, CI, Puppeteer

#5908 Avoid strack traces on OAuth /profile
  ci/tests/puppeteer/scenarios/oauth2-login-jwt-at/script.js
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20UserProfileEndpointController.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20UserProfileEndpointControllerTests.java
Labels: OAuth2 Protocol, User Interface & Themes, Unit/Integration Tests, CI, Puppeteer

#5909 Avoid strack traces on OAuth /profile
  ci/tests/puppeteer/scenarios/oauth2-login-jwt-at/script.js
  ci/tests/puppeteer/scenarios/oauth2-login-jwt-at/script.json
  ci/tests/puppeteer/scenarios/oauth2-login-jwt-at/services/Sample-1.json
  ci/tests/puppeteer/scenarios/oauth2-login-jwt-at/services/Sample-2.json
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20UserProfileEndpointController.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20UserProfileEndpointControllerTests.java
Labels: OAuth2 Protocol, User Interface & Themes, Remember: Port Forward, Unit/Integration Tests, CI, Puppeteer

#5914 Allow customisations of the OIDC discovery settings
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/discovery/OidcServerDiscoverySettingsFactory.java
Labels: OpenID Connect Protocol, Configuration Discovery, Remember: Port Forward, CI

#5913 Allow customisations of the OIDC discovery settings
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/discovery/OidcServerDiscoverySettingsFactory.java
Labels: OpenID Connect Protocol, Configuration Discovery, CI

#5922 remove jakartaee-migration dependency
  gradle/dependencies.gradle
  gradle/overrides.gradle
Labels: Dependencies & Modules, Gradle Build & Release, CI, Auto Merge

#5927 Fix the jackson-dataformat-cbor dependency for WebAuthn
  gradle/dependencies.gradle
Labels: Authentication, MFA, Dependencies & Modules, Gradle Build & Release, Remember: Port Forward, CI, Passwordless, Auto Merge

#5926 Fix the jackson-dataformat-cbor dependency for WebAuthn
  gradle/dependencies.gradle
Labels: Authentication, MFA, Dependencies & Modules, Gradle Build & Release, CI, Passwordless, Auto Merge

#5929 add authenticationFailure translations
  support/cas-server-support-thymeleaf/src/main/resources/messages_es.properties
Labels: Authentication, Internationalization, Auto Merge

#5933 Fixed generateConfigurationMetadata task setup
  api/cas-server-core-api-configuration-model/build.gradle
Labels: Configuration, Gradle Build & Release, Auto Merge
