Repository apereo/cas, pull requests merged in 2023-01, with the labels that each got.

#5582 Review the latest internationalization items and translate into Chinese
  support/cas-server-support-thymeleaf/src/main/resources/messages_zh_CN.properties
Labels: Internationalization

#5579 WIP: remove Spring modules
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release, Pending: Work in Progress, CI

#5584 Fix the SmsMode support
  support/cas-server-support-sms-smsmode/src/main/java/org/apereo/cas/support/sms/SmsModeSmsSender.java
  support/cas-server-support-sms-smsmode/src/test/java/org/apereo/cas/support/sms/SmsModeSmsSenderTests.java
Labels: Email & SMS Notifications, Remember: Port Forward, CI

#5583 Fix the SmsMode support
  support/cas-server-support-sms-smsmode/src/main/java/org/apereo/cas/support/sms/SmsModeSmsSender.java
  support/cas-server-support-sms-smsmode/src/test/java/org/apereo/cas/support/sms/SmsModeSmsSenderTests.java
Labels: Email & SMS Notifications, CI

#5586 Fix services reloading
  core/cas-server-core-services/src/main/java/org/apereo/cas/config/CasCoreServicesConfiguration.java
Labels: Services & Registries, CI

#5585 Upgrade the SmsMode support
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/sms/SmsModeProperties.java
  support/cas-server-support-sms-smsmode/src/main/java/org/apereo/cas/support/sms/SmsModeSmsSender.java
  support/cas-server-support-sms-smsmode/src/test/java/org/apereo/cas/support/sms/SmsModeSmsSenderTests.java
Labels: Configuration, Dependencies & Modules, Email & SMS Notifications, CI

#5581 fix casInterruptView.html autoRedirect (broken by new Thymeleaf?)
  support/cas-server-support-thymeleaf/src/main/resources/templates/interrupt/casInterruptView.html
Labels: Proposal Declined, User Interface & Themes, Interrupt Notifications, See Contributor Guidelines, Remember: Needs Tests

#5590 Open up the SendPasswordResetInstructionsAction
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/SendPasswordResetInstructionsAction.java
Labels: Remember: Port Forward, CI

#5589 Open up the SendPasswordResetInstructionsAction
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/SendPasswordResetInstructionsAction.java
Labels: CI

#5597 Make CasCorsFilter overridable
  webapp/cas-server-webapp-config/src/main/java/org/apereo/cas/config/CasFiltersConfiguration.java
Labels: Remember: Port Forward, CI

#5596 Make CasCorsFilter overridable
  webapp/cas-server-webapp-config/src/main/java/org/apereo/cas/config/CasFiltersConfiguration.java
Labels: CI

#5594 Allow to define a proxy for the SmsMode support
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/sms/SmsModeProperties.java
  support/cas-server-support-sms-smsmode/src/main/java/org/apereo/cas/support/sms/SmsModeSmsSender.java
Labels: Configuration, Email & SMS Notifications, CI

#5599 Allow to configure the SAML logout request bindings
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/saml/idp/SamlIdPLogoutProperties.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/slo/SamlIdPSingleLogoutServiceLogoutUrlBuilder.java
  support/cas-server-support-saml-idp/src/main/java/org/apereo/cas/config/SamlIdPConfiguration.java
Labels: Configuration, Logout & SLO, SAML Core, CI

#5602 Minor fixes on Inwebo support
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/InweboMultifactorAuthenticationProperties.java
  docs/cas-server-documentation/mfa/Inwebo-Authentication.md
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/web/flow/actions/InweboCheckUserAction.java
  support/cas-server-support-inwebo-mfa/src/test/java/org/apereo/cas/support/inwebo/web/flow/actions/InweboCheckUserActionTests.java
  support/cas-server-support-thymeleaf/src/main/resources/messages.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_fr.properties
  support/cas-server-support-thymeleaf/src/main/resources/templates/inwebo/casInweboVAAuthnView.html
Labels: Documentation, Configuration, User Interface & Themes, Remember: Port Forward, CI

#5601 Minor fixes on Inwebo support
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/mfa/InweboMultifactorAuthenticationProperties.java
  docs/cas-server-documentation/mfa/Inwebo-Authentication.md
  support/cas-server-support-inwebo-mfa/src/main/java/org/apereo/cas/support/inwebo/web/flow/actions/InweboCheckUserAction.java
  support/cas-server-support-inwebo-mfa/src/test/java/org/apereo/cas/support/inwebo/web/flow/actions/InweboCheckUserActionTests.java
  support/cas-server-support-thymeleaf/src/main/resources/messages.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_fr.properties
  support/cas-server-support-thymeleaf/src/main/resources/templates/inwebo/casInweboVAAuthnView.html
Labels: Documentation, Configuration, User Interface & Themes, CI
