Repository apereo/cas, pull requests merged in 2023-09, with the labels that each got.

#5753 remove unused sqlite dependency
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release, CI

#5761 Fix typo in OAuth doc
  docs/cas-server-documentation/authentication/OAuth-Authentication-TokenExpirationPolicy.md
Labels: OAuth2 Protocol, Documentation, Remember: Port Forward

#5760 Fix typo in OAuth doc
  docs/cas-server-documentation/authentication/OAuth-Authentication-TokenExpirationPolicy.md
Labels: OAuth2 Protocol, Documentation

#5762 Update to pac4j v6-RC8
  gradle.properties
Labels: Proposal Declined, See Security Policy

#5758 Don't reparse script in GroovyScriptAttributeReleasePolicy
  core/cas-server-core-authentication-attributes/src/main/java/org/apereo/cas/services/GroovyScriptAttributeReleasePolicy.java
  core/cas-server-core-authentication-attributes/src/test/java/org/apereo/cas/services/GroovyScriptAttributeReleasePolicyTests.java
Labels: Attribute Resolution, Attribute Release, Apache Groovy

#5766 optional usage of redis sentinel password
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/redis/RedisSentinelProperties.java
  ci/tests/redis/docker-compose.yml
  support/cas-server-support-redis-core/src/main/java/org/apereo/cas/redis/core/RedisObjectFactory.java
  support/cas-server-support-redis-service-registry/src/test/java/org/apereo/cas/adaptors/redis/services/RedisSentinelServerServiceRegistryTests.java
  support/cas-server-support-redis-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/RedisSentinelServerTicketRegistryTests.java
Labels: Configuration, Redis

#5777 Update MFA Gauth doc
  docs/cas-server-documentation/mfa/GoogleAuthenticator-Authentication.md
Labels: Documentation, MFA, MFA Google Authenticator, Remember: Port Forward

#5779 Fix property name
  support/cas-server-support-redis-service-registry/src/test/java/org/apereo/cas/adaptors/redis/services/RedisSentinelServerServiceRegistryTests.java
Labels: Configuration, Configuration Metadata

#5782 Open up for multihost
  core/cas-server-core-audit/src/main/java/org/apereo/cas/audit/spi/config/CasCoreAuditConfiguration.java
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/oidc/config/OidcConfiguration.java
Labels: Proposal Declined, Remember: Port Forward, See Contributor Guidelines, Remember: Needs Tests

#5781 Open up for multihost
  support/cas-server-support-oidc/src/main/java/org/apereo/cas/config/OidcConfiguration.java
Labels: Proposal Declined, See Contributor Guidelines, Remember: Needs Tests

#5787 Open up a little the DelegatedAuthenticationClientLogoutAction
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/actions/logout/DelegatedAuthenticationClientLogoutAction.java
Labels: Authentication, Proposal Declined, Logout & SLO, See Contributor Guidelines, Remember: Needs Tests

#5788 Open up a little the DelegatedAuthenticationClientLogoutAction
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/actions/DelegatedAuthenticationClientLogoutAction.java
Labels: Authentication, Proposal Declined, Logout & SLO, Remember: Port Forward, See Contributor Guidelines, Remember: Needs Tests
