Repository apereo/cas, pull requests merged in 2023-05, with the labels that each got.

#5641 Fix the double renew call
  ci/tests/puppeteer/scenarios/login-success-double-renew/script.js
  ci/tests/puppeteer/scenarios/login-success-double-renew/script.json
  support/cas-server-support-actions-core/src/main/java/org/apereo/cas/web/flow/login/InitialFlowSetupAction.java
  support/cas-server-support-actions/src/test/java/org/apereo/cas/web/flow/InitialFlowSetupActionTests.java
Labels: User Interface & Themes, Remember: Port Forward, Unit/Integration Tests, CI, Puppeteer

#5638 update saml to avoid unnecessary stack trace
  support/cas-server-support-saml-core-api/src/main/java/org/apereo/cas/support/saml/util/AbstractSaml20ObjectBuilder.java
  support/cas-server-support-saml-core/src/test/java/org/apereo/cas/support/saml/util/NonInflatingSaml20ObjectBuilderTests.java
Labels: SAML Core, CI

#5643 update saml to avoid unnecessary stack trace (#5638)
  support/cas-server-support-saml-core-api/src/main/java/org/apereo/cas/support/saml/util/AbstractSaml20ObjectBuilder.java
  support/cas-server-support-saml-core/src/test/java/org/apereo/cas/support/saml/util/NonInflatingSaml20ObjectBuilderTests.java
Labels: SAML Core, Remember: Port Forward, CI

#5642 fix sonarqube puppeteer test
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/script.js
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/sonarqube-test-values.yaml
Labels: User Interface & Themes, Unit/Integration Tests, CI, Puppeteer

#5645 Add backward compatibility for the locale parameter
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/CasLocaleChangeInterceptor.java
  core/cas-server-core-web/src/test/java/org/apereo/cas/web/support/CasLocaleChangeInterceptorTests.java
Labels: CI

#5646 Add backward compatibility for the locale parameter
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/CasLocaleChangeInterceptor.java
  core/cas-server-core-web/src/test/java/org/apereo/cas/web/support/CasLocaleChangeInterceptorTests.java
Labels: Remember: Port Forward, CI

#5647 Fix LDAP direct bind
  support/cas-server-support-ldap-core/src/main/java/org/apereo/cas/util/LdapUtils.java
Labels: LDAP & Active Directory, CI

#5650 Fixing potential NullpointerException
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/web/flow/WebAuthnMultifactorDeviceProviderAction.java
Labels: Proposal Declined, See Contributor Guidelines, Remember: Needs Tests
