Repository apereo/cas, pull requests merged in 2023-08, with the labels that each got.

#5736 tomcat background process is needed to cleanup sessions
  webapp/cas-server-webapp-resources/src/main/resources/application.properties
Labels: Refactoring & Code CleanUp, Apache Tomcat, Remember: Port Forward

#5739 Improve throttling documentation
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/throttle/ThrottleFailureProperties.java
  docs/cas-server-documentation/authentication/Configuring-Authentication-Throttling.md
Labels: Documentation, Configuration, Authentication Throttling, CI

#5740 Improve throttling documentation
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/throttle/ThrottleFailureProperties.java
  docs/cas-server-documentation/authentication/Configuring-Authentication-Throttling.md
Labels: Documentation, Configuration, Authentication Throttling, Remember: Port Forward, CI

#5746 Improve Authn delegation
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pac4j/oauth/Pac4jOAuth20ClientProperties.java
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/clients/BaseDelegatedClientFactory.java
Labels: Authentication, Configuration, Delegated Authentication Pac4J, Remember: Port Forward, CI

#5745 Improve Authn delegation
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/pac4j/oauth/Pac4jOAuth20ClientProperties.java
  support/cas-server-support-pac4j-core-clients/src/main/java/org/apereo/cas/support/pac4j/authentication/clients/BaseDelegatedClientFactory.java
Labels: Authentication, Configuration, Delegated Authentication Pac4J, CI
