Repository apereo/cas, pull requests merged in 2023-04, with the labels that each got.

#5625 add aggregate theme source
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/web/view/ViewProperties.java
  support/cas-server-support-themes-core/src/main/java/org/apereo/cas/services/web/AggregateCasThemeSource.java
  support/cas-server-support-themes/src/main/java/org/apereo/cas/services/web/config/CasThemesConfiguration.java
  support/cas-server-support-themes/src/test/java/org/apereo/cas/ThemesTestsSuite.java
  support/cas-server-support-themes/src/test/java/org/apereo/cas/services/web/AggregateCasThemeSourceTests.java
  support/cas-server-support-themes/src/test/resources/more-ext-templates/my-theme.properties
Labels: Configuration, User Interface & Themes, Remember: Port Forward, CI

#5624 add aggregate theme source
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/web/view/ViewProperties.java
  support/cas-server-support-themes-core/src/main/java/org/apereo/cas/services/web/AggregateCasThemeSource.java
  support/cas-server-support-themes/src/main/java/org/apereo/cas/services/web/config/CasThemesConfiguration.java
  support/cas-server-support-themes/src/test/java/org/apereo/cas/ThemesTestsSuite.java
  support/cas-server-support-themes/src/test/java/org/apereo/cas/services/web/AggregateCasThemeSourceTests.java
  support/cas-server-support-themes/src/test/resources/more-ext-templates/my-theme.properties
Labels: Configuration, User Interface & Themes, CI

#5630 Probably provide log statement at ERROR level is not so good in this …
  support/cas-server-support-actions-core/src/main/java/org/apereo/cas/web/flow/login/GenericSuccessViewAction.java
Labels: Audits & Logging, Gradle Build & Release

#5632 backport - fix sonarqube test
  ci/tests/k3d/setup.sh
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/init.sh
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/script.js
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/services/Sonarqube-20221009.json
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/sonarqube-test-values.yaml
Labels: User Interface & Themes, Remember: Port Forward, Unit/Integration Tests, See Contributor Guidelines, CI

#5628 Fix sonarqube puppeteer test
  ci/tests/k3d/setup.sh
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/init.sh
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/script.js
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/script.json
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/services/Sonarqube-20221009.json
  ci/tests/puppeteer/scenarios/oidc-login-sonarqube/sonarqube-test-values.yaml
Labels: User Interface & Themes, Unit/Integration Tests, CI, Puppeteer

#5631 update template view resolver
  support/cas-server-support-thymeleaf/src/main/java/org/apereo/cas/config/CasThymeleafConfiguration.java
  support/cas-server-support-thymeleaf/src/test/java/org/apereo/cas/web/view/CasThymeleafConfigurationTests.java
Labels: User Interface & Themes, CI
