Repository apereo/cas, pull requests merged in 2023-06, with the labels that each got.

#5655 Add the logout audit
  api/cas-server-core-api-audit/src/main/java/org/apereo/cas/audit/AuditActionResolvers.java
  api/cas-server-core-api-audit/src/main/java/org/apereo/cas/audit/AuditResourceResolvers.java
  api/cas-server-core-api-audit/src/main/java/org/apereo/cas/audit/AuditableActions.java
  core/cas-server-core-audit-api/src/main/java/org/apereo/cas/audit/spi/resource/LogoutRequestResourceResolver.java
  core/cas-server-core-audit-api/src/test/java/org/apereo/cas/CoreAuditTestsSuite.java
  core/cas-server-core-audit-api/src/test/java/org/apereo/cas/audit/spi/resource/LogoutRequestResourceResolverTests.java
  core/cas-server-core-audit/src/main/java/org/apereo/cas/audit/spi/config/CasCoreAuditConfiguration.java
  core/cas-server-core-logout-api/src/main/java/org/apereo/cas/logout/DefaultLogoutManager.java
Labels: Audits & Logging, Logout & SLO, Remember: Port Forward, CI

#5654 Add the logout audit
  api/cas-server-core-api-audit/src/main/java/org/apereo/cas/audit/AuditActionResolvers.java
  api/cas-server-core-api-audit/src/main/java/org/apereo/cas/audit/AuditResourceResolvers.java
  api/cas-server-core-api-audit/src/main/java/org/apereo/cas/audit/AuditableActions.java
  core/cas-server-core-audit-api/src/main/java/org/apereo/cas/audit/spi/resource/LogoutRequestResourceResolver.java
  core/cas-server-core-audit-api/src/test/java/org/apereo/cas/CoreAuditTestsSuite.java
  core/cas-server-core-audit-api/src/test/java/org/apereo/cas/audit/spi/resource/LogoutRequestResourceResolverTests.java
  core/cas-server-core-audit/src/main/java/org/apereo/cas/config/CasCoreAuditConfiguration.java
  core/cas-server-core-logout-api/src/main/java/org/apereo/cas/logout/DefaultLogoutManager.java
Labels: Audits & Logging, Logout & SLO, CI

#5652 tomcat background process is needed to cleanup sessions
  webapp/cas-server-webapp-resources/src/main/resources/application.properties
Labels: Refactoring & Code CleanUp, Apache Tomcat

#5658 Use UTF-8 for german message bundle, like it was before PR #5550
  support/cas-server-support-thymeleaf/src/main/resources/messages_de.properties
Labels: Internationalization

#5660 Support URI for Redis
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/redis/BaseRedisProperties.java
  support/cas-server-support-redis-core/src/main/java/org/apereo/cas/redis/core/RedisObjectFactory.java
  support/cas-server-support-redis-core/src/test/java/org/apereo/cas/redis/core/RedisObjectFactoryTests.java
Labels: Configuration, Redis, Remember: Port Forward

#5659 Support URI for Redis
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/redis/BaseRedisProperties.java
  support/cas-server-support-redis-core/src/main/java/org/apereo/cas/redis/core/RedisObjectFactory.java
  support/cas-server-support-redis-core/src/test/java/org/apereo/cas/redis/core/RedisObjectFactoryTests.java
Labels: Configuration, Redis

#5684 WIP - Avoid ConcurrentModificationExceptions during configuration reloading
  support/cas-server-support-ldap/src/main/java/org/apereo/cas/config/LdapAuthenticationConfiguration.java
Labels: LDAP & Active Directory, Configuration, Under Review

#5686 Adds a documentation warning about incompatibility between Hazelcast …
  docs/cas-server-documentation/ticketing/Hazelcast-Ticket-Registry.md
Labels: Documentation, Hazelcast, Remember: Port Forward

#5681 Remove extra leading slash
  gradle/springboot.gradle
Labels: Gradle Build & Release
