Repository apereo/cas, pull requests merged in 2023-03, with the labels that each got.

#5613 Fix inconsistency in spec
  docs/cas-server-documentation/installation/Logout-Single-Signout.md
  docs/cas-server-documentation/protocol/CAS-Protocol-Specification.md
Labels: Documentation, CI

#5616 docs: make javadocs of REST controllers reflect their actual content
  support/cas-server-support-rest-core/src/main/java/org/apereo/cas/support/rest/resources/ServiceTicketResource.java
  support/cas-server-support-rest-core/src/main/java/org/apereo/cas/support/rest/resources/TicketGrantingTicketResource.java
  support/cas-server-support-rest-core/src/main/java/org/apereo/cas/support/rest/resources/TicketStatusResource.java
  support/cas-server-support-rest-core/src/main/java/org/apereo/cas/support/rest/resources/UserAuthenticationResource.java
Labels: Documentation, Proposal Declined, REST Protocol & Integrations, See Contributor Guidelines, Remember: Needs Tests

#5617 docs: fix grammatical and name typos
  README.md
  docs/cas-server-documentation/authentication/OIDC-Authentication-DPoP.md
  docs/cas-server-documentation/authentication/X509-Authentication.md
  docs/cas-server-documentation/configuration/Configuration-Management-Clustered.md
  docs/cas-server-documentation/configuration/Configuration-Server-Management-SpringCloud-Default.md
  docs/cas-server-documentation/configuration/Configuration-Server-Management-SpringCloud-HashiCorpConsul.md
  docs/cas-server-documentation/developer/Build-Process.md
  docs/cas-server-documentation/developer/Contributor-Guidelines.md
  docs/cas-server-documentation/protocol/CAS-Protocol-Specification.md
  docs/cas-server-documentation/protocol/CAS-Protocol-V2-Specification.md
  docs/cas-server-documentation/release_notes/RC4.md
Labels: Documentation, Refactoring & Code CleanUp
