Repository apereo/cas, pull requests merged in 2024-12, with the labels that each got.

#6263 Publish error event on service validate failure
  api/cas-server-core-api-events/src/main/java/org/apereo/cas/support/events/ticket/CasServiceTicketValidationFailedEvent.java
  support/cas-server-support-validation-core/src/main/java/org/apereo/cas/web/AbstractServiceValidateController.java
  support/cas-server-support-validation/src/test/java/org/apereo/cas/web/AbstractServiceValidateControllerTests.java
Labels: Services & Registries, Ticket Validation, Under Review, Auto Merge

#6271 Update information content for membership in syncope authentication response
  support/cas-server-support-syncope-authentication/src/main/java/org/apereo/cas/syncope/SyncopeAuthenticationHandler.java
  support/cas-server-support-syncope-authentication/src/main/java/org/apereo/cas/syncope/SyncopeUtils.java
  support/cas-server-support-syncope-authentication/src/test/java/org/apereo/cas/syncope/BaseSyncopeTests.java
  support/cas-server-support-syncope-authentication/src/test/java/org/apereo/cas/syncope/authentication/SyncopeAuthenticationHandlerTests.java
Labels: Authentication, Apache Syncope, CI, Under Review, Auto Merge

#6273 Update information content for membership in syncope authentication response
  support/cas-server-support-syncope-authentication/src/main/java/org/apereo/cas/syncope/SyncopeAuthenticationHandler.java
  support/cas-server-support-syncope-authentication/src/main/java/org/apereo/cas/syncope/SyncopeUtils.java
  support/cas-server-support-syncope-authentication/src/test/java/org/apereo/cas/syncope/BaseSyncopeTests.java
  support/cas-server-support-syncope-authentication/src/test/java/org/apereo/cas/syncope/authentication/SyncopeAuthenticationHandlerTests.java
Labels: Authentication, Apache Syncope, Under Review, Auto Merge

#6277 update strapi puppeteer test for 5.6
  ci/tests/puppeteer/scenarios/oidc-login-strapi/strapi/Dockerfile
  ci/tests/puppeteer/scenarios/oidc-login-strapi/strapi/config.json
  ci/tests/puppeteer/scenarios/oidc-login-strapi/strapi/entrypoint.sh
  ci/tests/puppeteer/scenarios/oidc-login-strapi/strapi/server.js
Labels: Proposal Declined, User Interface & Themes, Unit/Integration Tests, See Contributor Guidelines, Remember: Needs Tests, Puppeteer

#6274 change html of confirm scopes from span and p to dl.
  support/cas-server-support-thymeleaf/src/main/resources/templates/protocol/oidc/cibaVerification.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/protocol/oidc/confirm.html
Labels: User Interface & Themes, Under Review, Auto Merge
