Repository apereo/cas, pull requests merged in 2024-07, with the labels that each got.

#6093 Fix Redis ticket registry over-memory consumption
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/RedisTicketRegistry.java
Labels: Tickets & Registries, Redis, CI

#6099 Improve sessions counting by using Jet for the Hazelcast ticket registry
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/registry/BaseTicketRegistryTests.java
  support/cas-server-support-hazelcast-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/HazelcastTicketRegistry.java
Labels: Tickets & Registries, Hazelcast, CI, Under Review, Auto Merge

#6100 Improve sessions/tickets counting by using Jet for the Hazelcast ticket registry
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/registry/BaseTicketRegistryTests.java
  support/cas-server-support-hazelcast-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/HazelcastTicketRegistry.java
Labels: Tickets & Registries, Hazelcast, CI, Under Review, Auto Merge

#6101 Fix redis principal invalidation with isOnlyTrackMostRecentSession disabled
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/RedisTicketRegistry.java
  support/cas-server-support-redis-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/RedisServerTicketRegistryTests.java
Labels: Redis, CI, Under Review, Auto Merge
