Repository apereo/cas, pull requests merged in 2024-02, with the labels that each got.

#5984 Fix the Redis ticket registry
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/RedisTicketRegistry.java
  support/cas-server-support-redis-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/RedisServerTicketRegistryTests.java
Labels: Tickets & Registries, Redis, CI

#5985 Fix the Redis ticket registry
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/RedisTicketRegistry.java
  support/cas-server-support-redis-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/RedisServerTicketRegistryTests.java
Labels: Tickets & Registries, Redis, Remember: Port Forward, Auto Merge

#5982 Handle OAuth clients with same redirect URIs
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20CallbackAuthorizeEndpointController.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20CallbackAuthorizeEndpointControllerTests.java
Labels: OAuth2 Protocol, Remember: Port Forward, Auto Merge

#5981 Handle OAuth clients with same matching URIs
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20CallbackAuthorizeEndpointController.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/endpoints/OAuth20CallbackAuthorizeEndpointControllerTests.java
Labels: OAuth2 Protocol, CI, Auto Merge

#5989 dynamic discovery provider principal fix
  support/cas-server-support-pac4j-core/src/main/java/org/apereo/cas/pac4j/discovery/DefaultDelegatedAuthenticationDynamicDiscoveryProviderLocator.java
  support/cas-server-support-pac4j-core/src/test/java/org/apereo/cas/pac4j/discovery/DefaultDelegatedAuthenticationDynamicDiscoveryProviderLocatorTests.java
Labels: Configuration Discovery, Gradle Build & Release, Remember: Port Forward, Auto Merge

#5992 Fix RequestParameterPolicyEnforcementFilter configuration logic for 7.0.x branch
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/web/security/HttpRequestProperties.java
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/filters/RequestParameterPolicyEnforcementFilter.java
  core/cas-server-core-web-api/src/test/java/org/apereo/cas/web/support/filters/RequestParameterPolicyEnforcementFilterTests.java
Labels: Configuration, Remember: Port Forward, Auto Merge

#5987 Stop webflow when pac4j client getCredentials() fails
  support/cas-server-support-pac4j-core-clients/src/test/java/org/apereo/cas/support/pac4j/authentication/clients/DelegatedAuthenticationClientsTestConfiguration.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/actions/DelegatedClientAuthenticationAction.java
  support/cas-server-support-pac4j-webflow/src/test/java/org/apereo/cas/web/flow/actions/DelegatedClientAuthenticationActionTests.java
Labels: Spring Webflow, Delegated Authentication Pac4J, Pac4J, Auto Merge

#5993 Stop webflow when pac4j client getCredentials() fails (7.0.x)
  support/cas-server-support-pac4j-core-clients/src/test/java/org/apereo/cas/support/pac4j/authentication/clients/DelegatedAuthenticationClientsTestConfiguration.java
  support/cas-server-support-pac4j-webflow/src/main/java/org/apereo/cas/web/flow/actions/DelegatedClientAuthenticationAction.java
  support/cas-server-support-pac4j-webflow/src/test/java/org/apereo/cas/web/flow/actions/DelegatedClientAuthenticationActionTests.java
Labels: Spring Webflow, Delegated Authentication Pac4J, Pac4J, Remember: Port Forward, Auto Merge

#6001 Fix typo
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/ticket/refreshtoken/OAuth20DefaultRefreshTokenFactory.java
Labels: Under Review

#5995 ThreadContextMDC password and cookie fix
  core/cas-server-core-logging/src/main/java/org/apereo/cas/logging/web/ThreadContextMDCServletFilter.java
  core/cas-server-core-logging/src/test/java/org/apereo/cas/logging/web/ThreadContextMDCServletFilterTests.java
Labels: SSO & Cookies, Remember: Port Forward, Auto Merge

#5998 Fix the expiration in the SSO sessions stored in the Redis ticket registry
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/RedisTicketRegistry.java
  support/cas-server-support-redis-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/RedisServerTicketRegistryTests.java
Labels: Tickets & Registries, Session Management, Redis, SSO & Cookies, Auto Merge

#5999 Fix the expiration in the SSO sessions stored in the Redis ticket registry
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/RedisTicketRegistry.java
  support/cas-server-support-redis-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/RedisServerTicketRegistryTests.java
Labels: Tickets & Registries, Session Management, Redis, SSO & Cookies, Remember: Port Forward, Auto Merge

#6002 Deprecate the `cas.ticket.crypto` setting
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/util/TicketProperties.java
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasCoreTicketsConfiguration.java
Labels: Configuration, Signing & Encryption, Under Review, Auto Merge

#6005 Add logs to InitialFlowSetupAction
  support/cas-server-support-actions-core/src/main/java/org/apereo/cas/web/flow/login/InitialFlowSetupAction.java
Labels: Audits & Logging, Under Review, Auto Merge

#6004 Add logs to InitialFlowSetupAction
  support/cas-server-support-actions-core/src/main/java/org/apereo/cas/web/flow/login/InitialFlowSetupAction.java
Labels: Audits & Logging, Under Review, Auto Merge
