Repository apereo/cas, pull requests merged in 2024-03, with the labels that each got.

#6006 Added ConditionalOnMissingBean annotation for webflowCipherExecutor
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/config/CasCoreWebflowConfiguration.java
Labels: Spring Webflow, Proposal Declined, Spring Boot, Signing & Encryption, See Contributor Guidelines, Remember: Needs Tests

#6008 Added ConditionalOnMissingBean annotation for webflowCipherExecutor
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/config/CasCoreWebflowConfiguration.java
Labels: Spring Webflow, Spring Boot, Signing & Encryption, Remember: Needs Tests

#6009 URL encode parameters in frgament
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20TokenAuthorizationResponseBuilder.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20TokenAuthorizationResponseBuilderTests.java
Labels: Under Review, Auto Merge

#6010 URL encode parameters in fragment
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20TokenAuthorizationResponseBuilder.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/response/callback/OAuth20TokenAuthorizationResponseBuilderTests.java
Labels: Under Review, Auto Merge
