Repository apereo/cas, pull requests merged in 2024-01, with the labels that each got.

#5941 Improve error log for PKCE
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/validator/DefaultOAuth20ClientSecretValidator.java
Labels: OAuth2 Protocol, Audits & Logging, OpenID Connect Protocol, Remember: Port Forward, CI, Auto Merge

#5940 Improve error log for PKCE
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/validator/DefaultOAuth20ClientSecretValidator.java
Labels: OAuth2 Protocol, Audits & Logging, OpenID Connect Protocol, CI, Auto Merge

#5946 add French translation for passwordless
  support/cas-server-support-thymeleaf/src/main/resources/messages_fr.properties
Labels: Internationalization, Remember: Port Forward, CI, Passwordless, Auto Merge

#5945 add French translation for passwordless
  support/cas-server-support-thymeleaf/src/main/resources/messages_fr.properties
Labels: Internationalization, CI, Passwordless, Auto Merge

#5950 Add missing French pm properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_fr.properties
Labels: Configuration, Internationalization, Password Management, Configuration Metadata, Remember: Port Forward, CI, Auto Merge

#5949 Add missing French pm properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_fr.properties
Labels: Configuration, Internationalization, Password Management, Configuration Metadata, CI, Auto Merge

#5948 [A11y] aria-hidden on icons
  ci/tests/puppeteer/cas.js
  ci/tests/puppeteer/scenarios/pm-change-password-sso/script.js
  ci/tests/puppeteer/scenarios/reveal-password/script.js
  support/cas-server-support-palantir/client/src/index.scss
  support/cas-server-support-themes-collection/src/main/resources/templates/example/fragments/footer.html
  support/cas-server-support-thymeleaf/src/main/resources/messages.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_fr.properties
  support/cas-server-support-thymeleaf/src/main/resources/static/css/cas.css
  support/cas-server-support-thymeleaf/src/main/resources/templates/acct-mgmt/casAccountSignupViewComplete.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/admin/casAdminLoginView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/delegated-authn/casDelegatedAuthnStopWebflow.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/error/403.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofileapplications.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofileattributes.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofileauditlog.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofileconsent.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofilemfadevices.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofilenavigation.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofileoverview.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofilesecurityquestions.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofilesessions.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/accountprofiletrusteddevices.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/header.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/loginProviders.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/logindrawer.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/loginform.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/pmlinks.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/pwdupdateform.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/qrAuthentication.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/serviceui.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/webAuthnLogin.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/gauth/casGoogleAuthenticatorConfirmRegistrationView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/gauth/casGoogleAuthenticatorLoginView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/gauth/casGoogleAuthenticatorRegistrationView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/gua/casGuaDisplayUserGraphicsView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/login/casGenericSuccessView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/logout/casLogoutView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/logout/casPropagateLogoutView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/password-reset/casResetPasswordVerifyQuestionsView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/passwordless/casPasswordlessDisplayView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/protocol/oauth/deviceCodeApproval.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/protocol/oidc/confirm.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/radius/casRadiusLoginView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/simple-mfa/casSimpleMfaLoginView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/simple-mfa/casSimpleMfaSelectEmailsView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/yubikey/casYubiKeyLoginView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/yubikey/casYubiKeyRegistrationView.html
Labels: User Interface & Themes, Unit/Integration Tests, CI, Puppeteer, Auto Merge

#5954 Fix some Jakarta dependencies
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release, CI, Auto Merge

#5955 Fix a Jakarta dependency
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release, Remember: Port Forward, CI, Auto Merge

#5958 Fix a Jakarta dependency
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release, CI, Auto Merge

#5965 Fix the 'forgot username' feature
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/WebUtils.java
  core/cas-server-core-web/src/test/java/org/apereo/cas/web/support/WebUtilsTests.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowConfigurer.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/AccountProfilePreparePasswordManagementAction.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowConfigurerTests.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/AccountProfilePreparePasswordManagementActionTests.java
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/pmlinks.html
Labels: User Interface & Themes, Remember: Port Forward, CI, Auto Merge

#5964 Fix the 'forgot username' feature
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/WebUtils.java
  core/cas-server-core-web/src/test/java/org/apereo/cas/web/support/WebUtilsTests.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowConfigurer.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/AccountProfilePreparePasswordManagementAction.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowConfigurerTests.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/AccountProfilePreparePasswordManagementActionTests.java
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/pmlinks.html
Labels: User Interface & Themes, CI, Auto Merge

#5952 Fix passwordless + reset password
  ci/tests/puppeteer/cas.js
  ci/tests/puppeteer/scenarios/passwordless-login-with-reset-password/accounts.json
  ci/tests/puppeteer/scenarios/passwordless-login-with-reset-password/passwords.json
  ci/tests/puppeteer/scenarios/passwordless-login-with-reset-password/script.js
  ci/tests/puppeteer/scenarios/passwordless-login-with-reset-password/script.json
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/ValidatePasswordResetTokenAction.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/ValidatePasswordResetTokenActionTests.java
Labels: Password Management, User Interface & Themes, Gradle Build & Release, Remember: Port Forward, Unit/Integration Tests, CI, Passwordless, Puppeteer, Auto Merge

#5973 For passwordless LDAP, allow to choose the final username
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/passwordless/account/PasswordlessAuthenticationLdapAccountsProperties.java
  support/cas-server-support-passwordless-ldap/src/main/java/org/apereo/cas/impl/account/LdapPasswordlessUserAccountStore.java
  support/cas-server-support-passwordless-ldap/src/test/java/org/apereo/cas/impl/account/LdapPasswordlessUserAccountStoreTests.java
Labels: LDAP & Active Directory, Configuration, CI, Passwordless, Auto Merge

#5974 For passwordless LDAP, allow to choose the final username
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/passwordless/account/PasswordlessAuthenticationLdapAccountsProperties.java
  support/cas-server-support-passwordless-ldap/src/main/java/org/apereo/cas/impl/account/LdapPasswordlessUserAccountStore.java
  support/cas-server-support-passwordless-ldap/src/test/java/org/apereo/cas/impl/account/LdapPasswordlessUserAccountStoreTests.java
Labels: LDAP & Active Directory, Configuration, Remember: Port Forward, CI, Passwordless, Auto Merge

#5971 Problem with person directory when passwordless MFA only
  ci/tests/puppeteer/scenarios/passwordless-login-with-simplemfa/accounts.json
  ci/tests/puppeteer/scenarios/passwordless-login-with-simplemfa/script.js
  ci/tests/puppeteer/scenarios/passwordless-login-with-simplemfa/script.json
Labels: MFA, User Interface & Themes, Unit/Integration Tests, CI, Passwordless, Puppeteer, Auto Merge

#5959 I18n fixes
  ci/tests/puppeteer/scenarios/account-invalidloc-login/script.js
  ci/tests/puppeteer/scenarios/account-invalidtime-login/script.js
  ci/tests/puppeteer/scenarios/account-mgmt-registration-recaptcha/script.js
  ci/tests/puppeteer/scenarios/authn-policy-unique/script.js
  ci/tests/puppeteer/scenarios/forgot-password-recaptcha/script.js
  ci/tests/puppeteer/scenarios/forgot-username-recaptcha/script.js
  ci/tests/puppeteer/scenarios/surrogate-login-groovy/script.js
  support/cas-server-support-thymeleaf/src/main/resources/messages.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_ar.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_ca.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_de.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_es.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_fa.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_fr.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_hr.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_it.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_ja.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_mk.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_nl.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_pl.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_pt_BR.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_pt_PT.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_ru.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_sk.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_sl.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_sv.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_tr.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_uk.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_ur.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_vi.properties
  support/cas-server-support-thymeleaf/src/main/resources/messages_zh_TW.properties
  support/cas-server-support-thymeleaf/src/main/resources/templates/inwebo/casInweboErrorView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/login-error/casBadHoursView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/login-error/casBadWorkstationView.html
Labels: Internationalization, User Interface & Themes, Unit/Integration Tests, CI, Puppeteer, Under Review, Auto Merge

#5977 Fix authn delegation + throttling
  support/cas-server-support-pac4j-core/src/main/java/org/apereo/cas/web/flow/error/DefaultDelegatedClientAuthenticationFailureEvaluator.java
  support/cas-server-support-pac4j-core/src/test/java/org/apereo/cas/web/flow/error/DefaultDelegatedClientAuthenticationFailureEvaluatorTests.java
Labels: Authentication, Authentication Throttling, Delegated Authentication Pac4J, Remember: Port Forward, Auto Merge

#5976 Fix authn delegation + throttling
  ci/tests/puppeteer/scenarios/authn-throttle-with-username-authndelegation-enabled/script.js
  ci/tests/puppeteer/scenarios/authn-throttle-with-username-authndelegation-enabled/script.json
  support/cas-server-support-pac4j-core/src/main/java/org/apereo/cas/web/flow/error/DefaultDelegatedClientAuthenticationFailureEvaluator.java
  support/cas-server-support-pac4j-core/src/test/java/org/apereo/cas/web/flow/error/DefaultDelegatedClientAuthenticationFailureEvaluatorTests.java
Labels: Authentication, Authentication Throttling, Delegated Authentication Pac4J, User Interface & Themes, Unit/Integration Tests, CI, Puppeteer, Auto Merge
