Repository apereo/cas, pull requests merged in 2024-10, with the labels that each got.

#6161 Improve TGT deletion behavior (new attempt)
  api/cas-server-core-api-events/src/main/java/org/apereo/cas/support/events/logout/CasRequestSingleLogoutEvent.java
  api/cas-server-core-api-events/src/main/java/org/apereo/cas/support/events/ticket/CasProxyTicketGrantedEvent.java
  api/cas-server-core-api-events/src/main/java/org/apereo/cas/support/events/ticket/CasServiceTicketGrantedEvent.java
  api/cas-server-core-api-events/src/main/java/org/apereo/cas/support/events/ticket/CasServiceTicketValidatedEvent.java
  api/cas-server-core-api-events/src/main/java/org/apereo/cas/support/events/ticket/CasTicketGrantingTicketCreatedEvent.java
  api/cas-server-core-api-events/src/main/java/org/apereo/cas/support/events/ticket/CasTicketGrantingTicketDestroyedEvent.java
  core/cas-server-core-events-api/src/main/java/org/apereo/cas/support/events/listener/CasAuthenticationAuthenticationEventListener.java
  core/cas-server-core-events-api/src/main/java/org/apereo/cas/support/events/listener/CasAuthenticationEventListener.java
  core/cas-server-core-events/src/main/java/org/apereo/cas/config/CasCoreEventsAutoConfiguration.java
  core/cas-server-core-logout-api/src/main/java/org/apereo/cas/logout/slo/DefaultSingleLogoutRequestExecutor.java
  core/cas-server-core-monitor/src/test/java/org/apereo/cas/monitor/SessionHealthIndicatorTests.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/registry/AbstractMapBasedTicketRegistry.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/registry/AbstractTicketRegistry.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/registry/DefaultTicketRegistry.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/registry/DefaultTicketRegistryCleaner.java
  core/cas-server-core-tickets/build.gradle
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasCoreTicketsConfiguration.java
  core/cas-server-core-tickets/src/main/java/org/apereo/cas/config/CasCoreTicketsSchedulingConfiguration.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/registry/DefaultTicketRegistryCleanerTests.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/registry/DefaultTicketRegistrySupportTests.java
  core/cas-server-core-tickets/src/test/java/org/apereo/cas/ticket/registry/DefaultTicketRegistryTests.java
  support/cas-server-support-cassandra-ticket-registry/src/main/java/org/apereo/cas/config/CassandraTicketRegistryAutoConfiguration.java
  support/cas-server-support-cassandra-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/CassandraTicketRegistry.java
  support/cas-server-support-cosmosdb-ticket-registry/src/main/java/org/apereo/cas/config/CasCosmosDbTicketRegistryAutoConfiguration.java
  support/cas-server-support-cosmosdb-ticket-registry/src/main/java/org/apereo/cas/ticket/CosmosDbTicketRegistry.java
  support/cas-server-support-dynamodb-ticket-registry/src/main/java/org/apereo/cas/config/CasDynamoDbTicketRegistryAutoConfiguration.java
  support/cas-server-support-dynamodb-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/DynamoDbTicketRegistry.java
  support/cas-server-support-gcp-firestore-ticket-registry/src/main/java/org/apereo/cas/config/CasGoogleCloudFirestoreTicketRegistryAutoConfiguration.java
  support/cas-server-support-gcp-firestore-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/GoogleCloudFirestoreTicketRegistry.java
  support/cas-server-support-hazelcast-ticket-registry/src/main/java/org/apereo/cas/config/CasHazelcastTicketRegistryAutoConfiguration.java
  support/cas-server-support-hazelcast-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/HazelcastTicketRegistry.java
  support/cas-server-support-hazelcast-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/HazelcastTicketRegistryTests.java
  support/cas-server-support-ignite-ticket-registry/src/main/java/org/apereo/cas/config/CasIgniteTicketRegistryAutoConfiguration.java
  support/cas-server-support-ignite-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/IgniteTicketRegistry.java
  support/cas-server-support-ignite-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/IgniteTicketRegistryTests.java
  support/cas-server-support-jpa-ticket-registry/src/main/java/org/apereo/cas/config/CasJpaTicketRegistryAutoConfiguration.java
  support/cas-server-support-jpa-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/JpaTicketRegistry.java
  support/cas-server-support-memcached-ticket-registry/src/main/java/org/apereo/cas/config/CasMemcachedTicketRegistryAutoConfiguration.java
  support/cas-server-support-memcached-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/MemcachedTicketRegistry.java
  support/cas-server-support-memcached-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/MemcachedTicketRegistryTests.java
  support/cas-server-support-mongo-ticket-registry/src/main/java/org/apereo/cas/config/MongoDbTicketRegistryConfiguration.java
  support/cas-server-support-mongo-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/MongoDbTicketRegistry.java
  support/cas-server-support-mongo-ticket-registry/src/test/java/org/apereo/cas/ticket/registry/MongoDbTicketRegistryTests.java
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/config/CasRedisTicketRegistryAutoConfiguration.java
  support/cas-server-support-redis-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/RedisTicketRegistry.java
  support/cas-server-support-stateless-ticket-registry/src/main/java/org/apereo/cas/config/CasStatelessTicketRegistryAutoConfiguration.java
  support/cas-server-support-stateless-ticket-registry/src/main/java/org/apereo/cas/ticket/registry/StatelessTicketRegistry.java
Labels: Gradle Build & Release, CI

#6165 Fix AmazonS3SamlIdPMetadataLocator
  support/cas-server-support-saml-idp-metadata-aws-s3/src/main/java/org/apereo/cas/support/saml/idp/metadata/AmazonS3SamlIdPMetadataLocator.java
Labels: SAML Core, CI, Under Review, Auto Merge

#6176 Test multiple PT creation in parallel
  ci/tests/puppeteer/scenarios/ticket-validation-casv3-pgt-multiple-pt/private.key
  ci/tests/puppeteer/scenarios/ticket-validation-casv3-pgt-multiple-pt/public.key
  ci/tests/puppeteer/scenarios/ticket-validation-casv3-pgt-multiple-pt/script.js
  ci/tests/puppeteer/scenarios/ticket-validation-casv3-pgt-multiple-pt/script.json
  ci/tests/puppeteer/scenarios/ticket-validation-casv3-pgt-multiple-pt/services/Sample-1.json
  ci/tests/puppeteer/scenarios/ticket-validation-casv3-pgt-multiple-pt/services/Sample-2.json
  core/cas-server-core/src/main/java/org/apereo/cas/DefaultCentralAuthenticationService.java
Labels: User Interface & Themes, Unit/Integration Tests, CI, Puppeteer, Under Review, Auto Merge

#6179 Fix S3 metadata support without crypto
  ci/tests/puppeteer/scenarios/saml2-idp-login-metadata-aws-s3/script.json
  support/cas-server-support-saml-idp-metadata-aws-s3/src/main/java/org/apereo/cas/support/saml/idp/metadata/AmazonS3SamlIdPMetadataLocator.java
  support/cas-server-support-saml-idp-metadata-aws-s3/src/main/java/org/apereo/cas/support/saml/idp/metadata/AmazonS3SamlIdPMetadataUtils.java
Labels: SAML2 Protocol, Signing & Encryption, Unit/Integration Tests, CI, Puppeteer, Under Review, Auto Merge

#6184 7.1.x MongoDB trusted MFA Id -1 Fix
  support/cas-server-support-trusted-mfa-mongo/src/main/java/org/apereo/cas/trusted/authentication/storage/MongoDbMultifactorAuthenticationTrustStorage.java
Labels: MFA, MongoDb, Dependencies & Modules, User Interface & Themes, Gradle Build & Release, Unit/Integration Tests, Puppeteer

#6166 Fix double SSO session inconsistency
  ci/tests/puppeteer/scenarios/login-double-session/script.js
  ci/tests/puppeteer/scenarios/login-double-session/script.json
  ci/tests/puppeteer/scenarios/login-double-session/services/Sample-1.json
  core/cas-server-core-logout-api/src/main/java/org/apereo/cas/logout/slo/DefaultSingleLogoutRequestExecutor.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/registry/AbstractTicketRegistry.java
  core/cas-server-core-tickets-api/src/main/java/org/apereo/cas/ticket/registry/DefaultTicketRegistryCleaner.java
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/DefaultSingleSignOnBuildingStrategy.java
  core/cas-server-core-webflow/src/main/java/org/apereo/cas/config/CasCoreWebflowConfiguration.java
Labels: Logout & SLO, SSO & Cookies, User Interface & Themes, Unit/Integration Tests, CI, Puppeteer, Under Review, Auto Merge
