Repository apereo/cas, pull requests merged in 2024-09, with the labels that each got.

#6111 WIP Allow dynamic nonce for Content Security Policy
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/core/web/security/HttpHeadersRequestProperties.java
  core/cas-server-core-web-api/src/main/java/org/apereo/cas/web/support/filters/ResponseHeadersEnforcementFilter.java
  core/cas-server-core-web-api/src/test/java/org/apereo/cas/web/support/filters/ResponseHeadersEnforcementFilterTests.java
Labels: Pending: Work in Progress

#6119 WIP Add Friendly Captcha support
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/captcha/GoogleRecaptchaProperties.java
  ci/tests/puppeteer/scenarios/friendlycaptcha-login/script.js
  ci/tests/puppeteer/scenarios/friendlycaptcha-login/script.json
  support/cas-server-support-captcha-core/src/main/java/org/apereo/cas/web/BaseCaptchaValidator.java
  support/cas-server-support-captcha-core/src/main/java/org/apereo/cas/web/CaptchaValidator.java
  support/cas-server-support-captcha-core/src/main/java/org/apereo/cas/web/FriendlyCaptchaValidator.java
  support/cas-server-support-captcha-core/src/test/java/org/apereo/cas/web/FriendlyCaptchaValidatorTests.java
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/recaptcha.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/submitbutton.html
Labels: Pending: Work in Progress

#6117 Allow reduction of OAuth2.0 scopes by refresh token grant
  ci/tests/puppeteer/scenarios/oidc-authzcode-refresh-token/script.js
  ci/tests/puppeteer/scenarios/oidc-authzcode-refresh-token/services/Sample-2.json
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/OAuth20DefaultTokenGenerator.java
  support/cas-server-support-oauth-core-api/src/main/java/org/apereo/cas/support/oauth/web/response/accesstoken/ext/AccessTokenRefreshTokenGrantRequestExtractor.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/response/accesstoken/OAuth20DefaultTokenGeneratorTests.java
  support/cas-server-support-oauth/src/test/java/org/apereo/cas/support/oauth/web/response/accesstoken/ext/AccessTokenRefreshTokenGrantRequestExtractorTests.java
Labels: OAuth2 Protocol, OpenID Connect Protocol, User Interface & Themes, Unit/Integration Tests, CI, Puppeteer

#6137 Fix encoding problem
  ci/tests/puppeteer/scenarios/login-success/script.js
  ci/tests/puppeteer/scenarios/login-success/script.json
  support/cas-server-support-webconfig/src/main/java/org/apereo/cas/config/CasFiltersConfiguration.java
  support/cas-server-support-webconfig/src/main/java/org/apereo/cas/config/CasWebSecurityConfiguration.java
Labels: User Interface & Themes, Unit/Integration Tests, CI, Puppeteer, Under Review, Auto Merge

#6136 Fix encoding problem
  ci/tests/puppeteer/scenarios/login-success/script.js
  ci/tests/puppeteer/scenarios/login-success/script.json
  support/cas-server-support-webconfig/src/main/java/org/apereo/cas/config/CasFiltersConfiguration.java
  support/cas-server-support-webconfig/src/main/java/org/apereo/cas/config/CasWebSecurityConfiguration.java
  webapp/cas-server-webapp-init-tomcat/src/main/java/org/apereo/cas/config/CasEmbeddedContainerTomcatFiltersConfiguration.java
Labels: User Interface & Themes, Unit/Integration Tests, CI, Puppeteer, Under Review, Auto Merge

#6140 Fix typo
  webapp/cas-server-webapp-init-tomcat/src/main/java/org/apereo/cas/config/CasEmbeddedContainerTomcatFiltersConfiguration.java
Labels: CI, Under Review, Auto Merge

#6147 Improve ticket registry performance (7.0.x)
  core/cas-server-core-services-api/src/main/java/org/apereo/cas/services/util/RegisteredServiceJsonSerializer.java
  core/cas-server-core-services/src/test/java/org/apereo/cas/services/util/RegisteredServiceJsonSerializerTests.java
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/serialization/AbstractJacksonBackedStringSerializer.java
Labels: Tickets & Registries, Performance & Load Tests, Remember: Port Forward, CI

#6149 Make UI more easily testable
  support/cas-server-support-thymeleaf/src/main/resources/templates/login-error/casAccountDisabledView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/login-error/casAccountLockedView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/login/casGenericSuccessView.html
Labels: User Interface & Themes, CI, Under Review, Auto Merge

#6150 Make UI more easily testable
  support/cas-server-support-thymeleaf/src/main/resources/templates/login-error/casAccountDisabledView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/login-error/casAccountLockedView.html
  support/cas-server-support-thymeleaf/src/main/resources/templates/login/casGenericSuccessView.html
Labels: User Interface & Themes, CI, Under Review, Auto Merge

#6154 Clean duplicate dependencies
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release, CI, Under Review, Auto Merge

#6153 Clean duplicate dependencies
  gradle/dependencies.gradle
Labels: Dependencies & Modules, Gradle Build & Release, CI, Under Review, Auto Merge

#6160 Complement the oidc-clientcredentials-scopefree CI test
  ci/tests/puppeteer/scenarios/oidc-clientcredentials-scopefree/script.js
Labels: OpenID Connect Protocol, User Interface & Themes, Unit/Integration Tests, CI, Puppeteer, Under Review, Auto Merge

#6159 Complement the oidc-clientcredentials-scopefree CI test
  ci/tests/puppeteer/scenarios/oidc-clientcredentials-scopefree/script.js
Labels: OpenID Connect Protocol, User Interface & Themes, Unit/Integration Tests, CI, Puppeteer, Under Review, Auto Merge

#6158 Complement the oidc-clientcredentials-scopefree CI test
  ci/tests/puppeteer/scenarios/oidc-clientcredentials-scopefree/script.js
Labels: OpenID Connect Protocol, User Interface & Themes, Unit/Integration Tests, CI, Puppeteer, Under Review, Auto Merge
