Repository apereo/cas, pull requests merged in 2024-11, with the labels that each got.

#6192 remove span and place th:if condition in inner section
  support/cas-server-support-thymeleaf/src/main/resources/templates/login/casLoginView.html
Labels: Proposal Declined, User Interface & Themes, See Contributor Guidelines, Remember: Needs Tests

#6187 Reset maxPostSize to Tomcat default to not fail SAML responses
  webapp/cas-server-webapp-resources/src/main/resources/application.properties
Labels: Apache Tomcat, SAML Core, Stale

#6210 fix(typo): replace 2 comma's with 1
  ci/tests/puppeteer/scenarios/delegated-login-cas-idp-scim/script.json
Labels: Unit/Integration Tests, Puppeteer

#6212 Handle languages for Friendly Captcha
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/recaptcha.html
Labels: Internationalization, reCAPTCHA, User Interface & Themes, CI, Under Review, Auto Merge

#6205 Fix the SAML logout support in authentication delegation
  ci/tests/puppeteer/scenarios/delegated-login-saml2-idp-frontchannel-logout-cas2cas/init.sh
  ci/tests/puppeteer/scenarios/delegated-login-saml2-idp-frontchannel-logout-cas2cas/ready.sh
  ci/tests/puppeteer/scenarios/delegated-login-saml2-idp-frontchannel-logout-cas2cas/script.js
  ci/tests/puppeteer/scenarios/delegated-login-saml2-idp-frontchannel-logout-cas2cas/script.json
  ci/tests/puppeteer/scenarios/delegated-login-saml2-idp-frontchannel-logout-cas2cas/services/saml-1.json
  support/cas-server-support-pac4j-saml/src/main/java/org/apereo/cas/web/flow/actions/logout/DelegatedSaml2ClientLogoutAction.java
  support/cas-server-support-pac4j-saml/src/test/java/org/apereo/cas/web/saml2/DelegatedSaml2ClientLogoutActionTests.java
  support/cas-server-support-thymeleaf-core/src/main/java/org/apereo/cas/services/web/CasThymeleafTemplatesDirector.java
  support/cas-server-support-thymeleaf/src/main/resources/templates/logout/casPropagateLogoutView.html
  support/cas-server-support-thymeleaf/src/test/java/org/apereo/cas/services/web/CasThymeleafTemplatesDirectorTests.java
Labels: Authentication, Logout & SLO, Delegated Authentication Pac4J, SAML Core, User Interface & Themes, Unit/Integration Tests, CI, Puppeteer, Under Review, Auto Merge

#6206 Fix the SAML logout support in authentication delegation
  support/cas-server-support-pac4j-saml/src/main/java/org/apereo/cas/web/flow/actions/logout/DelegatedSaml2ClientLogoutAction.java
  support/cas-server-support-pac4j-saml/src/test/java/org/apereo/cas/web/saml2/DelegatedSaml2ClientLogoutActionTests.java
  support/cas-server-support-thymeleaf-core/src/main/java/org/apereo/cas/services/web/CasThymeleafTemplatesDirector.java
  support/cas-server-support-thymeleaf/src/main/resources/templates/logout/casPropagateLogoutView.html
  support/cas-server-support-thymeleaf/src/test/java/org/apereo/cas/services/web/CasThymeleafTemplatesDirectorTests.java
Labels: Authentication, Logout & SLO, Delegated Authentication Pac4J, SAML Core, User Interface & Themes, CI, Under Review, Auto Merge

#6213 Fix the SAML logout support (back channel) in authentication delegation
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/AbstractSamlIdPProfileHandlerController.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/builders/SamlProfileBuilderContext.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/builders/authn/SamlProfileSamlAuthNStatementBuilder.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/ecp/ECPSamlIdPProfileHandlerController.java
  support/cas-server-support-saml-idp-web/src/main/java/org/apereo/cas/support/saml/web/idp/profile/sso/SSOSamlIdPProfileCallbackHandlerController.java
Labels: Authentication, Logout & SLO, Delegated Authentication Pac4J, SAML Core, CI, Under Review, Auto Merge

#6214 Handle URISyntaxException in setting of service fragment
  core/cas-server-core-services-authentication/src/main/java/org/apereo/cas/authentication/principal/AbstractWebApplicationService.java
  core/cas-server-core-webflow-api/src/main/java/org/apereo/cas/web/flow/resolver/impl/DefaultCasDelegatingWebflowEventResolver.java
  core/cas-server-core-webflow-mfa/src/test/java/org/apereo/cas/web/flow/resolver/impl/DefaultCasDelegatingWebflowEventResolverTests.java
Labels: Services & Registries, Under Review, Auto Merge

#6218 Fix the OIDC logout support (back channel) in authentication delegation
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/slo/OidcSingleLogoutMessageCreator.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/slo/OidcSingleLogoutMessageCreatorTests.java
Labels: Authentication, Logout & SLO, OpenID Connect Protocol, Delegated Authentication Pac4J, CI, Under Review, Auto Merge

#6219 Fix the OIDC logout support (back channel) in authentication delegation
  support/cas-server-support-oidc-core-api/src/main/java/org/apereo/cas/oidc/slo/OidcSingleLogoutMessageCreator.java
  support/cas-server-support-oidc/src/test/java/org/apereo/cas/oidc/slo/OidcSingleLogoutMessageCreatorTests.java
Labels: Authentication, Logout & SLO, OpenID Connect Protocol, Delegated Authentication Pac4J, CI, Under Review, Auto Merge
