Repository apereo/cas, pull requests merged in 2025-06, with the labels that each got.

#7048 Improve WebAuthn tests coverage
  ci/tests/puppeteer/run.sh
  ci/tests/puppeteer/scenarios/mfa-webauthn-login/script.js
  ci/tests/puppeteer/scenarios/mfa-webauthn-login/script.json
  ci/tests/puppeteer/scenarios/mfa-webauthn-primary-authn/script.js
  ci/tests/puppeteer/scenarios/mfa-webauthn-primary-authn/script.json
  ci/tests/puppeteer/scenarios/mfa-webauthn-register-logout-login/script.js
  ci/tests/puppeteer/scenarios/mfa-webauthn-register-logout-login/script.json
  ci/tests/puppeteer/scenarios/mfa-webauthn-register/script.js
  support/cas-server-support-thymeleaf/src/main/resources/static/js/webauthn/webauthn.js
Labels: Authentication, MFA, User Interface & Themes, Unit/Integration Tests, CI, Passwordless, Puppeteer, Under Review, Auto Merge

#7052 Improve WebAuthn tests coverage
  ci/tests/puppeteer/run.sh
  ci/tests/puppeteer/scenarios/mfa-webauthn-login/script.js
  ci/tests/puppeteer/scenarios/mfa-webauthn-login/script.json
  ci/tests/puppeteer/scenarios/mfa-webauthn-primary-authn/script.js
  ci/tests/puppeteer/scenarios/mfa-webauthn-primary-authn/script.json
  ci/tests/puppeteer/scenarios/mfa-webauthn-register-logout-login/script.js
  ci/tests/puppeteer/scenarios/mfa-webauthn-register-logout-login/script.json
  ci/tests/puppeteer/scenarios/mfa-webauthn-register/script.js
  support/cas-server-support-thymeleaf/src/main/resources/static/js/webauthn/webauthn.js
Labels: Authentication, MFA, User Interface & Themes, Unit/Integration Tests, CI, Passwordless, Puppeteer, Under Review, Auto Merge

#7086 Fix WebAuthn registration bug
  api/cas-server-core-api-webflow/src/main/java/org/apereo/cas/web/flow/CasWebflowConstants.java
  ci/tests/puppeteer/scenarios/mfa-webauthn-account-profile-register/script.js
  ci/tests/puppeteer/scenarios/mfa-webauthn-account-profile-register/script.json
  support/cas-server-support-gauth-core/src/main/java/org/apereo/cas/gauth/web/flow/GoogleAuthenticatorMultifactorWebflowConfigurer.java
  support/cas-server-support-gauth-core/src/main/java/org/apereo/cas/gauth/web/flow/account/GoogleMultifactorAuthenticationAccountProfileWebflowConfigurer.java
  support/cas-server-support-gauth/src/test/java/org/apereo/cas/gauth/web/flow/account/GoogleMultifactorAuthenticationAccountProfileWebflowConfigurerTests.java
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/web/flow/WebAuthnMultifactorWebflowConfigurer.java
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/web/flow/account/WebAuthnMultifactorAccountProfileWebflowConfigurer.java
  support/cas-server-support-webauthn/src/test/java/org/apereo/cas/webauthn/web/flow/WebAuthnMultifactorAccountProfileWebflowConfigurerTests.java
  support/cas-server-support-yubikey-core/src/main/java/org/apereo/cas/adaptors/yubikey/web/flow/YubiKeyMultifactorWebflowConfigurer.java
Labels: Authentication, MFA, User Interface & Themes, Unit/Integration Tests, CI, Passwordless, Puppeteer, Under Review, Auto Merge

#7092 Improve test coverage
  ci/tests/puppeteer/cas.js
  ci/tests/puppeteer/scenarios/mfa-webauthn-register-discoverablecredentials-logout-login/script.js
  ci/tests/puppeteer/scenarios/mfa-webauthn-register-discoverablecredentials-logout-login/script.json
Labels: User Interface & Themes, Unit/Integration Tests, CI, Puppeteer, Under Review, Auto Merge

#7104 Fix Spring Session when using the WebAuthn support
  ci/tests/puppeteer/scenarios/mfa-webauthn-register-logout-login/script.json
  webapp/cas-server-webapp-resources/src/main/resources/application.properties
Labels: Authentication, MFA, Unit/Integration Tests, CI, Passwordless, Puppeteer, Under Review, Auto Merge

#7109 Fix Spring Session when using the WebAuthn support
  ci/tests/puppeteer/scenarios/mfa-webauthn-register-logout-login/script.json
  webapp/cas-server-webapp-resources/src/main/resources/application.properties
Labels: Authentication, MFA, Unit/Integration Tests, CI, Passwordless, Puppeteer, Under Review, Auto Merge

#7122 Handle clustering for the WebAuthn support
  docs/cas-server-documentation/mfa/FIDO2-WebAuthn-Authentication.md
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/WebAuthnAuthenticationHandler.java
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/web/flow/WebAuthnAccountSaveRegistrationAction.java
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/web/flow/WebAuthnValidateSessionCredentialTokenAction.java
  support/cas-server-support-webauthn-core/src/main/java/com/yubico/core/DefaultSessionManager.java
  support/cas-server-support-webauthn-core/src/main/java/com/yubico/core/SessionManager.java
  support/cas-server-support-webauthn-core/src/main/java/com/yubico/core/WebAuthnCache.java
  support/cas-server-support-webauthn-core/src/main/java/com/yubico/core/WebAuthnServer.java
  support/cas-server-support-webauthn-core/src/main/java/com/yubico/core/WebSessionWebAuthnCache.java
  support/cas-server-support-webauthn-core/src/main/java/com/yubico/data/AssertionRequestWrapper.java
  support/cas-server-support-webauthn-core/src/main/java/org/apereo/cas/webauthn/web/WebAuthnController.java
  support/cas-server-support-webauthn-core/src/main/java/org/apereo/cas/webauthn/web/WebAuthnQRCodeController.java
  support/cas-server-support-webauthn-core/src/test/java/com/yubico/core/WebSessionWebAuthnCacheTests.java
  support/cas-server-support-webauthn-core/src/test/java/org/apereo/cas/webauthn/WebAuthnControllerTests.java
  support/cas-server-support-webauthn/src/main/java/org/apereo/cas/config/WebAuthnConfiguration.java
  support/cas-server-support-webauthn/src/test/java/org/apereo/cas/webauthn/web/WebAuthnQRCodeControllerMvcTests.java
  support/cas-server-support-webauthn/src/test/java/org/apereo/cas/webauthn/web/flow/WebAuthnAccountSaveRegistrationActionTests.java
  support/cas-server-support-webauthn/src/test/java/org/apereo/cas/webauthn/web/flow/WebAuthnAuthenticationWebflowActionTests.java
  support/cas-server-support-webauthn/src/test/java/org/apereo/cas/webauthn/web/flow/WebAuthnValidateSessionCredentialTokenActionTests.java
Labels: Authentication, Documentation, MFA, CI, Passwordless, Under Review, Auto Merge

#7142 Handle clustering for the WebAuthn support
  docs/cas-server-documentation/mfa/FIDO2-WebAuthn-Authentication.md
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/WebAuthnAuthenticationHandler.java
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/web/flow/WebAuthnAccountSaveRegistrationAction.java
  support/cas-server-support-webauthn-core-webflow/src/main/java/org/apereo/cas/webauthn/web/flow/WebAuthnValidateSessionCredentialTokenAction.java
  support/cas-server-support-webauthn-core/src/main/java/com/yubico/core/DefaultSessionManager.java
  support/cas-server-support-webauthn-core/src/main/java/com/yubico/core/SessionManager.java
  support/cas-server-support-webauthn-core/src/main/java/com/yubico/core/WebAuthnCache.java
  support/cas-server-support-webauthn-core/src/main/java/com/yubico/core/WebAuthnServer.java
  support/cas-server-support-webauthn-core/src/main/java/com/yubico/core/WebSessionWebAuthnCache.java
  support/cas-server-support-webauthn-core/src/main/java/com/yubico/data/AssertionRequestWrapper.java
  support/cas-server-support-webauthn-core/src/main/java/org/apereo/cas/webauthn/web/WebAuthnController.java
  support/cas-server-support-webauthn-core/src/main/java/org/apereo/cas/webauthn/web/WebAuthnQRCodeController.java
  support/cas-server-support-webauthn-core/src/test/java/com/yubico/core/WebSessionWebAuthnCacheTests.java
  support/cas-server-support-webauthn-core/src/test/java/org/apereo/cas/webauthn/WebAuthnControllerTests.java
  support/cas-server-support-webauthn/src/main/java/org/apereo/cas/config/WebAuthnConfiguration.java
  support/cas-server-support-webauthn/src/test/java/org/apereo/cas/webauthn/web/WebAuthnQRCodeControllerMvcTests.java
  support/cas-server-support-webauthn/src/test/java/org/apereo/cas/webauthn/web/flow/WebAuthnAccountSaveRegistrationActionTests.java
  support/cas-server-support-webauthn/src/test/java/org/apereo/cas/webauthn/web/flow/WebAuthnAuthenticationWebflowActionTests.java
  support/cas-server-support-webauthn/src/test/java/org/apereo/cas/webauthn/web/flow/WebAuthnValidateSessionCredentialTokenActionTests.java
Labels: Authentication, Documentation, MFA, CI, Passwordless, Under Review, Auto Merge

#7146 Palantir: Initialize the services buttons each time the table is re-drawn
  support/cas-server-support-thymeleaf/src/main/resources/static/js/palantir.js
Labels: Services & Registries, User Interface & Themes, Under Review

#7147 Palantir 7.2.x: Initialize the services buttons each time the table is re-drawn
  support/cas-server-support-thymeleaf/src/main/resources/static/js/palantir.js
Labels: Services & Registries, User Interface & Themes, Remember: Port Forward
