Repository apereo/cas, pull requests merged in 2025-07, with the labels that each got.

#7157 Remove the apache-snapshots repository
  gradle/maven.gradle
Labels: Gradle Build & Release, Remember: Port Forward, CI

#7156 Remove the apache-snapshots repository
  gradle/maven.gradle
Labels: Gradle Build & Release, CI

#7236 Fix password reset content type
  support/cas-server-support-pm-rest/src/main/java/org/apereo/cas/config/CasRestPasswordManagementAutoConfiguration.java
  support/cas-server-support-pm-rest/src/main/java/org/apereo/cas/pm/rest/RestPasswordManagementService.java
  support/cas-server-support-pm-rest/src/test/java/org/apereo/cas/pm/rest/RestPasswordManagementServiceTests.java
Labels: Password Management
