Repository apereo/cas, pull requests merged in 2025-08, with the labels that each got.

#7326 allow timeBetweenEvictionRuns to be set so other eviction related properties can be used
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/redis/RedisPoolProperties.java
  support/cas-server-support-redis-core/src/main/java/org/apereo/cas/redis/core/RedisObjectFactory.java
  support/cas-server-support-redis-core/src/test/java/org/apereo/cas/redis/core/RedisObjectFactoryTests.java
Labels: Configuration, Configuration Metadata, Under Review, Auto Merge

#7327 allow timeBetweenEvictionRuns to be set so other eviction related pro…
  api/cas-server-core-api-configuration-model/src/main/java/org/apereo/cas/configuration/model/support/redis/RedisPoolProperties.java
  support/cas-server-support-redis-core/src/main/java/org/apereo/cas/redis/core/RedisObjectFactory.java
  support/cas-server-support-redis-core/src/test/java/org/apereo/cas/redis/core/RedisObjectFactoryTests.java
Labels: Configuration, Under Review, Auto Merge

#7333 Input for current password in password management operation
  ci/tests/puppeteer/scenarios/pm-must-change-password-generic/script.js
  ci/tests/puppeteer/scenarios/pm-must-change-password-jdbc/script.js
  ci/tests/puppeteer/scenarios/pm-must-change-password-ldap-ad/script.js
  ci/tests/puppeteer/scenarios/pm-reset-password-syncope/script.js
  ci/tests/puppeteer/scenarios/pm-weak-password/script.js
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/http/HttpUtils.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/PasswordManagementWebflowConfigurer.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/InitPasswordChangeAction.java
  support/cas-server-support-pm-webflow/src/main/java/org/apereo/cas/pm/web/flow/actions/PasswordChangeAction.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/PasswordChangeActionTests.java
  support/cas-server-support-syncope-authentication/src/main/java/org/apereo/cas/syncope/pm/SyncopePasswordManagementService.java
  support/cas-server-support-thymeleaf/src/main/resources/messages.properties
  support/cas-server-support-thymeleaf/src/main/resources/static/js/passwordMeter.js
  support/cas-server-support-thymeleaf/src/main/resources/templates/fragments/pwdupdateform.html
Labels: Pending: Work in Progress

#7378 Manage security question for reset password on syncope
  ci/tests/puppeteer/scenarios/pm-reset-password-syncope/script.js
  ci/tests/puppeteer/scenarios/pm-reset-password-syncope/script.json
  ci/tests/syncope/docker-compose.yml
  ci/tests/syncope/run-syncope-server.sh
  core/cas-server-core-util-api/src/main/java/org/apereo/cas/util/http/HttpRequestUtils.java
  support/cas-server-support-pm-webflow/src/test/java/org/apereo/cas/pm/web/flow/actions/PasswordChangeActionTests.java
  support/cas-server-support-syncope-authentication/src/main/java/org/apereo/cas/syncope/pm/SyncopePasswordManagementService.java
Labels: Password Management, User Interface & Themes, Unit/Integration Tests, Apache Syncope, Puppeteer

#7410 Improve the code creation for the MFA simple
  docs/cas-server-documentation/mfa/Simple-Multifactor-Authentication-TokenManagement.md
  support/cas-server-support-simple-mfa-core/src/main/java/org/apereo/cas/mfa/simple/validation/DefaultCasSimpleMultifactorAuthenticationService.java
  support/cas-server-support-simple-mfa/src/test/java/org/apereo/cas/mfa/simple/validation/DefaultCasSimpleMultifactorAuthenticationServiceGenerationTests.java
Labels: Documentation, MFA, CI
